<!-- Tabla de Visitados Analistas -->
<table class="table table-bordered">
	<thead>
		<tr>
			<th class="text-center" width="5%">No.</th>
			<th class="text-center" width="10%"><div class="text-center">No. Cliente</div></th>
			<th ><div class="text-center">Nombre del Cliente</div></th>
			<th ><div class="text-center">Aval</div></th>
			<th ><div class="text-center">Capital Solicitado</div></th>
			<th class="text-center" width="10%"><div class="text-center">Fecha Solicitud</div></th>
			<th class="text-center" width="10%"><div class="text-center">Fecha Verificación</div></th>
			<th class="text-center" width="5%"><div class="text-center">Turno</div></th>
			<th class="text-center" width="5%"><div class="text-center">Verificar</div></th>
			<th class="text-center" width="5%"><div class="text-center">Acción</div></th>
		</tr>
	</thead>
	<tbody>
    <tr ng-repeat="credito in pver.creditos">
	    <td class="text-center">{{$index + 1}}</td>
	    <td>{{credito.numeroCliente}}</td>
	    <td>{{credito.nombreCliente}}</td>
	    <td>{{credito.avales_ids[0].nombreCompleto}}</td>
	    <td class="text-right">{{credito.capitalSolicitado | currency}}</td>
	    <td class="text-center">{{credito.fechaSolicito | date: "dd/MM/yyyy"}} </td>
	    <td class="text-center">{{credito.fechaVerificacion | date: "dd/MM/yyyy"}} </td>
	    <td class="text-center">{{credito.turno}}</td>
	    <td>
			    <div class="text-center">
				    <div class="btn-group">
						  <button type="button" class="btn btn-xs btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						    <span class="caret"></span>
						    <span class="sr-only">Toggle Dropdown</span>
						  </button>
						  <ul class="dropdown-menu text-left">
						    <li><a ui-sref="root.verificacion({id : credito._id, verificacion_id: '-1', tipo: 'CP', persona:1})">Solicitante</a></li>
						    <li><a ui-sref="root.verificacionVecino({id : credito._id, verificacion_id: '-1', tipo: 'CP', persona:1})">Vecino</a></li>
						    <li ng-if = "credito.requiereVerificacionAval"><a ui-sref="root.verificacion({id : credito._id, verificacion_id: '-1', tipo: 'CP', persona:2})">Aval</a></li>
						    <li ng-if = "credito.requiereVerificacionAval"><a ui-sref="root.verificacionVecino({id : credito._id, verificacion_id: '-1', tipo: 'CP', persona:2})">Vecino Aval</a></li>
						  </ul>
						</div>
			    </div>				    
			</td>
<!-- 	    <td ng-show="currentUser.roles[0] != 'Cajero'" class="text-center"> Se lo quite para ver --> 
			<td class="text-center">
		    	<button type="button" class="btn btn-xs btn-primary" ng-click="pver.mostrarEvaluacion(credito._id)">Evaluar</button>
	    </td>
    </tr>
	</tbody>
</table>


<div id="modalEvaluarVerificacion" class="modal fade bs-cancelacion-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
	    	<div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		        <h4 class="modal-title" id="myModalLabel">Evaluar Verificación</h4>
		    </div>
				<div class="widget-body">
							<form name="form2" novalidate>
									<div class="well">	    
								    <div class="row">
								    		<div class="col-sm-4" valida>
													<label >Seleccionar Evaluación</label>
														<select name="evaluacion" ng-model="pver.objeto.evaluacion" data-placeholder="Seleccione" class="form-control" required>
														    <option value=""></option>
														    <option value="Aprobado">Aprobado</option>
														    <option value="Aprobado con Precaución">Aprobado con Precaución</option>
														    <option value="No Aprobado">No Aprobado</option>
														</select>														
											  </div>
											  <div class="col-sm-6" valida>
											    <label>Indicación</label>
										    	<input name="indicacion" type="text" class="form-control" placeholder="Indicación" ng-model="pver.objeto.indicacion" required>
										    </div>
								    </div>
									</div>
							</form>
	      </div>	
	      <div class="modal-footer">
		        <input type="submit" ng-click="pver.finalizarVerificacion(pver.objeto)" value="Aceptar" class="btn btn-primary" valida-form formulario="form2">
		        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
		     </div>
     </div>
     
  </div>
</div>




<!--		 //////////////////////////////////////////////////////////// -->




		