<!-- Tabla de Visitados Analistas -->
<div class="well">
	<div class="row">
		<div class="col-sm-3">
			<div class="form-group">
				<label for="fecha">Fecha:</label>
				<input type="date" name="fecha" format="dd-MM-yyyy" class="form-control" ng-model="pver.fechaInicial" 
				/>
			</div>
		</div>
	</div>		
</div>
<table class="table table-bordered">
	<thead>
		<tr>
			<th class="text-center" width="5%">No.</th>
			<th class="text-center" width="10%"><div class="text-center">No. Cliente</div></th>
			<th ><div class="text-center">Nombre</div></th>
			<th ><div class="text-center">Verificado</div></th>
			<th class="text-center" width="10%"><div class="text-center">Fecha Verificación</div></th>
			<th><div class="text-center">Tipo Verificación</div></th>
			<th><div class="text-center">Tipo </div></th>
			<th class="text-center" width="5%"><div class="text-center">Acción</div></th>
		</tr>
	</thead>
	<tbody>
    <tr ng-repeat="verificacion in pver.verificacionesHechas">
	    <td class="text-center">{{$index + 1}}</td>
	    <td>{{verificacion.numeroCliente}}</td>
	    <td>{{verificacion.nombreCliente}}</td>
	    <td>{{verificacion.entrevistado}}</td>
	    <td class="text-center">{{verificacion.fechaVerificacion | date:"dd-MM-yyyy" }} </td>
	    <td class="text-center">{{verificacion.rolVerificacion}}</td>
	    <td class="text-center">{{verificacion.tipo}}</td>
	    <td>
		    	<div class="text-center">
				    <div class="btn-group">
						  <button type="button" class="btn btn-xs btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						    <span class="caret"></span>
						    <span class="sr-only">Toggle Dropdown</span>
						  </button>
						  <ul class="dropdown-menu dropdown-menu-right text-left">
							  <li>
						    		<a ui-sref="root.verificacion({ id: verificacion.credito_id, 
							    																  verificacion_id: verificacion._id, 
								    																tipo: (verificacion.tipo == 'Crédito Personal'?'CP':'V'),
									    															persona: (verificacion.tipoVerificacion == 'Aval' ? 2 : 1)})"><i class="fa fa-pencil"></i> Editar / Ver</a>
						    </li>
<!--
						    <li ng-if ="verificacion.tipoVerificacion == 'vecino'">
						    		<a ui-sref="root.verificacionVecino({id: verificacion.credito_id, verificacion_id: verificacion._id, tipo: (verificacion.tipo == 'Crédito Personal'?'CP':'V')})"><i class="fa fa-pencil"></i> Editar / Ver</a>
						    </li>
-->
<!--
						    <li ng-if ="verificacion.tipoVerificacion == 'solicitante o aval'">
						    		<a ui-sref="root.verificacion({id: verificacion.credito_id, verificacion_id: verificacion._id, tipo: (verificacion.tipo == 'Crédito Personal'?'CP':'V')})"><i class="fa fa-pencil"></i> Editar / Ver</a>
						    </li>
-->
						  </ul>
						</div>
			    </div>
	    </td>
    </tr>
	</tbody>
</table>
		