<div class="row">
	<div class="col-sm-12">
			<div class="row">
				<div class="col-sm-12 col-md-12 col-lg-12">
					<div class="well well-light ">
						<div class="row">
							<div class="col-sm-12">
								<div class="row">
									<div class="col-sm-6">
										<h1>{{gnc.objeto.profile.nombre}} <span class="semi-bold">{{gnc.objeto.profile.apellidoPaterno}} {{gnc.objeto.profile.apellidoMaterno}}</span>
										<small> (Cliente)</small></h1>
									</div>
								</div>
							</div>
							<div class="col-sm-12">
								<form name="form" class="form-horizontal" role="form">
											
										<div class="row">
																		
											<div class="col-sm-5" valida>
												<label>Monto *</label>
												<input name="Monto" type="number" min="0" class="form-control" placeholder="Monto" ng-model="gnc.nota.monto" required="">
											</div>
											<div class="col-sm-2" >
											</div>
											<div class="col-sm-5" valida>
												<label>Vigencia Hasta *</label>
											
												<input date-time format="dd-MM-yyyy" class="form-control" view="date" max-view="year" min-view="date" ng-model="gnc.nota.fecha" name="fecha" required/>
											</div>
										</div>
										
								
										<div class="row"><br/>
											<div class="col-sm-12">
												<input type="submit" ng-click="gnc.guardar(gnc.nota,form)" value="Guardar" class="btn btn-primary" ng-show="gnc.action" valida-form formulario="form">
												<input type="submit" ng-click="gnc.actualizar(gnc.nota,form)" value="Actualizar" class="btn btn-primary" ng-show="!gnc.action" valida-form formulario="form">	
											</div>
										</div>
										
								</form>
							</div>												
						</div>
					</div>
				</div>
				<br/>
			</div>
	</div>
</div>

