<h2>Tipos de Créditos</h2>
<div class="row">
	<div class="col-sm-12">
		<a class="btn btn-{{tc.nuevo == true ? 'primary' : 'danger'}}" role="button" data-toggle="collapse" 
			href="#collapseExample" aria-expanded="false" aria-controls="collapseExample" ng-click="tc.Nuevo()">
		   {{tc.nuevo == true ? 'Nuevo' : 'Cancelar'}}
		</a>
		<div class="collapse" id="collapseExample">
			<form name="form" class="form-horizontal" role="form">
		  	<div class="well">	    
			    <div class="row">
				    <div class="col-sm-12">
	            <div class="col-sm-3" valida>
						    <label>Nombre *</label>
					    	<input name="nombre" type="text" class="form-control" placeholder="Nombre" ng-model="tc.objeto.nombre" required capitalize>
					    </div>
						  <div class="col-sm-3" valida>
						    <label for="tipoInteres">Tipo de Ínteres</label>
						    <select name="tipoInteres" ng-model="tc.objeto.tipoInteres" data-placeholder="Seleccione" class="form-control">
							    <option value=""></option>
							    <option value="Simple">Simple</option>
							    <option value="Compuesto">Compuesto</option>
							    <option value="Saldos Insolutos">Saldos Insolutos</option>
								</select>
				    	</div>
							<div class="col-sm-6" valida>
						    <label>Descripción *</label>
					    	<textarea rows="3" name="descripcion" type="text" class="form-control" placeholder="Descripción" ng-model="tc.objeto.descripcion" required capitalize>
					    </div>
						</div>
			    </div>
					<br>
					<h4>Cargo Moratorio</h4>
					<br>
			    <div class="row">
				    <div class="col-sm-12">
							<div class="col-sm-3" valida>
						    <label>Porcentaje</label>
					    	<input name="importe" type="number" class="form-control"ng-model="tc.objeto.importe" required>
					    </div>
					    <div class="col-sm-3" valida>
						    <label for="formacionacademica">Cálculo</label>
						    <select name="calculo" ng-model="tc.objeto.calculo" data-placeholder="Seleccione" class="form-control">
								    <option value=""></option>
								    <option value="importeSolicitado">En base al importe solicitado</option>
								    <option value="importereciboVencido">En base al importe del recibo vencido</option>
								    <option value="saldoreciboVencido">En base al saldo del recibo vencido</option>
								</select>
				    	</div>
				    </div>
			    </div>
			    <br>	    
			    <div class="row">
						<div class="col-sm-12">
							<input type="submit" ng-click="tc.guardar(tc.objeto,form)" value="Guardar" class="btn btn-primary" ng-show="tc.action" valida-form formulario="form">
							<input type="submit" ng-click="tc.actualizar(tc.objeto,form)" value="Actualizar" class="btn btn-primary" ng-show="!tc.action" valida-form formulario="form">	
						</div>
					</div>
		  	</div>  
		  </form>
		</div>
	</div>
</div>
<br/>
<!-- List -->
<div class="row">
	<div class="col-sm-12">
		<table class="table table-bordered">
			<thead>
				<tr>
					<th width="5%"><div class="text-center">No.</div></th>
					<th width="25%"><div class="text-center">Nombre</div></th>
					<th width="35%"><div class="text-center">Descripción</div></th>
					<th width="10%"><div class="text-center">Tipo Ínteres</div></th>
					<th width="10%">
						<div class="text-center">
							Estatus
						</div>
					</th>
					<th width="10%">
						<div class="text-center">
							Acciones
						</div>
					</th>
				</tr>
			</thead>
			<tbody>
		    <tr ng-repeat="objeto in tc.tiposCredito">
			    <td class="text-center">{{$index + 1}}</td>
			    <td>{{objeto.nombre}}</td>
			    <td>{{objeto.descripcion}}</td>
			    <td>{{objeto.tipoInteres}}</td>
			    <td>
				    <div class="text-center">
				    	<span ng-if="objeto.estatus" class="label label-success">
							  Activo
							</span>
							<span ng-if="!objeto.estatus" class="label label-danger">
							  Inactivo
							</span>
				    </div>
			    </td>
			    <td>
				    <div class="text-center">
					    <div class="btn-group">
							  <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							    <span class="caret"></span>
							    <span class="sr-only">Toggle Dropdown</span>
							  </button>
							  <ul class="dropdown-menu dropdown-menu-right text-left">
							    <li><a href="#" ng-click="tc.editar(objeto._id)"><i class="fa fa-pencil"></i> Editar</a></li>
							    <li><a href="#" ng-click="tc.cambiarEstatus(objeto._id)">
								    <i class="fa fa-{{objeto.estatus ? 'trash' : 'check' }}"></i> {{objeto.estatus ? "Desactivar" : "Activar" }}</a>
							    </li>
							  </ul>
							</div>
				    </div>				    
			    </td>
		    </tr>
			</tbody>
		</table>
	</div>
</div>