<div class="well">
  <div class="row">
    <div class="col-sm-6">
      <input class="form-control" type="text" placeholder="Buscar..." ng-model="obj.buscar.nombre" capitalize>
    </div>
    <div class="col-sm-2">
      <label class="radio-inline">
        <input type="radio" name="tipo" ng-model="obj.tipoSolicitud"
          ng-click="obj.seleccionaTipoSolicitud('creditoPersonal')" value="creditoPersonal">
        Crédito Personal
      </label>
    </div>
    <div class="col-sm-1">
      <label class="radio-inline">
        <input type="radio" name="tipo" ng-model="obj.tipoSolicitud"
          ng-click="obj.seleccionaTipoSolicitud('distribuidor')" value="distribuidor">
        Distribuidor
      </label>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-lg-12">
    <table class="table table-condensed table-bordered">
      <thead>
        <tr>
          <th style='width: 5%' class="text-center">No.</th>
          <th style='width: 15%' class="text-center">Promotora/Usuario</th>
          <th style='width: 15%' class="text-center">Prospecto</th>
          <th style='width: 10%' class="text-center">Tipo</th>
          <th style='width: 10%' class="text-center">Fecha</th>
          <th style='width: 5%' class="text-center">Estatus</th>
          <th style='width: 10%' class="text-center">Verificación</th>
          <th style='width: 10%' class="text-center">Resultado</th>
          <th style='width: 5%' class="text-center">Valoración</th>
          <th style='width: 5%' class="text-center">Motivo</th>
          <th style='width: 5%' class="text-center">Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="objeto in obj.arregloEvaluados">
          <td class="text-center">{{$index + 1}}</td>
          <td class="text-center">{{objeto.profile.nombreUsuario}}</td>
          <td class="text-left">{{objeto.profile.nombreCompleto}}</td>
          <td class="text-left">{{objeto.profile.tipo}}</td>
          <td class="text-center">{{objeto.profile.fechaCreacion | date:"dd-MM-yyyy"}}</td>
          <td class="text-left">
            <div class="text-center">
              <span ng-if="objeto.profile.estatusProspecto == 4" class="label label-warning">
                Trunco
              </span>
              <span ng-if="objeto.profile.estatusProspecto == 2" class="label label-success">
                Autorizado
              </span>
              <span ng-if="objeto.profile.estatusProspecto == 3" class="label label-danger">
                Rechazado
              </span>
            </div>
          </td>
          <td class="text-left">
            <div class="text-center">
              <span ng-if="objeto.profile.estatus == 1" class="label label-danger">
                Sin Verificar
              </span>
              <span ng-if="objeto.profile.estatus == 2" class="label label-warning">
                Programada
              </span>
              <span ng-if="objeto.profile.estatus ==3" class="label label-success">
                Verificado
              </span>
            </div>
          </td>
          <td class="text-left">{{objeto.profile.verificacionEstatus}}</td>
          <td><a href="#" ng-click="obj.verValoracion(objeto.profile.indicacion)"
              ng-if="objeto.profile.estaVerificado">Valoración</a></td>
          <td><a href="#" ng-click="obj.verValoracion(objeto.profile.motivo)" ng-if="objeto.profile.estaVerificado">
              Motivo</a></td>
          <td class="text-center">
            <div class="text-center">
              <div class="btn-group">
                <button type="button" class="btn btn-primary btn-xs dropdown-toggle" data-toggle="dropdown"
                  aria-haspopup="true" aria-expanded="false">
                  <span class="caret"></span>
                  <span class="sr-only">Toggle Dropdown</span>
                </button>
                <ul class="dropdown-menu dropdown-menu-right text-left">
                  <li ng-if="objeto.profile.tipo == 'Cliente Crédito Personal'">
                    <a href="#" ui-sref="root.prospectosCreditoPersonalEditarForm({objeto_id: objeto._id})"><i
                        class="fa fa-pencil"></i> Editar</a>
                  </li>
                  <li ng-if="objeto.profile.tipo == 'Distribuidor'">
                    <a href="#" ui-sref="root.prospectosDistribuidorFormEditar({objeto_id: objeto._id})"><i
                        class="fa fa-pencil"></i> Editar</a>
                  </li>

                  <li ng-if="objeto.profile.tipo == 'Cliente Crédito Personal'">
                    <a href="#" ng-click="obj.imprimirProspectoCreditoPersonal(objeto)"><i class="fa fa-print"></i>
                      Imprimir</a>
                  </li>
                  <li ng-if="objeto.profile.tipo == 'Distribuidor'">
                    <a href="#" ng-click="obj.imprimirProspectoDistribuidor(objeto)""><i
                        class=" fa fa-print"></i> Imprimir</a>
                  </li>

                </ul>
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>