<div class="row">
	<div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
		<h1 class="alge-title txt-color-blueDark">
			<i class="fa fa-list fa-fw "></i>
				Promotoras &gt; Buscar
		</h1>
	</div>
</div>
<br>
<div class="row">
	<div class="col-sm-12">
		<div class="input-group">
			<div class="input-group-btn">
				<a href="./promotorasForm" class="btn btn-default btn-primary">
					<i class="fa fa-plus"></i> Nuevo
				</a>
			</div>
			<input id="filter" class="form-control" type="text" placeholder="Buscar..." ng-model="buscar.profile.nombreCompleto" capitalize>
		</div>
	</div>
</div>
<div class="row">
	<br/>
  <div class="col-sm-12">
    <table class="table table-bordered table-condensed">
      <thead>
        <tr>
        <th width="10%"><div class="text-center">No.</div></th>
          <th width="30%"><div class="text-center">Nombre</div></th>
          <th width="15%"><div class="text-center">Teléfono</div></th>
          <th width="15%"><div class="text-center">Celular</div></th>
          <th width="10%">
            <div class="text-center">
              Estatus
            </div>
          </th>
          <th width="15%">
            <div class="text-center">
              Acciones
            </div>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="objeto in obj.promotoras | orderBy:'profile.nombreCompleto'  | filter:buscar">
        <td><div class="text-center">{{objeto.profile.numeroCliente}}</div></td>
          <td><div class="text-center">{{objeto.profile.nombreCompleto}}</div></td>
          <td><div class="text-center">{{objeto.profile.telefono}}</div></td>
            <td><div class="text-center">{{objeto.profile.celular}}</div></td>
          <td>
           
            <div class="text-center">
              <span ng-if="objeto.profile.estatus" class="label label-success">
                Activo
              </span>
              <span ng-if="!objeto.profile.estatus" class="label label-danger">
                Inactivo
              </span>
            </div>
          </td>
          <td>
            <div class="text-center">
              <div class="btn-group">
                <button type="button" class="btn btn-xs btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <span class="caret"></span>
                  <span class="sr-only">Toggle Dropdown</span>
                </button>
                <ul class="dropdown-menu dropdown-menu-right text-left">
                  <li><a href="#" ui-sref="root.editarPromotora({objeto_id : objeto._id})"><i class="fa fa-pencil"></i> Editar</a></li>
                  <li><a href="#" ng-click="obj.cambiarEstatus(objeto._id)">
                    <i class="fa fa-{{objeto.estatus ? 'trash' : 'check' }}"></i> {{objeto.profile.estatus ? "Desactivar" : "Activar" }}</a>
                  </li>
                </ul>
              </div>
            </div>            
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>