<h2>Cuentas</h2>
<div class="row">
	<div class="col-sm-12">
		<a class="btn btn-{{ctactrl.nuevo == true ? 'primary' : 'danger'}}" role="button" data-toggle="collapse" 
			href="#collapseExample" aria-expanded="false" aria-controls="collapseExample" ng-click="ctactrl.Nuevo()">
			 {{ctactrl.nuevo == true ? 'Nuevo' : 'Cancelar'}}
		</a>
		<div class="collapse" id="collapseExample">
			<form name="form" class="form-horizontal" role="form">
				<div class="well">			
					<div class="row">
						<div class="col-sm-12">							
							<div class="col-sm-4" valida>
								<label>Nombre *</label>
								<input name="nombre" type="text" class="form-control" placeholder="Nombre" ng-model="ctactrl.objeto.nombre" required capitalize>
							</div>
							<div class="col-sm-4" valida>
								<label for="tipoIngreso_id">Tipo de Ingreso *</label>
								<select name="TipoIngreso" class="form-control select2" placeholder="Seleccione" ng-model="ctactrl.objeto.tipoIngreso_id" required>
									<option ng-repeat="tipo in ctactrl.tiposIngreso" value="{{tipo._id}}">{{tipo.nombre}}</option>
								</select>
							</div>
							<div class="col-sm-4" valida>
								<label>Saldo *</label>
								<input name="saldo" type="number" class="form-control" placeholder="saldo" ng-model="ctactrl.objeto.saldo" required>
							</div>
						</div>
					</div>
				</div>
				<div class="well">			
					<div class="row">
						<div class="col-sm-12">
							<input type="submit" ng-click="ctactrl.guardar(ctactrl.objeto,form)" value="Guardar" class="btn btn-primary" ng-show="ctactrl.action" valida-form formulario="form">
							<input type="submit" ng-click="ctactrl.actualizar(ctactrl.objeto,form)" value="Actualizar" class="btn btn-primary" ng-show="!ctactrl.action" valida-form formulario="form">	
						</div>
					</div>
				</div>	
			</form>
		</div>
	</div>
</div>
<br/>
<!-- List -->
<div class="row">
	<div class="col-sm-12">
		<table class="table table-bordered">
			<thead>
				<tr>
				<th width="5%"><div class="text-center">No.</div></th>
					<th width="30%"><div class="text-center">Nombre</div></th>
					<th width="30%"><div class="text-center">Tipo de Ingreso</div></th>
					<th width="30%">
						<div class="text-center">
							Estatus
						</div>
					</th>
					<th width="30%">
						<div class="text-center">
							Acciones
						</div>
					</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="objeto in ctactrl.cuentas">
				<td>{{$index + 1}}</td>
					<td>{{objeto.nombre}}</td>
					<td>{{ctactrl.getTipoIngreso(objeto.tipoIngreso_id)}} </td>
					<td>
						<div class="text-center">
							<span ng-if="objeto.estatus" class="label label-success">
								Activo
							</span>
							<span ng-if="!objeto.estatus" class="label label-danger">
								Inactivo
							</span>
						</div>
					</td>
					<td>
						<div class="text-center">
							<div class="btn-group">
								<button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									<span class="caret"></span>
									<span class="sr-only">Toggle Dropdown</span>
								</button>
								<ul class="dropdown-menu text-left">
									<li><a href="#" ng-click="ctactrl.editar(objeto._id)"><i class="fa fa-pencil"></i> Editar</a></li>
									<li><a href="#" ng-click="ctactrl.cambiarEstatus(objeto._id)">
										<i class="fa fa-{{objeto.estatus ? 'trash' : 'check' }}"></i> {{objeto.estatus ? "Desactivar" : "Activar" }}</a>
									</li>
								</ul>
							</div>
						</div>						
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>