<h1>Bienvenido a Crédito Mio</h1>

<div class="alert alert-info" ng-if="currentUser.roles[0] == 'Cajero' && ho.estaCerrada == true">
		<p><i class="fa-fw fa fa-info"></i> La ventanilla asignada esta cerrada </p>		
		<a  ui-sref="root.abrirCaja({caja_id:ho.caja_id})" ><i class="btn btn-success btn-mini">Abrir Caja</i> </a>
</div>

<div class="row" ng-show="currentUser.roles[0] == 'Gerente'">
	<div class="col-sm-12 col-md-12 col-lg-12">
		<div id="container"></div>
	</div>		
</div>
<div class="row" ng-show="currentUser.roles[0] == 'Cajero'">
	<div class="col-sm-6 col-md-6 col-lg-6">
			<table class="table table-striped">
			  <thead>
			    <tr>
			      <th>Tipo Ingreso</th>
			      <th>Saldo</th>
			    </tr>
			  </thead>
			  <tbody>
			    <tr ng-repeat="c in ho.cuentas">
			      <td>{{c.tipoIngreso}}</td>
			      <td style="text-align: right ">{{c.saldo | currency }}</td>
			    </tr>
			  </tbody>
			</table>
	</div>		
</div>
