<div class="input-group"> 
	<input type="text" class="form-control" ng-model="ge.buscar.nombre">
	<span class="input-group-btn">
		<button class="btn btn-default" type="button" style="height: 34px;">
			<i class="fa fa-search"></i>
		</button> 
	</span>
</div>
<div class="ajax-dropdown" ng-show="ge.buscando" style="display: block; width: 100% !important;">
	<div class="ajax-notifications custom-scroll">
		
		<div class="alert alert-transparent">
			<div class="tab-pane fade active in" id="a2">
				
				<div class="user well" title="{{persona._id}}" ng-repeat="persona in ge.avales" style="width: 100%">
					<div class="row">
						<div class="col-sm-12">
							<a href="javascript:void(0);"> {{persona.profile.nombreCompleto}}</a> 
							<div class="btn-group btn-xs btn-group-justified">
								<a href="javascript:void(0);" class="btn btn-default" ng-repeat="relacion in persona.relaciones">{{relacion.credito}} - {{relacion.tipoPersona}} - <span ng-class = "relacion.estatus==0?'text-success':'text-danger'"><i ng-if="relacion.estatus==0" class="fa fa-check"></i><i ng-if="relacion.estatus!=0" class="fa fa-times"></span></a>
							</div>							
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<span> 
		<button type="button" data-loading-text="<i class='fa fa-refresh fa-spin'></i> Cerrar..." class="btn btn-xs btn-default pull-right" ng-click="ge.buscando = false; ge.buscar.nombre = ''">
			<i class="fa fa-times"></i>
		</button> 
	</span>
	
</div>