
<div class="row">
	<div class="col-sm-12">
			<div class="col-sm-6">
					<h2>Entregar Crédito</h2>
			</div>
			<div class="col-sm-6">
					
          <a style="margin: 5px;" ng-if="ecCtrl.credito.tipo == 'creditoP'" ui-sref="root.clienteDetalle({objeto_id : ecCtrl.credito.cliente_id})" class="btn txt-color-white bg-color-teal btn-sm pull-right" ><i class="fa fa-user"></i> Ir a mi perfil</a>&nbsp;
          <a style="margin: 5px;" ng-if="ecCtrl.credito.tipo == 'vale'" ui-sref="root.distribuidorDetalle({objeto_id : ecCtrl.credito.cliente_id})" class="btn txt-color-white bg-color-teal btn-sm pull-right" ><i class="fa fa-user"></i> Ir a mi perfil</a>&nbsp;		
			</div>		
	</div>
</div>	

<div class="row">
  <div class="col-sm-12">
    <div ng-show = "ecCtrl.verDiaPago">
      <div class="well">      
          <div class="row ">
            <div class="col-sm-3" ng-if="ecCtrl.credito.periodoPago == 'Semanal'" valida>
              <label>Día preferido de pago *</label>
              <select name="diaPreferidoPago" class="form-control" ng-change="ecCtrl.fechaPago(ecCtrl.credito.diaPreferidoPago, ecCtrl.credito.periodoPago)" ng-model="ecCtrl.credito.diaPreferidoPago">
                <option value="1">Lunes</option>
                <option value="2">Martes</option>
                <option value="3">Miércoles</option>
                <option value="4">Jueves</option>
                <option value="5">Viernes</option>
                <option value="6">Sábado</option>
              </select>
            </div>
            <div class="col-sm-3" valida>
              <label>Primer abono</label>
              <input type="date" format="dd-MM-yyyy" class="form-control" ng-model="ecCtrl.objeto.primerAbono" name="fechaPrimerAbono" ng-disabled="ecCtrl.estatusFecha"/>
            </div>
            <div class="col-sm-2">            
								<br>
								<button class="btn btn-success" ng-click="ecCtrl.generarCredito()">Generar Crédito</button>
            </div>
            
            <div class="col-sm-2">            
								<br>
								<button class="btn btn-info" ng-click="ecCtrl.mostrarModalActivarFecha()">Activar Fecha</button>
            </div>
              
          </div>         
          <div class="row" ng-if="ecCtrl.credito.avales_ids.length > 0">
							<div class="col-sm-6">          	
								<label>AVAL:</label>
	          		<h4>{{ecCtrl.credito.avales_ids[0].nombreCompleto}}</h4>
							</div>
          </div> 
      </div>
    </div>
    <div ng-show = "!ecCtrl.verDiaPago">
        <form name="form" class="form-horizontal" role="form">
            <div class="well">      
              <div class="row ">
                <div class="col-sm-3">
									<label >Forma de pago</label>
									<select name="tiposIngresos" class="form-control select2" placeholder="Seleccione" ng-model="ecCtrl.tipoIngreso._id" required>
										<option value="{{tipoIngreso._id}}" ng-repeat="tipoIngreso in ecCtrl.tiposIngreso">{{tipoIngreso.nombre}}</option>
									</select>
									<input name="tipo._id" type="number" class="form-control" placeholder="Monto" ng-model="ecCtrl.objeto.caja[ecCtrl.tipoIngreso._id].saldo" ng-change="ecCtrl.calcular()"  required>
                </div>
              <div class="col-sm-8">
<!--
              	<div class="row">
                    <div class="col-sm-6 checkbox" >
		                  <label>
			                  <input type="checkbox"  ng-model="ecCtrl.validar.contrato" name="contrato" required> Contrato de Préstamo y Garantía Prendaria.*
			                </label>
										</div>
		                <div class="col-sm-6 checkbox" >
			                <label>
			                  <input type="checkbox" ng-model="ecCtrl.validar.ficha" name="ficha" required> Ficha de Información del Cliente.*
			                </label>
		                </div>
								</div>
								<div class="row ">
	                <div class="col-sm-6 checkbox" >
	                  <label>
	                  <input type="checkbox"  ng-model="ecCtrl.validar.pagare" name="págare" required> Pagare.*
	                </label>
	                </div>
	                <div class="col-sm-6 checkbox" >
		                <label>
		                  <input type="checkbox"  ng-model="ecCtrl.validar.tabla" name="tabla" required> Tabla de Amortización.*
		                </label>
	                </div>
								</div>
-->
              <!-- <br> -->
               <div class="row "> 
                    <div class="col-sm-3" ng-show="ecCtrl.imprecion">
												<input class="btn btn-success" type="button" ng-click="ecCtrl.imprimirContrato(ecCtrl.credito,ecCtrl.cliente);ecCtrl.generarPlanPagos(rc.credito)" value="Imprimir" ng-if="currentUser.roles[0] == 'Gerente' || currentUser.roles[0] == 'Cajero'"  />
              			</div>
              			<div class="col-sm-3" >
		                  <input type="submit" ng-click="ecCtrl.guardar(ecCtrl.objeto,form)" value="Entregar Crédito" class="btn btn-primary" valida-form formulario="form">
		                </div>              			
            		</div>
            		
              </div>
              </div>
          </div>
          <div class="well">      
            <div class="row">
              <div class="col-sm-3">
                <h1  >
                Crédito Solicitado:
                </h1>
              </div>
              <div class="col-sm-3">
                <h1>
                {{ecCtrl.credito.capitalSolicitado | currency}}
                </h1>
              </div>
              <div class="col-sm-4" ng-if="ecCtrl.credito.avales_ids.length > 0">          	
								<label>AVAL:</label>
	          		<h4>{{ecCtrl.credito.avales_ids[0].nombreCompleto}}</h4>
							</div>
            </div>
            <div class="row" ng-if="ecCtrl.credito.esRefinanciado">
              <div class="col-sm-3">
                <h1>
                Monto Refinanciado:
                </h1>
              </div>
              <div class="col-sm-3">
                <h1>
                {{ecCtrl.credito.refinanciar | currency}}
                </h1>
              </div>
            </div>
            <div class="row" ng-if="ecCtrl.credito.esRefinanciado">
              <div class="col-sm-3">
                <h1>
                Monto a Entregar:
                </h1>
              </div>
              <div class="col-sm-3">
                <h1>
                {{ecCtrl.credito.capitalSolicitado - ecCtrl.credito.refinanciar | currency}}
                </h1>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-3">
                <h1>
                Monto Entregado:
                </h1>
              </div>
              <div class="col-sm-3">
                <h1>
                {{ecCtrl.suma | currency}}
                </h1>
              </div>
            </div>
            <br/>
            <h5>AUTORIZÓ A EL PROVEEDOR PARA UTILIZAR SUS DATOS PERSONALES PARA FINES MERCADOTÉCNICOS Y PUBLICITARIOS</h5>						
						<div class="row">
              <div class="form-inline required">
	              <div class="col-sm-2">
                  <div class="form-group has-feedback">
                      <label class="input-group">
                          <span class="input-group-addon">
                              <input type="radio" name="datosPersonales" value="0" ng-model="ecCtrl.credito.datosPersonales" />
                          </span>
                          <div class="form-control form-control-static">
                              SI
                          </div>
                          <span class="glyphicon form-control-feedback "></span>
                      </label>
                  </div>
	              </div>
	              <div class="col-sm-2">  
                  <div class="form-group has-feedback ">
                      <label class="input-group">
                          <span class="input-group-addon">
                              <input type="radio" name="datosPersonales" value="1" ng-model="ecCtrl.credito.datosPersonales" />
                          </span>
                          <div class="form-control form-control-static">
                              NO
                          </div>
                          <span class="glyphicon form-control-feedback "></span>
                      </label>
                  </div>
	              </div>  
              </div>
		        </div>   
						
						<h5>ACEPTA QUE EL PROVEEDOR LE ENVIE PUBLICIDAD SOBRE BIENES Y SERVICIOS</h5>						
						<div class="row">
              <div class="form-inline required" valida>
	              <div class="col-sm-2">
                  <div class="form-group has-feedback">
                      <label class="input-group">
                          <span class="input-group-addon">
                              <input type="radio" name="publicidad" value="0" ng-model="ecCtrl.credito.publicidad" />
                          </span>
                          <div class="form-control form-control-static">
                              SI
                          </div>
                          <span class="glyphicon form-control-feedback "></span>
                      </label>
                  </div>
	              </div>
	              <div class="col-sm-2">  
                  <div class="form-group has-feedback ">
                      <label class="input-group">
                          <span class="input-group-addon">
                              <input type="radio" name="publicidad" value="1" ng-model="ecCtrl.credito.publicidad" />
                          </span>
                          <div class="form-control form-control-static">
                              NO
                          </div>
                          <span class="glyphicon form-control-feedback "></span>
                      </label>
                  </div>
	              </div>  
              </div>
		        </div>   
		        
		        <h5>ACEPTO LOS TÉRMINOS Y CONDICIONES EL PRESENTE AVISO DE PRIVACIDAD</h5>						
						<div class="row">
              <div class="form-inline required">
	              <div class="col-sm-2">
                  <div class="form-group has-feedback">
                      <label class="input-group">
                          <span class="input-group-addon">
                              <input type="radio" name="avisoPrivacidad" value="0" ng-model="ecCtrl.credito.avisoPrivacidad" />
                          </span>
                          <div class="form-control form-control-static">
                              SI
                          </div>
                          <span class="glyphicon form-control-feedback "></span>
                      </label>
                  </div>
	              </div>
	              <div class="col-sm-2">  
                  <div class="form-group has-feedback ">
                      <label class="input-group">
                          <span class="input-group-addon">
                              <input type="radio" name="avisoPrivacidad" value="1" ng-model="ecCtrl.credito.avisoPrivacidad" />
                          </span>
                          <div class="form-control form-control-static">
                              NO
                          </div>
                          <span class="glyphicon form-control-feedback "></span>
                      </label>
                  </div>
	              </div>  
              </div>
		        </div>   
						
						</div>	
          </div>  
        </form>
      </div>  
  </div>
</div>


<!--     //////////////////////////////////////////////////////////// -->

<div id="modalActivarFecha" class="modal fade bd-example-modal-sm">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
	    	<div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		        <h4 class="modal-title" id="myModalLabel">Datos Usuario</h4>
		    </div>
				<div class="modal-body">
							<form name="form2" novalidate>
									<div class="well">	    
								    <div class="row" style="text-align: center">
								    		<div class=".col-xs-6 .col-md-4" style="text-align: center" valida>			
							            <label>Nombre de Usuario</label>
							            <input type="text" class="form-control" name="username" ng-model="ecCtrl.credentials.username">
												</div>
								    </div>
								    <div class="row" style="text-align: center">		
							          <div class=".col-xs-6 .col-md-4" valida>
							            <label >Clave de desbloqueo</label>
						              <input type="password" class="form-control" name="password" ng-model="ecCtrl.credentials.password">
							          </div>
								    </div>
									</div>
							</form>
	      </div>	
	      <div class="modal-footer">
		      	<a	class="btn btn-success" ng-click="ecCtrl.validaCredenciales(ecCtrl.credentials)">Aceptar</a>
		        <button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button>
		     </div>
     </div>
     
  </div>
</div>
