
<div class="row">
	<div class="col-sm-12">
			<div class="col-sm-6">
          <h2>Entregar Vale a: {{ecCtrl.credito.beneficiario.nombreCompleto}}</h2> 
          <h2>Distribuidor : {{ecCtrl.credito.distribuidor.profile.nombreCompleto}}</h2>
			</div>
			<div class="col-sm-6">
					<a style="margin: 5px;" ng-if="ecCtrl.credito.tipo == 'vale'" ui-sref="root.distribuidoresDetalle({objeto_id : ecCtrl.credito.cliente_id})" class="btn txt-color-white bg-color-teal btn-sm pull-right" ><i class="fa fa-user" ></i> Ir a mi perfil</a>&nbsp;
          <a style="margin: 5px;" ng-if="!ecCtrl.credito.tipo == 'creditoP'" ui-sref="root.clienteDetalle({objeto_id : ecCtrl.credito.cliente_id})" class="btn txt-color-white bg-color-teal btn-sm pull-right" ><i class="fa fa-user"></i> Ir a mi perfil</a>&nbsp;		
			</div>		
	</div>
</div>	

<div class="row">
  <div class="col-sm-12">
    <div ng-show = "ecCtrl.verDiaPago">
      <div class="well">      
          <div class="row ">
            <div class="col-sm-3" valida>
              <label>Primer abono</label>
              <input type="date" format="dd-MM-yyyy" class="form-control" ng-model="ecCtrl.objeto.primerAbono" name="fechaPrimerAbono" ng-disabled="ecCtrl.estatusFecha"/>
            </div>
            <div class="col-sm-2">            
								<br>
                <button ng-if="ecCtrl.credito.tipo == 'vale'" class="btn btn-success" ng-click="ecCtrl.generarCredito()">Generar Vale</button>          
            </div>  
            
            <div class="col-sm-2">            
								<br>
								<button class="btn btn-info" ng-click="ecCtrl.mostrarModalActivarFecha()">Activar Fecha</button>
            </div>
            
<!--
            <div class="col-sm-2">
				    	<label>Folio *</label>
				    	<input name="folioVale" type="number" class="form-control" ng-model="ecCtrl.folioVale" >					    	
			    	</div>
-->
            
          </div>        
           
          <div class="row" ng-if="ecCtrl.credito.avales_ids.length > 0">
							<div class="col-sm-6">          	
								<label>AVAL:</label>
	          		<h4>{{ecCtrl.credito.avales_ids[0].nombreCompleto}}</h4>
							</div>
          </div> 
      </div>
      
      <div class="well">      
          <div class="row ">
            <div class="col-sm-3">
              <label>Cantidad:</label><br>
							<h4>{{ecCtrl.credito.capitalSolicitado | currency}}</h4>
            </div>
            <div class="col-sm-3">
              <label>Plazo:</label><br>
							<h4>{{ecCtrl.credito.duracionMeses}} Meses</h4>
            </div>
          </div>
      </div>     
      
    </div>
    <div ng-show = "!ecCtrl.verDiaPago">
        <form name="form" class="form-horizontal" role="form">
            <div class="well">      
              <div class="row ">
                <div class="col-sm-3">
									<label >Forma de pago</label>
									<select name="tiposIngresos" class="form-control select2" placeholder="Seleccione" ng-model="ecCtrl.tipoIngreso._id" required>
										<option value="{{tipoIngreso._id}}" ng-repeat="tipoIngreso in ecCtrl.tiposIngreso">{{tipoIngreso.nombre}}</option>
									</select>
									<input name="tipo._id" type="number" class="form-control" placeholder="Monto" ng-model="ecCtrl.objeto.caja[ecCtrl.tipoIngreso._id].saldo" ng-change="ecCtrl.calcular()"  required>
                </div>
              </div>
          </div>
          <div class="well">      
            <div class="row">
              <div class="col-sm-4">
                <h1 ng-if="ecCtrl.credito.tipo == 'creditoP'">
                Crédito Solicitado:
                </h1>
                <h1 ng-if="ecCtrl.credito.tipo == 'vale'">
                Vale Solicitado:
                </h1>
              </div>
              <div class="col-sm-4">
                <h1>
                {{ecCtrl.credito.capitalSolicitado | currency}}
                </h1>
              </div>
              <div class="col-sm-4" ng-if="ecCtrl.credito.avales_ids.length > 0">          	
								<label>AVAL:</label>
	          		<h4>{{ecCtrl.credito.avales_ids[0].nombreCompleto}}</h4>
							</div>
            </div>
            <div class="row" ng-if="ecCtrl.credito.esRefinanciado">
              <div class="col-sm-4">
                <h1>
                Monto Refinanciado:
                </h1>
              </div>
              <div class="col-sm-4">
                <h1>
                {{ecCtrl.credito.refinanciar | currency}}
                </h1>
              </div>
            </div>
            <div class="row" ng-if="ecCtrl.credito.esRefinanciado">
              <div class="col-sm-4">
                <h1>
                Monto a Entregar:
                </h1>
              </div>
              <div class="col-sm-4">
                <h1>
                {{ecCtrl.credito.capitalSolicitado - ecCtrl.credito.refinanciar | currency}}
                </h1>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-4">
                <h1>
                Monto Entregado:
                </h1>
              </div>
              <div class="col-sm-4">
                <h1>
                {{ecCtrl.suma | currency}}
                </h1>
              </div>
            </div
            <br/>
            <br/>
            <div class="row">
                <div class="col-sm-2" ng-if="ecCtrl.credito.tipo == 'vale'" >
                  <input id="entregar" type="submit" ng-click="ecCtrl.guardar(ecCtrl.objeto,form)" value="Entregar Vale" class="btn btn-primary" valida-form formulario="form">
                </div>
<!--
                <div class="col-sm-2" ng-show="ecCtrl.imprecion">
										<input class="btn btn-success" type="button" ng-click="ecCtrl.imprimirContrato(ecCtrl.credito,ecCtrl.cliente);ecCtrl.generarPlanPagos(rc.credito)" value="Imprimir Contrato" ng-if="currentUser.roles[0] == 'Gerente' || currentUser.roles[0] == 'Cajero'"  />
          			</div>
-->
          			<div class="col-sm-2" ng-show="ecCtrl.imprecion">
										<input class="btn btn-success" type="button" ng-click="ecCtrl.imprimirPagare(ecCtrl.credito,ecCtrl.cliente);" value="Imprimir Pagare" ng-if="currentUser.roles[0] == 'Gerente' || currentUser.roles[0] == 'Cajero'"  />
          			</div>
            </div>
          </div>  
        </form>
      </div>  
  </div>
</div>


<!--     //////////////////////////////////////////////////////////// -->

<!--     //////////////////////////////////////////////////////////// -->

<div id="modalActivarFecha" class="modal fade bd-example-modal-sm">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
	    	<div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		        <h4 class="modal-title" id="myModalLabel">Datos Usuario</h4>
		    </div>
				<div class="modal-body">
							<form name="form2" novalidate>
									<div class="well">	    
								    <div class="row" style="text-align: center">
								    		<div class=".col-xs-6 .col-md-4" style="text-align: center" valida>			
							            <label>Nombre de Usuario</label>
							            <input type="text" class="form-control" name="username" ng-model="ecCtrl.credentials.username">
												</div>
								    </div>
								    <div class="row" style="text-align: center">		
							          <div class=".col-xs-6 .col-md-4" valida>
							            <label >Clave de desbloqueo</label>
						              <input type="password" class="form-control" name="password" ng-model="ecCtrl.credentials.password">
							          </div>
								    </div>
									</div>
							</form>
	      </div>	
	      <div class="modal-footer">
		      	<a	class="btn btn-success" ng-click="ecCtrl.validaCredenciales(ecCtrl.credentials)">Aceptar</a>
		        <button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button>
		     </div>
     </div>
     
  </div>
</div>


<a id='dwnldLnk' href="#" download='documentos.docx' style="display:none;" hidden="true"></a>   
    