
<div class="container">
	<div class="widget-body no-padding">
		<div class="padding-12">
			<div class="row text-center">
				<div class="col-sm-4 col-sm-offset-4">
					<span id="logo"> <img src="img/LogoBigVale.jpg" alt="SmartAdmin" style="margin-top: -13px;margin-left:-50px;width: 250px;height: 110px;"> </span>
					<address>
						RUBIDIA MARTINEZ ALCARAZ<br>
						{{tktA.sucursal.direccion}}<br>
						{{tktA.sucursal.colonia}}<br>
						MAAR-661007-BF5<br>
						{{tktA.sucursal.telefono1}}
					</address>
					<strong>----------------------------------------------------------------</strong>
					<div class="row">
						<div class="col-sm-12" style="font-size: small">
						<table style="font-size: x-small; width: 100%" >
							<thead>
								<tr>
									<th style="text-align: center"># Pago</th>
									<th style="text-align: center">Fecha</th>
									<th style="text-align: center">Seguro</th>
									<th style="text-align: center">Total</th>
								</tr>	
							</thead>	
							<tbody>
								<tr ng-repeat="pago in tktA.planPagos">
									<td>{{pago.numeroPago}}</td>
									<td>{{pago.fechaLimite | date: 'dd/MM/yyyy'}}</td>
									<td>{{pago.seguro | currency}}</td>
									<td>{{pago.importeRegular | currency}}</td>
								</tr>
							</tbody>	
						</table>
						<br>
						</div>
					</div>		
					<div class="row">
						<div class="col-sm-12" style="text-align: left; font-size: small">			
							<span>CULIACÁN, SINALOA A {{tktA.fechaLetra}}. </span>
							<br>
							<span>DEUDOR: </span>
							<br>
							<span>NOMBRE: {{tktA.beneficiario.nombreCompleto}}</span>
							<br>
							<span>DIRECCIÓN: {{tktA.beneficiario.domicilio}} {{tktA.beneficiario.colonia}}</span>
							<br>
							<span>POBLACIÓN: {{tktA.beneficiario.ciudad}}</span>
							<br>
							<span>Fecha: {{tktA.fecha | date: 'dd/MM/yyyy'}} {{tktA.fecha | date:'H:mm:ss'}} Hrs.</span>
						</div>
					</div>	
					<br>
					<div class="row">
						<div class="col-sm-12" style="text-align: center">
							<span>{{tktA.beneficiario.nombreCompleto}}</span>
						</div>
						<div class="col-sm-12" style="text-align: center">
							<span>Distribuidor:</span>
						</div>
						<div class="col-sm-12" style="text-align: center">
							<span> {{tktA.distribuidor.profile.nombreCompleto}}</span>
						</div>
					</div>
					<br>
					<div style="font-size: larger"><a class="btn btn-primary" id="printpagebutton" ng-click="tktA.borrarBotonImprimir()">Imprimir</a></div>
				</div>
			</div>
		</div>
	</div>
</div>
