<h2>Prospectos</h2>
<div class="row">
	<div class="col-sm-12">
		<form name="form" class="form-horizontal" role="form">
			<div class="well">
				<div class="row">
					<div class="col-sm-3" valida>
						<label>Nombre (s) *</label>
						<input name="nombreBeneficiario" type="text" class="form-control" placeholder="Nombre"
							ng-model="obj.objeto.nombre" required="" capitalize>
					</div>
					<div class="col-sm-3" valida>
						<label>Apellido Paterno *</label>
						<input name="apellidoPaternoBeneficiario" type="text" class="form-control"
							placeholder="Apellido Paterno" ng-model="obj.objeto.apellidoPaterno" required="" capitalize>
					</div>
					<div class="col-sm-3">
						<label>Apellido Materno</label>
						<input name="apellidoMaternoBeneficiario" type="text" class="form-control"
							placeholder="Apellido Materno" ng-model="obj.objeto.apellidoMaterno" capitalize>
					</div>

					<div class="col-sm-3">
						<br>
						<a href="#" ng-click="obj.validarProspecto(obj.objeto)" class="btn btn-primary">Validar
							Prospecto</a>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-3" valida>
						<label>Fecha Nacimiento *</label>
						<input name="fechaNacimientoBeneficiario" type="date" format="dd/MM/yyyy" class="form-control"
							placeholder="Fecha" ng-model="obj.objeto.fechaNacimiento" required="">
					</div>
					<div class="col-sm-6" valida>
						<label>Domicilio *</label>
						<input name="domicilioBeneficiario" type="text" class="form-control" placeholder="Domicilio"
							ng-model="obj.objeto.domicilio" required="" capitalize>
					</div>
					<div class="col-sm-3" valida>
						<label>Numero *</label>
						<input name="numeroBeneficiario" type="text" class="form-control" placeholder="Número"
							ng-model="obj.objeto.numero" required="" capitalize>
					</div>
				</div>

				<div class="row">
					<div class="col-sm-4" valida>
						<label>Colonia *</label>
						<input name="coloniaBeneficiario" type="text" class="form-control" placeholder="Colonia"
							ng-model="obj.objeto.colonia" required="" capitalize>
					</div>
					<div class="col-sm-3" valida>
						<label>Estado Civil *</label>
						<select name="estadoCivilBeneficiario" ng-model="obj.objeto.estadoCivil"
							data-placeholder="Seleccione" class="form-control" required>
							<option value="DIVORCIADO(A)">DIVORCIADO(A)</option>
							<option value="SOLTERO(A)">SOLTERO(A)</option>
							<option value="VIUDO(A)">VIUDO(A)</option>
							<option value="CASADO(A)">CASADO(A)</option>
							<option value="UNIÓN LIBRE">UNIÓN LIBRE</option>
						</select>
					</div>

					<div class="col-sm-2" valida>
						<label>Código Postal *</label>
						<input name="codigoPostalBeneficiario" type="text" class="form-control"
							placeholder="Código Postal" ng-model="obj.objeto.codigoPostal" required="" capitalize>
					</div>

					<div class="col-sm-3" valida>
						<label>Residencia *</label>
						<select name="residenciaBeneficiario" ng-model="obj.objeto.residencia"
							data-placeholder="Seleccione" class="form-control" required>
							<option value="PROPIA">PROPIA</option>
							<option value="OTRAS">OTRAS</option>
							<option value="RENTADA">RENTADA</option>
						</select>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-3" valida>
						<label>Ciudad *</label>
						<input name="ciudadBeneficiario" type="text" class="form-control" placeholder="Ciudad"
							ng-model="obj.objeto.ciudad" required="" capitalize>
					</div>

					<div class="col-sm-3" valida>
						<label>Estado *</label>
						<input name="estadoBeneficiario" type="text" class="form-control" placeholder="Estado"
							ng-model="obj.objeto.estado" required="" capitalize>
					</div>

					<div class="col-sm-2" valida>
						<label>Tel. Particular *</label>
						<input name="telefonoBeneficiario" type="text" class="form-control" placeholder="Particular"
							ng-model="obj.objeto.telefonoParticular" required="" capitalize>
					</div>

					<div class="col-sm-2" valida>
						<label>Celular *</label>
						<input name="celularBeneficiario" type="text" class="form-control" placeholder="Celular"
							ng-model="obj.objeto.celular" required="" capitalize>
					</div>

					<div class="col-sm-2" valida>
						<label>Dep Económicos *</label>
						<input name="dependientesBeneficiario" type="text" class="form-control"
							placeholder="Dependientes" ng-model="obj.objeto.dependientesEconomicos" required=""
							capitalize>
					</div>
				</div>

				<div class="row"
					ng-if="obj.objeto.estadoCivil == 'CASADO(A)' || obj.objeto.estadoCivil == 'UNIÓN LIBRE'">
					<div class="col-sm-9" valida>
						<label>Nombre Cónyuge</label>
						<input name="nombreConyugeBeneficiario" type="text" class="form-control" placeholder="Cónyuge"
							ng-model="obj.objeto.nombreConyuge" required="" capitalize>
					</div>

					<div class="col-sm-3" valida>
						<label>Fecha Nacimiento *</label>
						<input name="fechaNacimientoConyugeBeneficiario" type="date" format="dd/MM/yyyy"
							class="form-control" placeholder="Fecha" ng-model="obj.objeto.fechaNacimientoConyuge"
							required="">
					</div>

				</div>

			</div>
			<h3>Datos Laborales</h3>
			<div class="well">
				<div class="row">
					<div class="col-sm-6" valida>
						<label>Empresa donde Trabaja *</label>
						<input name="empresaTrabajaBeneficiario" type="text" class="form-control"
							placeholder="Empresa Trabaja" ng-model="obj.objeto.empresaTrabaja" required="" capitalize>
					</div>
					<div class="col-sm-3" valida>
						<label>Puesto *</label>
						<input name="puestoBeneficiario" type="text" class="form-control" placeholder="Puesto"
							ng-model="obj.objeto.puesto" required="" capitalize>
					</div>
					<div class="col-sm-3">
						<label>Fecha Ingreso</label>
						<input name="fechaIngresoConyugeBeneficiario" type="date" format="dd/MM/yyyy"
							class="form-control" placeholder="Fecha" ng-model="obj.objeto.fechaIngresoConyuge"
							required="">
					</div>
				</div>
				<div class="row">
					<div class="col-sm-3" valida>
						<label>Sueldo Mensual *</label>
						<input name="sueldoBeneficiario" type="number" class="form-control"
							ng-model="obj.objeto.sueldoMensual" required="">
					</div>
					<div class="col-sm-6" valida>
						<label>Domicilio *</label>
						<input name="domicilioTrabajoBeneficiario" type="text" class="form-control"
							placeholder="Domicilio" ng-model="obj.objeto.domicilioTrabajo" required="" capitalize>
					</div>
					<div class="col-sm-3">
						<label>Número</label>
						<input name="numeroTrabajoBeneficiario" type="text" class="form-control" placeholder="Número"
							ng-model="obj.objeto.numeroTrabajo" required="" capitalize>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-4" valida>
						<label>Colonia *</label>
						<input name="coloniaTrabajoBeneficiario" type="text" class="form-control" placeholder="Colonia"
							ng-model="obj.objeto.coloniaTrabajo" required="" capitalize>
					</div>
					<div class="col-sm-2" valida>
						<label>Código Postal *</label>
						<input name="codigoPostalTrabajoBeneficiario" type="text" class="form-control"
							placeholder="Código Postal" ng-model="obj.objeto.codigoPostalTrabajo" required=""
							capitalize>
					</div>

					<div class="col-sm-3" valida>
						<label>Ciudad *</label>
						<input name="ciudaTrabajodBeneficiario" type="text" class="form-control" placeholder="Ciudad"
							ng-model="obj.objeto.ciudadTrabajo" required="" capitalize>
					</div>

					<div class="col-sm-3" valida>
						<label>Estado *</label>
						<input name="estadoTrabajoBeneficiario" type="text" class="form-control" placeholder="Estado"
							ng-model="obj.objeto.estadoTrabajo" required="" capitalize>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-3" valida>
						<label>Telefono *</label>
						<input name="telefonoTrabajoBeneficiario" type="text" class="form-control" placeholder="Estado"
							ng-model="obj.objeto.telefonoTrabajo" required="" capitalize>
					</div>
				</div>

			</div>

			<h3>Referencias</h3>
			<div class="well">
				<h4>Referencia 1</h4>
				<div class="row">
					<div class="col-sm-4" valida>
						<label>Nombre *</label>
						<input name="nombreReferencia1" type="text" class="form-control" placeholder="nombre"
							ng-model="obj.objeto.nombreReferencia1" required="" capitalize>
					</div>
					<div class="col-sm-4" valida>
						<label>Apellido Paterno *</label>
						<input name="apellidoPaternoReferencia1" type="text" class="form-control"
							placeholder="Apellido Paterno" ng-model="obj.objeto.apellidoPaternoReferencia1" required=""
							capitalize>
					</div>
					<div class="col-sm-4" valida>
						<label>Apellido Materno</label>
						<input name="apellidoMaternoReferencia1" type="text" class="form-control"
							placeholder="Apellido Materno" ng-model="obj.objeto.apellidoMaternoReferencia1" capitalize>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-4" valida>
						<label>Relación *</label>
						<input name="relacionReferencia1" type="text" class="form-control" placeholder="Relación"
							ng-model="obj.objeto.relacionReferencia1" required="" capitalize>
					</div>
					<div class="col-sm-4" valida>
						<label>Tiempo Conocerlo *</label>
						<input name="tiempoConocerloReferencia1" type="text" class="form-control"
							placeholder="Tiempo Conocerlo" ng-model="obj.objeto.tiempoConocerloReferencia1" required=""
							capitalize>
					</div>
					<div class="col-sm-4">
						<label>Teléfono *</label>
						<input name="telefonoReferencia1" type="text" class="form-control" placeholder="Teléfono"
							ng-model="obj.objeto.telefonoReferencia1" required="" capitalize>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-4" valida>
						<label>Dirección *</label>
						<input name="direccionReferencia1" type="text" class="form-control" placeholder="Dirección"
							ng-model="obj.objeto.direccionReferencia1" required="" capitalize>
					</div>
					<div class="col-sm-2" valida>
						<label>Núm. Ext. *</label>
						<input name="numeroExteriroReferencia1" type="text" class="form-control"
							placeholder="Número Etx." ng-model="obj.objeto.numeroExteriroReferencia1" required=""
							capitalize>
					</div>
					<div class="col-sm-3" valida>
						<label>Colonia *</label>
						<input name="coloniaReferencia1" type="text" class="form-control" placeholder="Colonia"
							ng-model="obj.objeto.coloniaReferencia1" required="" capitalize>
					</div>
					<div class="col-sm-3" valida>
						<label>Estado *</label>
						<input name="estadoReferencia1" type="text" class="form-control" placeholder="Estado"
							ng-model="obj.objeto.estadoReferencia1" required="" capitalize>
					</div>
				</div>
				<h4>Referencia 2</h4>
				<div class="row">
					<div class="col-sm-4" valida>
						<label>Nombre *</label>
						<input name="nombreReferencia2" type="text" class="form-control" placeholder="Nombre"
							ng-model="obj.objeto.nombreReferencia2" required="" capitalize>
					</div>
					<div class="col-sm-4" valida>
						<label>Apellido Paterno *</label>
						<input name="apellidoPaternoReferencia2" type="text" class="form-control"
							placeholder="Apellido Paterno" ng-model="obj.objeto.apellidoPaternoReferencia2" required=""
							capitalize>
					</div>
					<div class="col-sm-4" valida>
						<label>Apellido Materno</label>
						<input name="apellidoMaternoReferencia2" type="text" class="form-control"
							placeholder="Apellido Materno" ng-model="obj.objeto.apellidoMaternoReferencia2" capitalize>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-4" valida>
						<label>Relación *</label>
						<input name="relacionReferencia2" type="text" class="form-control" placeholder="Relación"
							ng-model="obj.objeto.relacionReferencia2" required="" capitalize>
					</div>
					<div class="col-sm-4" valida>
						<label>Tiempo Conocerlo *</label>
						<input name="tiempoConocerloReferencia2" type="text" class="form-control"
							placeholder="Tiempo Conocerlo" ng-model="obj.objeto.tiempoConocerloReferencia2" required=""
							capitalize>
					</div>
					<div class="col-sm-4">
						<label>Teléfono *</label>
						<input name="telefonoReferencia2" type="text" class="form-control" placeholder="Teléfono"
							ng-model="obj.objeto.telefonoReferencia2" required="" capitalize>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-4" valida>
						<label>Dirección *</label>
						<input name="direccionReferencia2" type="text" class="form-control" placeholder="Dirección"
							ng-model="obj.objeto.direccionReferencia2" required="" capitalize>
					</div>
					<div class="col-sm-2" valida>
						<label>Núm. Ext. *</label>
						<input name="numeroExteriroReferencia2" type="text" class="form-control"
							placeholder="Número Etx." ng-model="obj.objeto.numeroExteriroReferencia2" required=""
							capitalize>
					</div>
					<div class="col-sm-3" valida>
						<label>Colonia *</label>
						<input name="coloniaReferencia2" type="text" class="form-control" placeholder="Colonia"
							ng-model="obj.objeto.coloniaReferencia2" required="" capitalize>
					</div>
					<div class="col-sm-3" valida>
						<label>Estado *</label>
						<input name="estadoReferencia2" type="text" class="form-control" placeholder="Estado"
							ng-model="obj.objeto.estadoReferencia2" required="" capitalize>
					</div>
				</div>
			</div>

			<div class="well">
				<div class="row">
					<div class="col-sm-12">
						<input type="submit" ng-click="obj.guardar(obj.objeto,form)" value="Guardar"
							class="btn btn-primary" ng-show="obj.action" valida-form formulario="form">
						<input type="submit" ng-click="obj.actualizar(obj.objeto,form)" value="Actualizar"
							class="btn btn-primary" ng-show="!obj.action" valida-form formulario="form">
					</div>
				</div>
			</div>
		</form>
	</div>
</div>