<div class="row">
	<div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
		<h1 class="alge-title txt-color-blueDark">
			<i class="fa fa-list fa-fw "></i>
				Calculadora
		</h1>
	</div>
</div>
<br>
<!-- Cabecera del perfil de  alumno seleccionado -->
<div class="row">
	<div class="col-sm-12">
		<div class="well well-sm">
			<div class="row">
				<div class="col-sm-12 col-md-12 col-lg-12">
					<div class="well well-light well-sm no-margin no-padding">
						<div class="row">
							<div class="col-sm-12">
								<div id="myCarousel" class="carousel profile-carousel">
									<div class="air air-bottom-right padding-10">
										<a ng-if="currentUser.roles[0] == 'Gerente' || currentUser.roles[0] == 'Cajero' || currentUser.roles[0] == 'Verificador' " ui-sref="root.clienteDetalle({objeto_id : cal.cliente._id})" class="btn txt-color-white bg-color-teal btn-sm"><i class="fa fa-user"></i> Ir a mi perfil</a>&nbsp; 
									</div>
									<!-- <a	ui-sref="root.editarCliente({objeto_id : cd.objeto._id})" class="btn txt-color-white bg-color-pinkDark btn-sm" ng-if="currentUser.roles[0] == 'Gerente' || currentUser.roles[0] == 'Cajero'">
	 										<i class="fa fa-pencil"></i> Modificar
	 								</a>  -->
									<div class="air air-top-left padding-10">
										<h4 class="txt-color-white font-md"><i class="fa fa-calendar"></i>&nbsp;&nbsp;{{cal.fechaActual | date:'dd-MM-yyyy'}}</h4>
									</div>
									<ol class="carousel-indicators">
									</ol>
									<div class="carousel-inner">
										<div class="item active">
											<img src="img/demo/s1.jpg" alt="" style="width:100%">
										</div>
									</div>
								</div>
							</div>
							<div class="col-sm-12">
								<div class="row">
									<div class="col-sm-2 profile-pic" style="text-align:left;width:initial;">
										<img style="max-width:200px;" src="{{cal.tieneFoto(cal.cliente.profile.sexo, cal.cliente.profile.foto)}}" >
									</div>
									<div class="col-sm-6">
										<h1>{{cal.cliente.profile.nombre}} <span class="semi-bold">{{cal.cliente.profile.apellidoPaterno}} {{cal.cliente.profile.apellidoMaterno}}</span>
										
										<small> (Cliente)</small></h1>
										<ul class="list-unstyled">
											<li>
												<p class="text-muted">
													<i class="fa fa-key fa-lg"></i>&nbsp;&nbsp;
													<span class="txt-color-darken">
														<strong>{{cal.cliente.profile.username}}</strong>
													</span>
												</p>
											</li>
											<li>
												<p class="text-muted">
													<i class="fa fa-phone fa-lg"></i>&nbsp;&nbsp;<span class="txt-color-darken">{{cal.cliente.profile.telefono}}</span>
												</p>
											</li>
											<li>
												<p class="text-muted">
													<i class="fa fa-envelope fa-lg"></i>&nbsp;&nbsp;<a href="mailto:{{cal.cliente.profile.correo}}">{{cal.cliente.profile.correo}}</a>
												</p>
											</li>
											<li>
												<p class="text-muted">
													<i class="fa fa-birthday-cake fa-lg"></i>&nbsp;&nbsp;<span class="txt-color-darken">{{cal.cliente.profile.fechaNacimiento | date:"dd-MM-yyyy"}}</span>
												</p>
											</li>
											<li>
												<p class="text-muted">
													<i class="fa fa-calendar fa-lg"></i>&nbsp;&nbsp;<span class="txt-color-darken">{{cal.objeto.profile.fechaCreacion | date:"dd-MM-yyyy"}}(Fecha de alta)</span>
												</p>
											</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12">
					<form name="formNuevoCredito" class="form-horizontal" role="form" novalidate>
				  	<div class="well">
					    <div class="row">
						    <div class="col-sm-4" valida>
						    	<label>Tipo de crédito *</label>
						    	<select name="tipoCreditoNuevo" class="form-control" ng-model="cal.credito.tipoCredito_id" required="">
							    	<option value="{{tipoCredito._id}}" ng-repeat="tipoCredito in cal.tiposCredito">{{tipoCredito.nombre}}</option>
						    	</select>
					    	</div>
					    	<div class="col-sm-4" valida>
						    	<label>Periodo de pago *</label>
						    	<select name="periodoCreditoNuevo" class="form-control" ng-model="cal.credito.periodoPago" required="">
							    	<option value="Semanal">Semanal</option>
							    	<option value="Quincenal">Quincenal</option>
							    	<option value="Mensual">Mensual</option>
						    	</select>
					    	</div>									    	
					    	<div class="col-sm-4" valida>					    
						    	<label>Duración (Meses) *</label>
						    	<input name="duracionMesesCreditoNuevo" type="number" class="form-control" placeholder="Duración en Meses" ng-model="cal.credito.duracionMeses" required="">
					    	</div>									    	
					    </div>
					    <div class="row">
					    	<div class="col-sm-2" valida>
						    	<label>Capital Solicitado *</label>
						    	<input name="capitalSolicitadoCreditoNuevo" type="number" class="form-control" placeholder="Capital Solicitado" ng-model="cal.credito.capitalSolicitado" required="">
					    	</div>
					    </div>
						</div>						
						<div class="row">
							<div class="col-sm-12">
								<button class="btn btn-info" ng-click="cal.generarPlanPagos(cal.credito, formNuevoCredito)" valida-form formulario="formNuevoCredito">Calcular Plan de Pagos</button>
							</div>
						</div>	  
				  </form>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="row" >
	<div class="col-sm-12" >
	<div id="print" > 
		<table class="table table-striped table-bordered table-condensed font-xs">
			<caption>
				<h4>Plan Nuevo</h4>
			</caption>
			<thead class="thead">
				<tr>
					<th class="text-center" width="5%">No.</th>
					<th class="text-center" width="20%">Fecha de Pago</th>
					<th class="text-center" width="15%">Pago</th>
					<th class="text-center" width="10%">Capital</th>
					<th class="text-center" width="10%">Interes</th>
					<th class="text-center" width="10%">Seguro</th>
					<th class="text-center" width="10%">IVA</th>
					<th class="text-center" width="10%">Importe total</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-class="( pago.estatus == 1 ) ? 'success' : ( pago.fecha < cal.fechaActual && pago.estatus == 0 ) ? 'warning' : ( pago.estatus == 2 ) ? 'danger' : 'info'" ng-repeat="pago in cal.planPagos">
					<td class="text-center">{{$index + 1}}</td>	
					<td class="text-center">{{pago.fechaLimite | date:"dd-MM-yyyy"}}</td>
					<td class="text-center">{{pago.numeroPago}} - {{cal.planPagos.length}}</td>
					<td class="text-right">{{pago.capital | currency}}</td>
					<td class="text-right">{{pago.interes | currency}}</td>
					<td class="text-right">{{pago.seguro | currency}}</td>
					<td class="text-right">{{pago.iva | currency}}</td>
					<td class="text-right">{{pago.importeRegular | currency}}</td>
				</tr>
			</tbody>
		</table>
		</div>

		<button class="btn btn-success" ng-click="cal.generarCredito()">Guardar Solicitud de Crédito</button>
	</div>
</div>


