<div class="row">
	<div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
		<h1 class="alge-title txt-color-blueDark">
			<i class="fa fa-list fa-fw "></i>
				Calculadora
		</h1>
	</div>
</div>
<br>
<!-- Cabecera del perfil de  alumno seleccionado -->
<div class="row">
	<div class="col-sm-12">
		<div class="well well-sm">
			<div class="row">
				<div class="col-sm-12">
					<form name="formNuevoCredito" class="form-horizontal" role="form" novalidate>
				  	<div class="well">
					  	<div class="row">  
					  		<div class="col-sm-3" valida>
						  		<label>Nombre del cliente</label>
						  		<input name="nombreCliente" type="text" class="form-control" placeholder="Nombre completo" ng-model="cal.credito.nombre">
					  		</div>
					  		<div class="col-sm-3" valida>
						    	<label>Tipo de crédito *</label>
						    	<select name="tipoCreditoNuevo" class="form-control" ng-model="cal.credito.tipoCredito_id" required="">
							    	<option value="{{tipoCredito._id}}" ng-repeat="tipoCredito in cal.tiposCredito">{{tipoCredito.nombre}}</option>
						    	</select>
					    	</div>
					    	<div class="col-sm-3" valida>
							    <label>Tasa %*</label>
						    	<input name="tasa" type="number" class="form-control" ng-model="cal.credito.tasa" required>
						    </div>
					    	<div class="col-sm-3" valida>
						    	<label>Periodo de pago *</label>
						    	<select name="periodoCreditoNuevo" class="form-control" ng-model="cal.credito.periodoPago" required="">
							    	<option value="Semanal">Semanal</option>
							    	<option value="Quincenal">Quincenal</option>
							    	<option value="Mensual">Mensual</option>
						    	</select>
					    	</div>
					  	</div>
					    <div class="row">
					    	<div class="col-sm-3" valida>					    
						    	<label>Duración (Meses) *</label>
						    	<input name="duracionMesesCreditoNuevo" type="number" class="form-control" placeholder="Duración en Meses" ng-model="cal.credito.duracionMeses" required="">
					    	</div>				
					    	<div class="col-sm-3">					    
						    	<label>Con Seguro</label>
						    	<input name="conSeguro" type="checkbox" class="form-control" ng-model="cal.credito.conSeguro">
					    	</div>	
					    	<div class="col-sm-3" ng-if="cal.credito.conSeguro" valida>
							    <label>Importe seguro semanal *</label>
						    	<input name="seguro" type="number" class="form-control" placeholder="Seguro" ng-model="cal.credito.seguro"  required>
						    </div>    	
					    	<div class="col-sm-3" valida>
						    	<label>Capital Solicitado *</label>
						    	<input name="capitalSolicitadoCreditoNuevo" type="number" class="form-control" placeholder="Capital Solicitado" ng-model="cal.credito.capitalSolicitado" required="">
					    	</div>		
					    </div>
					    <div class="row">

					    </div>
						</div>
						<div class="row">
							<div class="col-sm-12">
								<button class="btn btn-info" ng-click="cal.generarPlanPagos(cal.credito, formNuevoCredito)" valida-form formulario="formNuevoCredito">Calcular Plan de Pagos</button>
							</div>
						</div>	  
				  </form>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-sm-12">
		<div id="print"> 
			<table class="table table-striped table-bordered table-condensed font-xs">
				<caption>
					<h4>Plan Nuevo</h4>
				</caption>
				<thead class="thead">
					<tr>
						<th class="text-center" width="5%">No.</th>
						<th class="text-center" width="20%">Fecha de Pago</th>
						<th class="text-center" width="15%">Pago</th>
						<th class="text-center" width="10%">Capital</th>
						<th class="text-center" width="10%">Interés</th>
						<th class="text-center" width="10%">IVA</th>
						<th class="text-center" width="10%">Seguro</th>
						<th class="text-center" width="10%">Importe total</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-class="( pago.estatus == 1 ) ? 'success' : ( pago.fecha < cal.fechaActual && pago.estatus == 0 ) ? 'warning' : ( pago.estatus == 2 ) ? 'danger' : 'info'" ng-repeat="pago in cal.planPagos">
						<td class="text-center">{{$index + 1}}</td>	
						<td class="text-center">{{pago.fechaLimite | date:"dd-MM-yyyy"}}</td>
						<td class="text-center">{{pago.numeroPago}} - {{cal.planPagos.length}}</td>
						<td class="text-right">{{pago.capital | currency}}</td>
						<td class="text-right">{{pago.interes | currency}}</td>
						<td class="text-right">{{pago.iva | currency}}</td>
						<td class="text-right">{{pago.seguro | currency}}</td>
						<td class="text-right">{{pago.importeRegular | currency}}</td>
					</tr>
					<tr><td colspan="8" class="text-right">Total: {{cal.total | currency}}</td></tr>
				</tbody>
			</table>
		</div>
		<a class="btn btn-success" ng-click="cal.imprimirCredito(cal.planPagos,cal.credito,cal.avales,cal.garantiasGeneral)">Imprimir Plan</a>
	</div>
</div>