<div class="row">
	<div class="col-sm-12">
		<div class="well well-sm">
			<div class="row">
				<div class="col-sm-12 col-md-12 col-lg-12">
					<div class="well well-light well-sm no-margin no-padding">
						<div class="row">
							<div class="col-sm-12">
								<div id="myCarousel" class="carousel profile-carousel">
									<div class="air air-bottom-right padding-10" ng-repeat="credito in vpp.creditos">
										<a ng-if="currentUser.roles[0] == 'Gerente' || currentUser.roles[0] == 'Ventanilla'" ui-sref="root.clienteDetalle({objeto_id : vpp.cliente._id})" class="btn txt-color-white bg-color-teal btn-sm"><i class="fa fa-user"></i> Ir a mi perfil</a>&nbsp;
										<a ng-if="currentUser.roles[0] == 'Gerente' || currentUser.roles[0] == 'Ventanilla'" ui-sref="root.editarCliente({objeto_id : vpp.cliente._id})" class="btn txt-color-white bg-color-pinkDark btn-sm">
	 										<i class="fa fa-pencil"></i> Modificar
	 									</a> 
	 									<a ng-if="currentUser.roles[0] == 'Gerente' || currentUser.roles[0] == 'Ventanilla'" ui-sref="root.historialPagos({objeto_id : vpp.cliente._id,credito_id : credito._id})" class="btn txt-color-white bg-color-pinkDark btn-sm">
	 										<i class="fa fa-pencil"></i> Historial de Creditos
	 									</a> 
									</div>
									<div class="air air-top-left padding-10">
										<h4 class="txt-color-white font-md"><i class="fa fa-calendar"></i>&nbsp;&nbsp;{{vpp.fechaActual | date:'dd-MM-yyyy'}}</h4>
									</div>
									<ol class="carousel-indicators">
									</ol>
									<div class="carousel-inner">
										<div class="item active">
											<img src="img/demo/s1.jpg" alt="" style="width:100%">
										</div>
									</div>
								</div>
							</div>
							<div class="col-sm-12">
								<div class="row">
									<div class="col-sm-2 profile-pic" style="text-align:left;width:initial;">
										<img style="max-width:200px;" src="{{vpp.tieneFoto(vpp.cliente.profile.sexo, vpp.cliente.profile.fotografia)}}" >
										<div class="padding-10">
											<h4 class="font-md"><strong>0</strong>
											<br>
											<small>Seguidores</small></h4>
											<br>
											<h4 class="font-md"><strong>0</strong>
											<br>
											<small>Amigos</small></h4>
										</div>
										<input id="certificacionPatrimonial" class="btn btn-primary" type="button" ng-click="vpp.download()" value="Certificación Patrimonial" />
									</div>
									<div class="col-sm-2">
										<h1>{{vpp.cliente.profile.nombre}} <span class="semi-bold">{{vpp.cliente.profile.apellidoPaterno}} {{vpp.cliente.profile.apellidoMaterno}}</span>
										
										<small> (Cliente)</small></h1>
										<ul class="list-unstyled">
											<li>
												<p class="text-muted">
													<i class="fa fa-key fa-lg"></i>&nbsp;&nbsp;
													<span class="txt-color-darken">
														<strong>{{vpp.cliente.username}}</strong>
													</span>
												</p>
											</li>
											<li>
												<p class="text-muted">
													<i class="fa fa-phone fa-lg"></i>&nbsp;&nbsp;<span class="txt-color-darken">{{vpp.cliente.profile.telefono}}</span>
												</p>
											</li>
											<li>
												<p class="text-muted">
													<i class="fa fa-envelope fa-lg"></i>&nbsp;&nbsp;<a href="mailto:{{vpp.cliente.profile.correo}}">{{vpp.cliente.profile.correo}}</a>
												</p>
											</li>
											<li>
												<p class="text-muted">
													<i class="fa fa-birthday-cake fa-lg"></i>&nbsp;&nbsp;<span class="txt-color-darken">{{vpp.cliente.profile.fechaNacimiento | date:"dd-MM-yyyy"}}</span>
												</p>
											</li>
										</ul>
										<br>
										<p class="font-sm">
											<i>Un poco acerca de mi...</i>
										</p>
										<p class="font-xs">
											{{vpp.cliente.profile.observacionesGenerales}}
										</p>
										<br>
									</div>
									<div class="col-sm-7" style="margin-top: 0;">

									<div  role="widget"><!-- class="jarviswidget" id="wid-id-6" -->

								<!-- widget div-->
								<br/>

								<div role="content">
									<div class="widget-body">
										<div class="tabs-right">
											<ul class="nav nav-tabs">
												<li class="active" >
													<a  aria-expanded="false" href="#tab1" data-toggle="tab">Información del contacto </a>
												</li>
												<li>
													<a  aria-expanded="false" href="#tab2" data-toggle="tab">Particulares</a>
												</li>
												<li >
													<a  aria-expanded="false" href="#tab3" data-toggle="tab">Dirección</a>
												</li>
												<li>
													<a aria-expanded="false" href="#tab4" data-toggle="tab">Información laboral</a>
												</li>
											</ul>
											<div class="tab-content" >
												<div class="tab-pane active" id="tab1" style="margin-right: 10%;">
													<div class="table-responsive">	
														<dl class="dl-horizontal" >
														  <dt>Particular:</dt>
														  <dd>Agregar al form</dd>
														  <dt> Telefono Oficina:</dt>
														  <dd>agregar al form</dd>
														  <dt>e-mail:</dt>
														  <dd>{{vpp.cliente.profile.correo}}</dd>
														  <dt>Movil:</dt>
														  <dd>{{vpp.cliente.profile.telefono}}</dd>
														  <dt>Alternativo:</dt>
														  <dd>{{vpp.cliente.profile.otroTelefono}}</dd>
														</dl>
													</div>
												</div>
												<div class="tab-pane" id="tab2">
													<div class="table-responsive">										
														<dl class="dl-horizontal">
														  <dt>Sexo:</dt>
														  <dd>{{vpp.cliente.profile.sexo}}</dd>
														  <dt>Nacimiento:</dt>
														  <dd>{{vpp.cliente.profile.fechaNacimiento | date:"dd-MM-yyyy"}}</dd>
														  <dt>Ocupación:</dt>
														  <dd>{{vpp.cliente.profile.ocupacion.nombre}}</dd>
														  <dt>Estado civil:</dt>
														  <dd>{{vpp.cliente.profile.estadoCivil.nombre}}</dd>
														  <dt>Nacionalidad:</dt>
														  <dd>{{vpp.cliente.profile.nacionalidad.nombre}}</dd>
														</dl>
													 </div>
												</div>
												<div class="tab-pane" id="tab3">
													<div class="table-responsive">									
														<dl class="dl-horizontal">
														  <dt>Calle:</dt>
														  <dd>{{vpp.cliente.profile.calle}}</dd>
														  <dt>Colonia:</dt>
														  <dd>{{vpp.cliente.profile.colonia}}</dd>
														  <dt>Estado:</dt>
														  <dd>{{vpp.cliente.profile.estado.nombre}}</dd>
														  <dt>Codigo Postal</dt>
														  <dd>{{vpp.cliente.profile.codigoPostal}}</dd>
														  <dt>Señas:</dt>
														  <dd>Falta de agregar al form</dd>
														  <dt>Localidad:</dt>
														  <dd>nacionalidad_id</dd>
														  <dt>País:</dt>
														  <dd>{{vpp.cliente.profile.pais.nombre}}</dd>
														  <dt>Tiempo:</dt>
														  <dd>{{vpp.cliente.profile.tiempoResdencia}}</dd>
														
														</dl>

													 </div>
													 
												</div>
												<div class="tab-pane" id="tab4">
																	
														<div class="table-responsive">				
															<dl class="dl-horizontal">
															  <dt>Empresa:</dt>
															  <dd>{{vpp.cliente.profile.empresa.nombre}}</dd>
															  <dt>Calle:</dt>
															  <dd>{{vpp.cliente.profile.empresa.calle}}</dd>
															  <dt>Colonia:</dt>
															  <dd>{{vpp.cliente.profile.empresa.colonia}}</dd>
															  <dt>Estado</dt>
															  <dd>{{vpp.cliente.profile.estado.nombre}}</dd>
															  <dt>Código Postal:</dt>
															  <dd>{{vpp.cliente.profile.empresa.codigoPostal}}</dd>
															  <dt>Telefono:</dt>
															  <dd>{{vpp.cliente.profile.empresa.telefono}}</dd>
															  <dt>Departamento:</dt>
															  <dd>{{vpp.cliente.profile.empresa.departamento}}</dd>
															  <dt>Jefe inmediato:</dt>
															  <dd>{{vpp.cliente.profile.empresa.jefeInmediato}}</dd>
															  <dt>Localidad:</dt>
															  <dd>Localidad(agregar al form)</dd>
															  <dt>País:</dt>
															  <dd>{{vpp.cliente.profile.pais.nombre}}</dd>
															  <dt>Antiguedad:</dt>
															  <dd>{{vpp.cliente.profile.empresa.tiempoLaborando}}</dd>
															  <dt>Numero:</dt>
															  <dd>{{vpp.cliente.profile.empresa.numero}}</dd>
															
															</dl>

													 	</div>
													
												</div>
											</div>
										</div>
				
									</div>
									<!-- end widget content -->
				
								</div>
								<!-- end widget div -->
				
							</div>
									</div>

						
								</div>
								<div class="row">
									<div class="col-sm-12">
										<ul class="nav nav-tabs">
											<li class="pull-right">
												<a ng-click="vpp.masInformacion()" role="button" data-toggle="collapse"
			href="#masInformacion" aria-expanded="false" aria-controls="masInformacion"><i class="fa fa-{{vpp.masInfo == true ? 'plus':'minus'}} fa-lg"></i></a>
											</li>
										</ul>
										<div class="collapse padding-10" id="masInformacion">
											<div class="tab-pane">
												<div class="col-sm-6">
													<ul class="list-unstyled">															
														<li>
															<address>
															  <strong>Información de la Madre</strong><br>
															  <strong>Nombre:</strong> {{vpp.cliente.profile.madre}}<br>
															  <strong>Teléfono:</strong> {{vpp.cliente.profile.telefonoMadre}}
															  <strong>Correo:</strong> {{vpp.cliente.profile.correoMadre}}
															</address>
														</li>
														<li>
															<address>
															  <strong>Dirección</strong><br>
															  {{vpp.cliente.profile.calleNum}}, {{vpp.cliente.profile.colonia}}<br>
															  {{vpp.cliente.profile.ciudad}}, {{vpp.cliente.profile.estado}} {{vpp.cliente.profile.codigoPostal}}<br>
															</address>
														</li>
														<li>
															<address>
															  <strong>Lugar de Nacimiento</strong><br>
															  {{vpp.cliente.profile.lugarNac}}
															</address>
														</li>
														<li>
															<address>
															  <strong>Escolaridad</strong><br>
															  {{vpp.cliente.profile.escolaridad}}
															</address>
														</li>		
														<li>
															<address>
															  <strong>Nivel Social</strong><br>
															  {{vpp.cliente.profile.nivelSocial}}
															</address>
														</li>
														<li>
															<address>
															  <strong>Correo para Calificaciones</strong><br>
															  {{vpp.cliente.profile.correoCalificaciones}}
															</address>
														</li>											
													</ul>	
												</div>
												<div class="col-sm-6">
													<ul class="list-unstyled">
														<li>
															<address>
															  <strong>Información del Padre</strong><br>
															  <strong>Nombre:</strong> {{vpp.cliente.profile.padreTutor}}<br>
															  <strong>Teléfono:</strong> {{vpp.cliente.profile.telefonoPadre}}
															  <strong>Correo:</strong> {{vpp.cliente.profile.correoPadre}}
															</address>
														</li>
														<li>
															<address>
															  <strong>Teléfono Secundario</strong><br>
																{{vpp.cliente.profile.tel2}}															  
															</address>
														</li>													
														<li>
															<address>
															  <strong>Ocupación del Alumno</strong><br>
															  {{vpp.getOcupacion(vpp.cliente.profile.ocupacion_id)}}
															</address>
														</li>													
														<li>
															<address>
															  <strong>Cómo te enteraste de nosotros</strong><br>
															  {{vpp.cliente.profile.medio}}
															</address>
														</li>
														<li>
															<address>
															  <strong>Talla</strong><br>
																{{vpp.cliente.profile.talla}}															  
															</address>
														</li>														
													</ul>	
												</div>
											</div>											
											<div class="tab-pane" id="pagos">												
												<div class="row">
													<section class="col col-sm-1 text-center padding-20" ng-repeat="semana in vpp.misSemanas" ng-click="vpp.seleccionarSemana(semana)" ng-class="($index == vpp.misSemana.length) ? vpp.obtenerEstatus(semana.pagada) : ''">
														<label class="input text-center">
															<label type="text" class="text-center">{{semana.numero}} / {{semana.anio}} | {{semana.pagada}}</label>
														</label>
													</section>													
												</div>																		
											</div>											
										</div>
									</div>
								</div>
							</div>													
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Formulario para cambiar algún dato de un pago -->
<div class="row"> 
	<div class="col-sm-12">
		<div class="collapse" id="collapseMasivaSemanas">
			<form name="formMasivoSemanas" class="form-horizontal" role="form" novalidate>
		  	<div class="well">	    
			  	<div class="row">
			  		<div class="col-sm-12">
			  			<div class="alert alert-warning">
			  			 <p><i class="fa-fw fa fa-warning"></i> La <strong>actualización masiva</strong> es una herramienta que actualizará el importe, recargo y descuento en un rango de semanas dadas, por favor asegúrese de hacerlo correctamente.</p>
			  			 <p><strong>No se pueden modificar colegiaturas pagadas</strong></p>
			  			</div>
			  		</div>
			  	</div>
			    <div class="row">
			    	<div class="col-sm-4" valida>
				    	<label>Fecha Inicial *</label>
				    	<input date-time format="dd-MM-yyyy" class="form-control" view="year" max-view="year" min-view="date" ng-model="vpp.cambioSemanasPlanPagos.fechaInicial" name="fechacambioSemanasPlanPagos" required/>
			    	</div>
			    	<div class="col-sm-4" valida>					    
				    	<label>Total de Pagos *</label>
				    	<input name="totalPagosCambioSemanasPlanPagos" type="number" class="form-control" ng-model="vpp.cambioSemanasPlanPagos.totalPagos" required="">
			    	</div>
			    </div>
			    <div class="row">
			    	<div class="col-sm-4" valida>
				    	<label>Importe *</label>
				    	<input name="importeRegularCambioSemanasPlanPagos" type="number" class="form-control" placeholder="Nuevo costo colegiatura" ng-model="vpp.cambioSemanasPlanPagos.importeRegular" required="">
			    	</div>
			    	<div class="col-sm-4" valida>					    
				    	<label>Importe Recargo *</label>
				    	<input name="importeRecargoCambioSemanasPlanPagos" type="number" class="form-control" placeholder="Monto recargo" ng-model="vpp.cambioSemanasPlanPagos.importeRecargo" required="">
			    	</div>
			    	<div class="col-sm-4" valida>					    
				    	<label>Importe Descuento *</label>
				    	<input name="importeDescuentoCambioSemanasPlanPagos" type="number" class="form-control" placeholder="Monto descuento" ng-model="vpp.cambioSemanasPlanPagos.importeDescuento" required="">
			    	</div>
			    	<div class="col-sm-4" valida>					    
				    	<label>Días Recargo *</label>
				    	<input name="diasRecargoCambioSemanasPlanPagos" type="number" class="form-control" ng-model="vpp.cambioSemanasPlanPagos.diasRecargo" required="">
			    	</div>
			    	<div class="col-sm-4" valida>					    
				    	<label>Días Descuento *</label>
				    	<input name="diasDescuentoCambioSemanasPlanPagos" type="number" class="form-control" ng-model="vpp.cambioSemanasPlanPagos.diasDescuento" required="">
			    	</div>
			    </div> 
				</div>
				<div class="row">
					<div class="col-sm-12">
						<button class="btn btn-info" ng-click="vpp.planPagosSemana(vpp.cambioSemanasPlanPagos, formMasivoSemanas)" valida-form formulario="formMasivoSemanas">Calcular Plan de Pagos</button>
					</div>
				</div>	  
		  </form>
		</div>
	</div>
</div>
<!-- Tabla para mostrar los pagos -->

<div class="jarviswidget" id="wid-id-5" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-fullscreenbutton="false" data-widget-custombutton="false" data-widget-sortable="false" role="widget"
 ng-repeat="credito in vpp.creditos">
							
								<!-- <header role="heading"><div class="jarviswidget-ctrls" role="menu">   <a href="javascript:void(0);" class="button-icon jarviswidget-toggle-btn" rel="tooltip" title="" data-placement="bottom" data-original-title="Collapse"><i class="fa fa-minus "></i></a>  <a href="javascript:void(0);" class="button-icon jarviswidget-delete-btn" rel="tooltip" title="" data-placement="bottom" data-original-title="Delete"><i class="fa fa-times"></i></a></div>
									<h2>Tabs left </h2>
									<div class="widget-toolbar hidden-phone" role="menu">
										<div class="smart-form">
											<label class="toggle">
												<input type="checkbox" id="demo-switch-to-pills" name="checkbox-toggle">
												<i data-swchon-text="TRUE" data-swchoff-text="FALSE"></i>Switch Navs / Pills</label>
										</div>
									</div>
								<span class="jarviswidget-loader"><i class="fa fa-refresh fa-spin"></i></span></header> -->
				
								<!-- widget div-->
								<div role="content">
				
									<!-- widget edit box -->
									<div class="jarviswidget-editbox">
										<!-- This area used as dropdown edit box -->
				
									</div>
									<!-- end widget edit box -->
				
									<!-- widget content -->
									<div class="widget-body">
				
										<div class="tabs-left">
											<ul class="nav nav-tabs tabs-left" id="demo-pill-nav">
												<li class="active">
													<a href="#tab-r1" data-toggle="tab" aria-expanded="true"> Detalles de la Solicitud </a>
												</li>
												<li class="">
													<a href="#tab-r2" data-toggle="tab" aria-expanded="false">Avales</a>
												</li>
												<li class="">
													<a href="#tab-r3" data-toggle="tab" aria-expanded="false">Garantias</a>
												</li>
											</ul>
											<div class="tab-content">
												<div class="tab-pane active" id="tab-r1">
												<div class="table-responsive">
													<dl class="dl-horizontal">
														  <dt>Tipo de Credito</dt>
														  <dd>{{credito.nombreTipoCredito.nombre}}</dd>
														  <dt>Periodo de Pago</dt>
														  <dd>{{credito.periodoPago}}</dd>
														  <dt>Capital Solicitado</dt>
														  <dd>{{credito.capitalSolicitado | currency}}</dd>
														  <dt>Duración</dt>
														  <dd>{{credito.duracionMeses}}</dd>
														</dl>
												</div>
												</div>
												<div class="tab-pane" id="tab-r2">
												<div class="table-responsive">
													<dl class="dl-horizontal">
														  <dt>Nombre:</dt>
														  <dd>{{credito.avales[0].nombre}}</dd>
														  <dt>Estado Civil:</dt>
														  <dd>{{credito.avales[0].estadoCivil}}</dd>
														  <dt>Ocupación:</dt>
														  <dd>{{credito.avales[0].ocupacion}}</dd>
														  <dt>Empresa:</dt>
														  <dd>{{credito.avales[0].empresa}}</dd>
														  <dt>Antiguedad:</dt>
														  <dd>{{credito.avales[0].antiguedad}}</dd>
														  <dt>Dirección:</dt>
														  <dd>{{credito.avales[0].direccion}}</dd>
														  <dt>Parentezco:</dt>
														  <dd>{{credito.avales[0].parentezco}}</dd>
														  <dt>Tiempo de Conocerlo:</dt>
														  <dd>{{credito.avales[0].tiempoConocerlo}}</dd>
														</dl>
												</div>
												</div>
												<div class="tab-pane " id="tab-r3">

												<div class="table-responsive">
													<dl class="dl-horizontal">
														  <dt>Tipo:</dt>
														  <dd>{{credito.garantias[0].tipo}}</dd>
														  <dt>Marca:</dt>
														  <dd>{{credito.garantias[0].marca}}</dd>
														  <dt>Modelo:</dt>
														  <dd>{{credito.garantias[0].modelo}}</dd>
														  <dt>Duración:</dt>
														  <dd>{{credito.garantias[0].duracionMeses}}</dd>
														  <dt>Num:</dt>
														  <dd>{{credito.garantias[0].num}}</dd>
														  <dt>serie:</dt>
														  <dd>{{credito.garantias[0].serie}}</dd>
														  <dt>Color:</dt>
														  <dd>{{credito.garantias[0].color}}</dd>
														   <dt>Estado actual:</dt>
														  <dd>{{credito.garantias[0].estadoActual}}</dd>

														</dl>
												</div>
												</div>
											</div>
										</div>
				
									</div>
									<!-- end widget content -->
				
								</div>
								<!-- end widget div -->
							</div>
							<br/>
							<br/>
									<div class="row"><br/>
										<div class="col-sm-8">
											<table class="table table-striped table-bordered table-condensed font-xs">
												<thead class="thead">
													<tr>
														<th class="text-center" width="5%"></th>
														<th class="text-center" width="5%">No.</th>
														<th class="text-center" width="20%">Movimiento</th>
														<th class="text-center" width="20%">Fecha de Pago</th>
														<th class="text-center" width="15%">Pago</th>
														<th class="text-center" width="10%">Saldo</th>
														
														
													</tr>
												</thead>
												<tbody>
													<tr ng-class="(pago.estatus == 1) ? 'success' : (pago.fechaLimite < vpp.fechaActual && pago.estatus == 0) ? 'warning' : (pago.estatus == 2) ? 'danger' : 'info'" ng-repeat="pago in vpp.planPagosViejo">
							
														<td ><a ng-model="pago.pagoSeleccionado" ng-click="vpp.seleccionarPago(pago)" class="btn btn-xs btn-{{pago.pagoSeleccionado == true ? 'warning' : 'success'}}" ng-if="pago.estatus != 1" >{{pago.pagoSeleccionado == true ? 'seleccionado' : 'Pendiente'}}</a> </td>

														<td ng-class="(pago.descripcion == 'Multa') ? 'text-center text-danger' : 'text-center'">{{$index + 1}}</td>	
														<td ng-class="pago.descripcion == 'Multa' ? 'text-danger' : ''">{{pago.movimiento }}</td>
														<td ng-class="(pago.descripcion == 'Multa') ? 'text-center text-danger' : 'text-center'">{{pago.fechaLimite | date:"dd-MM-yyyy"}}</td>
														<td ng-class="(pago.descripcion == 'Multa') ? 'text-center text-danger' : 'text-center'">{{pago.numeroPago || pago.numeroPagoMulta}} - {{vpp.creditos[0].numeroPagos}}</td>
														<td ng-class="(pago.descripcion == 'Multa') ? 'text-right text-danger' : 'text-right'">{{pago.importeRegular  | currency}}</td>
														
														
													</tr>
												</tbody>
											</table>	
										</div>
										<br/>
										<div class="col-sm-4">
											<h4>Total a pagar: {{vpp.pago.totalPago | currency }}</h4>
											<br/>
											<caption>Monto a pagar: </caption> <input  type="number" class="form-control" placeholder="Pagar" ng-model="vpp.pago.pagar">
											<br/>
											<h4>Cambio: {{vpp.pago.pagar - vpp.pago.totalPago | currency }}</h4>
											<br/>
											<a class="btn btn-primary pull-right" ng-click="vpp.guardarPago(vpp.pago,vpp.credito)">Guardar</a>
										</div>
									</div>
									
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</article>
</div>

<a id='dwnldLnk' href="#" download='archivo.docx' style="display:none;" hidden="true"></a>  


