<!-- Nav tabs -->
<ul class="nav nav-tabs" role="tablist">
  <li role="presentation" class="active"><a href="#activas" aria-controls="activas" role="tab" data-toggle="tab">Activas</a></li>
  <li role="presentation"><a href="#inactivas" aria-controls="inactivas" role="tab" data-toggle="tab">Inactivas</a></li>
</ul>
<!-- Tab panes -->
<div class="tab-content">
  <div role="tabpanel" class="tab-pane active" id="activas">
    <!-- List -->
    <div class="row">
      <div class="col-sm-12">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th width="30%">
                <div class="text-center">Caja</div>
              </th>
              <th width="20%">
                <div class="text-center">Cajero</div>
              </th>
              <th width="20%">
                <div class="text-center">Fecha de apertura</div>
              </th>
              <th width="20%">
                <div class="text-center">
                  Acciones
                </div>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="objeto in caaj.cajas">
              <td>{{objeto.nombre}}</td>
              <td>{{caaj.getCajero(objeto)}}</td>
              <td>{{objeto.updatedAt | date:"dd-MM-yyyy"}}</td>
              <td>
                <div class="text-center">
                  <a class="btn btn-primary btn-mini" ng-click="caaj.verCaja(objeto._id)">
                    <span class="fa fa-eye"></span>
                  </a>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div role="tabpanel" class="tab-pane" id="inactivas">
    <div class="row">
      <div class="col-sm-12">
        <br>
        <form class="form-inline">
          <div class="form-group">
            <div class="input-group">
              <div class="input-group-addon">Del</div>
              <input date-time format="dd-MM-yyyy" class="form-control" style="background-color: white" view="year" max-view="year" min-view="date" ng-model="caaj.fechaInicio" />
              <div class="input-group-addon"><span class="fa fa-calendar"></span></div>
            </div>
          </div>
          <div class="form-group">
            <div class="input-group">
              <div class="input-group-addon">Al</div>
              <input date-time format="dd-MM-yyyy" class="form-control" style="background-color: white" view="year" max-view="year" min-view="date" ng-model="caaj.fechaFin" />
              <div class="input-group-addon"><span class="fa fa-calendar"></span></div>
            </div>
          </div>
          <button type="button" class="btn btn-primary" ng-click="caaj.getHistorialCajas(caaj.fechaInicio, caaj.fechaFin)">Buscar</button>
        </form>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <br>
        <table class="table table-bordered table-stripped table-hover">
          <thead>
            <tr>
              <th>Caja</th>
              <!-- <th>Cuenta</th> -->
              <th>Fecha Apertura</th>
              <th>Fecha Corte</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="ci in caaj.cajasInactivas">
              <td>{{ci.caja.nombre}}</td>
              <!-- <td>{{ci.cuenta.nombre}}</td> -->
              <td>{{ci.createdAt | date:"dd-MM-yyyy"}}</td>
              <td>{{ci.corte.createdAt | date:"dd-MM-yyyy"}}</td>
              <td>
                <div class="text-center">
                  <a class="btn btn-primary btn-mini" ng-click="caaj.verCaja(ci._id, true)">
                    <span class="fa fa-eye"></span>
                  </a>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<div id="cajaActiva" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-lg" style="width: 1100px;" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">{{caaj.caja.nombre}}</h4>
      </div>
      <div class="modal-body">
        <a style="margin-left: 5px;" class="btn btn-success btn-mini pull-right" ng-click="caaj.nuevoTraspasoModal()">
          <span class="fa fa-plus">Nuevo Traspaso</span>
        </a>
        <a class="btn btn-primary btn-mini pull-right" ui-sref="anon.imprimirResumen({caja_id: caaj.caja._id, fechaApertura: caaj.caja.ultimaApertura})" target="_blank">
          <span class="fa fa-file-text-o">Resumen</span>
        </a>
        <div>
          <!-- Nav tabs -->
          <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#resumen" aria-controls="resumen" role="tab" data-toggle="tab">Resumen</a></li>
            <li role="presentation"><a href="#operaciones" aria-controls="operaciones" role="tab" data-toggle="tab">Operaciones</a></li>
            <li role="presentation"><a href="#traspasos" aria-controls="traspasos" role="tab" data-toggle="tab">Traspasos</a></li>
            <li role="presentation"><a href="#cuentas" aria-controls="cuentas" role="tab" data-toggle="tab">Cuentas</a></li>
          </ul>
          <!-- Tab panes -->
          <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="resumen">
              <div class="row">
                <div class="col-sm-12">
                  <table class="table table-stripped table-bordered table-condensed">
                    <thead>
                      <tr>
                        <th width="30%">Tipo de Ingreso</th>
                        <th width="10%">Total</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr ng-repeat="(key, p) in caaj.resumen">
                        <td>{{key}}</td>
                        <td align="right">{{p | currency}}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12">
                  <table class="table">
                    <tbody>
                    	<tr>
                        <td align="right">
                        	<strong>Total: {{caaj.totalResumen | currency}}</strong>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="operaciones">
              <div class="row">
                <div class="col-sm-12">
                  <table class="table table-bordered">
                    <thead>
                      <tr>
                        <th width="5%">Folio</th>
                        <th width="15%">Fecha</th>
                        <th width="5%">N. Cliente</th>
                        <th width="15%">Cliente</th>
                        <th width="20%">Tipo Movimiento</th>
<!--                         <th width="20%">Movimiento</th> -->
                        <th width="10%">Cuenta</th>
                        <th width="10%">Capital</th>
                        <th width="10%">Multas</th>
                        <th width="10%">Intereses</th>
                        <th width="5%">Seguro</th>
                        <th width="5%">Iva</th>
                        <th width="10%">Monto</th>
                        <th width="10%">F. Pago</th>
                        <th width="5%"></th>
                      </tr>
                    </thead>
                    <tbody style="font-size: 12px;">
                      <tr ng-repeat="mov in caaj.movimientosCaja" ng-class="mov.pago.estatus ? 'success':'danger'">
                        <td align="center">{{mov.pago.folioPago}}</td>
                        <td>{{mov.createdAt | date:"dd-MM-yyyy"}}</td>
                        <td>{{mov.numeroCliente}}</td>
                        <td>{{mov.nombreCliente}}</td>
                        <td>{{mov.tipoMovimiento}}</td>
<!--                         <td>{{mov.origen}}</td> -->
                        <td>{{mov.cuenta}}</td>
                        <td align="right">{{mov.capital | currency}}</td>
                        <td align="right">{{mov.multas | currency}}</td>
                        <td align="right">{{mov.intereses | currency}}</td>
                        <td align="right">{{mov.seguro | currency}}</td>
                        <td align="right">{{mov.iva | currency}}</td>
                        <td align="right">{{mov.monto | currency}}</td>
                        <td align="center">{{mov.tipoIngreso.nombre}}</td>
                        <td>
                        	<div ng-if="mov.pago.estatus" class="btn-group">
													  <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
													    <span class="caret"></span>
													    <span class="sr-only">Toggle Dropdown</span>
													  </button>
		                        <ul class="dropdown-menu text-left">
													    <li><a ui-sref="anon.imprimirTicket({pago_id:mov.pago._id})" target="_blank"><i class="fa fa-file-text-o"></i> Ticket</a></li>
													    <li><a ng-click="caaj.cancelarPago(mov.pago)"><i class="fa fa-trash"></i> Cancelar</a></li>
													  </ul>
													</div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="traspasos">
              <div class="row">
                <div class="col-sm-12">
                  <table class="table table-bordered table-stripped table-hover">
                   <thead>
                     <tr>
                       <th align="center">Fecha</th>
                       <th align="center">Origen</th>
                       <th align="center">Destino</th>
                       <th align="center">Monto</th>
                     </tr>
                   </thead>
                   <tbody>
                     <tr ng-repeat="t in caaj.traspasos" ng-class="{success: t.tipo == 'CuentaCaja', warning: t.tipo == 'CajaCuenta', info: t.tipo == 'CajaCaja'}">
                       <td>{{t.createdAt | date:"dd-MM-yyyy"}}</td>
                       <td>{{t.origen.nombre}}</td>
                       <td>{{t.destino.nombre}}</td>
                       <td align="right">{{t.importe | currency}}</td>
                     </tr>
                   </tbody>
                  </table>
                </div>
              </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="cuentas">
              <div class="row">
                <div class="col-sm-12">
                  <table class="table table-bordered table-stripped table-hover">
                   <thead>
                     <tr>
                       <th align="center">Cuenta</th>
                       <th align="center">Tipo de Ingreso</th>
                       <th align="center">Saldo Inicial</th>
                       <th align="center">Saldo Actual</th>
                     </tr>
                   </thead>
                   <tbody>
                     <tr ng-repeat="c in caaj.caja.cuenta">
                       <td>{{c.cuenta.nombre}}</td>
                       <td>{{c.tipoIngreso.nombre}}</td>
                       <td>{{c.saldoInicial | currency}}</td>
                       <td align="right">{{c.saldo | currency}}</td>
                     </tr>
                   </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="cajaInactiva" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-lg" style="width: 1100px;" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">{{caaj.cajaInactiva.caja.nombre}} ({{caaj.cajaInactiva.caja.fechaApertura | date: 'dd-MM-yyyy'}} a {{caaj.cajaInactiva.caja.fechaCierre | date: 'dd-MM-yyyy'}})</h4>
      </div>
      <div class="modal-body">
        <div>
          <!-- Nav tabs -->
          <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#resumenInactiva" aria-controls="resumenInactiva" role="tab" data-toggle="tab">Resumen</a></li>
            <li role="presentation"><a href="#operacionesInactiva" aria-controls="operacionesInactiva" role="tab" data-toggle="tab">Operaciones</a></li>
          </ul>
          <!-- Tab panes -->
          <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="resumenInactiva">
              <div class="row">
                <div class="col-sm-12">
                  <table class="table table-stripped table-bordered table-condensed">
                    <thead>
                      <tr>
                        <th width="30%">Tipo de Ingreso</th>
                        <th width="10%">Total</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr ng-repeat="(key, p) in caaj.cajaInactiva.pagos">
                        <td>{{key}}</td>
                        <td align="right">{{p | currency}}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12">
                  <table class="table">
                    <tbody>
                      <tr>
                        <td align="right">
                          <strong>Total: {{caaj.cajaInactiva.totalResumen | currency}}</strong>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="operacionesInactiva">
              <div class="row">
                <div class="col-sm-12">
                  <table class="table table-bordered">
                    <thead>
                      <tr>
                        <th width="5%">Folio</th>
                        <th width="15%">Fecha</th>
                        <th width="20%">Tipo Movimiento</th>
                        <th width="20%">Movimiento</th>
                        <th width="20%">Cuenta</th>
                        <th width="5%">Capital</th>
                        <th width="5%">Multas</th>
                        <th width="5%">Intereses</th>
                        <th width="5%">Seguro</th>
                        <th width="5%">Iva</th>
                        <th width="5%">Monto</th>
                        <th width="5%"></th>
                      </tr>
                    </thead>
                    <tbody style="font-size: 12px;">
                      <tr ng-repeat="mov in caaj.cajaInactiva.movimientosCaja" ng-class="mov.pago.estatus ? 'success':'danger'">
                        <td align="center">{{mov.pago.folioPago}}</td>
                        <td>{{mov.createdAt | date:"dd-MM-yyyy"}}</td>
                        <td>{{mov.tipoMovimiento}}</td>
                        <td>{{mov.origen}}</td>
                        <td>{{mov.cuenta.nombre}}</td>
                        <td align="right">{{mov.capital | currency}}</td>
                        <td align="right">{{mov.multas | currency}}</td>
                        <td align="right">{{mov.intereses | currency}}</td>
                        <td align="right">{{mov.seguro | currency}}</td>
                        <td align="right">{{mov.iva | currency}}</td>
                        <td align="right">{{mov.monto | currency}}</td>
                        <td>
                          <a ng-if="mov.pago.estatus" class="btn btn-primary btn-mini" ui-sref="anon.imprimirTicket({pago_id:mov.pago._id})" target="_blank"><span class="fa fa-file-text-o"></span>
                          </a>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="nuevoTraspaso" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-md" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Nuevo Traspaso</h4>
      </div>
      <div class="modal-body">
            <form style="margin-left: 7px;margin-right: 7px;" name="nuevoTraspasoForm" class="form-horizontal" role="form" novalidate>
            <div class="row">
              <div class="col-sm-6" valida>
                <label>Tipo</label>
                <select ng-model="caaj.nuevoTraspaso.tipo" name="tipo" class="form-control" required>
                  <option value="desde_cuenta">Desde Cuenta</option>
                  <option value="desde_ventanilla">Desde Ventanilla</option>
                  <option value="a_cuenta">A Cuenta</option>
                  <option value="a_ventanilla">A Ventanilla</option>
                </select>
              </div>
              <div class="col-sm-6" valida>
                <label>{{caaj.nuevoTraspaso.tipo == 'a_ventanilla' || caaj.nuevoTraspaso.tipo == 'desde_ventanilla' ? 'Ventanilla' : 'Cuenta'}}</label>
                <select ng-change="caaj.detalle(caaj.nuevoTraspaso.origen_destino)" ng-model="caaj.nuevoTraspaso.origen_destino" name="origen_destino" class="form-control" required>
                  <option ng-if="caaj.caja._id != caja._id && (caaj.nuevoTraspaso.tipo == 'a_ventanilla' || caaj.nuevoTraspaso.tipo == 'desde_ventanilla')" ng-repeat="caja in caaj.cajas" value="{{caja._id}}">{{caja.nombre}}</option>
                  <option ng-if="caaj.nuevoTraspaso.tipo == 'a_cuenta' || caaj.nuevoTraspaso.tipo == 'desde_cuenta'" ng-repeat="cuenta in caaj.cuentas" value="{{cuenta._id}}">{{cuenta.nombre}}</option>
                </select>
                <span class="text-warning" ng-if="caaj.cajas.length == 1 && (caaj.nuevoTraspaso.tipo == 'a_ventanilla' || caaj.nuevoTraspaso.tipo == 'desde_ventanilla')">No hay otras ventanillas abiertas</span>
              </div>
            </div>
            <div class="row" ng-if="caaj.detalleOrigenDestino && !caaj.detalleOrigenDestino.tipoIngreso_id">
              <div class="col-sm-12" valida>
                <label>Cuenta</label>
                <select ng-model="caaj.nuevoTraspaso.tipoIngreso_id" name="tipoIngreso_id" class="form-control" required>
                  <option ng-repeat="cuenta in caaj.detalleOrigenDestino.cuenta" value="{{cuenta.tipoIngreso._id}}">{{cuenta.tipoIngreso.nombre}}</option>
                </select>
              </div>
            </div>
            <br>
              <table ng-if="caaj.detalleOrigenDestino" class="table table-bordered table-stripped table-hover">
                <thead>
                  <tr>
                    <th align="center">Cuenta</th>
                    <th align="center">Tipo de Ingreso</th>
                    <th align="center">Saldo Actual</th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-if="caaj.detalleOrigenDestino.tipoIngreso_id">
                    <td>{{caaj.detalleOrigenDestino.nombre}}</td>
                    <td>{{caaj.detalleOrigenDestino.tipoIngreso.nombre}}</td>
                    <td>{{caaj.detalleOrigenDestino.saldo | currency}}</td>
                  </tr>
                  <tr ng-if="!caaj.detalleOrigenDestino.tipoIngreso_id" ng-repeat="c in caaj.detalleOrigenDestino.cuenta">
                    <td>{{c.cuenta.nombre}}</td>
                    <td>{{c.tipoIngreso.nombre}}</td>
                    <td>{{c.saldo | currency}}</td>
                  </tr>
                </tbody>
              </table>
              <div>
                <label>Importe</label>
                <div class="input-group" valida>
                  <div class="input-group-addon">$</div>
                    <input class="form-control" type="number" name="importe" ng-model="caaj.nuevoTraspaso.importe" min="0" required>
                  <div class="input-group-addon">.00</div>
                </div>
              </div>
              <br>
              <button valida-form formulario="nuevoTraspasoForm" ng-click="caaj.nuevoTraspasoGuardar(caaj.nuevoTraspaso, nuevoTraspasoForm)" type="button" class="btn btn-primary btn-block">Guardar</button>
            </form>
      </div>
    </div>
  </div>
</div>

