<!-- Nav tabs -->
<ul class="nav nav-tabs" role="tablist">
  <li role="presentation" class="active"><a href="#activas" aria-controls="activas" role="tab" data-toggle="tab">Activas</a></li>
  <!-- <li role="presentation"><a href="#inactivas" aria-controls="inactivas" role="tab" data-toggle="tab">Inactivas</a></li> -->
</ul>

<!-- Tab panes -->
<div class="tab-content">
  <div role="tabpanel" class="tab-pane active" id="activas">
  	<!-- List -->
		<div class="row">
			<div class="col-sm-12">
				<table class="table table-bordered">
					<thead>
						<tr>
							<th width="30%"><div class="text-center">Caja</div></th>
							<th width="20%"><div class="text-center">Cajero</div></th>
							<th width="20%"><div class="text-center">Fecha de apertura</div></th>
							<th width="20%">
								<div class="text-center">
									Acciones
								</div>
							</th>
						</tr>
					</thead>
					<tbody>
				    <tr ng-repeat="objeto in caaj.cajas">
					    <td>{{objeto.nombre}}</td>
					    <td>{{caaj.getCajero(objeto)}}</td>
					    <td>{{objeto.updatedAt | date:"dd-MM-yyyy"}}</td>
					    <td>
						    <div class="text-center">
							    <a class="btn btn-primary btn-mini" ng-click="caaj.verCaja(objeto)">
							    <span class="fa fa-eye"></span>
							  	</a>	
									  <!-- <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									    <span class="caret"></span>
									    <span class="sr-only">Toggle Dropdown</span>
									  </button>
									  <ul class="dropdown-menu text-left">
									    <li><a  ui-sref="root.movimientosCaja({caja_id:objeto._id})"><i class="fa fa-external-link"></i> ver movimientos</a></li>
									  </ul> -->
						    </div>			    
					    </td>
				    </tr>
					</tbody>
				</table>
			</div>
		</div>
  </div>
  <!-- <div role="tabpanel" class="tab-pane" id="inactivas">Inactivas</div> -->
</div>

<div id="cajaActiva" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
	  <div class="modal-dialog modal-lg" role="document">
	  	<div class="modal-content">
		  	<div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	        <h4 class="modal-title">{{caaj.caja.nombre}}</h4>
	      </div>
	  		<div class="modal-body">
	  		<div>
					  <!-- Nav tabs -->
					  <ul class="nav nav-tabs" role="tablist">
					    <li role="presentation" class="active"><a href="#resumen" aria-controls="resumen" role="tab" data-toggle="tab">Resumen</a></li>
					    <li role="presentation"><a href="#operaciones" aria-controls="operaciones" role="tab" data-toggle="tab">Opereaciones</a></li>
					  </ul>

					  <!-- Tab panes -->
					  <div class="tab-content">
					    <div role="tabpanel" class="tab-pane active" id="resumen">
					    	<div class="row">
					    	<div class="col-sm-12">
										<table class="table table-stripped table-bordered table-condensed">
											<thead>
												<tr>
													<th width="10%">Folio</th>
													<th width="15%">Fecha</th>
													<th width="30%">Tipo de Ingreso</th>
													<th width="10%">Total</th>
													<th width="10%"></th>
												</tr>
											</thead>
											<tbody>
												<tr ng-repeat="p in caaj.pagos" ng-class="p.estatus ? 'success':'danger'">
													<td>{{p.folioPago}}</td>
													<td>{{p.fechaPago | date:"dd-MM-yyyy"}}</td>
													<td>{{p.tipoIngreso}}</td>
													<td>{{p.totalPago | currency}}</td>
													<td>
														<a ng-if="p.estatus" class="btn btn-primary btn-mini" ui-sref="anon.imprimirTicket({pago_id:p._id})" target="_blank">
					    								<span class="fa fa-file-text-o"></span>
					  								</a>
					  								<a ng-if="p.estatus" class="btn btn-danger btn-mini" ng-click="caaj.cancelarPago(p)">
					    								<span class="fa fa-trash"></span>
					  								</a>			
					  							</td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
					    </div>
					    <div role="tabpanel" class="tab-pane" id="operaciones">
					    	<div class="row">
									<div class="col-sm-12">
										<table class="table table-bordered">
											<thead>
												<tr>
													<th width="5%">Folio</th>
													<th width="15%">Fecha</th>
													<th width="20%">Tipo Movimiento</th>
													<th width="20%">Movimiento</th>
													<th width="20%">Cuenta</th>
													<th width="10%">Monto</th>
												</tr>
											</thead>
											<tbody>
										    <tr ng-repeat="objeto in caaj.movimientosCaja">
										    	<td align="center">{{objeto.pago.folioPago}}</td>
											    <td>{{objeto.createdAt | date:"dd-MM-yyyy"}}</td>
											    <td>{{objeto.tipoMovimiento}}</td>
													<td>{{objeto.origen}}</td>
											    <td>{{objeto.cuenta}}</td>
											    <td class="text-right">{{objeto.monto | currency}}</td>
										    </tr>
											</tbody>
										</table>
									</div>
								</div>
					    </div>
					  </div>
					</div>
	    	</div>
	  	</div>
	  </div>
</div>



<div id="confirm" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" data-keyboard="false" data-backdrop="static">
	  <div class="modal-dialog modal-md" role="document">
	  	<div class="modal-content">
	  		<div id="confirm_message" class="modal-body">
	  			Mensaje
	  		</div>
	  		<div class="modal-footer">
	        <button id="nelson" type="button" class="btn btn-danger" data-dismiss="modal">No</button>
	        <button id="simio" type="button" class="btn btn-primary">Si</button>
	  		</div>
	  	</div>
	  </div>
</div>