<!-- Nav tabs -->
<ul class="nav nav-tabs" role="tablist">
  <li role="presentation" class="active"><a href="#activas" aria-controls="activas" role="tab" data-toggle="tab">Cortes Activos</a></li>
  <li role="presentation"><a href="#inactivas" aria-controls="inactivas" role="tab" data-toggle="tab">Cortes Cerrados</a></li>
</ul>
<!-- Tab panes -->
<div class="tab-content">
  <div role="tabpanel" class="tab-pane active" id="activas">
    <!-- List -->
    <div class="well">
    	<div class="row">
      <div class="col-sm-12">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th width="10%">
                <div class="text-center">Caja</div>
              </th>
              <th width="25%">
                <div class="text-center">Cajero</div>
              </th>
              <th width="15%">
                <div class="text-center">Fecha de apertura</div>
              </th>
              <th width="10%">
                <div class="text-center">
                  Acciones
                </div>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="objeto in caaj.cajas">
              <td>{{objeto.nombre}}</td>
              <td>{{caaj.getCajero(objeto)}}</td>
              <td style="text-align: center">{{objeto.ultimaApertura | date:"dd-MM-yyyy"}}</td>
              <td>
                <div class="text-center">
                  <a class="btn btn-primary btn-xs btn-mini" ng-click="caaj.verCaja(objeto)">
                    <span class="fa fa-eye"></span>
                  </a>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    </div>	
  </div>
  <div role="tabpanel" class="tab-pane" id="inactivas">
	  <div class="well">
	    <div class="row">
	      <div class="col-sm-12">
	        <br>
	        <form class="form-inline">
	          <div class="form-group">
	            <div class="input-group">
	              <div class="input-group-addon">Del</div>
	              <input date-time format="dd-MM-yyyy" class="form-control" style="background-color: white" view="year" max-view="year" min-view="date" ng-model="caaj.fechaInicio" />
	              <div class="input-group-addon"><span class="fa fa-calendar"></span></div>
	            </div>
	          </div>
	          <div class="form-group">
	            <div class="input-group">
	              <div class="input-group-addon">Al</div>
	              <input date-time format="dd-MM-yyyy" class="form-control" style="background-color: white" view="year" max-view="year" min-view="date" ng-model="caaj.fechaFin" />
	              <div class="input-group-addon"><span class="fa fa-calendar"></span></div>
	            </div>
	          </div>
	          <button type="button" class="btn btn-primary" ng-click="caaj.getHistorialCajas(caaj.fechaInicio, caaj.fechaFin)">Buscar</button>
	        </form>
	      </div>
	    </div>
	    <div class="row">
	      <div class="col-sm-12">
	        <br>
	        <table class="table table-bordered table-stripped table-hover">
	          <thead>
	            <tr>
	              <th>Caja</th>
	              <!-- <th>Cuenta</th> -->
	              <th>Fecha Apertura</th>
	              <th>Fecha Corte</th>
	              <th></th>
	            </tr>
	          </thead>
	          <tbody>
	            <tr ng-repeat="ci in caaj.cajasInactivas">
	              <td>{{ci.caja.nombre}}</td>
	              <!-- <td>{{ci.cuenta.nombre}}</td> -->
	              <td>{{ci.createdAt | date:"dd-MM-yyyy"}}</td>
	              <td>{{ci.corte.createdAt | date:"dd-MM-yyyy"}}</td>
	              <td>
	                <div class="text-center">
	                  <a class="btn btn-primary btn-xs btn-mini" ng-click="caaj.verCaja(ci, true)">
	                    <span class="fa fa-eye"></span>
	                  </a>
	                </div>
	              </td>
	            </tr>
	          </tbody>
	        </table>
	      </div>
	    </div>
	  </div> 
  </div>
</div>



