<h2>Cajas</h2>
<div class="row">
	<div class="col-sm-12">
		<a class="btn btn-{{caj.nuevo == true ? 'primary' : 'danger'}}" role="button" data-toggle="collapse" 
			href="#collapseExample" aria-expanded="false" aria-controls="collapseExample" ng-click="caj.Nuevo()">
		   {{caj.nuevo == true ? 'Nuevo' : 'Cancelar'}}
		</a>
		<div class="collapse" id="collapseExample">
			<form name="form" class="form-horizontal" role="form">
		  	<div class="well">	    
			    <div class="row">
				    	<div class="col-sm-4" valida>
						    <label>Nombre *</label>
					    	<input name="nombre" type="text" class="form-control" placeholder="Nombre" ng-model="caj.objeto.nombre" required>
					   </div>
					   <div class="col-sm-4" valida>
						    <label>Cajero *</label>
					    
					    	<select name="cajero" class="form-control select2" placeholder="Seleccione" ng-model="caj.objeto.usuario_id" required>
									<option ng-repeat="cajero in caj.cajeros" value="{{cajero._id}}">{{cajero.profile.nombreCompleto}}</option>
								</select>
					   </div>
					 
				</div>
				<div class="row" ng-repeat="(index, tipo) in caj.tiposIngreso">
					   <div class="col-sm-4" valida>
						    <label>Cuenta {{tipo.nombre}} *</label>
					    	

					    	<select name="cuenta" class="form-control select2" placeholder="Seleccione" ng-model="caj.objeto.cuenta[tipo._id].cuenta_id" required>
								<option ng-repeat="cuenta in caj.cuentas[tipo._id]" value="{{cuenta._id}}">{{cuenta.nombre}}</option>
							</select>

					   </div>
					   <div class="col-sm-4" valida>
						    <label>Saldo Maximo *</label>
					    	<input name="maximoEfectivo" type="number" class="form-control" placeholder="Saldo Maximo" ng-model="caj.objeto.cuenta[tipo._id].maximo" required>
					   </div>
				</div>
			</div>
		  	<div class="well">	    
			   		<div class="row">
						<div class="col-sm-12">
							<input type="submit" ng-click="caj.guardar(caj.objeto,form)" value="Guardar" class="btn btn-primary" ng-show="caj.action" valida-form formulario="form">
							<input type="submit" ng-click="caj.actualizar(caj.objeto,form)" value="Actualizar" class="btn btn-primary" ng-show="!caj.action" valida-form formulario="form">	
						</div>
					</div>
		  	</div>  
		  </form>
		</div>
	</div>
</div>
<!-- List -->
<div class="row">
	<div class="col-sm-12">
		<table class="table table-bordered">
			<thead>
				<tr>
					<th width="30%"><div class="text-center">Nombre</div></th>
					<th width="30%"><div class="text-center">Máximo Efectivo</div></th>
					<th width="10%">
						<div class="text-center">
							Estatus
						</div>
					</th>
					<th width="10%">
						<div class="text-center">
							Abierta
						</div>
					</th>
					<th width="20%">
						<div class="text-center">
							Acciones
						</div>
					</th>
				</tr>
			</thead>
			<tbody>
		    <tr ng-repeat="objeto in caj.cajas">
			    <td>{{objeto.nombre}}</td>
			    <td class="text-right">{{objeto.maximoEfectivo | currency}}</td>
			    <td>
				    <div class="text-center">
				    	<span ng-if="objeto.estatus" class="label label-success">
							  Si
							</span>
							<span ng-if="!objeto.estatus" class="label label-danger">
							  No
							</span>
				    </div>
			    </td>
			    <td>
				    <div class="text-center">
				    	<span ng-if="objeto.estadoCaja=='Abierta'" class="label label-success">
							  Abierta
							</span>
							<span ng-if="objeto.estadoCaja!='Abierta'" class="label label-danger">
							  Cerrada
							</span>
				    </div>
			    </td>
			    <td>
				    <div class="text-center">
					    <div class="btn-group">
							  <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							    <span class="caret"></span>
							    <span class="sr-only">Toggle Dropdown</span>
							  </button>
							  <ul class="dropdown-menu text-left">
							    <li><a  ng-click="caj.editar(objeto._id)"><i class="fa fa-pencil"></i> Editar</a></li>
							    <li><a  ui-sref="root.abrirCaja({caja_id:objeto._id})"><i class="fa fa-external-link"></i> Abrir</a></li>
							    <li><a  ng-click="caj.cambiarEstatus(objeto._id)">
								    <i class="fa fa-{{objeto.estatus ? 'trash' : 'check' }}"></i> {{objeto.estatus ? "Desactivar" : "Activar" }}</a>
							    </li>
							  </ul>
							</div>
				    </div>				    
			    </td>
		    </tr>
			</tbody>
		</table>
	</div>
</div>