<div class="container">
	<div class="widget-body no-padding">
		<div class="padding-10">
			<div class="row text-center">
				<div class="col-sm-4 col-sm-offset-4" style="font-size: smaller">
					<span id="logo"> <img src="img/logoCreditoMioBN.png" alt="SmartAdmin"
							style="margin-top: -18px;width: 170px;height: 100px;"> </span>
					<p style="font-size: smaller;text-align: center"><strong>---INGRESOS POR FORMA DE PAGO---</strong></p>
					<table style="width: 100%">
						<tr ng-repeat="(key, resu) in cj.ingresosAgrupados">
							<td style="text-align: left; width: 50%;">
								{{key}}
							</td>
							<td style="text-align: right; width: 50%; padding-right: 10px">
								{{resu | currency}}
							</td>
						</tr>
						<tr>
							<td style="text-align: left; width: 50%;">
								<strong>TOTAL: </strong>
							</td>
							<td style="text-align: right; width: 50%; padding-right: 10px">
								<strong>{{cj.totalIngresos | currency}}</strong>
							</td>
						</tr>
					</table>
					<p style="font-size: smaller;text-align: center"><strong>-----ENTREGA DE CRÉDITOS------</strong></p>
					<table style="font-size: smaller; width: 100%">
						<tr>
							<td style="text-align: left; width: 60%;">
								CREDITOS ENTREGADOS:
							</td>
							<td style="text-align: right; width: 50%; padding-right: 10px">
								{{cj.creditosEntregados}}
							</td>
						</tr>
						<tr ng-repeat="(key, ag) in cj.creditosAgrupados">
							<td style="text-align: left; width: 50%;">
								{{key}}
							</td>
							<td style="text-align: right; width: 50%; padding-right: 10px">
								{{ag | currency}}
							</td>
						</tr>
						<tr>
							<td style="text-align: left; width: 50%;">
								<strong>TOTAL: </strong>
							</td>
							<td style="text-align: right; width: 50%; padding-right: 10px">
								<strong>{{cj.totalCreditos | currency}}</strong>
							</td>
						</tr>
					</table>
					<p style="font-size: smaller;text-align: center;"><strong>----------ENTREGA DE VALES----------</strong></p>
					<table style="font-size: smaller; width: 100%;">
						<tr>
							<td style="text-align: left; width: 60%;">
								VALES ENTREGADOS:
							</td>
							<td style="text-align: right; width: 40%; padding-right: 10px">
								{{cj.valesEntregados}}
							</td>
						</tr>
						<tr ng-repeat="(key, ag) in cj.valesAgrupados">
							<td style="text-align: left; width: 50%;">
								{{key}}
							</td>
							<td style="text-align: right; width: 50%; padding-right: 10px">
								{{ag | currency}}
							</td>
						</tr>
						<tr>
							<td style="text-align: left; width: 50%;">
								<strong>TOTAL: </strong>
							</td>
							<td style="text-align: right; width: 50%; padding-right: 10px">
								<strong>{{cj.totalVales | currency}}</strong>
							</td>
						</tr>
					</table>
					<p style="font-size: smaller;text-align: center"><strong>----TRANSF. DE FONDOS A VENTANILLA-----</strong></p>
					<table style="font-size: smaller; width: 100%">
						<tr>
							<td style="text-align: left; width: 50%;">
								<strong>MONEDA NACIONAL: </strong>
							</td>
							<td style="text-align: right; width: 50%; padding-right: 10px">
								<strong>{{cj.totalTransAVentanilla | currency}}</strong>
							</td>
						</tr>
					</table>
					<p style="font-size: smaller;text-align: center"><strong>----RETIRO DE FONDOS DE VENTANILLA----</strong></p>
					<table style="font-size: smaller; width: 100%">
						<tr>
							<td style="text-align: left; width: 50%;">
								<strong>MONEDA NACIONAL: </strong>
							</td>
							<td style="text-align: right; width: 50%; padding-right: 10px">
								<strong>{{cj.totalTransDeVentanilla | currency}}</strong>
							</td>
						</tr>
					</table>
					<p style="font-size: smaller;text-align: center"><strong>-----PAGO DE COMISIONES------</strong></p>
					<table style="font-size: smaller; width: 100%">
						<tr>
							<td style="text-align: left; width: 60%;">
								COMISIONES PAGADAS:
							</td>
							<td style="text-align: right; width: 50%; padding-right: 10px">
								{{cj.comisionesPromotoras}}
							</td>
						</tr>
						<tr ng-repeat="(key, ag) in cj.comisionesAgrupados">
							<td style="text-align: left; width: 50%;">
								{{key}}
							</td>
							<td style="text-align: right; width: 50%; padding-right: 10px">
								{{ag | currency}}
							</td>
						</tr>
						<tr>
							<td style="text-align: left; width: 50%;">
								<strong>TOTAL: </strong>
							</td>
							<td style="text-align: right; width: 50%; padding-right: 10px">
								<strong>{{cj.totalComisionesPromotoras | currency}}</strong>
							</td>
						</tr>
					</table>
					<br>
					<div class="row">
						<div class="col-sm-12">
							<strong><span class="pull-left" style="font-size: smaller;">(=)EFECTIVO EN CAJA:</span> </trong>
								<strong><span class="pull-right"
										style="text-align: right; width: 50%; padding-right: 10px">{{cj.totalEnCaja | currency}}</span></strong>
						</div>
					</div>

					<address>
						OPERADOR (A): {{cj.cajero.profile.nombre}}<br>
						VENTANILLA: {{cj.caja.nombre}}<br>
						RUBIDIA MARTINEZ ALCARAZ<br>
						{{cj.sucursal.direccion}}<br>
						{{cj.sucursal.colonia}}<br>
						MAAR-661007-BF5<br>
						{{cj.sucursal.telefono1}}
					</address>
					<div class="row">
						<div class="col-sm-6 pull-left">Fecha : {{ cj.fecha | date:'dd-MM-yyyy'}}</div>
						<div class="col-sm-6 pull-right">Hora : {{ cj.fecha | date:'H:mm:ss'}}</div>
					</div>
					<div><a class="btn btn-primary" id="printpagebutton" ng-click="cj.borrarBotonImprimir()">Imprimir</a></div>
				</div>
			</div>
		</div>
	</div>
</div>
<style type="text/css" media="print">
	@page {
		margin: 0;
	}
</style>