<div class="container"  style="font-size: larger">
	<div class="widget-body no-padding">
		<div class="padding-10">
			<div class="row text-center">
				<div class="col-sm-4 col-sm-offset-4">
				<span id="logo"> <img src="img/logoCreditoMioBN.png" alt="SmartAdmin" style="margin-top: -18px;width: 170px;height: 100px;"> </span>
					<br/>
					<strong>-----INGRESOS POR FORMA DE PAGO-----</strong>
					<table class="table">
						<tr ng-repeat="(key, resu) in cj.ingresosAgrupados">
							<td>
								{{key}}
							</td>
							<td>
								{{resu | currency}}
							</td>
						</tr>
						<tr>
							<td>
								<strong>TOTAL: </strong>
							</td>
							<td>
								<strong>{{cj.totalIngresos | currency}}</strong>
							</td>
						</tr>
					</table>
					<strong>--------ENTREGA DE CREDITOS---------</strong>
					<table class="table">
						<tr>
							<td>
								CREDITOS ENTREGADOS:
							</td>
							<td align="right">
								{{cj.creditosEntregados}}
							</td>
						</tr>
						<tr ng-repeat="(key, ag) in cj.creditosAgrupados">
							<td>
								{{key}}
							</td>
							<td>
								{{ag | currency}}
							</td>
						</tr>
						<tr>
							<td>
								<strong>TOTAL: </strong>
							</td>
							<td>
								<strong>{{cj.totalCreditos | currency}}</strong>
							</td>
						</tr>
					</table>
					<strong>----TRANSF. DE FONDOS A VENTANILLA-----</strong>
					<table class="table">
						<tr>
							<td>
								<strong>MONEDA NACIONAL: </strong>
							</td>
							<td>
								<strong>{{cj.totalTransAVentanilla | currency}}</strong>
							</td>
						</tr>
					</table>
					<strong>----RETIRO DE FONDOS DE VENTANILLA----</strong>
					<table class="table">
						<tr>
							<td>
								<strong>MONEDA NACIONAL: </strong>
							</td>
							<td>
								<strong>{{cj.totalTransDeVentanilla | currency}}</strong>
							</td>
						</tr>
					</table>
					<div class="row">
						<div class="col-sm-12">
							<span class="pull-left">(=)EFECTIVO EN CAJA:</span> 
							<span class="pull-right">{{cj.totalEnCaja | currency}}</span>
						</div>
					</div>
					
					<address>
						OPERADOR (A): {{cj.caja.cajero.profile.nombreCompleto}}<br>
						ADMINISTRADOR (A):<br>
						VENTANILLA: {{cj.caja.nombre}}<br>

						RUBIDIA MARTINEZ ALCARAZ<br>
						BLVD. EMILIANO ZAPATA 3125 LOCAL 12BC<br>
						COLONIA LOMAS DEL BOULEVARD<br>
						MAAR-661007-BF5<br>
						(667) 717-21-21<br>
					</address>
					<div><a class="btn btn-primary" id="printpagebutton" ng-click="cj.borrarBotonImprimir()">Imprimir</a></div>
				</div>
			</div>
		</div>
	</div>
</div>