<div class="container">
	<div class="widget-body no-padding">
		<div class="padding-10">
			<div class="row text-center">
				<div class="col-sm-4 col-sm-offset-4">
					<strong> <h2>Credito Mio</h2> </strong>
					<strong>-----------INGRESOS POR FORMA DE PAGO------------</strong>
					<table class="table">
						<tr ng-repeat="(key, resu) in cj.resumen">
							<td>
								{{key}}
							</td>
							<td>
								{{resu | currency}}
							</td>
						</tr>
						<tr>
							<td>
								<strong>Total: </strong>
							</td>
							<td>
								<strong>{{cj.total | currency}}</strong>
							</td>
						</tr>
					</table>
					<strong>-----------------ENTREGA DE CREDITOS-----------------</strong>
					<table class="table">
						<tr>
							<td>
								CREDITOS ENTREGADOS:
							</td>
							<td align="right">
								{{cj.entregados.cantidad}}
							</td>
						</tr>
						<tr ng-repeat="(key, ag) in cj.entregados.agrupados">
							<td>
								{{key}}
							</td>
							<td>
								{{ag | currency}}
							</td>
						</tr>
						<tr>
							<td>
								<strong>Total: </strong>
							</td>
							<td>
								<strong>{{cj.entregados.total | currency}}</strong>
							</td>
						</tr>
					</table>
					<address>
						OPERADOR (A): {{cj.caja.cajero.profile.nombreCompleto}}<br>
						ADMINISTRADOR (A):<br>
						VENTANILLA: {{cj.caja.nombre}}<br>

						Rubidia Martinez Alcaraz<br>
						Blvd Emiliano Zapata 3125 Local 12BC<br>
						Colonia Lomas del Boulevard<br>
						MAAR-661007-BF5<br>
						(667) 717-21-21<br>
					</address>
					<div><a class="btn btn-primary" id="printpagebutton" ng-click="tkpctrl.borrarBotonImprimir()">Imprimir</a></div>
				</div>
			</div>
		</div>
	</div>
</div>