<div class="container">
	<div class="widget-body no-padding">
		<div class="padding-10">
			<div class="row text-center">
				<div class="col-sm-4 col-sm-offset-4" style="font-size: smaller">
				<span id="logo"> <img src="img/logoCreditoMioBN.png" alt="SmartAdmin" style="margin-top: -15px;width: 170px;height: 100px;"> </span>
					<strong> <h3>Corte</h3> </strong>
					<div class="row">
						<div class="col-sm-6 pull-left">Inicio : {{ cjc.caja.ultimaApertura | date:'dd-MM-yyyy'}}</div>
						<div class="col-sm-6 pull-right">Fin : {{ cjc.caja.createdAt | date:'dd-MM-yyyy'}}</div>
					</div>
					<p style="font-size: smaller;text-align: center">
						<strong>-----------APERTURA DE VENTANILLA-----------</strong>
					</p>
					<table style="font-size: smaller;width: 100%;">
						<tr ng-repeat="(key, resu) in cjc.aperturaVentanilla">
							<td style="text-align: left; width: 60%;">
								{{key}}
							</td>
							<td style="text-align: right; width: 40%; padding-right: 10px ">
								{{resu | currency}}
							</td>
						</tr>
						<tr>
							<td style="text-align: left; width: 50%;">
								<strong>TOTAL: </strong>
							</td>
							<td style="text-align: right; width: 50%; padding-right: 10px">
								<strong>{{cjc.totalAperura | currency}}</strong>
							</td>
						</tr>
					</table>
					<p style="font-size: smaller;text-align: center;"><strong>--------INGRESOS POR FORMA DE PAGO--------</strong></p>
					<table style="font-size: smaller;width: 100%;">
						<tr ng-repeat="(key, resu) in cjc.ingresosAgrupados">
							<td style="text-align: left; width: 50%;">
								{{key}}
							</td>
							<td style="text-align: right; width: 50%; padding-right: 10px">
								{{resu | currency}}
							</td>
						</tr>
						<tr>
							<td style="text-align: left; width: 50%;">
								<strong>TOTAL: </strong>
							</td>
							<td style="text-align: right; width: 50%; padding-right: 10px">
								<strong>{{cjc.totalIngresos | currency}}</strong>
							</td>
						</tr>
					</table>
					<p style="font-size: smaller;text-align: center;"><strong>----------ENTREGA DE CRÉDITOS----------</strong></p>
					<table style="font-size: smaller;width: 100%;">
						<tr>
							<td style="text-align: left; width: 60%; padding-right: 10px">
								CREDITOS ENTREGADOS:
							</td>
							<td style="text-align: right; width: 40%; padding-right: 10px">
								{{cjc.creditosEntregados}}
							</td>
						</tr>
						<tr ng-repeat="(key, ag) in cjc.creditosAgrupados">
							<td style="text-align: left; width: 50%;">
								{{key}}
							</td>
							<td style="text-align: right; width: 50%; padding-right: 10px">
								{{ag | currency}}
							</td>
						</tr>
						<tr>
							<td style="text-align: left; width: 50%; padding-right: 10px">
								<strong>TOTAL: </strong>
							</td>
							<td style="text-align: right; width: 50%; padding-right: 10px">
								<strong>{{cjc.totalCreditos | currency}}</strong>
							</td>
						</tr>
					</table>
					<p style="font-size: smaller;text-align: center;"><strong>-------------ENTREGA DE VALES--------------</strong></p>
					<table style="font-size: smaller;width: 100%;">
						<tr>
							<td style="text-align: left; width: 60%;">
								VALES ENTREGADOS:
							</td>
							<td style="text-align: right; width: 40%; padding-right: 10px">
								{{cjc.valesEntregados}}
							</td>
						</tr>
						<tr ng-repeat="(key, ag) in cjc.valesAgrupados">
							<td style="text-align: left; width: 50%;">
								{{key}}
							</td>
							<td style="text-align: right; width: 50%; padding-right: 10px">
								{{ag | currency}}
							</td>
						</tr>
						<tr>
							<td style="text-align: left; width: 50%;">
								<strong>TOTAL: </strong>
							</td>
							<td style="text-align: right; width: 50%; padding-right: 10px">
								<strong>{{cjc.totalVales | currency}}</strong>
							</td>
						</tr>
					</table>
					<p style="font-size: smaller;text-align: center;"><strong>-------TRANSF. DE FONDOS A VENTANILLA--------</strong></p>
					<table style="width: 100%; font-size: smaller;">
						<tr>
							<td style="text-align: left; width: 50%;">
								<strong>MONEDA NACIONAL: </strong>
							</td>
							<td style="text-align: right; width: 50%; padding-right: 10px">
								<strong>{{cjc.totalTransAVentanilla | currency}}</strong>
							</td>
						</tr>
					</table>
					<p style="font-size: smaller;text-align: center;"><strong>-------RETIRO DE FONDOS DE VENTANILLA-------</strong></p>
					<table style="width: 100%; font-size: smaller;">
						<tr>
							<td style="text-align: left; width: 50%;">
								<strong>MONEDA NACIONAL: </strong>
							</td>
							<td style="text-align: right; width: 50%; padding-right: 10px">
								<strong>{{cjc.totalTransDeVentanilla | currency}}</strong>
							</td>
						</tr>
					</table>
					<p style="font-size: smaller;text-align: center"><strong>-----PAGO DE COMISIONES------</strong></p>
					<table style="font-size: smaller; width: 100%">
						<tr>
							<td style="text-align: left; width: 60%;">
								COMISIONES PAGADAS:
							</td>
							<td style="text-align: right; width: 50%; padding-right: 10px">
								{{cjc.comisionesPromotoras}}
							</td>
						</tr>
						<tr ng-repeat="(key, ag) in cjc.comisionesAgrupados">
							<td style="text-align: left; width: 50%;">
								{{key}}
							</td>
							<td style="text-align: right; width: 50%; padding-right: 10px">
								{{ag | currency}}
							</td>
						</tr>
						<tr>
							<td style="text-align: left; width: 50%;">
								<strong>TOTAL: </strong>
							</td>
							<td style="text-align: right; width: 50%; padding-right: 10px">
								<strong>{{cjc.totalComisionesPromotoras | currency}}</strong>
							</td>
						</tr>
					</table>
					<br>
					<div class="row">
						<div class="col-sm-12">
							<strong><span class="pull-left" style="font-size: smaller;">(=)EFECTIVO EN CAJA:</span> </strong>
							<strong><span class="pull-right" style="text-align: right; width: 50%; padding-right: 10px">{{cjc.totalEnCaja | currency}}</span></strong>
						</div>
					</div>
					
					<address>
						OPERADOR (A): {{cjc.cajero.profile.nombre}}<br>
						VENTANILLA: {{cjc.caja.nombre}}<br>

						RUBIDIA MARTINEZ ALCARAZ<br>
						{{cjc.sucursal.direccion}}<br>
						{{cjc.sucursal.colonia}}<br>
						MAAR-661007-BF5<br>
						{{cjc.sucursal.telefono1}}
					</address>
					<div class="row">
						<div class="col-sm-6 pull-left">Fecha : {{ cjc.fecha | date:'dd-MM-yyyy'}}</div>
						<div class="col-sm-6 pull-right">Hora : {{ cjc.fecha | date:'H:mm:ss'}}</div>
					</div>
					<div><a class="btn btn-primary" id="printpagebutton" ng-click="cjc.borrarBotonImprimir()">Imprimir</a></div>
				</div>
			</div>
		</div>
	</div>
</div>
<style type="text/css" media="print">
	@page{
   margin: 0;
	}
</style>