<h3>Cajero: <span>{{vci.getCajero(vci.caja)}}</span></h3>
<div>
          <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#resumenInactiva" aria-controls="resumenInactiva" role="tab" data-toggle="tab">Resumen</a></li>
    <li role="presentation"><a href="#operacionesInactiva" aria-controls="operacionesInactiva" role="tab" data-toggle="tab">Operaciones</a></li>
    <li role="presentation"><a href="#traspasos" aria-controls="traspasos" role="tab" data-toggle="tab">Traspasos</a></li>
  </ul>
  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="resumenInactiva">
     	<div class="well">
		      <div class="row">
		        <div class="col-sm-3">
					    Folio: <span>{{vci.caja.folioCaja}}</span>
				    </div>
				    <br>
				    <div class="col-sm-3">
					    Fecha Inicio: <span>{{vci.fechaInicio | date:"dd-MM-yyyy" }}</span>
				    </div>
				    <br>
				    <div class="col-sm-3">
					    Fecha Final: <span>{{vci.fechaFinal | date:"dd-MM-yyyy" }}</span>
				    </div>
				    <br>
				    <br>
				    <div class="col-sm-2">
				      <a class="btn btn-danger btn-mini" ui-sref="anon.imprimirCorte({corte_id: vci.corte_id})" target="_blank">
							  <span class="fa fa-inbox"> Imprimir Corte</span>
							</a>				    
			      </div>
		      </div>
	    	</div>
    </div>
    <div role="tabpanel" class="tab-pane" id="operacionesInactiva">
      <div  class="well">
      	<div class="row">
        <div class="col-sm-12">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th width="3%">Folio</th>
                <th width="7%">Fecha</th>
                <th width="8%">N. Cliente</th>
                <th width="15%">Cliente</th>
                <th width="15%">Movimiento</th>
                <th width="5%">Capital</th>
                <th width="5%">C. Mor.</th>
                <th width="5%">Intereses</th>
                <th width="5%">Seguro</th>
                <th width="5%">Iva</th>
                <th width="5%">Monto</th>
                <th width="10%">F. Pago</th>
                <th width="5%">Acción</th>
              </tr>
            </thead>
            <tbody style="font-size: x-small">
              <tr ng-repeat="mov in vci.cajaInactiva.movimientosCaja" class={{mov.clase}}>
                <td align="center">{{mov.pago != undefined ? mov.pago.folioPago : mov.credito.folio }}</td>
                <td>{{mov.createdAt | date:"dd-MM-yyyy"}}</td>
                <td>{{mov.numeroCliente}}</td>
	              <td>{{mov.nombreCliente}}</td>
                <td>{{mov.origen}}</td>
                <td align="right">{{mov.capital | currency}}</td>
                <td align="right">{{mov.multas | currency}}</td>
                <td align="right">{{mov.intereses | currency}}</td>
                <td align="right">{{mov.seguro | currency}}</td>
                <td align="right">{{mov.iva | currency}}</td>
                <td align="right">{{mov.monto | currency}}</td>
                <td align="center">{{mov.tipoIngreso.nombre}}</td>
                <td>
                  <a ng-if="mov.pago.estatus" class="btn btn-primary btn-mini" ui-sref="anon.imprimirTicket({pago_id:mov.pago._id})" target="_blank"><span class="fa fa-file-text-o"></span>
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      </div>	
    </div>
    <div role="tabpanel" class="tab-pane" id="traspasos">
	    <div class="well">
      	<div class="row">
        <div class="col-sm-12">
          <table class="table table-bordered table-stripped table-hover">
           <thead>
             <tr>
               <th align="center">Fecha</th>
               <th align="center">Origen</th>
               <th align="center">Destino</th>
               <th align="center">Monto</th>
             </tr>
           </thead>
           <tbody>
             <tr ng-repeat="t in vca.traspasos">
               <td>{{t.createdAt | date:"dd-MM-yyyy"}}</td>
               <td>{{t.origen.nombre}}</td>
               <td>{{t.destino.nombre}}</td>
               <td align="right">{{t.importe | currency}}</td>
             </tr>
           </tbody>
          </table>
        </div>
      </div>
	    </div>	
    </div>
  </div>
</div>