<div class="row">
	<div class="col-sm-12">
		<form name="form" class="form-horizontal" role="form" note>		
			<div ng-show="!cli.action">
					<a  ui-sref="root.clienteDetalle({objeto_id: cli.objeto_id})" class="btn txt-color-white bg-color-teal btn-sm pull-right"><i class="fa fa-user"></i> Ir a mi perfil</a>
					<br>
			</div>
			<h4>Información del Cliente</h4>
			<div class="well">	    
				<div class="row">	
					<div class="col-sm-4" valida> 					    
						<label>Nombre (s) *</label>
						<input name="nombre" type="text" class="form-control" placeholder="Nombre" ng-model="cli.objeto.profile.nombre" required capitalize>
					</div>
					<div class="col-sm-4" valida>					    
						<label>Apellido Paterno *</label>
						<input name="apellidoPaterno" type="text" class="form-control" placeholder="Apellido Paterno" ng-model="cli.objeto.profile.apellidoPaterno" required capitalize>
					</div>
					<div class="col-sm-4">					    
						<label>Apellido Materno</label>
						<input name="apellidoMaterno" type="text" class="form-control" placeholder="Apellido Materno" ng-model="cli.objeto.profile.apellidoMaterno" capitalize>
					</div>	    				    	    
				</div>
				<div class="row" ng-if="!cli.action">
					<div class="col-sm-3"> 					    
						<label>Usuario *</label>
						<input name="usuario" type="text" class="form-control" placeholder="Usuario" ng-model="cli.objeto.username"  disabled="true">
					</div>
					<div class="col-sm-3">					    
						<label>Contraseña *</label>
						<input name="contrasena" type="password" class="form-control" placeholder="Contraseña" ng-model="cli.objeto.password"  ng-disabled="cli.cambiarContrasena">
					</div>		    				    	    
					<div class="col-sm-3">					    
						<label>Confirmar Contraseña *</label>
						<input name="confirmar" type="password" class="form-control" placeholder="Confirmar Contraseña" ng-model="cli.objeto.confirmpassword"  ng-disabled="cli.cambiarContrasena">
					</div>
					<div class="col-sm-3">			
						<br>		    
						<button type="button" class="btn btn-primary" ng-click="cli.cambiarPassword()">Cambiar Contraseña</button>
					</div>
				</div>
				<br/>
				<div class="row">
					<div class="col-sm-4">
						<label>Foto</label>
						<input name="foto" type="file" id="foto">
					</div>
					<div class="col-sm-4">
						<img ng-src="{{cli.objeto.profile.foto}}" style="width: 200px; height: 180px;" ng-class="{'img-thumbnail': !!cli.pic}" />
					</div>		
				</div>  
			</div>
			<h4>Documentos</h4>
			<div class="well">	    
				<div class="row">
 					<div class="col-sm-2"><br/>
						<a href="" class="btn btn-primary" ng-click="cli.agregarImagen()" >Agregar Documento</a>
  					</div>
				</div>
				<br/>
				<div class="row">
					<div class="col-sm-12">
						<table class="table table-bordered">
							<thead>
								<tr>
									<th width="5%"><div class="text-center"> No.</div></th>
									<th width="40%"><div class="text-center">Documento</div></th>
									<th width="40%"><div class="text-center">Archivos</div></th>
									<th width="15%"><div class="text-center">Acciones</div></th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="item in cli.documents">
									<td>{{$index + 1}}</td>
									<td>{{item.nombre}}</td>
									<td class="text-center">
										<a href="" ng-click="cli.mostrarModal(item._id)">Ver Archivo</a>
									</td>
									<td><div class="text-center"><a href="" ng-click="cli.borrarDoc(item._id)" class="btn btn-xs btn-primary"><i class="fa fa-trash"></i></a>
									 <a target="_blank"  ng-click="cli.imprimirDoc(item._id)" class="btn btn-xs btn-primary"><i class="fa fa-print" ></i></a></div>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
			<div id="myModal" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
				<div class="modal-dialog modal-lg" role="document">
					<div id="imagenDiv" class="modal-content">
					</div>
			  </div>
			</div>
			<h4>Información de Contacto</h4>
			<div class="well">	    
				<div class="row">
					<div class="col-sm-4" > 					    
						<label>Teléfono Particular *</label>
						<input name="telefonoParticular" type="text" class="form-control" placeholder="Teléfono Particular" ng-model="cli.objeto.profile.particular" >
					</div>
					<div class="col-sm-4" > 					    
						<label>Teléfono Oficina *</label>
						<input name="telefonoOficina" type="text" class="form-control" placeholder="Teléfono" ng-model="cli.objeto.profile.telefonoOficina"  capitalize>
					</div>
					<div class="col-sm-4" >					    
						<label>Celular *</label>
						<input name="celular" type="text" class="form-control" placeholder="Celular" ng-model="cli.objeto.profile.celular"  capitalize>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-4">					    
						<label>Teléfono Alternativo</label>
						<input name="otroTelefono" type="text" class="form-control" placeholder="Otro Alternativo" ng-model="cli.objeto.profile.telefonoAlternativo" capitalize>
					</div>	  
					<div class="col-sm-4">					    
						<label>Nombre</label>
						<input name="otroTelefono" type="text" class="form-control" placeholder="Nombre" ng-model="cli.objeto.profile.duenoAlternativo" capitalize>
					</div>
					<div class="col-sm-4">					    
						<label>Parentesco</label>
						<input name="otroTelefono" type="text" class="form-control" placeholder="Parentesco" ng-model="cli.objeto.profile.parentescoAlternativo" capitalize>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-4">
						<label>Correo</label>
						<input name="correo" type="text" class="form-control" placeholder="Correo" ng-model="cli.objeto.profile.correo" capitalize>
					</div>  
				</div>  
			</div>
			<h4>Particulares</h4>
			<div class="well">
				<div class="row">
					<div class="col-sm-4" >
						<label for="sexo">Sexo *</label>
						<select name="sexo" ng-model="cli.objeto.profile.sexo" data-placeholder="Seleccione" class="form-control"  >
								<option value=""></option>
								<option value="MASCULINO">MASCULINO</option>
								<option value="FEMENINO">FEMENINO</option>
						</select>
					</div>
					<div class="col-sm-4">
						<label for="estadocivil">Estado Civil *</label>
						<select name="estadocivil" class="form-control select2" placeholder="Seleccione" ng-change="cli.seleccionarEstadoCivil(cli.objeto.profile.estadoCivil_id)" ng-model="cli.objeto.profile.estadoCivil_id" >
							<option value="{{estadoCivil._id}}" ng-repeat="estadoCivil in cli.estadosCiviles">
								{{estadoCivil.nombre}}
							</option>
						</select>
					</div>
					<div class="col-sm-4">					    
						<label>Fecha Nacimiento *</label>
						<input name="fechaNacimiento" type="date" format="dd/MM/yyyy" class="form-control" placeholder="Fecha" ng-model="cli.objeto.profile.fechaNacimiento" >
					</div>	
				</div>
				<div class="row">	
					<div class="col-sm-4">
						<label for="nacionalidad">Nacionalidad</label>
						<select name="nacionalidad" class="form-control select2" placeholder="Seleccione" ng-model="cli.objeto.profile.nacionalidad_id" >
							<option  value="{{nacionalidad._id}}" ng-repeat="nacionalidad in cli.nacionalidades">
								{{nacionalidad.nombre}}
							</option>
						</select>
					</div>	
					<div class="col-sm-4">					    
						<label>CURP</label>
						<input name="curp" type="text" class="form-control" placeholder="CURP" ng-model="cli.objeto.profile.curp" capitalize>
					</div>
					<div class="col-sm-4">					    
						<label>RFC</label>
						<input name="rfc" type="text" class="form-control" placeholder="RFC" ng-model="cli.objeto.profile.rfc" capitalize >
					</div>
				</div>
				<div class="row">
					
				  <div class="col-sm-4">					    
						<label>Lugar de Nacimiento *</label>
						<input name="lugarNacimiento" type="text" class="form-control" placeholder="Lugar de Nacimiento" ng-model="cli.objeto.profile.lugarNacimiento" capitalize  >
					</div>
					<div class="col-sm-4">
						<label for="id_label_single" >Ocupaciones *</label>
        		<select ng-options="ocupacion._id as ocupacion.nombre for ocupacion in cli.ocupaciones" 
     								ng-model="cli.objeto.profile.ocupacion_id" 
       							class="js-example-basic-single js-states form-control" 
         						placeholder="Seleccione" 
           					ng-change="cli.getOcupaciones(cli.ocupacionSeleccionado._id)" 
             				style="width: 300px;" >
	             	
            </select>
					</div>
					<div class="col-sm-4">
						<br/>
						<button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bs-ocupacion-modal-lg">Crear Ocupación</button>
					</div>
				</div>
			</div>  
			<h4>Dirección</h4>
			<div class="well">
				<div class="row">
					<div class="col-sm-4" >					    
						<label>Calle *</label>
						<input name="calle" type="text" class="form-control" placeholder="Calle" ng-model="cli.objeto.profile.calle"  capitalize>
					</div>
					<div class="col-sm-4" >					    
						<label>Numero *</label>
						<input name="numero" type="text" class="form-control" placeholder="Número" ng-model="cli.objeto.profile.numero" >
					</div>
					<div class="col-sm-4" >					    
						<label>CP *</label>
						<input name="cp" type="text"  class="form-control" placeholder="Código Postal" ng-model="cli.objeto.profile.codigoPostal" >
					</div>
				</div>
				<div class="row">
					<div class="col-sm-4" >
						<label >Pais *</label>
						<select name="dirPais" class="form-control select2" placeholder="Seleccione" ng-model="cli.objeto.profile.pais_id"  ng-change="cli.cambiarPaisObjeto()">
							<option  value="{{pais._id}}" ng-repeat="pais in cli.paises">{{pais.nombre}}</option>
						</select>
					</div>
					<div class="col-sm-4" >
						<label for="seccion_id">Estado *</label>
						<select name="dirEstado" class="form-control select2" placeholder="Seleccione" ng-model="cli.objeto.profile.estado_id"  ng-change="cli.cambiarEstadoObjeto()">
							<option ng-repeat="estado in cli.estados" value="{{estado._id}}">{{estado.nombre}}</option>
						</select>
					</div>	
					<div class="col-sm-4" >
						<label >Municipio *</label>
						<select name="dirMunicipio" class="form-control select2" placeholder="Seleccione" ng-model="cli.objeto.profile.municipio_id"  ng-change="cli.cambiarMunicipioObjeto()">
							<option  value="{{municipio._id}}" ng-repeat="municipio in cli.municipios">{{municipio.nombre}}</option>
						</select>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-4" >
						<label for="seccion_id">Ciudad *</label>
						<select name="dirCiudad" class="form-control select2" placeholder="Seleccione" ng-model="cli.objeto.profile.ciudad_id"  ng-change="cli.cambiarCiudadObjeto()">
							<option ng-repeat="ciudad in cli.ciudades" value="{{ciudad._id}}">{{ciudad.nombre}}</option>
						</select>
					</div>	
					<div class="col-sm-4">
						<label for="seccion_id">Buscar Colonia</label>
						<div class="input-group"> 
							<input name="colonia_id" type="text" class="form-control" ng-model="cli.buscar.coloniaNombre" capitalize>
							<span class="input-group-btn">
								<button class="btn btn-default" type="button" style="height: 34px;">
									<i class="fa fa-search"></i>
								</button> 
							</span>
						</div>
						<div class="ajax-dropdown" ng-show="cli.buscandoColonia" style="display: block; width: 180% !important;">
							<div class="ajax-notifications custom-scroll">
								<div class="alert alert-transparent">
									<div class="tab-pane fade active in" id="a2">
										<div class="user well" title="{{colonia.nombre}}" ng-repeat="colonia in cli.colonias" style="width: 100%">
											<div class="row">
												<div class="col-sm-4">
													<a href="javascript:void(0);" ng-click="cli.agregarColonia(colonia);cli.buscandoColonia = false"> {{colonia.nombre}}</a>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<span> 
								<button type="button" data-loading-text="<i class='fa fa-refresh fa-spin'></i> Cerrar..." class="btn btn-xs btn-default pull-right" ng-click="cli.buscando = false; cli.buscar.nombre = ''">
									<i class="fa fa-times"></i>
								</button> 
							</span>							
						</div>
					</div>
					<div class="col-sm-4" >					    
						<label>Colonia *</label>
						<input name="colonia" type="text" class="form-control" placeholder="Colonia" ng-model="cli.colonia.nombre" disabled="true" >
					</div>
				</div>
				<div class="row">
					<div class="col-sm-3">					    
						<label>Tiempo Residencia</label>
						<input name="tiempo" type="text" class="form-control" placeholder="Tiempo" ng-model="cli.objeto.profile.tiempoResidencia" capitalize>
					</div>
					<div class="col-sm-3">
						  <label for="casa">Casa</label>
							<input name="casa" type="text" class="form-control" ng-model="cli.objeto.profile.casa" capitalize>
						</div>
					<div class="col-sm-3">					    
						<label>Renta</label>
						<input name="renta" type="checkbox" class="form-control" ng-model="cli.objeto.profile.renta">
					</div>
					<div class="col-sm-3" ng-if="cli.objeto.profile.renta">					    
						<label>Renta Mes </label>
						<input name="rentaMes" type="number" min="0" class="form-control" placeholder="Renta Mes" ng-model="cli.objeto.profile.rentaMes">
					</div>
				</div>
				<div class="row">
					<div class="col-sm-12">					    
						<label>Señas Particulares</label>
						<input name="senias" type="text" class="form-control" placeholder="Señas" ng-model="cli.objeto.profile.senasParticulares" capitalize>
					</div>
				</div>
			</div>
			<h4>Ingresos Mensuales</h4>
			<div class="well">	    
				<div class="row">
					<div class="col-sm-4" > 					    
						<label>Ingresos Personales</label>
						<input name="ingresosPersonales" type="number" class="form-control" placeholder="Ingresos Personales" ng-change="cli.calcularTotales()" ng-model="cli.objeto.profile.ingresosPersonales" value="0">
					</div>
					<div class="col-sm-4" >					    
						<label>Ingresos Cónyuge</label>
						<input name="ingresosConyuge" type="number" class="form-control" placeholder="Ingresos Conyuge" ng-change="cli.calcularTotales()" ng-model="cli.objeto.profile.ingresosConyuge">
					</div>
					<div class="col-sm-4">					    
						<label>Otros Ingresos</label>
						<input name="otrosIngresos" type="number" class="form-control" placeholder="Otros Ingresos" ng-change="cli.calcularTotales()" ng-model="cli.objeto.profile.otrosIngresos" >
					</div>
				</div>
				<div class="row">
					<div class="col-sm-4">
						<label>Total Ingresos</label>
						<input name="totalIngresos" type="number" class="form-control" placeholder="Total Ingresos" ng-model="cli.objeto.profile.totalIngresos" disabled="" >
					</div>  				    	    
					<div class="col-sm-4" > 					    
						<label>Gastos Fijos</label>
						<input name="gastosFijos" type="number" class="form-control" placeholder="Gastos Fijos" ng-change="cli.calcularTotales()" ng-model="cli.objeto.profile.gastosFijos">
					</div>
					<div class="col-sm-4" >					    
						<label>Gastos Eventuales</label>
						<input name="gastosEventuales" type="number" class="form-control" placeholder="Gastos Eventuales" ng-change="cli.calcularTotales()" ng-model="cli.objeto.profile.gastosEventuales">
					</div>
				</div>
				<div class="row">
					<div class="col-sm-4">					    
						<label>Total Gastos</label>
						<input name="totalGastos" type="number" class="form-control" placeholder="Total Gastos" ng-model="cli.objeto.profile.totalGastos" disabled="">
					</div>	  
					<div class="col-sm-4">					    
						<label>Resultado Neto</label>
						<input name="resultadoNeto" type="number" class="form-control" placeholder="Resultado Neto" ng-model="cli.objeto.profile.resultadoNeto" disabled="">
					</div>  				    	    
				</div>
			</div>
			<div ng-if="cli.estadoCivilSeleccionado.nombre == 'CASADO (A)'">
				<h4>Información del Cónyuge</h4 >
				<div class="well">
					<div class="row">
						<div class="col-sm-4" > 					    
							<label>Nombre *</label>
							<input name="nombreConyuge" type="text" class="form-control" placeholder="Nombre" ng-model="cli.objeto.profile.nombreConyuge"  capitalize>
						</div>
						<div class="col-sm-4" >					    
							<label>Celular *</label>
							<input name="celularConyuge" type="text" class="form-control" placeholder="Celular" ng-model="cli.objeto.profile.celularConyuge"  capitalize>
						</div>
						<div class="col-sm-4" >					    
							<label>Empresa *</label>
							<input name="empresaConyuge" type="text" class="form-control" placeholder="Empresa Conyuge" ng-model="cli.objeto.profile.empresaConyuge"  capitalize>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-4" >					    
							<label>Dirección Empresa*</label>
							<input name="direccionEmpresa" type="text" class="form-control" placeholder="Dirección Empresa" ng-model="cli.objeto.profile.direccionEmpresa"  capitalize>
						</div>
						<div class="col-sm-4" >					    
							<label>Teléfono del trabajo *</label>
							<input name="telefonoConyugeTrabajo" type="text" class="form-control" placeholder="Teléfono trabajo" ng-model="cli.objeto.profile.telefonoConyugeTrabajo"  capitalize >
						</div>
						<div class="col-sm-4" >					    
							<label>Puesto *</label>
							<input name="puestoConyuge" type="text" class="form-control" placeholder="Puesto" ng-model="cli.objeto.profile.puestoConyuge"  capitalize>
						</div>
						
					</div>
					<div class="row">
						
						<div class="col-sm-12" >					    
							<label>Nombre, puesto y teléfono jefe inmediato *</label>
							<input name="datosjefeInmediato" type="text" class="form-control" placeholder="Datos Jefe Inmediato" ng-model="cli.objeto.profile.datosjefeInmediato"  capitalize>
						</div>
					</div>
				</div>
			</div>
			<h4>Referencias Personales</h4>
			<div class="well">
				<div class="row">
					<div class="col-sm-6"> 
						<div ng-include=" 'client/clientes/_buscarPersonaReferencia.html'"></div>
					</div>
					<div class="col-sm-4">
						<button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bs-referenciaPersonal-modal-lg" ng-click="cli.createReferenciaPersonal()">+ Referencia Personal</button>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-4"> 					    
						<label>Nombre</label>
						<input name="nombreParentezco" type="text" class="form-control" placeholder="Nombre" ng-model="cli.referenciaPersonal.nombre" capitalize>
					</div>
					<div class="col-sm-4"> 					    
						<label>Apellido Paterno</label>
						<input name="apellidoPaternoParentezco" type="text" class="form-control" placeholder="Apellido Paterno" ng-model="cli.referenciaPersonal.apellidoPaterno" capitalize>
					</div>
					<div class="col-sm-4"> 					    
						<label>Apellido Materno</label>
						<input name="apellidoMaternoParentezco" type="text" class="form-control" placeholder="Apellido Materno" ng-model="cli.referenciaPersonal.apellidoMaterno" capitalize>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-8">					    
						<label>Dirección</label>
						<input name="direccionParentesco" type="text" class="form-control" placeholder="Dirección" ng-model="cli.referenciaPersonal.direccion" capitalize>
					</div>
					<div class="col-sm-4">					    
						<label>Telefono</label>
						<input name="telefonoParentesco" type="text" class="form-control" placeholder="Teléfono" ng-model="cli.referenciaPersonal.telefono" capitalize>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-4">					    
						<label>Celular</label>
						<input name="celularParentesco" type="text" class="form-control" placeholder="Celular" ng-model="cli.referenciaPersonal.celular" capitalize>
					</div>
					<div class="col-sm-4">					    
						<label>Ciudad</label>
						<input name="ciudadParentesco" type="text" class="form-control" placeholder="Ciuadad" ng-model="cli.referenciaPersonal.ciudad" capitalize>
					</div>
					<div class="col-sm-4">					    
						<label>Estado</label>
						<input name="estadoParentesco" type="text" class="form-control" placeholder="Estado" ng-model="cli.referenciaPersonal.estado" capitalize>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-4">					    
						<label>Parentesco</label>
						<input name="parentesco" type="text" class="form-control" placeholder="Parentesco" ng-model="cli.referenciaPersonal.parentesco" capitalize>
					</div>
					<div class="col-sm-4">					    
						<label>Tiempo en Conocerlo</label>
						<input name="tiempoConocerloParentesco" type="text" class="form-control" placeholder="Tiempo" ng-model="cli.referenciaPersonal.tiempoConocerlo" capitalize>
					</div>
				</div>	
				<br>
				<div class="row">		
					<div class="col-sm-12">
						<input type="button" ng-click="cli.insertarReferencia()" value="Agregar" ng-show="cli.actionReferencia" class="btn btn-primary">
						<input type="button" ng-click="cli.borrarReferencia()" value="Quitar Referencia" ng-show="cli.referenciaPersonal._id" class="btn btn-warning"> 	
						<input type="button" ng-click="cli.actualizarReferencia(cli.referenciaPersonal)" value="Actualizar" ng-show="!cli.actionReferencia" class="btn btn-primary">
						<input type="button" ng-click="cli.cancelarReferencia()" value="Cancelar" ng-show="!cli.actionReferencia" class="btn btn-danger">	   				
					</div>
				</div>
				<br>
				<div class="row">
					<table class="table table-bordered" style="font-size: smaller">
						<thead>
							<tr>
								<th width="5%">No.</th>
								<th width="20%">Nombre</th>
								<th width="30%">Dirección - Ciudad - Estado</th>
								<th width="10%">Teléfono</th>
								<th width="10%">Celular</th>
								<th width="10%">Parentesco</th>
								<th width="10%">Tiempo en Conocerlo</th>
								<th width="5%">Quitar</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="p in cli.referenciasPersonales">
								<td>{{p.num}}</td>
								<td>{{p.nombre}} {{p.apellidoPaterno}} {{p.apellidoMaterno}}</td>
								<td>{{p.direccion}} {{p.ciudad}} {{p.estado}}</td>
								<td>{{p.telefono}}</td>
								<td>{{p.celular}}</td>
								<td>{{p.parentesco}}</td>
								<td>{{p.tiempoConocerlo}}</td>
								<td>
									<a href="#" class="btn btn-xs btn-primary"  ng-click="cli.quitarReferencia(p)"><i class="fa fa-trash"></i></a>
									<a href="#" class="btn btn-xs btn-primary"  ng-click="cli.editarReferencia(p)"><i class="fa fa-pencil"></i></a>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<h4>Empresa</h4>
			<div class="well">
				<div class="row">
					<div class="col-sm-4">
						<br />
						<button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bs-empresa-modal-lg" ng-click="cli.createEmpresa()">Crear Empresa</button>
						<button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bs-empresa-modal-lg" ng-click="cli.getEmpresa(cli.objeto.profile.empresa_id)" ng-show="cli.objeto.profile.empresa_id" >Ver Empresa</button>
					</div>
				</div>
				<br>
				<div class="row">
						<div class="col-sm-4">
							<label for="seccion_id">Buscar Empresa</label>
							<div class="input-group"> 
								<input name="colonia_id" type="text" class="form-control" ng-model="cli.buscar.empresaNombre" capitalize>
								<span class="input-group-btn">
									<button class="btn btn-default" type="button" style="height: 34px;">
										<i class="fa fa-search"></i>
									</button> 
								</span>
							</div>
							<div class="ajax-dropdown" ng-show="cli.buscandoEmpresa" style="display: block; width: 180% !important;">
								<div class="ajax-notifications custom-scroll">
									<div class="alert alert-transparent">
										<div class="tab-pane fade active in" id="a2">
											<div class="user well" title="{{objeto.nombre}}" ng-repeat="objeto in cli.empresas" style="width: 100%">
												<div class="row">
													<div class="col-sm-4">
														<a href="javascript:void(0);" ng-click="cli.agregarEmpresa(objeto);cli.buscandoEmpresa = false"> {{objeto.nombre}}</a> 
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<span> 
									<button type="button" data-loading-text="<i class='fa fa-refresh fa-spin'></i> Cerrar..." class="btn btn-xs btn-default pull-right" ng-click="cli.buscando = false; cli.buscar.nombre = ''">
										<i class="fa fa-times"></i>
									</button> 
								</span>							
							</div>
						</div>					
				</div>	
				<div class="row">			
					<div class="col-sm-4" >					    
						<label>Empresa *</label>
						<input name="empresa" type="text" class="form-control" placeholder="Empresa" ng-model="cli.empresa.nombre" disabled="true" >
					</div>
					<div class="col-sm-4" >					    
						<label>Teléfono *</label>
						<input name="telefonoEmpresa" type="text" class="form-control" placeholder="Teléfono Empresa" ng-model="cli.objeto.profile.telefonoEmpresa" >
					</div>
					<div class="col-sm-4" >					    
						<label>Tiempo Laborando *</label>
						<input name="tiempoLaborando" type="text" class="form-control" placeholder="Tiempo Laborando" ng-model="cli.objeto.profile.tiempoLaborando"  capitalize>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-4" >					    
						<label>Puesto *</label>
						<input name="puesto" type="text" class="form-control" placeholder="Puesto" ng-model="cli.objeto.profile.puesto"  capitalize>
					</div>
					<div class="col-sm-4" >					    
						<label>Departamento *</label>
						<input name="departamento" type="text" class="form-control" placeholder="Departamento" ng-model="cli.objeto.profile.departamento"  capitalize>
					</div>
					<div class="col-sm-4">					    
						<label>Jefe Inmediato</label>
						<input name="jefeinmediato" type="text" class="form-control" placeholder="Jefe Inmediato" ng-model="cli.objeto.profile.jefeInmediato" capitalize>
					</div>
					<div class="col-sm-4">					    
						<label>Teléfono del Jefe</label>
						<input name="telefonoJefe" type="text" class="form-control" placeholder="Jefe Inmediato" ng-model="cli.objeto.profile.telefonoJefe" capitalize>
					</div>
				</div>
				<br>
				<div class="row">
					<div class="col-sm-12">
						<input type="submit" ng-click="cli.guardar(cli.objeto,form)" value="Guardar" class="btn btn-primary" ng-show="cli.action" -form formulario="form">
						<input type="submit" ng-click="cli.actualizarForm(cli.objeto,form)" value="Actualizar" class="btn btn-primary" ng-show="!cli.action" -form formulario="form">
					</div>
				</div>
			</div>
		</form>
	</div>
</div>
<!-- Modal Empresa -->
<div id="modalEmp" class="modal fade bs-empresa-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
	<div class="modal-dialog modal-lg" role="document">
	<div class="modal-content">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			<h4 class="modal-title" id="myModalLabel">Agregar Empresa</h4>

		</div>

		<div class="widget-body">
			<form name="form2" note>
				<div class="well">	    
					<div class="row">
						<div class="col-sm-6" > 					    
							<label>Nombre *</label>
							<input name="nombreEmpresa" type="text" class="form-control" placeholder="Nombre" ng-model="cli.empresa.nombre"  capitalize>
						</div>
						<div class="col-sm-6" >					    
							<label>Razón Social *</label>
							<input name="razonsocial" type="text" class="form-control" placeholder="Razón Social" ng-model="cli.empresa.razonSocial"  capitalize>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-4" >					    
							<label>Calle *</label>
							<input name="calleEmpresa" type="text" class="form-control" placeholder="Calle" ng-model="cli.empresa.calle"  capitalize >
						</div>	  
						<div class="col-sm-4" >					    
							<label>Número *</label>
							<input name="numeroEmpresa" type="text" class="form-control" placeholder="Número" ng-model="cli.empresa.numero"  capitalize>
						</div>  
						<div class="col-sm-4" >					    
							<label>Código Postal *</label>
							<input name="codigopostal" type="number" class="form-control" placeholder="Código Postal" ng-model="cli.empresa.codigoPostal" >
						</div>				    	    
					</div>
					<div class="row">
						<div class="col-sm-4" >
							<label >Pais *</label>
							<select name="dirPaisEmpresa" class="form-control select2" placeholder="Seleccione" ng-model="cli.empresa.pais_id"  ng-change="cli.cambiarPaisEmpresa()">
								<option  value="{{pais._id}}" ng-repeat="pais in cli.paises">{{pais.nombre}}</option>
							</select>
						</div>
						<div class="col-sm-4" >
							<label for="seccion_id">Estado *</label>
							<select name="dirEstadoEmpresa" class="form-control select2" placeholder="Seleccione" ng-model="cli.empresa.estado_id"  ng-change="cli.cambiarEstadoEmpresa()" >
								<option ng-repeat="estado in cli.estadosEmpresa" value="{{estado._id}}">{{estado.nombre}}</option>
							</select>
						</div>	
						<div class="col-sm-4" >
							<label >Municipio *</label>
							<select name="dirMunicipioEmpresa" class="form-control select2" placeholder="Seleccione" ng-model="cli.empresa.municipio_id"  ng-change="cli.cambiarMunicipioEmpresa()">
								<option  value="{{municipio._id}}" ng-repeat="municipio in cli.municipiosEmpresa">{{municipio.nombre}}</option>
							</select>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-4" >
							<label for="seccion_id">Ciudad *</label>
							<select name="dirCiudadEmpresa" class="form-control select2" placeholder="Seleccione" ng-model="cli.empresa.ciudad_id"  ng-change="cli.cambiarCiudadEmpresa()">
								<option ng-repeat="ciudad in cli.ciudadesEmpresa" value="{{ciudad._id}}">{{ciudad.nombre}}</option>
							</select>
						</div>	
						<div class="col-sm-4">
							<label for="seccion_id">Buscar Colonia</label>
							<div class="input-group"> 
								<input name="empresaColonia_id" type="text" class="form-control" ng-model="cli.buscar.coloniaNombreEmpresa" capitalize>
								<span class="input-group-btn">
									<button class="btn btn-default" type="button" style="height: 34px;">
										<i class="fa fa-search"></i>
									</button> 
								</span>
							</div>
							<div class="ajax-dropdown" ng-show="cli.buscandoColoniaEmpresa" style="display: block; width: 200% !important;">
								<div class="ajax-notifications custom-scroll">
									<div class="alert alert-transparent">
										<div class="tab-pane fade active in" id="a2">
											<div class="user well" title="{{colonia.nombre}}" ng-repeat="colonia in cli.coloniasEmpresa" style="width: 100%">
												<div class="row">
													<div class="col-sm-4">
														<a href="javascript:void(0);" ng-click="cli.agregarColoniaEmpresa(colonia);rc.buscandoColoniaEmpresa = false"> {{colonia.nombre}}</a> 
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<span> 
									<button type="button" data-loading-text="<i class='fa fa-refresh fa-spin'></i> Cerrar..." class="btn btn-xs btn-default pull-right" ng-click="cli.buscando = false; cli.buscar.nombre = ''">
										<i class="fa fa-times"></i>
									</button> 
								</span>
								
							</div>
						</div>
						<div class="col-sm-4" >					    
							<label>Colonia</label>
							<input name="coloniaEmpresa" type="text" class="form-control" placeholder="Colonia" ng-model="cli.coloniaEmpresa.nombre" disabled="true" >
						</div>
					</div>	 
				</div>
			</form>
		</div>
		<br>
		<div class="modal-footer"s>
			<button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
			<input type="submit" ng-click="cli.guardarEmpresa(cli.empresa, cli.objeto,form2)" value="Guardar" class="btn btn-primary" -form formulario="form2" ng-show="cli.nuevoEmpresa">
			<input type="submit" ng-click="cli.actualizarEmpresa(cli.empresa, cli.objeto,form2)" value="Actualizar" class="btn btn-primary" -form formulario="form2" ng-show="!cli.nuevoEmpresa">
	  </div>
	</div>
</div>
</div>

<!-- Ocupación -->
<div id="modalOcupacion" class="modal fade bs-ocupacion-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="myModalLabel">Agregar Ocupación</h4>
			</div>
			<div class="widget-body">
				<form name="form3" note>
					<div class="well">	    
						<div class="row">
							<div class="col-sm-6" > 					    
								<label>Nombre *</label>
								<input name="nombreOcupacion" type="text" class="form-control" placeholder="Nombre" ng-model="cli.ocupacion.nombre"  capitalize>
							</div>
						
						</div>
			 
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
				<input type="submit" ng-click="cli.guardarOcupacion(cli.ocupacion, cli.objeto,form3)" value="Guardar" class="btn btn-primary" -form formulario="form3">
		  </div>
		</div>
	</div>
</div>

<!-- Referecia Personal -->
<div id="modalreferenciaPersonal" class="modal fade bs-referenciaPersonal-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="myModalLabel">Agregar Referencia Personal</h4>
			</div>
			<div class="widget-body">
				<form name="form4" novalidate>
					<div class="well">	    
						<div class="row">
							<div class="col-sm-4" valida> 					    
								<label>Nombre *</label>
								<input name="nombreRP" type="text" class="form-control" placeholder="Nombre" ng-model="cli.referenciaPersonal.nombre" required capitalize>
							</div>
							<div class="col-sm-4" valida> 					    
								<label>Apellido Paterno *</label>
								<input name="apellidoPaternoRP" type="text" class="form-control" placeholder="Nombre" ng-model="cli.referenciaPersonal.apellidoPaterno" required capitalize>
							</div>
							<div class="col-sm-4"> 					    
								<label>Apellido Materno</label>
								<input name="apellidoMaternoRP" type="text" class="form-control" placeholder="Nombre" ng-model="cli.referenciaPersonal.apellidoMaterno" capitalize>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-8" valida>					    
								<label>Dirección *</label>
								<input name="direccionRP" type="text" class="form-control" placeholder="Dirección" ng-model="cli.referenciaPersonal.direccion" required capitalize>
							</div>
							<div class="col-sm-4" valida>					    
								<label>Telefono *</label>
								<input name="telefonoRP" type="text" class="form-control" placeholder="Teléfono" ng-model="cli.referenciaPersonal.telefono" required capitalize>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-4" valida>					    
								<label>Celular *</label>
								<input name="celularRP" type="text" class="form-control" placeholder="Celular" ng-model="cli.referenciaPersonal.celular" required capitalize>
							</div>
							<div class="col-sm-4" valida>					    
								<label>Ciudad *</label>
								<input name="ciudadRP" type="text" class="form-control" placeholder="Ciudad" ng-model="cli.referenciaPersonal.ciudad" required capitalize>
							</div>
							<div class="col-sm-4" valida>					    
								<label>Estado *</label>
								<input name="estadoRP" type="text" class="form-control" placeholder="Estado" ng-model="cli.referenciaPersonal.estado" required capitalize>
							</div>
						</div>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
				<input type="submit" ng-click="cli.guardarReferenciaPersonal(cli.referenciaPersonal, form4)" value="Guardar" class="btn btn-primary" valida-form formulario="form4">
		  </div>
		</div>
	</div>
</div>

<!-- Documentos -->
<div id="modalDocumentoImagen" class="modal fade bs-ocupacion-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="myModalLabel">Agregar Documento</h4>
			</div>
			<div class="widget-body">
				<form name="form3" note>
					<div class="well">	    
						<div class="row">
						 	<div class="col-sm-6" >
									<label>Archivo</label>
									<input name="archivo" type="file" id="fileInput1" >
 						  </div>
 							<div class="col-sm-4">
								<label id="id_label_single">Seleccionar Documento</label>
								<select class="form-control" id="id_label_single" placeholder="Seleccione" ng-model="cli.documento_id"
												ng-change="cli.getClientes(cli.objeto.profile.documento_id)">
									<option ng-repeat="documento in cli.documentos" value="{{documento._id}}">{{documento.nombre}}</option>
								</select>
							</div>
  						</div>
 						<div class="row">
	 						<div class="col-sm-12" >
 	 							 <div id="fileDisplayArea1"></div>
 	 						</div>
 						</div>
 					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
				<a href="" class="btn btn-primary" ng-click="cli.agregarDoc(cli.documento_id, cli.imagen)">Guardar</a>
				<!-- <a href="" class="btn btn-primary" ng-click="cli.actDoc(cli.objeto.profile.documento_id,cli.imagen)" ng-if="cli.objeto._id">Guardar</a> -->
		  </div>
		</div>
	</div>
</div>
  
<script>
	$('#bootstrap-wizard-1').bootstrapWizard({
	'tabClass': 'form-wizard',
	'onNext': function (tab, navigation, index) {      
	  $('#bootstrap-wizard-1').find('.form-wizard').children('li').eq(index - 1).addClass('complete');
	  $('#bootstrap-wizard-1').find('.form-wizard').children('li').eq(index - 1).find('.step').html('<i class="fa fa-check"></i>');
	}
  });
</script>