<div class="row">
	<div class="col-sm-12">
		<form name="form" class="form-horizontal" role="form" novalidate>		
			<h4>Información del Cliente</h4>
			<div class="well">	    
		    <div class="row">
		    	<div class="col-sm-4" valida> 					    
			    	<label>Nombre (s) *</label>
			    	<input name="nombre" type="text" class="form-control" placeholder="Nombre" ng-model="cli.objeto.profile.nombre" required>
		    	</div>
		    	<div class="col-sm-4" valida>					    
			    	<label>Apellido Paterno *</label>
			    	<input name="apellidoPaterno" type="text" class="form-control" placeholder="Apellido Paterno" ng-model="cli.objeto.profile.apellidoPaterno" required>
		    	</div>
		    	<div class="col-sm-4">					    
			    	<label>Apellido Materno</label>
			    	<input name="apellidoMaterno" type="text" class="form-control" placeholder="Apellido Materno" ng-model="cli.objeto.profile.apellidoMaterno" >
		    	</div>	    				    	    
		    </div>
		    <div class="row">
			    <div class="col-sm-4" valida> 					    
				    	<label>Usuario *</label>
				    	<input name="usuario" type="text" class="form-control" placeholder="Usuario" ng-model="cli.objeto.username" required="">
			    	</div>
			    	<div class="col-sm-4" valida>					    
				    	<label>Contraseña *</label>
				    	<input name="contrasena" type="password" class="form-control" placeholder="Contraseña" ng-model="cli.objeto.password" required="">
			    	</div>		    				    	    
			    	<div class="col-sm-4" valida>					    
				    	<label>Confirmar Contraseña *</label>
				    	<input name="confirmar" type="password" class="form-control" placeholder="Confirmar Contraseña" ng-model="cli.objeto.confirmpassword" required="">
					  </div>
		    </div>  
			</div>
			<h4>Información de Contacto</h4>
			<div class="well">	    
		    <div class="row">
		    	<div class="col-sm-3" valida> 					    
			    	<label>Teléfono *</label>
			    	<input name="telefono" type="text" class="form-control" placeholder="Teléfono" ng-model="cli.objeto.profile.telefono" required>
		    	</div>
		    	<div class="col-sm-3" valida>					    
			    	<label>Celular *</label>
			    	<input name="celular" type="text" class="form-control" placeholder="Celular" ng-model="cli.objeto.profile.celular" required>
		    	</div>
		    	<div class="col-sm-3">					    
			    	<label>Otro Teléfono</label>
			    	<input name="otroTelefono" type="text" class="form-control" placeholder="Otro Teléfono" ng-model="cli.objeto.profile.otroTelefono" >
		    	</div>	  
		    	<div class="col-sm-3">					    
			    	<label>Correo</label>
			    	<input name="correo" type="text" class="form-control" placeholder="Correo" ng-model="cli.objeto.profile.correo" >
		    	</div>  				    	    
		    </div>
			</div>
			<h4>Particulares</h4>
			<div class="well">
		    <div class="row">
					<div class="col-sm-3" valida>
				    <label for="sexo">Sexo *</label>
				    <select name="sexo" ng-model="cli.objeto.profile.sexo" data-placeholder="Seleccione" class="form-control" required>
						    <option value=""></option>
						    <option value="masculino">Masculino</option>
						    <option value="feminino">Feminino</option>
						</select>
		    	</div>
		    	<div class="col-sm-3">
						<label for="estadocivil">Estado Civil *</label>
						<select name="estadocivil" class="form-control select2" placeholder="Seleccione" ng-model="cli.objeto.profile.estadoCivil_id" required>
								<option  value="{{estadoCivil._id}}" ng-repeat="estadoCivil in cli.estadosCiviles">
									{{estadoCivil.nombre}}
								</option>
							</select>
					</div>
						
		    	<div class="col-sm-3">					    
			    	<label>Fecha Nacimiento *</label>
			    	<input name="fechaNacimiento" type="date" format="dd/MM/yyyy" class="form-control" placeholder="Fecha" ng-model="cli.objeto.profile.fechaNacimiento" required="">
		    	</div>	
					
					<div class="col-sm-3">
						<label for="nacionalidad">Nacionalidad</label>
						<select name="nacionalidad" class="form-control select2" placeholder="Seleccione" ng-model="cli.objeto.profile.nacionalidad_id" required>
								<option  value="{{nacionalidad._id}}" ng-repeat="nacionalidad in cli.nacionalidades">
									{{nacionalidad.nombre}}
								</option>
							</select>
					</div>			
		    </div>
		    <div class="row">
			    <div class="col-sm-3">
						<label for="ocupacion">Ocupación *</label>
						<select name="ocupacion" class="form-control select2" placeholder="Seleccione" ng-model="cli.objeto.profile.ocupacion_id" required>
								<option  value="{{ocupacion._id}}" ng-repeat="ocupacion in cli.ocupaciones">
									{{ocupacion.nombre}}
								</option>
							</select>
					</div>		
		    	<div class="col-sm-3">					    
			    	<label>CURP</label>
			    	<input name="curp" type="text" class="form-control" placeholder="CURP" ng-model="cli.objeto.profile.curp" >
		    	</div>
		      <div class="col-sm-3">					    
			    	<label>Lugar de Nacimiento</label>
			    	<input name="lugarNacimiento" type="text" class="form-control" placeholder="Lugar de Nacimiento" ng-model="cli.objeto.profile.lugarNacimiento" >
		    	</div>	
		    </div>			 
			</div>  
			<h4>Dirección</h4>			
			<div class="well">	    
		    <div class="row">
			    <div class="col-sm-4" valida>					    
			    	<label>Calle *</label>
			    	<input name="calle" type="text" class="form-control" placeholder="Calle" ng-model="cli.objeto.profile.calle" required="">
		    	</div>
		    	<div class="col-sm-2" valida>					    
			    	<label>Numero *</label>
			    	<input name="numero" type="text" class="form-control" placeholder="Número" ng-model="cli.objeto.profile.numero" required="">
		    	</div>
		    	<div class="col-sm-3" valida>					    
			    	<label>Colonia *</label>
			    	<input name="colonia" type="text" class="form-control" placeholder="Colonia" ng-model="cli.objeto.profile.colonia" required="">
		    	</div>
		    	<div class="col-sm-3" valida>					    
			    	<label>CP *</label>
			    	<input name="cp" type="number" min="0" class="form-control" placeholder="Código Postal" ng-model="cli.objeto.profile.codigoPostal" required="">
		    	</div>
		    </div>
		    <div class="row">
			    <div class="col-sm-3" valida>
							<label >Pais *</label>
							<select name="dirPais" class="form-control select2" placeholder="Seleccione" ng-model="cli.objeto.profile.pais_id" required ng-change="cli.cambiarPaisObjeto()">
									<option  value="{{pais._id}}" ng-repeat="pais in cli.paises">{{pais.nombre}}</option>
							</select>
					</div>
				  <div class="col-sm-3" valida>
							<label for="seccion_id">Estado *</label>
							<select name="dirEstado" class="form-control select2" placeholder="Seleccione" ng-model="cli.objeto.profile.estado_id" required ng-change="cli.cambiarEstadoObjeto()">
								<option ng-repeat="estado in cli.estados" value="{{estado._id}}">{{estado.nombre}}</option>
							</select>
					</div>	
					<div class="col-sm-3" valida>
							<label >Municipio *</label>
							<select name="dirMunicipio" class="form-control select2" placeholder="Seleccione" ng-model="cli.objeto.profile.municipio_id" required ng-change="cli.cambiarMunicipioObjeto()">
								<option  value="{{municipio._id}}" ng-repeat="municipio in cli.municipios">{{municipio.nombre}}</option>
							</select>
					</div>
					<div class="col-sm-3" valida>
							<label for="seccion_id">Ciudad *</label>
							<select name="dirCiudad" class="form-control select2" placeholder="Seleccione" ng-model="cli.objeto.profile.ciudad_id" required ng-change="cli.cambiarCiudadObjeto()">
								<option ng-repeat="ciudad in cli.ciudades" value="{{ciudad._id}}">{{ciudad.nombre}}</option>
							</select>
					</div>	
		    </div>
		    <div class="row">
			    <div class="col-sm-3" valida>
							<label for="seccion_id">Colonia *</label>
							<select name="dirColonia" class="form-control select2" placeholder="Seleccione" ng-model="cli.objeto.profile.colonia_id" required>
								<option ng-repeat="colonia in cli.colonias" value="{{colonia._id}}">{{colonia.nombre}}</option>
							</select>
					</div>
					<div class="col-sm-3">					    
			    	<label>Tiempo Residencia</label>
			    	<input name="tiempo" type="text" class="form-control" placeholder="Tiempo" ng-model="cli.objeto.profile.tiempoResdencia">
		    	</div>
		    	<div class="col-sm-2">					    
			    	<label>Renta</label>
			    	<input name="rentaMes" type="checkbox" class="form-control" ng-model="cli.objeto.profile.renta">
		    	</div>
		    	<div class="col-sm-3" ng-if="cli.objeto.profile.renta">					    
			    	<label>Renta Mes </label>
			    	<input name="tiempo" type="number" min="0" class="form-control" placeholder="Renta Mes" ng-model="cli.objeto.profile.rentaMes">
		    	</div>
					<div class="col-sm-12">					    
			    	<label>Señas Particulares</label>
			    	<input name="senias" type="text" class="form-control" placeholder="Señas" ng-model="cli.objeto.profile.senasParticulares">
		    	</div>
						
		    </div>
			</div>  	
			<h4>Empresa</h4>			
			<div class="well">	    
		    <div class="row">
			    <div class="col-sm-3" valida>
							<label for="seccion_id">Empresa *</label>
							<select name="empresa" class="form-control select2" placeholder="Seleccione" ng-model="cli.objeto.profile.empresa_id" required>
								<option ng-repeat="empresa in cli.empresas" value="{{empresa._id}}">{{empresa.nombre}}</option>
							</select>
							<button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-lg">Crear Empresa</button>
					</div>
		    </div>
			</div>  
			<div class="well">	    
			    <div class="row">
						<div class="col-sm-12">
							<input type="submit" ng-click="cli.guardar(cli.objeto,form)" value="Guardar" class="btn btn-primary" ng-show="cli.action" valida-form formulario="form">
							<input type="submit" ng-click="cli.actualizar(cli.objeto,form)" value="Actualizar" class="btn btn-primary" ng-show="!cli.action" valida-form formulario="form">
						</div>
					</div>
		  	</div>    
		</form>
	</div>
</div>




<!-- Modal -->

<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
	    	<div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		        <h4 class="modal-title" id="myModalLabel">Agregar Empresa</h4>
		    </div>
				<div class="widget-body">
							<form name="form2" novalidate>
											<div class="well">	    
										    <div class="row">
										    	<div class="col-sm-6" valida> 					    
											    	<label>Nombre *</label>
											    	<input name="nombreEmpresa" type="text" class="form-control" placeholder="Nombre" ng-model="cli.empresa.nombre" required>
										    	</div>
										    	<div class="col-sm-6" valida>					    
											    	<label>Razón Social *</label>
											    	<input name="razonsocial" type="text" class="form-control" placeholder="Razón Social" ng-model="cli.empresa.razonSocial" required>
										    	</div>
										    	<div class="col-sm-4" valida>					    
											    	<label>Calle *</label>
											    	<input name="calleEmpresa" type="text" class="form-control" placeholder="Calle" ng-model="cli.empresa.calle" required="" >
										    	</div>	  
										    	<div class="col-sm-2" valida>					    
											    	<label>Número *</label>
											    	<input name="numeroEmpresa" type="number" class="form-control" placeholder="Número" ng-model="cli.empresa.numero" required="" >
										    	</div>  				    	    
										    	<div class="col-sm-6" valida>					    
											    	<label>Colonia *</label>
											    	<input name="coloniaEmpresa" type="text" class="form-control" placeholder="Colonia" ng-model="cli.empresa.colonia" required="">
										    	</div>
										    </div>
										    <div class="row">
											    <div class="col-sm-3" valida>					    
											    	<label>Teléfono *</label>
											    	<input name="telefono" type="text" class="form-control" placeholder="Teléfono" ng-model="cli.empresa.telefono" required="">
										    	</div>
										    	<div class="col-sm-3" valida>					    
											    	<label>Código Postal *</label>
											    	<input name="codigopostal" type="text" class="form-control" placeholder="Código Postal" ng-model="cli.empresa.codigoPostal" required="">
										    	</div>
										    	<div class="col-sm-3" valida>					    
											    	<label>Tiempo Laborando *</label>
											    	<input name="tiempoLaborando" type="text" class="form-control" placeholder="Tiempo Laborando" ng-model="cli.empresa.tiempoLaborando" required="">
										    	</div>
										    	<div class="col-sm-3" valida>					    
											    	<label>Puesto *</label>
											    	<input name="puesto" type="text" class="form-control" placeholder="Puesto" ng-model="cli.empresa.puesto" required="">
										    	</div>
										    </div>  
										    <div class="row">
										    	<div class="col-sm-3" valida>					    
											    	<label>Departamento *</label>
											    	<input name="departamento" type="text" class="form-control" placeholder="Departamento" ng-model="cli.empresa.departamento" required="">
										    	</div>
										    	<div class="col-sm-3" valida>					    
											    	<label>Jefe Inmediato *</label>
											    	<input name="jefeinmediato" type="text" class="form-control" placeholder="Jefe Inmediato" ng-model="cli.empresa.jefeInmediato" required="">
										    	</div>
												</div>
												<div class="row">
													<div class="col-sm-3" valida>
															<label >Pais *</label>
															<select name="dirPaisEmpresa" class="form-control select2" placeholder="Seleccione" ng-model="cli.empresa.pais_id" required ng-change="cli.cambiarPaisEmpresa()">
																	<option  value="{{pais._id}}" ng-repeat="pais in cli.paises">{{pais.nombre}}</option>
															</select>
													</div>
												  <div class="col-sm-3" valida>
															<label for="seccion_id">Estado *</label>
															<select name="dirEstadoEmpresa" class="form-control select2" placeholder="Seleccione" ng-model="cli.empresa.estado_id" required ng-change="cli.cambiarEstadoEmpresa()">
																<option ng-repeat="estado in cli.estados" value="{{estado._id}}">{{estado.nombre}}</option>
															</select>
													</div>	
													<div class="col-sm-3" valida>
															<label >Municipio *</label>
															<select name="dirMunicipioEmpresa" class="form-control select2" placeholder="Seleccione" ng-model="cli.empresa.municipio_id" required ng-change="cli.cambiarMunicipioEmpresa()">
																<option  value="{{municipio._id}}" ng-repeat="municipio in cli.municipios">{{municipio.nombre}}</option>
															</select>
													</div>
													<div class="col-sm-3" valida>
															<label for="seccion_id">Ciudad *</label>
															<select name="dirCiudadEmpresa" class="form-control select2" placeholder="Seleccione" ng-model="cli.empresa.ciudad_id" required ng-change="cli.cambiarCiudadEmpresa()">
																<option ng-repeat="ciudad in cli.ciudades" value="{{ciudad._id}}">{{ciudad.nombre}}</option>
															</select>
													</div>	
												</div> 
											</div>
							</form>
	      	</div>	
	      	<div class="modal-footer"s>
			        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
			        <input type="submit" ng-click="cli.guardarEmpresa(cli.empresa, cli.objeto,form2)" value="Guardar" class="btn btn-primary" valida-form formulario="form2">
		      </div>
     </div>
     
  </div>
</div>
