<div class="row">
	<div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
		<h1 class="alge-title txt-color-blueDark">
			<i class="fa fa-list fa-fw "></i>
				Clientes &gt; Detalle
		</h1>
	</div>
</div>
<br>
<div class="row">
	<div class="col-sm-12">
		<div class="well well-sm">
			<div class="row">
				<div class="col-sm-12 col-md-12 col-lg-12">
					<div class="well well-light well-sm no-margin no-padding">
						<div class="row">
							<div class="col-sm-12">
								<div id="myCarousel" class="carousel profile-carousel">
									<div class="air air-bottom-right padding-10">
										<a ui-sref="root.generadorPlan({objeto_id : cd.objeto._id})" class="btn txt-color-white bg-color-teal btn-sm">
											<i class="fa fa-plus"></i> Nueva Solicitud
										</a>&nbsp;
										<a	ui-sref="root.generarNotaCredito({objeto_id : cd.objeto._id})" class="btn txt-color-white bg-color-teal btn-sm" ng-if="currentUser.roles[0] == 'Gerente' || currentUser.roles[0] == 'Cajero'">
											<i class="fa fa-plus"></i> Nueva Nota de Credito
										</a>&nbsp;
										<a ng-click="cd.mostrarNotaCliente()" class="btn txt-color-white bg-color-teal btn-sm" ng-if="currentUser.roles[0] == 'Gerente' || currentUser.roles[0] == 'Cajero'">
											<i class="fa fa-plus"></i> Nueva Nota de Cliente
										</a>&nbsp;
										<a ui-sref="root.pagarPlanPagos({objeto_id : cd.objeto._id})"  class="btn txt-color-white bg-color-teal btn-sm" ng-if="currentUser.roles[0] == 'Gerente' || currentUser.roles[0] == 'Cajero'">
											<i class="fa fa-plus"></i> Nuevo Pago
										</a>&nbsp;
										<a	ui-sref="root.editarCliente({objeto_id : cd.objeto._id})" class="btn txt-color-white bg-color-pinkDark btn-sm" ng-if="currentUser.roles[0] == 'Gerente' || currentUser.roles[0] == 'Cajero'">
	 										<i class="fa fa-pencil"></i> Modificar
	 									</a> 
									</div>
									<div class="air air-top-left padding-10">
										<h4 class="txt-color-white font-md"><i class="fa fa-calendar"></i>&nbsp;&nbsp;{{cd.fechaActual | date:'dd-MM-yyyy'}}</h4>
									</div>
						
									<ol class="carousel-indicators">
									</ol>
									<div class="carousel-inner">
										<div class="item active">
											<img src="img/demo/s1.jpg" alt="" style="width:100%">
										</div>
									</div>
								</div>
							</div>
							<div class="col-sm-12">
								<div class="row">
									<div class="col-sm-2 profile-pic" style="text-align:left;width:initial;">
										<img style="max-width:200px;" src="{{cd.objeto.profile.foto}}" >
										<div class="padding-10">
											<h4 class="font-md">
											<br>
											<small>
											<a ng-click="ro.generarFicha(cd.objeto,cd.objeto._id)" class="btn btn-primary">Descargar ficha</a></small>
											</h4>
											<br>
				
										</div>
									</div>
									<div class="col-sm-6">
										<h1>{{cd.objeto.profile.nombre}} <span class="semi-bold">{{cd.objeto.profile.apellidoPaterno}} {{cd.objeto.profile.apellidoMaterno}}</span>
										
										<small> (Cliente)</small></h1>
										<ul class="list-unstyled">
											<li>
												<p class="text-muted">
													<i class="fa fa-key fa-lg"></i>&nbsp;&nbsp;
													<span class="txt-color-darken">
														<strong>{{cd.objeto.username}}</strong>
													</span>
												</p>
											</li>
											<li>
												<p class="text-muted">
													<i class="fa fa-phone fa-lg"></i>&nbsp;&nbsp;<span class="txt-color-darken">{{cd.objeto.profile.telefono}}</span>
												</p>
											</li>
											<li>
												<p class="text-muted">
													<i class="fa fa-envelope fa-lg"></i>&nbsp;&nbsp;<a href="mailto:{{cd.objeto.profile.correo}}">{{cd.objeto.profile.correo}}</a>
												</p>
											</li>
											<li>
												<p class="text-muted">
													<i class="fa fa-birthday-cake fa-lg"></i>&nbsp;&nbsp;<span class="txt-color-darken">{{cd.objeto.profile.fechaNacimiento | date:"dd-MM-yyyy"}}</span>
												</p>
											</li>
											<li>
												<p class="text-muted">
													<i class="fa fa-calendar fa-lg"></i>&nbsp;&nbsp;<span class="txt-color-darken">{{cd.objeto.profile.fechaCreacion | date:"dd-MM-yyyy"}}(Fecha de alta)</span>
												</p>
											</li>
										</ul>
										<br>
										<p class="font-sm">
											<i>Un poco acerca de mi...</i>
										</p>
										<p class="font-xs">
											{{cd.objeto.profile.observacionesGenerales}}
										</p>
										<!-- <p class="font-xs">
											<a class="btn btn-primary">Descargar ficha</a>
										</p> -->
										<br>
									</div>
									<div class="col-sm-3">
									<br/>
										<div class="well padding-10">
											<h5 class="margin-top-0"><i class="fa fa-file"></i> Documento:</h5>
											<div class="row">

												<div class="col-lg-12">

													<ul class="list-group no-margin">
														<li class="list-group-item"  >
															<a  ng-click="cd.mostrarModal()"> ver documento </a>
														</li>
														
													</ul>

												</div>

												<div class="col-lg-12">
													<div class="margin-top-10">
														<!-- <img src="img/demo/video.png" alt="smartgirl" class="img-responsive"> -->
													</div>
												</div>
											</div>

										</div>
									</div>
								</div>
<div class="row">
	<div class="col-sm-12">
		<ul class="nav nav-tabs">
			<li class="pull-right">
				<a ng-click="cd.masInformacion()" role="button" data-toggle="collapse"
					href="#masInformacion" aria-expanded="false" aria-controls="masInformacion"><i class="fa fa-{{cd.masInfo == true ? 'plus':'minus'}} fa-lg"></i> Información del cliente</a>
			</li>

			<li class="pull-right">
			<a ng-click="cd.masInformacionCrdito()" data-toggle="collapse"
			   href="#masInformacionCredito" aria-expanded="false" aria-controls="masInformacionCredito"> <i class="fa fa-{{cd.masInfoCredito == true ? 'plus':'minus'}} fa-lg">
			   </i> Historial Crediticio </a>
			</li>
		</ul>
		<!-- //////////////////////////////////////////////// -->

<div class="row">
  <div class="collapse padding-10" id="masInformacion">
   <div class="tab-pane">
	<div class="col-sm-12">
			<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
			  <div class="panel panel-default">
			    <div class="panel-heading" role="tab" id="headingOne">
			      <h4 class="panel-title">
			        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#href1" aria-expanded="false" aria-controls="href1">
			          Información del Cliente
			        </a>
			      </h4>
			    </div>
			    <div id="href1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
			      <div class="panel-body">    
						    <div class="row">
						    	<div class="col-sm-4" > 					    
							    	<label>Nombre (s)</label>
							    	<input name="nombre" type="text" class="form-control" placeholder="Nombre" ng-model="cd.objeto.profile.nombre" disabled="">
						    	</div>
						    	<div class="col-sm-4" >					    
							    	<label>Apellido Paterno</label>
							    	<input name="apellidoPaterno" type="text" class="form-control" placeholder="Apellido Paterno" ng-model="cd.objeto.profile.apellidoPaterno" disabled="">
						    	</div>
						    	<div class="col-sm-4">					    
							    	<label>Apellido Materno</label>
							    	<input name="apellidoMaterno" type="text" class="form-control" placeholder="Apellido Materno" ng-model="cd.objeto.profile.apellidoMaterno" disabled="">
						    	</div>	    				    	    
						    </div>
			      </div>
			    </div>
			  </div>

			  <!-- //////////////////////////////////////////////////////////////////////// -->

			  
			  <div class="panel panel-default">
			    <div class="panel-heading" role="tab" id="headingTwo">
			      <h4 class="panel-title">
			        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#href2" aria-expanded="false" aria-controls="href2">
			          Información de contacto
			        </a>
			      </h4>
			    </div>
			    <div id="href2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
			      <div class="panel-body">
			        	<div class="row">
						    	<div class="col-sm-3" > 					    
							    	<label>Teléfono </label>
							    	<input name="telefono" type="text" class="form-control" placeholder="Teléfono" ng-model="cd.objeto.profile.telefono"  disabled="">
						    	</div>
						    	<div class="col-sm-3" >					    
							    	<label>Celular </label>
							    	<input name="celular" type="text" class="form-control" placeholder="Celular" ng-model="cd.objeto.profile.celular" disabled="">
						    	</div>
						    	<div class="col-sm-3">					    
							    	<label>Otro Teléfono</label>
							    	<input name="otroTelefono" type="text" class="form-control" placeholder="Otro Teléfono" ng-model="cd.objeto.profile.otroTelefono" disabled="" >
						    	</div>	  
						    	<div class="col-sm-3">					    
							    	<label>Correo</label>
							    	<input name="correo" type="text" class="form-control" placeholder="Correo" ng-model="cd.objeto.profile.correo" disabled="">
						    	</div>  				    	    
						    </div>
			      </div>
			    </div>
			  </div>
			  <div class="panel panel-default">
			    <div class="panel-heading" role="tab" id="headingThree">
			      <h4 class="panel-title">
			        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#href3" aria-expanded="false" aria-controls="href3">
			          Particulares
			        </a>
			      </h4>
			    </div>
			    <div id="href3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
			      <div class="panel-body">
			        	<div class="row">
									<div class="col-sm-3" >
								    <label for="sexo">Sexo </label>
								    <select name="sexo" ng-model="cd.objeto.profile.sexo" data-placeholder="Seleccione" class="form-control" disabled>
										    <option value=""></option>
										    <option value="Masculino">Masculino</option>
										    <option value="Femenino">Femenino</option>
										</select>
						    	</div>
						    	<div class="col-sm-3">
										<label for="estadocivil">Estado Civil </label>
										<input name="estadoCivil" type="text" class="form-control" placeholder="Estado Civil" ng-model="cd.objeto.profile.estadoCivil" disabled="">
									</div>
										
						    	<div class="col-sm-3">					    
							    	<label>Fecha Nacimiento </label>
							    	<input name="fechaNacimiento" type="date" format="dd/MM/yyyy" class="form-control" placeholder="Fecha" ng-model="cd.objeto.profile.fechaNacimiento" disabled="">
						    	</div>	
									
									<div class="col-sm-3">
										<label for="nacionalidad">Nacionalidad</label>
										<input name="nacionalidad" type="text" class="form-control" placeholder="Nacionalidad" ng-model="cd.objeto.profile.nacionalidad" disabled="">
									</div>			
						    </div>
						    <div class="row">
							    <div class="col-sm-3">
										<label for="ocupacion">Ocupación </label>
										<input name="ocupacion" type="text" class="form-control" placeholder="Ocupacion" ng-model="cd.objeto.profile.ocupacion" disabled="">
									</div>		
						    	<div class="col-sm-3">					    
							    	<label>CURP</label>
							    	<input name="curp" type="text" class="form-control" placeholder="CURP" ng-model="cd.objeto.profile.curp" disabled>
						    	</div>
						      <div class="col-sm-3">					    
							    	<label>Lugar de Nacimiento</label>
							    	<input name="lugarNacimiento" type="text" class="form-control" placeholder="Lugar de Nacimiento" ng-model="cd.objeto.profile.lugarNacimiento" disabled>
						    	</div>	
						    </div>		
			      </div>
			    </div>
			  </div>
			  <div class="panel panel-default">
				    <div class="panel-heading" role="tab" id="headingFour">
				      <h4 class="panel-title">
				        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#href4" aria-expanded="false" aria-controls="href4">
				          Dirección
				        </a>
				      </h4>
				    </div>
				    <div id="href4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
				      <div class="panel-body">
				        	<div class="row">
									    <div class="col-sm-6" >					    
									    	<label>Calle </label>
									    	<input name="calle" type="text" class="form-control" placeholder="Calle" ng-model="cd.objeto.profile.calle" disabled="">
								    	</div>
								    	<div class="col-sm-3" >					    
									    	<label>Numero </label>
									    	<input name="numero" type="text" class="form-control" placeholder="Número" ng-model="cd.objeto.profile.numero" disabled="">
								    	</div>
								    	<div class="col-sm-3" >					    
									    	<label>CP </label>
									    	<input name="cp" type="number" min="0" class="form-control" placeholder="Código Postal" ng-model="cd.objeto.profile.codigoPostal" disabled="">
								    	</div>
								    </div>
								    <div class="row">
									    <div class="col-sm-3" >
													<label >Pais </label>
													<input name="dirPais" type="text" class="form-control" placeholder="Pais" ng-model="cd.objeto.profile.pais" disabled>
											</div>
										  <div class="col-sm-3" >
													<label for="seccion_id">Estado </label>
													<input name="dirEstado" type="text" class="form-control" placeholder="Estado" ng-model="cd.objeto.profile.estado" disabled>
											</div>	
											<div class="col-sm-3" >
													<label >Municipio </label>
													<input name="dirMunicipio" type="text" class="form-control" placeholder="Municipio" ng-model="cd.objeto.profile.municipio" disabled>
											</div>
											<div class="col-sm-3" >
													<label for="seccion_id">Ciudad </label>
													<input name="dirCiudad" type="text" class="form-control" placeholder="Ciudad" ng-model="cd.objeto.profile.ciudad" disabled>
											</div>	
								    </div>
								    <div class="row">
									    <div class="col-sm-3" >
													<label for="seccion_id">Colonia </label>
													<input name="dirColonia" type="text" class="form-control" placeholder="Colonia" ng-model="cd.objeto.profile.colonia" disabled>
											</div>
											<div class="col-sm-3">					    
									    	<label>Tiempo Residencia</label>
									    	<input name="tiempo" type="text" class="form-control" placeholder="Tiempo" ng-model="cd.objeto.profile.tiempoResdencia" disabled>
								    	</div>
								    	<div class="col-sm-2">					    
									    	<label>Renta</label>
									    	<input name="rentaMes" type="checkbox" class="form-control" ng-model="cd.objeto.profile.renta" disabled>
								    	</div>
								    	<div class="col-sm-3" ng-if="cd.objeto.profile.renta">					    
									    	<label>Renta Mes </label>
									    	<input name="tiempo" type="number" min="0" class="form-control" placeholder="Renta Mes" ng-model="cd.objeto.profile.rentaMes" disabled>
								    	</div>
											<div class="col-sm-12">					    
									    	<label>Señas Particulares</label>
									    	<input name="senias" type="text" class="form-control" placeholder="Señas" ng-model="cd.objeto.profile.senasParticulares" disabled>
								    	</div>
								    </div>	
				      </div>
				    </div>
				</div>
				<div class="panel panel-default">
				    <div class="panel-heading" role="tab" id="headingFive">
				      <h4 class="panel-title">
				        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#href5" aria-expanded="false" aria-controls="href5">
				          Ingresos Mensuales
				        </a>
				      </h4>
				    </div>
				    <div id="href5" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
				      <div class="panel-body">
				        	<div class="row">
							    	<div class="col-sm-3" > 					    
								    	<label>Ingresos Personales</label>
								    	<input name="ingresosPersonales" type="text" class="form-control" placeholder="Ingresos Personales" ng-model="cd.objeto.profile.ingresosPersonales" disabled>
							    	</div>
							    	<div class="col-sm-3" >					    
								    	<label>Ingresos Conyuge</label>
								    	<input name="ingresosConyuge" type="text" class="form-control" placeholder="Ingresos Conyuge" ng-model="cd.objeto.profile.ingresosConyuge" disabled>
							    	</div>
							    	<div class="col-sm-3">					    
								    	<label>Otros Ingresos</label>
								    	<input name="otrosIngresos" type="text" class="form-control" placeholder="Otros Ingresos" ng-model="cd.objeto.profile.otrosIngresos" disabled>
							    	</div>	  
							    	<div class="col-sm-3">					    
								    	<label>Total Ingresos</label>
								    	<input name="totalIngresos" type="text" class="form-control" placeholder="Total Ingresos" ng-model="cd.objeto.profile.totalIngresos" disabled>
							    	</div>  				    	    
							    </div>
							    <div class="row">
							    	<div class="col-sm-3" > 					    
								    	<label>Gastos Fijos</label>
								    	<input name="gastosFijos" type="text" class="form-control" placeholder="Gastos Fijos" ng-model="cd.objeto.profile.gastosFijos" disabled>
							    	</div>
							    	<div class="col-sm-3" >					    
								    	<label>Gastos Eventuales</label>
								    	<input name="gastosEventuales" type="text" class="form-control" placeholder="Gastos Eventuales" ng-model="cd.objeto.profile.gastosEventuales" disabled>
							    	</div>
							    	<div class="col-sm-3">					    
								    	<label>Total Gastos</label>
								    	<input name="totalGastos" type="text" class="form-control" placeholder="Total Gastos" ng-model="cd.objeto.profile.totalGastos" disabled>
							    	</div>	  
							    	<div class="col-sm-3">					    
								    	<label>Resultado Neto</label>
								    	<input name="resultadoNeto" type="text" class="form-control" placeholder="Resultado Neto" ng-model="cd.objeto.profile.resultadoNeto" disabled>
							    	</div>  				    	    
							    </div>
				      </div>
				    </div>
				</div>


<!-- ///////////////////////////////////////////////////////////////////////////////////////////////////// -->
				<div class="panel panel-default">
				    <div class="panel-heading" role="tab" id="headingSix">
				      <h4 class="panel-title">
				        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#href6" aria-expanded="false" aria-controls="href6">
				          Referencias Personales
				        </a>
				      </h4>
				    </div>
				    <div id="href6" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
				      <div class="panel-body">
				        	<div class="row">
										<table class="table table-bordered">
											<thead>
												<tr>
													<th width="5%">Número</th>
													<th width="20%">Nombre</th>
													<th width="5%">Parentezco</th>
													<th width="30%">Dirección</th>
													<th width="10%">Telefono</th>
													<th width="10%">Tiempo</th>
												</tr>
											</thead>
											<tbody>
												<tr ng-repeat="p in cd.referenciasPersonales">
													<td>{{p.num}}</td>
													<td>{{p.nombre}} {{p.apellidoPaterno}} {{p.apellidoMaterno}} </td>
													<td>{{p.parentezco}}</td>
													<td>{{p.direccion}}</td>
													<td>{{p.telefono}}</td>
													<td>{{p.tiempo}}</td>
												</tr>
											</tbody>
										</table>
									</div>
				      </div>
				    </div>
				</div>
				<div class="panel panel-default">
				    <div class="panel-heading" role="tab" id="headingSeven">
				      <h4 class="panel-title">
				        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#href7" aria-expanded="false" aria-controls="href7">
				          Empresa
				        </a>
				      </h4>
				    </div>
				    <div id="href7" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
				      <div class="panel-body">
				        	<div class="row">
								    	<div class="col-sm-6" > 					    
									    	<label>Nombre</label>
									    	<input name="nombreEmpresa" type="text" class="form-control" placeholder="Nombre" ng-model="cd.objeto.profile.empresa.nombre" disabled>
								    	</div>
								    	<div class="col-sm-6" >					    
									    	<label>Razón Social</label>
									    	<input name="razonsocial" type="text" class="form-control" placeholder="Razón Social" ng-model="cd.objeto.profile.empresa.razonSocial" disabled>
								    	</div>
								    	<div class="col-sm-4" >					    
									    	<label>Calle</label>
									    	<input name="calleEmpresa" type="text" class="form-control" placeholder="Calle" ng-model="cd.objeto.profile.empresa.calle" disabled="" >
								    	</div>	  
								    	<div class="col-sm-2" >					    
									    	<label>Número </label>
									    	<input name="numeroEmpresa" type="number" class="form-control" placeholder="Número" ng-model="cd.objeto.profile.empresa.numero" disabled="" >
								    	</div>  				    	    
								    	<div class="col-sm-6" >					    
									    	<label>Colonia </label>
									    	<input name="coloniaEmpresa" type="text" class="form-control" placeholder="Colonia" ng-model="cd.objeto.profile.empresa.colonia" disabled="">
								    	</div>
								    </div>
								    <div class="row">
									    <div class="col-sm-3" >					    
									    	<label>Teléfono </label>
									    	<input name="telefono" type="text" class="form-control" placeholder="Teléfono" ng-model="cd.objeto.profile.empresa.telefono" disabled="">
								    	</div>
								    	<div class="col-sm-3" >					    
									    	<label>Código Postal </label>
									    	<input name="codigopostal" type="text" class="form-control" placeholder="Código Postal" ng-model="cd.objeto.profile.empresa.codigoPostal" disabled="">
								    	</div>
								    	<div class="col-sm-3" >					    
									    	<label>Tiempo Laborando </label>
									    	<input name="tiempoLaborando" type="text" class="form-control" placeholder="Tiempo Laborando" ng-model="cd.objeto.profile.empresa.tiempoLaborando" disabled="">
								    	</div>
								    	<div class="col-sm-3" >					    
									    	<label>Puesto </label>
									    	<input name="puesto" type="text" class="form-control" placeholder="Puesto" ng-model="cd.objeto.profile.empresa.puesto" disabled="">
								    	</div>
								    </div>  
								    <div class="row">
								    	<div class="col-sm-3" >					    
									    	<label>Departamento </label>
									    	<input name="departamento" type="text" class="form-control" placeholder="Departamento" ng-model="cd.objeto.profile.empresa.departamento" disabled="">
								    	</div>
								    	<div class="col-sm-3" >					    
									    	<label>Jefe Inmediato </label>
									    	<input name="jefeinmediato" type="text" class="form-control" placeholder="Jefe Inmediato" ng-model="cd.objeto.profile.empresa.jefeInmediato" disabled="">
								    	</div>
										</div>
										<div class="row">
											<div class="col-sm-3" >
													<label >Pais </label>
													<input name="dirPaisEmpresa" type="text" class="form-control" placeholder="Pais" ng-model="cd.objeto.profile.empresa.pais" disabled="">
											</div>
										  <div class="col-sm-3" >
													<label for="seccion_id">Estado </label>
													<input name="dirEstadoEmpresa" type="text" class="form-control" placeholder="Estado" ng-model="cd.objeto.profile.empresa.estado" disabled="">
											</div>	
											<div class="col-sm-3" >
													<label >Municipio </label>
													<input name="dirMunicipioEmpresa" type="text" class="form-control" placeholder="Municipio" ng-model="cd.objeto.profile.empresa.municipio" disabled="">
											</div>
											<div class="col-sm-3" >
													<label for="seccion_id">Ciudad </label>
													<input name="dirCiudadEmpresa" type="text" class="form-control" placeholder="Ciudad" ng-model="cd.objeto.profile.empresa.ciudad" disabled="">
											</div>	
							    </div>
				      </div>
				    </div>
				</div>
			</div>
	</div>
</div>
</div>

  <div class="collapse padding-10" id="masInformacionCredito">
   <div class="tab-pane">
	<div class="col-sm-12">
		<br/>
		<table class="table table-striped table-bordered table-condensed font-xs">
			<thead class="thead">
				<tr>
					<th class="text-center" width="7%">Credito No.</th>
					<th class="text-center" width="15%">Fecha Solicitud</th>
					<th class="text-center" width="15%">Fecha Entrega</th>
					<th class="text-center" width="15%">Capital Solicitado</th>
					<th class="text-center" width="15%">Adeudo Inicial</th>
					<th class="text-center" width="20%">Saldo Actual</th>
					<th class="text-center" width="10%">Acciones</th>
					
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="credito in cd.historialCreditos">
						
					<td class="text-center">{{credito.folio}}</td>	
					<td class="text-center">{{credito.fechaSolicito | date:"dd-MM-yyyy"}}</td>
					<td class="text-center">{{credito.fechaEntrega |  date:"dd-MM-yyyy" }}</td>
					<td class="text-right">{{credito.capitalSolicitado | currency}}</td>
					<td >{{credito.adeudoInicial | currency}}</td>
					<td >{{credito.saldoActual | currency}}</td>
					<td>
						<div class="text-center">
								<button type="button" class="btn btn-link" ng-click="cd.verPagos(credito)">Ver Pagos</button>
						</div>						
					</td>
					Pagos cliente
<!-- modal -->
<!-- (////////////////////////////////////////////////////////////////////////) -->

<td ng-show="cd.mostrarModal">
<div class="container">

	<div class="modal fade" id="modalpagos"	data-backdrop="static" role="dialog">
		<div class="modal-dialog">
		 <div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title">Pagos</h4>
				</div>
				<div class="modal-body">
				 <div>
				   <table class="table table-striped table-bordered table-condensed font-xs">
					<thead class="thead">
						<tr>
							<th class="text-center" width="7%">Recibo No.</th>
							<th class="text-center" width="10%">Movimiento</th>
							<th class="text-center" width="10%">Fecha</th>
							<th class="text-center" width="10%">Cargo</th>
							<th class="text-center" width="10%">Abono</th>
							<th class="text-center" width="20%">Saldo</th>
							<th class="text-center" width="20%">Nota de credito</th>
							<th class="text-center" width="20%">Saldo actualizado</th>
						</tr>
					</thead>
						<tbody>
							<tr  ng-repeat="credito in cd.historial" 
							ng-class="(credito.descripcion == 'Multa') ? 'danger' : (credito.descripcion == 'Recibo') ? 'info':'success'">
								<td class="text-center">{{credito.numeroPago || credito.numeroPagoMulta}} - {{credito.cantidad}}</td>	
								<td class="text-center">{{credito.movimiento}}</td>	
								<td class="text-center">{{credito.fecha | date:"dd-MM-yyyy"}}</td>
								<td class="text-center">{{credito.cargo | currency}}</td>
								<td class="text-right">{{credito.pago | currency}}</td>
								<td >{{credito.saldo | currency}}</td>
								<td >0</td>
								<td >0</td>
							</tr>
						</tbody>
					</table>
				 	
				 </div>
				</div>
				<div class="modal-footer">
				    <button ng-click="cd.cerrarModal()" type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>

				 </div>
			</div>
		</div>
	 </div>
	 </div>
	 </td>
				</tr>
			</tbody>
		</table>	
		
	</div>
   </div>
</div>
				</div>

<!-- ///////////////////////////////////////////////////////////////////////////////////////////////////// -->
									</div>
								</div>
							</div>													
						</div>
					</div>
				</div>
				<br/>
				<article class="col-sm-12 col-md-12 col-lg-12 sortable-grid ui-sortable">

					<div class="jarviswidget jarviswidget-sortable" id="wid-id-0" data-widget-togglebutton="false" data-widget-editbutton="false" data-widget-fullscreenbutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false" role="widget">
						
						<header role="heading">
							<span class="widget-icon"> <i class="glyphicon glyphicon-stats txt-color-darken"></i> </span>
							<h2>Créditos Aprobados</h2>
			
			
						<span class="jarviswidget-loader"><i class="fa fa-refresh fa-spin"></i></span></header>
			
						<!-- widget div-->
						<div class="no-padding" role="content">
							<!-- widget edit box -->
						
							<!-- end widget edit box -->
			
							<div class="widget-body">
								<!-- content -->
								

								<div class="row ">
									<br/>
									<div class="col-xs-12 col-sm-4 col-md-2" ng-repeat="aprobado in cd.creditosAprobados">
										<div class="panel panel-blueDark">
											<div class="panel-heading">
												<h3 class="panel-title">
													Credito</h3>
											</div>
											<div class="panel-body no-padding text-align-center">
												<div class="the-price">
													<h1>
														{{aprobado.capitalSolicitado|currency}}
													</h1>
													<h2>
														{{aprobado.duracionMeses}}
														<span class="subscript">/meses</span>
													</h2>
													<small>Plan: {{aprobado.periodoPago}}</small>
												</div>
											</div>
											<div class="panel-footer no-padding">						
<a ui-sref="root.entregarCredito({credito_id : aprobado._id})"  class="btn bg-color-blueDark txt-color-white btn-block" role="button" ng-if="currentUser.roles[0] == 'Gerente' || currentUser.roles[0] == 'Cajero'">Entregar Crédito </a>
												<input class="btn bg-color-blueDark txt-color-white btn-block" type="button" data-toggle="modal" data-id="123" data-target=".bs-cancelacion-modal-lg" value="Cancelar Petición" ng-if="currentUser.roles[0] == 'Gerente' || currentUser.roles[0] == 'Cajero'" ng-click="cd.cancelarSeleccion(aprobado)" />
												<a ui-sref="root.actualizarPlan({objeto_id:aprobado.cliente_id, credito_id: aprobado._id})"  class="btn bg-color-blueDark txt-color-white btn-block" role="button" ng-if="currentUser.roles[0] == 'Gerente' || currentUser.roles[0] == 'Cajero'">Editar Crédito</a>
											</div>
										</div>
									</div>
									
								</div>
								<!-- end content -->
							</div>
			
						</div>
						<!-- end widget div -->
					</div>
					<!-- end widget -->
			
				</article>
				<article class="col-sm-12 col-md-12 col-lg-12 sortable-grid ui-sortable">

					<div class="jarviswidget jarviswidget-sortable" id="wid-id-0" data-widget-togglebutton="false" data-widget-editbutton="false" data-widget-fullscreenbutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false" role="widget">
						
						<header role="heading">
							<span class="widget-icon"> <i class="glyphicon glyphicon-stats txt-color-darken"></i> </span>
							<h2>Solicitudes de Crédito</h2>
			
			
						<span class="jarviswidget-loader"><i class="fa fa-refresh fa-spin"></i></span></header>
			
						<!-- widget div-->
						<div class="no-padding" role="content">
							<!-- widget edit box -->
						
							<!-- end widget edit box -->
			
							<div class="widget-body">
								<!-- content -->
								

								<div class="row ">
									<br/>
									<div class="col-xs-12 col-sm-4 col-md-2" ng-repeat="pendiente in cd.creditosPendientes">
										<div class="panel panel-blueDark">
											<div class="panel-heading">
												<h3 class="panel-title">
													Credito</h3>
										</div>
											<div class="panel-body no-padding text-align-center">
												<div class="the-price">
													<h1>
														{{pendiente.capitalSolicitado|currency}}
													</h1>
													<h2>
														{{pendiente.duracionMeses}}
														<span class="subscript">/meses</span>
													</h2>
													<small>Plan: {{pendiente.periodoPago}}</small>
												</div>
											</div>
											
											<div class="panel-footer no-padding">						
												<a ui-sref="root.actualizarPlan({objeto_id:currentUser._id, credito_id: pendiente._id})"  class="btn bg-color-blueDark txt-color-white btn-block" role="button" ng-if="currentUser.roles[0] == 'Gerente' || currentUser.roles[0] == 'Cajero'">Editar Crédito</a>
											</div>
											
										</div>
									</div>
									
								</div>
								<!-- end content -->
							</div>
			
						</div>
						<!-- end widget div -->
					</div>
					<!-- end widget -->
			
				</article>
				<article class="col-sm-12 col-md-12 col-lg-12 sortable-grid ui-sortable">
					<!-- new widget -->
					<div class="jarviswidget jarviswidget-sortable" id="wid-id-0" data-widget-togglebutton="false" data-widget-editbutton="false" data-widget-fullscreenbutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false" role="widget">
						
						<header role="heading">
							<span class="widget-icon"> <i class="glyphicon glyphicon-stats txt-color-darken"></i> </span>
							<h2>Créditos Activos</h2>
			
							<ul class="nav nav-tabs pull-right" id="myTab">
								<li class="{{$index == 0 ? 'active' : ''}}" ng-repeat="credito in cd.creditos track by $index">
									<a data-toggle="tab" href="#s{{$index + 1}}"><i class="fa fa-dollar"></i> <span class="hidden-mobile hidden-tablet">{{credito.capitalSolicitado}}</span></a>
								</li>
							</ul>
			
						<span class="jarviswidget-loader"><i class="fa fa-refresh fa-spin"></i></span></header>
			
						
						<div class="no-padding" role="content">
						
							<div class="jarviswidget-editbox">
			
								test
							</div>
			
							<div class="widget-body">
								<!-- content -->
								<div id="myTabContent" class="tab-content">
									<div class="tab-pane fade padding-10 no-padding-bottom {{($index == 0 ? 'active in' : '')}}" id="s{{$index +1}}" ng-repeat="credito in cd.creditos track by $index">
										<div class="row">
											<div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
												<table class="table table-striped table-bordered table-condensed font-xs">
														<thead class="thead">
															<tr>
															<!-- 	<th class="text-center" width="5%"></th> -->
																<th class="text-center" width="5%">No.</th>
																<th class="text-center" width="20%">Movimiento</th>
																<th class="text-center" width="20%">Fecha de Pago</th>
																<th class="text-center" width="10%">Capital</th>
																<th class="text-center" width="10%">Interes</th>
																<th class="text-center" width="10%">IVA</th>
																<th class="text-center" width="15%">Pago</th>
																<th class="text-center" width="10%">Saldo</th>
																
																<!-- 	<th class="text-center" width="20%">Acciones</th> -->
															</tr>
														</thead>
														<tbody>
															<tr ng-class="(pago.estatus == 1) ? 'success' : (pago.fechaLimite < cd.fechaActual && pago.estatus == 0) ? 'warning' : (pago.estatus == 2) ? 'danger' : 'info'" ng-repeat="pago in credito.planPagos">								
																<td ng-class="pago.descripcion == 'Multa' ? 'text-danger text-center' : 'text-center'">{{$index + 1}}</td>	
																<td ng-class="pago.descripcion == 'Multa' ? 'text-danger text-center' : 'text-center'">{{pago.movimiento}}</td>
																<td ng-class="pago.descripcion == 'Multa' ? 'text-danger text-center' : 'text-center'">{{pago.fechaLimite | date:"dd-MM-yyyy"}}</td>
																<td ng-class="pago.descripcion == 'Multa' ? 'text-danger text-center' : 'text-center'">{{pago.numeroPago}} - {{credito.numeroPagos}}</td>
																<td ng-class="pago.descripcion == 'Multa' ? 'text-danger text-center' : 'text-center'">{{pago.capital | currency}}</td>
																<td ng-class="pago.descripcion == 'Multa' ? 'text-danger text-center' : 'text-center'">{{pago.interes | currency}}</td>
																<td ng-class="pago.descripcion == 'Multa' ? 'text-danger text-center' : 'text-center'">{{pago.iva | currency}}</td>
																<td ng-class="pago.descripcion == 'Multa' ? 'text-danger text-center' : 'text-center'">{{pago.importeRegular | currency}}</td>
																
															</tr>
														</tbody>
													</table>	

											</div>
											<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 show-stats">
			
												<div class="row">
													<div class="col-xs-6 col-sm-6 col-md-12 col-lg-12"> <span class="text"> Pagos <span class="pull-right">{{credito.pagados}}/{{credito.numeroPagos}}</span> </span>
														<div class="progress">
															<div class="progress-bar bg-color-blueDark" style="width: {{(credito.pagados / credito.numeroPagos) * 100}}%;"></div>
														</div> 
													</div>
													<div class="col-xs-6 col-sm-6 col-md-12 col-lg-12"> <span class="text"> Abonos <span class="pull-right">{{credito.pagos	| currency}} de {{credito.adeudoInicial	| currency}}</span> </span>
														<div class="progress">
															<div class="progress-bar bg-color-blue" style="width: {{(credito.pagos/credito.adeudoInicial) * 100}}%"></div>
														</div> 
													</div>
													<div class="col-xs-6 col-sm-6 col-md-12 col-lg-12"> <span class="text"> Abonado con retraso<span class="pull-right">{{(credito.tiempoPago / credito.numeroPagos) * 100 | number:2}}%</span> </span>
														<div class="progress">
															<div class="progress-bar bg-color-blue" style="width: {{(credito.tiempoPago / credito.numeroPagos) * 100}}%;"></div>
														</div> 
													</div>
			
<!--
													<span class="show-stat-buttons"> 
														<span class="col-xs-12 col-sm-12 col-md-12 col-lg-12"> 
															<a href="#" ui-sref="root.verPlanPagos({objeto_id : credito.cliente_id, credito_id : credito._id})" class="btn btn-default btn-block hidden-xs">Ver Detalle</a> 
														</span> 
														
													</span>
-->
			
												</div>
			
											</div>
										</div>
									</div>
			
								</div>
			
								<!-- end content -->
							</div>
			
						</div>
						<!-- end widget div -->
					</div>
					<!-- end widget -->
			
				</article>
				<article class="col-sm-12 col-md-12 col-lg-12 sortable-grid ui-sortable">

					<div class="jarviswidget jarviswidget-sortable" id="wid-id-0" data-widget-togglebutton="false" data-widget-editbutton="false" data-widget-fullscreenbutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false" role="widget">
						
						<header role="heading">
							<span class="widget-icon"> <i class="glyphicon glyphicon-stats txt-color-darken"></i> </span>
							<h2>Notas de credito</h2>
			
			
						<span class="jarviswidget-loader"><i class="fa fa-refresh fa-spin"></i></span></header>
			
						<!-- widget div-->
						<div class="no-padding" role="content">
							<!-- widget edit box -->
						
							<!-- end widget edit box -->
			
							<div class="widget-body">
								<!-- content -->
								
								
										<div class="row	padding-10 ">
											<div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
												<table class="table table-striped table-bordered table-condensed font-xs">
														<thead class="thead">
															<tr>
															<!-- 	<th class="text-center" width="5%"></th> -->
																<th class="text-center" width="5%">No.</th>
																<th class="text-center" width="20%">Tipo de Nota de Credito</th>
																<th class="text-center" width="20%">Fecha</th>
																<th class="text-center" width="15%">Monto</th>
																<th class="text-center" width="15%">Estatus</th>
																
																
																<!-- 	<th class="text-center" width="20%">Acciones</th> -->
															</tr>
														</thead>
														<tbody>
															<tr ng-repeat="(index,nota) in cd.notasCredito"	ng-class="nota.estatus==1? 'info':'warning'">
																<td>{{index+1}}</td>
																<td>{{cd.getNombreTipoNotaCredito(nota.tipoNotaCredito_id)}}</td>
																<td>{{nota.fecha | date:'fullDate'}}</td>
																<td>{{nota.monto | currency}}</td>
																<td>{{nota.estatus==1? 'Vigente': nota.estatus==0? 'Cancelada':'Vigente'}}</td>
															</tr>
														</tbody>
												</table>
											</div>
										</div>
									
								<!-- end content -->
							</div>
			
						</div>
						<!-- end widget div -->
					</div>
					<!-- end widget -->
			
				</article>
			</div>
		</div>
	</div>
</div>

 <!-- /////////////////////////MODAL NOTA CUENTA ////////////////////////// -->
					<div class="container">
						<!-- Modal -->
					<div class="modal fade" id="myModal"	data-backdrop="static" role="dialog">
						<div class="modal-dialog">
					<!-- Modal content-->
							<div class="modal-content">
								<div class="modal-header">
							
									<h4 class="modal-title">Responder Nota</h4>
								</div>
								<div class="modal-body">
									<h6>Información de la nota</h6><br/>
										<p>Por: <strong>{{cd.usuario.profile.nombreCompleto}}</strong></p>
										<p>Fecha: <strong>{{cd.notaCuenta1.fecha | date:'dd-MM-yyyy'}}, {{cd.notaCuenta1.hora}}</strong></p>
								</div>
									<div class="modal-footer">
										<div class="row">
								<div class="col-sm-12">
								<div class="col-sm-12">
								 <h6 class="pull-left" ><strong>{{cd.notaCuenta1.titulo}}</strong></h6><br/><br/>
								</div>
										<div class="col-sm-12"> 
										<p class="pull-left">{{cd.notaCuenta1.descripcion}} </p>
										</div>
							
										<div class="col-sm-12">
										<label class="pull-left">Respuesta:</label>
											<textarea type="text" class="form-control"	ng-model="cd.notaCobranza.respuestaNota" >
										</div>
										
										<div class="col-sm-12 "><br/>
											<a	class="btn btn-success" ng-click="cd.contestarNota(cd.notaCuenta1._id)">Contestar</a>
										</div>
																					
	
							</div>								 
							</div>
					
							
							</div>
							
						</div>
					</div>
				 </div>
					
<!--		 //////////////////////////////////////////////////////////// -->
		<div class="container">
						<!-- Modal -->
					<div class="modal fade" id="notaPerfil"	data-backdrop="static" role="dialog">
						<div class="modal-dialog">
					<!-- Modal content-->
							<div class="modal-content">
								<div class="modal-header">
							
									<h4 class="modal-title">Nota</h4>
								</div>
								<div class="modal-body">
								 <div >{{cd.notaPerfil.nombre}}</div>
								</div>
								<div class="modal-footer">
			    				    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
			        
		     				 </div>
							</div>
						</div>
					 </div>
	 <!--//////////////////////////////////// //////////////////////////////////////////////////////////// -->



<!-- Modal para cancelar credito -->

<div class="modal fade bs-cancelacion-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
	    	<div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		        <h4 class="modal-title" id="myModalLabel">Cancelar Crédito</h4>
		    </div>
				<div class="widget-body">
							<form name="form2" novalidate>
									<div class="well">	    
								    <div class="row">
								    	<div class="col-sm-6" valida> 					    
												  <label for="comment">Motivo:</label>
												  <textarea class="form-control" rows="5" ng-model="cd.motivo" required="" name="comment"></textarea>
								    	</div>
								    </div>
									</div>
							</form>
	      	</div>	
	      	<div class="modal-footer"s>
			        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
			        <input type="submit" ng-click="cd.cancelarCredito(cd.motivo)" value="Aceptar" class="btn btn-primary" valida-form formulario="form2">
		      </div>
     </div>
     
  </div>
</div>




<!--		 //////////////////////////////////////////////////////////// -->

<!-- /////////////////////////MODAL NOTA CLIENTE ////////////////////////// -->
<div class="container">
<!-- Modal -->
	<div class="modal fade" id="modalCliente"	data-backdrop="static" role="dialog">
		<div class="modal-dialog">
	<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header">
			
					<h4 class="modal-title">Escribir Nota para el cliente</h4>
				</div>
			
					<div class="modal-footer">
						<div class="row">
							<div class="col-sm-12">
								<div class="col-sm-12">
									<label class="pull-left">Escribir Nota:</label>
										<textarea type="text" class="form-control"	ng-model="cd.nota.nombre" >
									</div>
									<div class="col-sm-12 "><br/>
										<a	class="btn btn-success" ng-click="cd.guardarNota(cd.nota)">Guardar</a>
									</div>
							</div>								 
						</div>
			  </div>
			  <div class="modal-footer">

							  
				          <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
				        </div>
		</div>
	</div>
</div>
<!-- ////////////////////////////////////////////////////////////////////////////////////////// -->
 <div class="col-sm-3" >
				
						 <div class="container">
			      <!-- Modal -->
				  <div class="modal fade" id="modalDocumento" role="dialog">
				    <div class="modal-dialog">
			    <!-- Modal content-->
				      <div class="modal-content">
				        <div class="modal-header">
				          <button type="button" class="close" data-dismiss="modal">&times;</button>
				        </div>
				        <div class="modal-body" >
				        <div class="row">
				           <div class="col-sm-offset-4 col-sm-4 text-center" >
				           <div id="fileDisplayArea1" class="text-center" ></div>
				            <img style="max-width:200px;" src="{{cd.objeto.profile.archivo[0].archivo}}" >

				           </div>					          
					        </div>
				        </div>
					        <div class="modal-footer">

							</div>						
				      </div>
				    </div>
				  </div>
				 </div>								
</div>

<a id='dwnldLnk' href="#" download='documentos.docx' style="display:none;" hidden="true"></a>   



	
