<div class="row">
	<div class="col-sm-12">
		<form name="form" class="form-horizontal" role="form" novalidate>		
			<h4>Verificación</h4>
			<div class="well">	    
		    <div class="row">
		    	<div class="col-sm-4" valida> 					    
			    	<label>¿Cuál es la antiguedad en su domicilio? *</label>
			    	<input name="nombre" type="text" class="form-control" placeholder="Antiguedad domicilio" ng-model="ver.objeto.antiguedad" required>
		    	</div>
		    	<div class="col-sm-4" valida>					    
			    	<label>¿Su vivienda es? *</label>
			    	<select name="vivienda" ng-model="ver.objeto.vivienda" data-placeholder="Seleccione" class="form-control" required>
							<option value=""></option>
							<option value="PROPIA">Propia</option>
							<option value="RENTA">Renta</option>
						</select>
		    	</div>
		    	<div class="col-sm-4">					    
			    	<label>Nombre de la empresa donde trabaja</label>
			    	<input name="empresaTreabaja" type="text" class="form-control" placeholder="Empresa" ng-model="ver.objeto.empresaTrabaja" >
		    	</div>	    				    	    
		    </div>
		    <div class="row">
			    	<div class="col-sm-4" valida> 					    
				    	<label>¿Qué antiguedad tiene en dicha empresa? *</label>
				    	<input name="antiguedadEmpresa" type="text" class="form-control" placeholder="Antiguedad empresa" ng-model="ver.objeto.antiguedadEmpresa" required="">
			    	</div>
			    	<div class="col-sm-4" valida>					    
				    	<label>¿Cómo se llama su esposo(a) *</label>
				    	<input name="nombreEsposo" type="text" class="form-control" placeholder="Nombre" ng-model="ver.objeto.nombreEsposo" required="">
			    	</div>		    				    	    
			    	<div class="col-sm-4" valida>					    
				    	<label>¿Dónde trabaja su esposo(a) *</label>
				    	<input name="lugarTrajaboEsposo" type="text" class="form-control" placeholder="lugar Trabajo" ng-model="ver.objeto.lugarTrabajoEsposo" required="">
					  </div>
		    </div>
		    <div class="row">
			    <div class="col-sm-3" valida> 					    
				    	<label>Teléfono Esposo(a) *</label>
				    	<input name="telefonoEsposo" type="text" class="form-control" placeholder="Teléfono Esposo(a)" ng-model="ver.objeto.telefonoEsposo" required="">
			    	</div>
			    	<div class="col-sm-3" valida>					    
				    	<label>Cantidad a solicitar</label>
				    	<input name="cantidadSolictar" type="text" class="form-control" placeholder="Cantidad a solicitar" ng-model="ver.objeto.cantidadSolictar" required="">
			    	</div>		    				    	    
			    	<div class="col-sm-6" valida>					    
				    	<label>¿Ha tenido o tiene créditos vigentes en algun banco , financiera o prestamista? *</label>
				    	<select name="creditoOtro" ng-model="ver.objeto.creditoOtro" data-placeholder="Seleccione" class="form-control" required>
								<option value=""></option>
								<option value="SI">Si</option>
								<option value="NO">No</option>
							</select>
					  </div>
		    </div>  
		    <div class="row">
						<div class="col-sm-3" valida>					    
				    	<label>Deuda Actual</label>
				    	<input name="deudaActual" type="text" class="form-control" placeholder="Deuda Actual" ng-model="ver.objeto.deudaActual" required="">
			    	</div>
			    	<div class="col-sm-3" valida>					    
				    	<label>Pago Semanal</label>
				    	<input name="pagoSemanal" type="text" class="form-control" placeholder="Pago Semanal" ng-model="ver.objeto.pagoSemanal" required="">
			    	</div>
			    	<div class="col-sm-3" valida>					    
				    	<label>Pago Quincenal</label>
				    	<input name="pagoQuincenal" type="text" class="form-control" placeholder="Pago Quincenal" ng-model="ver.objeto.pagoQuincenal" required="">
			    	</div>
			    	<div class="col-sm-3" valida>					    
				    	<label>Pago Mensual</label>
				    	<input name="pagoMensual" type="text" class="form-control" placeholder="Pago Mensual" ng-model="ver.objeto.pagoMensual" required="">
			    	</div>					  
		    </div>  
		    <div class="row">
			    	<div class="col-sm-4" valida>					    
				    	<label>¿Tiene créditos vigentes de otro tipo (coppel, Liverpool, etc)?</label>
				    	<select name="creditoOtroTipo" ng-model="ver.objeto.creditoOtroTipo" data-placeholder="Seleccione" class="form-control" required>
								<option value=""></option>
								<option value="SI">Si</option>
								<option value="NO">No</option>
							</select>
					  </div>
					  <div class="col-sm-8" valida> 					    
				    	<label>Si la respuesta es SI, ¿Cuánto tiene de saldo y Cuánto son sus abonos?</label>
				    	<input name="saldosAbonosCreditos" type="text" class="form-control" placeholder="Salgos y Abonos" ng-model="ver.objeto.saldosAbonosCreditos" required="">
			    	</div>
		    </div>
		    <div class="row">
			    	<div class="col-sm-4" valida>					    
				    	<label>¿Es visitado frecuentemente por cobradores? *</label>
				    	<select name="visitadoCobradores" ng-model="ver.objeto.visitadoCobradores" data-placeholder="Seleccione" class="form-control" required>
								<option value=""></option>
								<option value="SI">Si</option>
								<option value="NO">No</option>
							</select>
					  </div>
						<div class="col-sm-8" valida>					    
				    	<label>En caso de ser AVAL, ¿Está usted conciente y de acuerdo en hacerse cargo de la cuenta en el momento en el que nosotros le requiramos?</label>
				    	<select name="cargoCuenta" ng-model="ver.objeto.cargoCuenta" data-placeholder="Seleccione" class="form-control" required>
								<option value=""></option>
								<option value="SI">Si</option>
								<option value="NO">No</option>
							</select>
					  </div>
		    </div>    
		    <div class="row">
			    	<div class="col-sm-4" valida> 					    
				    	<label>Aspectos de la vivienda</label>
				    	<input name="aspectoVivienda" type="text" class="form-control" placeholder="Aspecto de la vivienda" ng-model="ver.objeto.aspectoVivienda" required="">
			    	</div>
						<div class="col-sm-4" valida> 					    
				    	<label>Nombre y parentesco de la persona que da información</label>
				    	<input name="nombreParentescoInformacion" type="text" class="form-control" placeholder="Nombre y Parentesco" ng-model="ver.objeto.nombreParentescoInformacion" required="">
			    	</div>
			    	<div class="col-sm-4" valida> 					    
				    	<label>Observaciones</label>
				    	<input name="observaciones" type="text" class="form-control" placeholder="Observaciones" ng-model="ver.objeto.Observaciones" required="">
			    	</div>
		    </div>  	
		    <div class="row">
			    	<div class="col-sm-4" valida> 					    
				    	<label>Número de INE</label>
				    	<input name="ine" type="text" class="form-control" placeholder="INE" ng-model="ver.objeto.INE" required="">
			    	</div>
		    </div> 	    
			</div>
			
				<h4>Garantias</h4>
						<div class="well">	    
							<div class="row">
								<div class="col-sm-4" valida>
							    	<label>Tipo de garantía</label>
							    	<select name="horario" class="form-control" ng-model="ver.objeto.tipoGarantia">
								    	<option value="general">General o inmobiliaria</option>
								    	<option value="mobiliaria">Mobiliaria</option>
							    	</select>
						    </div>
							</div>
							
							<div  ng-if="ver.objeto.tipoGarantia == 'mobiliaria'">
								
								<div class="row">
									<div class="col-sm-4">
										<div class="checkbox"> 					    
								    	<label><input name="esVehiculo" type="checkbox" ng-model="ver.garantia.esVehiculo">Es Vehículo</label>
							    	</div>
									</div>
								</div>
						    <div class="row">
						    	<div class="col-sm-4"> 					    
							    	<label>Tipo</label>
							    	<input name="tipo" type="text" class="form-control" placeholder="tipo" ng-model="ver.garantia.tipo">
						    	</div>
						    	<div class="col-sm-4"> 					    
							    	<label>Marca</label>
							    	<input name="marca" type="text" class="form-control" placeholder="Marca" ng-model="ver.garantia.marca">
						    	</div>
						    	<div class="col-sm-4"> 					    
							    	<label>Modelo</label>
							    	<input name="modelo" type="text" class="form-control" placeholder="Modelo" ng-model="ver.garantia.modelo">
						    	</div>
						    </div>
						    <div class="row">	
							    <div class="col-sm-4">					    
							    	<label>Serie</label>
							    	<input name="serie" type="text" class="form-control" placeholder="Serie" ng-model="ver.garantia.serie">
						    	</div>
						    	<div class="col-sm-4">					    
							    	<label>Color</label>
							    	<input name="color" type="text" class="form-control" placeholder="Color" ng-model="ver.garantia.color">
						    	</div>
						    	<div class="col-sm-4">					    
							    	<label>Estado Actual</label>
							    	<input name="estadoActual" type="text" class="form-control" placeholder="Estado Actual" ng-model="ver.garantia.estadoActual">
						    	</div>
						    </div>
						    <div class="row">		
						    	<div class="col-sm-3">
								   	<input type="button" ng-click="ver.insertarGarantia(ver.objeto.tipoGarantia)" value="Agregar" ng-show="ver.actionGarantia" class="btn btn-primary"> 	
								   	<input type="button" ng-click="ver.actualizarGarantia(ver.objeto.tipoGarantia, ver.garantia)" value="Actualizar" ng-show="!ver.actionGarantia" class="btn btn-primary">
								   	<input type="button" ng-click="ver.cancelarGarantia(ver.objeto.tipoGarantia)" value="Cancelar" ng-show="!ver.actionGarantia" class="btn btn-danger">	   				
									</div>
						    </div>
						    <br/>
						    <div class="row">
									<div class="col-sm-12">
										<table class="table table-bordered">
											<thead>
												<tr>
													<th width="5%">Número</th>
													<th width="15%">Tipo</th>
													<th width="15%">Marca</th>
													<th width="15%">Modelo</th>
													<th width="15%">Serie</th>
													<th width="15%">Color</th>
													<th width="15%">Estado Actual</th>
													<th width="5%">Acción</th>
												</tr>
											</thead>
											<tbody>
												<tr ng-repeat="garantia in ver.garantias">
													<td>{{garantia.num}}</td>
													<td>{{garantia.tipo}}</td>
													<td>{{garantia.marca}}</td>
													<td>{{garantia.modelo}}</td>
													<td>{{garantia.serie}}</td>
													<td>{{garantia.color}}</td>
													<td>{{garantia.estadoActual}}</td>
													<td>
															<a href="#" ng-click="ver.quitarGarantia(ver.objeto.tipoGarantia, garantia.num)"><i class="fa fa-trash"></i></a>
															<a href="#" ng-click="ver.editarGarantia(ver.objeto.tipoGarantia, garantia)"><i class="fa fa-pencil"></i></a>
													</td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
							</div>
							
							<div  ng-if="ver.objeto.tipoGarantia == 'general'">
								<div class="row">
							    	<div class="col-sm-6"> 					    
											  <label>Descripción:</label>
											  <textarea class="form-control" rows="5"  cols="10" ng-model="ver.garantia.descripcion" name="descripcion"></textarea>
							    	</div>
							    	<div class="col-sm-4"> 					    
								    	<label>Valor estimado:</label>
								    	<input name="valorEstimado" type="number" class="form-control" placeholder="Valor Estimado" ng-model="ver.garantia.valorEstimado">
							    	</div>
								</div>
								<div class="row">
									<div class="col-sm-12">
										<table class="table table-bordered">
											<thead>
												<tr>
													<th width="5%">Número</th>
													<th width="15%">Descripción</th>
													<th width="15%">Valor estimado</th>
													<th width="5%">Acción</th>
												</tr>
											</thead>
											<tbody>
												<tr ng-repeat="garantia in ver.garantiasGeneral">
													<td>{{garantia.num}}</td>
													<td>{{garantia.descripcion}}</td>
													<td>{{garantia.valorEstimado}}</td>
													<td>
															<a href="#" ng-click="ver.quitarGarantia(ver.objeto.tipoGarantia, garantia.num)"><i class="fa fa-trash"></i></a>
															<a href="#" ng-click="ver.editarGarantia(ver.objeto.tipoGarantia, garantia)"><i class="fa fa-pencil"></i></a>
													</td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
								<div class="row">		
						    	<div class="col-sm-3">
								   	<input type="button" ng-click="ver.insertarGarantia(ver.objeto.tipoGarantia)" value="Agregar" ng-show="ver.actionGarantia" class="btn btn-primary"> 	
								   	<input type="button" ng-click="ver.actualizarGarantia(ver.objeto.tipoGarantia, ver.garantia)" value="Actualizar" ng-show="!ver.actionGarantia" class="btn btn-primary">
								   	<input type="button" ng-click="ver.cancelarGarantia(ver.objeto.tipoGarantia)" value="Cancelar" ng-show="!ver.actionGarantia" class="btn btn-danger">	   				
									</div>
						    </div>
								
							</div>		 
						
						
						
				</div>
				<div class="well">	    
			    <div class="row">
						<div class="col-sm-12">
							<input type="submit" ng-click="ver.guardar(ver.objeto,form)" value="Guardar" class="btn btn-primary" ng-show="ver.action" valida-form formulario="form">
							<input type="submit" ng-click="ver.actualizar(ver.objeto,form)" value="Actualizar" class="btn btn-primary" ng-hide="ver.action" valida-form formulario="form">
						</div>
					</div>
		  </div>    
			 
		</form>
	</div>
</div>


