<div class="row">
	<div class="col-sm-12">
		<form name="form" class="form-horizontal" role="form" novalidate>		
			<h4>Verificación</h4>
			<div class="well">
				<div class="row">
					<div class="col-sm-6" valida> 					    
						<label>Nombre de quien se está verificando *</label>
			    	<input name="verificado" type="text" class="form-control" placeholder="Nombre verificado" ng-model="ver.objeto.verificado" required capitalize>
					</div>
				</div> 
		    <div class="row">
		    	<div class="col-sm-4" valida> 					    
			    	<label>¿Cuál es la antigüedad en su domicilio? *</label>
			    	<input name="nombre" type="text" class="form-control" placeholder="Antigüedad domicilio" ng-model="ver.objeto.antiguedad" required capitalize>
		    	</div>
		    	<div class="col-sm-4" valida>					    
			    	<label>¿Su vivienda es? *</label>
			    	<input name="vivienda" type="text" class="form-control" placeholder="Vivienda" ng-model="ver.objeto.vivienda" required capitalize>
		    	</div>
		    	<div class="col-sm-4">					    
			    	<label>Nombre de la empresa donde trabaja</label>
			    	<input name="empresaTreabaja" type="text" class="form-control" placeholder="Empresa" ng-model="ver.objeto.empresaTrabaja" capitalize>
		    	</div>	    				    	    
		    </div>
		    <div class="row">
			    	<div class="col-sm-4" valida> 					    
				    	<label>¿Qué antigüedad tiene en dicha empresa? *</label>
				    	<input name="antiguedadEmpresa" type="text" class="form-control" placeholder="Antigüedad empresa" ng-model="ver.objeto.antiguedadEmpresa" required="" capitalize>
			    	</div>
			    	<div class="col-sm-4" valida>					    
				    	<label>¿Cómo se llama su esposo(a) *</label>
				    	<input name="nombreEsposo" type="text" class="form-control" placeholder="Nombre" ng-model="ver.objeto.nombreEsposo" required="" capitalize>
			    	</div>		    				    	    
			    	<div class="col-sm-4" valida>					    
				    	<label>¿Dónde trabaja su esposo(a) *</label>
				    	<input name="lugarTrajaboEsposo" type="text" class="form-control" placeholder="Lugar Trabajo" ng-model="ver.objeto.lugarTrabajoEsposo" required="" capitalize>
					  </div>
		    </div>
		    <div class="row">
			    <div class="col-sm-3" valida> 					    
				    	<label>Teléfono Esposo(a) *</label>
				    	<input name="telefonoEsposo" type="text" class="form-control" placeholder="Teléfono Esposo(a)" ng-model="ver.objeto.telefonoEsposo" required="" capitalize>
			    	</div>
			    	<div class="col-sm-3" valida>					    
				    	<label>Cantidad a solicitar</label>
				    	<input name="cantidadSolictar" type="text" class="form-control" placeholder="Cantidad a solicitar" ng-model="ver.objeto.cantidadSolictar" required="" capitalize>
			    	</div>		    				    	    
			    	<div class="col-sm-6" valida>					    
				    	<label>¿Ha tenido o tiene créditos vigentes en algun banco , financiera o prestamista? *</label>
				    	<input name="creditoOtro" type="text" class="form-control" placeholder="Tiene otros créditos" ng-model="ver.objeto.creditoOtro" required="" capitalize>
					  </div>
		    </div>  
		    <div class="row">
						<div class="col-sm-3" valida>					    
				    	<label>Deuda Actual</label>
				    	<input name="deudaActual" type="text" class="form-control" placeholder="Deuda Actual" ng-model="ver.objeto.deudaActual" required="" capitalize>
			    	</div>
			    	<div class="col-sm-3" valida>					    
				    	<label>Pago Semanal</label>
				    	<input name="pagoSemanal" type="text" class="form-control" placeholder="Pago Semanal" ng-model="ver.objeto.pagoSemanal" required="" capitalize>
			    	</div>
			    	<div class="col-sm-3" valida>					    
				    	<label>Pago Quincenal</label>
				    	<input name="pagoQuincenal" type="text" class="form-control" placeholder="Pago Quincenal" ng-model="ver.objeto.pagoQuincenal" required="" capitalize>
			    	</div>
			    	<div class="col-sm-3" valida>					    
				    	<label>Pago Mensual</label>
				    	<input name="pagoMensual" type="text" class="form-control" placeholder="Pago Mensual" ng-model="ver.objeto.pagoMensual" required="" capitalize>
			    	</div>					  
		    </div>  
		    <div class="row">
			    	<div class="col-sm-6" valida>					    
				    	<label>¿Tiene créditos vigentes de otro tipo (coppel, Liverpool, etc)?</label>
				    	<select name="creditoOtroTipo" ng-model="ver.objeto.creditoOtroTipo" data-placeholder="Seleccione" class="form-control" required>
								<option value=""></option>
								<option value="SI">Si</option>
								<option value="NO">No</option>
							</select>
					  </div>
					  <div class="col-sm-6" valida> 					    
				    	<label>Si la respuesta es SI, ¿Cuánto tiene de saldo y Cuánto son sus abonos?</label>
				    	<input name="saldosAbonosCreditos" type="text" class="form-control" placeholder="Salgos y Abonos" ng-model="ver.objeto.saldosAbonosCreditos" required="" capitalize>
			    	</div>
		    </div>
		    <div class="row">
			    	<div class="col-sm-3" valida>					    
				    	<label>¿Es visitado frecuentemente por cobradores? *</label>
				    	<select name="visitadoCobradores" ng-model="ver.objeto.visitadoCobradores" data-placeholder="Seleccione" class="form-control" required capitalize>
								<option value=""></option>
								<option value="SI">Si</option>
								<option value="NO">No</option>
							</select>
					  </div>
						<div class="col-sm-9" valida>					    
				    	<label>En caso de ser AVAL, ¿Está usted conciente y de acuerdo en hacerse cargo de la cuenta en el momento en el que nosotros le requiramos?</label>
				    	<select name="cargoCuenta" ng-model="ver.objeto.cargoCuenta" data-placeholder="Seleccione" class="form-control" required>
								<option value=""></option>
								<option value="SI">Si</option>
								<option value="NO">No</option>
							</select>
					  </div>
		    </div>    
		    <div class="row">
			    	<div class="col-sm-4" valida> 					    
				    	<label>Aspectos de la vivienda</label>
				    	<input name="aspectoVivienda" type="text" class="form-control" placeholder="Aspecto de la vivienda" ng-model="ver.objeto.aspectoVivienda" required="" capitalize>
			    	</div>
						<div class="col-sm-4" valida> 					    
				    	<label>Nombre y parentesco de la persona que da información</label>
				    	<input name="nombreParentescoInformacion" type="text" class="form-control" placeholder="Nombre y Parentesco" ng-model="ver.objeto.nombreParentescoInformacion" required="" capitalize>
			    	</div>
			    	<div class="col-sm-4" valida> 					    
				    	<label>Observaciones</label>
				    	<input name="observaciones" type="text" class="form-control" placeholder="Observaciones" ng-model="ver.objeto.Observaciones" required="" capitalize>
			    	</div>
		    </div>  	
		    <div class="row">
			    	<div class="col-sm-4" valida> 					    
				    	<label>Número de INE</label>
				    	<input name="ine" type="text" class="form-control" placeholder="INE" ng-model="ver.objeto.INE" required="" capitalize>
			    	</div>
		    </div> 	    
			</div>
			
				<h4 ng-if = "ver.credito.tipo == 'creditoP'">Garantias</h4>
				<div class="well" ng-if = "ver.credito.tipo == 'creditoP'">	    
							<div class="row">
								<div class="col-sm-4" valida>
							    	<label>Tipo de garantía</label>
							    	<select name="horario" class="form-control" ng-model="ver.objeto.tipoGarantia">
								    	<option value="general">General o inmobiliaria</option>
								    	<option value="mobiliaria">Mobiliaria</option>
							    	</select>
						    </div>
							</div>
														
							<div  ng-if="ver.objeto.tipoGarantia == 'mobiliaria'">

									<br>
									<h4>Comisiones</h4>
									<div class="row">
										<div class="col-sm-3" >
											<label>Almacenaje</label>
								    	<input name="almacenaje" type="number" class="form-control" placeholder="Almacenaje" ng-model="ver.garantia.almacenaje" >
										</div>
										<div class="col-sm-3" >
											<label>Comercialización</label>
								    	<input name="comercializacion" type="number" class="form-control" placeholder="Comercialización" ng-model="ver.garantia.comercializacion" >
										</div>
										<div class="col-sm-3" >
											<label>Desempeño Extemporaneo</label>
								    	<input name="desempenioExtemporaneo" type="number" class="form-control" placeholder="Desempeño Extemporaneo" ng-model="ver.garantia.desempenioExtemporaneo" >
										</div>
										<div class="col-sm-3" >
											<label>Reposición de Contrato</label>
								    	<input name="reposicionContrato" type="number" class="form-control" placeholder="Reposición de Contrato" ng-model="ver.garantia.reposicionContrato" >
										</div>
									</div>
							    <div class="row">
							    	<div class="col-sm-6" > 					    
								    	<label>Descripción Genérica</label>
								    	<input name="descripcion" type="text" class="form-control" placeholder="Descripción" ng-model="ver.garantia.descripcion" capitalize >
							    	</div>
							    	<div class="col-sm-6" > 					    
								    	<label>Características	</label>
								    	<input name="caracteristicas" type="text" class="form-control" placeholder="Características" ng-model="ver.garantia.caracteristicas" capitalize >
							    	</div>
							    </div>
							    <div class="row">	
								    <div class="col-sm-2"> 					    
								    	<label>Avalúo</label>
								    	<input name="avaluo" type="number" class="form-control" placeholder="AVALÚO" ng-model="ver.garantia.avaluoMobiliaria" ng-change="ver.calcularPorcentajeMobiliaria()" >
							    	</div>
							    	 <div class="col-sm-4">					    
								    	<label>Porcentaje del préstamo sobre el avalúo</label>
								    	<input name="porcentajePrestamo" type="number" class="form-control" placeholder="PORCENTAJE DEL PRESTAMO SOBRE AVALÚO" ng-model="ver.garantia.porcentajePrestamoMobiliria" disabled="true">
							    	</div>
							    </div>
							    <div class="row">		<br/>
							    	<div class="col-sm-3">
									   	<input type="button" ng-click="ver.insertarGarantia(ver.objeto.tipoGarantia)" value="Agregar" ng-show="ver.actionGarantia" class="btn btn-primary"> 	
									   	<input type="button" ng-click="ver.actualizarGarantia(ver.objeto.tipoGarantia, ver.garantia)" value="Actualizar" ng-show="!ver.actionGarantia" class="btn btn-primary">
									   	<input type="button" ng-click="ver.cancelarGarantia(ver.objeto.tipoGarantia)" value="Cancelar" ng-show="!ver.actionGarantia" class="btn btn-danger">	   				
										</div>
							    </div>
							    <br/>
							    <div class="row">
										<div class="col-sm-12">
											<table class="table table-bordered">
												<thead>
	
													<tr>
														<th width="5%">Número</th>
														<th width="15%">Descripción genérica</th>
														<th width="15%">Características</th>
														<th width="10%">Avalúo</th>
														<th width="10%">% Avalúo</th>
														<th width="10%">Almacenaje</th>
														<th width="10%">Comercialización</th>
														<th width="10%">D. Exemporaneo</th>
														<th width="10%">R. Contrato</th>
														<th width="5%">Acción</th>
													</tr>
												</thead>
												<tbody>
													<tr ng-repeat="garantia in ver.garantias">
														<td>{{garantia.num}}</td>
														<td>{{garantia.descripcion}}</td>
														<td>{{garantia.caracteristicas}}</td>
														<td style="text-align: right">{{garantia.avaluoMobiliaria | currency}}</td>
														<td style="text-align: center">{{garantia.porcentajePrestamoMobiliria}}</td>
														<td style="text-align: right">{{garantia.almacenaje | currency}}</td>
														<td style="text-align: right">{{garantia.comercializacion | currency}}</td>
														<td style="text-align: right">{{garantia.desempenioExtemporaneo | currency}}</td>
														<td style="text-align: right">{{garantia.reposicionContrato | currency}}</td>
														<td>
															<a href="#" class="btn btn-warning" ng-click="ver.editarGarantia(ver.credito.tipoGarantia, garantia)"><i class="fa fa-pencil"></i></a>
															<a href="#" class="btn btn-danger" ng-click="ver.quitarGarantia(ver.credito.tipoGarantia, garantia.num)"><i class="fa fa-trash"></i></a>
														</td>
													</tr>
												</tbody>
											</table>
										</div>
									</div>
							</div>
															
							<div  ng-if="ver.objeto.tipoGarantia == 'general'">
								<div class="row">
						    	<div class="col-sm-4"> 					    
							    	<label>Sup. de terreno y construcción</label>
							    	<input name="terreno" type="text" class="form-control" placeholder="Sup. de terreno y construcción " ng-model="ver.garantia.terrenoYconstruccion" capitalize >
						    	</div>
						    	<div class="col-sm-2"> 					    
							    	<label>Ubicación </label>
							    	<input name="ubicacion" type="text" class="form-control" placeholder="Ubicación" ng-model="ver.garantia.ubicacion" capitalize>
						    	</div>
						    	<div class="col-sm-2"> 					    
							    	<label>Avalúo </label>
							    	<input name="avaluo" type="number" class="form-control" placeholder="Avalúo" ng-model="ver.garantia.avaluoGeneral" ng-change="ver.calcularPorcentajeGeneral()">
						    	</div>
									<div class="col-sm-4">					    
							    	<label>% del préstamo sobre el avalúo</label>
							    	<input name="porcentaje" type="number" class="form-control" placeholder="Porcentaje del préstamo sobre el avalúo" ng-model="ver.garantia.porcentajePrestamoGeneral" disabled="true">
						    	</div>
								</div>	
								<div class="row">
						    	<div class="col-sm-6"> 					    
							    	<label>Medidas, colindancias, clave castral</label>
							    	<textarea name="medidas" rows="3" class="form-control" placeholder="Medidas, colindancias, clave castral"  ng-model="ver.garantia.medidasColindancias" >
						    	</div>
						    	<div class="col-sm-6"> 					    
							    	<label>Comisión y gastos, por escrituración e inscripción de registro público</label>
							    	<input name="comision" type="number" class="form-control" placeholder="Comisión y gastos" ng-model="ver.garantia.comisionGastos">
						    	</div>							
							</div>
								<div class="row">		
						    	<div class="col-sm-3">
								   	<input type="button" ng-click="ver.insertarGarantia(ver.objeto.tipoGarantia)" value="Agregar" ng-show="ver.actionGarantia" class="btn btn-primary"> 	
								   	<input type="button" ng-click="ver.actualizarGarantia(ver.objeto.tipoGarantia, ver.garantia)" value="Actualizar" ng-show="!ver.actionGarantia" class="btn btn-primary">
								   	<input type="button" ng-click="ver.cancelarGarantia(ver.objeto.tipoGarantia)" value="Cancelar" ng-show="!ver.actionGarantia" class="btn btn-danger">	   				
									</div>
						    </div>
							<div class="row"><br/>
								<div class="col-sm-12">
									<table class="table table-bordered">
										<thead>
											<tr>
												<th width="5%">Número</th>
												<th width="15%">Sup. de terreno y construcción</th>
												<th width="10%">Avalúo</th>
												<!-- <th width="15%">Medidas, colindancias, clave astral</th>
												<th width="15%">Préstamo sobre avalúo</th>
												<th width="15%">Comisión y gastos</th>
												<th width="15%">Por escrituración e inscripción de registro público</th> -->
												<th width="5%">Acción</th>
											</tr>
										</thead>
										<tbody>
											<tr ng-repeat="garantia in ver.garantiasGeneral">
												<td>{{garantia.num}}</td>
												<td>{{garantia.terrenoYconstruccion}}</td>
												<td>{{garantia.avaluoGeneral}}</td>
											<!-- 	<td>{{garantia.medidasColindancias}}</td>
												<td>{{garantia.prestamo}}</td>
												<td>{{garantia.prestamoSobreAvaluo}}</td>
												<td>{{garantia.montoAvaluo}}</td>
												<td>{{garantia.porcentajePrestamo}}</td>
												<td>{{garantia.comisionGastos}}</td>
												<td>{{garantia.escrituracion}}</td> -->
												<td>
													<a href="#" class="btn btn-primary" ng-click="ver.verGarantia(ver.credito.tipoGarantia, garantia)"><i class="fa fa-eye"></i></a>
															<a href="#" class="btn btn-warning" ng-click="ver.editarGarantia(ver.credito.tipoGarantia, garantia)"><i class="fa fa-pencil"></i></a>
															<a href="#" class="btn btn-danger" ng-click="ver.quitarGarantia(ver.credito.tipoGarantia, garantia.num)"><i class="fa fa-trash"></i></a>
													</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
								
								
							</div>		 
						
						
						</div> <!--Fin del wel-->
				<!-- /////////////////////////////////////////////////////////////////////// -->
						<!-- <div class="well">	    
							<div class="row">
								<div class="col-sm-4" valida>
							    	<label>Tipo de garantía</label>
							    	<select name="horario" class="form-control" ng-model="ver.objeto.tipoGarantia">
								    	<option value="general">General o inmobiliaria</option>
								    	<option value="mobiliaria">Mobiliaria</option>
							    	</select>
						    </div>
							</div>
							
							<div  ng-if="ver.objeto.tipoGarantia == 'mobiliaria'">
								
								<div class="row">
									<div class="col-sm-4">
										<div class="checkbox"> 					    
								    	<label><input name="esVehiculo" type="checkbox" ng-model="ver.garantia.esVehiculo">Es Vehículo</label>
							    	</div>
									</div>
								</div>
						    <div class="row">
						    	<div class="col-sm-4"> 					    
							    	<label>Tipo</label>
							    	<input name="tipo" type="text" class="form-control" placeholder="tipo" ng-model="ver.garantia.tipo">
						    	</div>
						    	<div class="col-sm-4"> 					    
							    	<label>Marca</label>
							    	<input name="marca" type="text" class="form-control" placeholder="Marca" ng-model="ver.garantia.marca">
						    	</div>
						    	<div class="col-sm-4"> 					    
							    	<label>Modelo</label>
							    	<input name="modelo" type="text" class="form-control" placeholder="Modelo" ng-model="ver.garantia.modelo">
						    	</div>
						    </div>
						    <div class="row">	
							    <div class="col-sm-4">					    
							    	<label>Serie</label>
							    	<input name="serie" type="text" class="form-control" placeholder="Serie" ng-model="ver.garantia.serie">
						    	</div>
						    	<div class="col-sm-4">					    
							    	<label>Color</label>
							    	<input name="color" type="text" class="form-control" placeholder="Color" ng-model="ver.garantia.color">
						    	</div>
						    	<div class="col-sm-4">					    
							    	<label>Estado Actual</label>
							    	<input name="estadoActual" type="text" class="form-control" placeholder="Estado Actual" ng-model="ver.garantia.estadoActual">
						    	</div>
						    </div>
						    <div class="row">		
						    	<div class="col-sm-3">
								   	<input type="button" ng-click="ver.insertarGarantia(ver.objeto.tipoGarantia)" value="Agregar" ng-show="ver.actionGarantia" class="btn btn-primary"> 	
								   	<input type="button" ng-click="ver.actualizarGarantia(ver.objeto.tipoGarantia, ver.garantia)" value="Actualizar" ng-show="!ver.actionGarantia" class="btn btn-primary">
								   	<input type="button" ng-click="ver.cancelarGarantia(ver.objeto.tipoGarantia)" value="Cancelar" ng-show="!ver.actionGarantia" class="btn btn-danger">	   				
									</div>
						    </div>
						    <br/>
						    <div class="row">
									<div class="col-sm-12">
										<table class="table table-bordered">
											<thead>
												<tr>
													<th width="5%">Número</th>
													<th width="15%">Tipo</th>
													<th width="15%">Marca</th>
													<th width="15%">Modelo</th>
													<th width="15%">Serie</th>
													<th width="15%">Color</th>
													<th width="15%">Estado Actual</th>
													<th width="5%">Acción</th>
												</tr>
											</thead>
											<tbody>
												<tr ng-repeat="garantia in ver.garantias">
													<td>{{garantia.num}}</td>
													<td>{{garantia.tipo}}</td>
													<td>{{garantia.marca}}</td>
													<td>{{garantia.modelo}}</td>
													<td>{{garantia.serie}}</td>
													<td>{{garantia.color}}</td>
													<td>{{garantia.estadoActual}}</td>
													<td>
															<a href="#" ng-click="ver.quitarGarantia(ver.objeto.tipoGarantia, garantia.num)"><i class="fa fa-trash"></i></a>
															<a href="#" ng-click="ver.editarGarantia(ver.objeto.tipoGarantia, garantia)"><i class="fa fa-pencil"></i></a>
													</td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
							</div>
							
							<div  ng-if="ver.objeto.tipoGarantia == 'general'">
								<div class="row">
							    	<div class="col-sm-6"> 					    
											  <label>Descripción:</label>
											  <textarea class="form-control" rows="5"  cols="10" ng-model="ver.garantia.descripcion" name="descripcion"></textarea>
							    	</div>
							    	<div class="col-sm-4"> 					    
								    	<label>Valor estimado:</label>
								    	<input name="valorEstimado" type="number" class="form-control" placeholder="Valor Estimado" ng-model="ver.garantia.valorEstimado">
							    	</div>
								</div>
								<div class="row">
									<div class="col-sm-12">
										<table class="table table-bordered">
											<thead>
												<tr>
													<th width="5%">Número</th>
													<th width="15%">Descripción</th>
													<th width="15%">Valor estimado</th>
													<th width="5%">Acción</th>
												</tr>
											</thead>
											<tbody>
												<tr ng-repeat="garantia in ver.garantiasGeneral">
													<td>{{garantia.num}}</td>
													<td>{{garantia.descripcion}}</td>
													<td>{{garantia.valorEstimado}}</td>
													<td>
															<a href="#" ng-click="ver.quitarGarantia(ver.objeto.tipoGarantia, garantia.num)"><i class="fa fa-trash"></i></a>
															<a href="#" ng-click="ver.editarGarantia(ver.objeto.tipoGarantia, garantia)"><i class="fa fa-pencil"></i></a>
													</td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
								<div class="row">		
						    	<div class="col-sm-3">
								   	<input type="button" ng-click="ver.insertarGarantia(ver.objeto.tipoGarantia)" value="Agregar" ng-show="ver.actionGarantia" class="btn btn-primary"> 	
								   	<input type="button" ng-click="ver.actualizarGarantia(ver.objeto.tipoGarantia, ver.garantia)" value="Actualizar" ng-show="!ver.actionGarantia" class="btn btn-primary">
								   	<input type="button" ng-click="ver.cancelarGarantia(ver.objeto.tipoGarantia)" value="Cancelar" ng-show="!ver.actionGarantia" class="btn btn-danger">	   				
									</div>
						    </div>
								
							</div>		 
						
						
						
				</div> -->
				<div class="well">	    
			    <div class="row">
						<div class="col-sm-12">
							<input type="submit" ng-click="ver.guardar(ver.objeto,form)" value="Guardar" class="btn btn-primary" ng-show="ver.action" valida-form formulario="form">
							<input type="submit" ng-click="ver.actualizar(ver.objeto,form)" value="Actualizar" class="btn btn-primary" ng-hide="ver.actualizarNo" valida-form formulario="form">
						</div>
					</div>
		  </div>    
			 
		</form>
	</div>
</div>


<div id="modalGarantia" class="modal fade bs-modalGarantia-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
	    	<div class="modal-header">
		       
		    </div>
				<div class="widget-body">
								<div class="row" ng-show="ver.general">
								<div class="col-sm-12"> 
							    	<div class="col-sm-4"> 					    
								    	<label>Sup. de terreno y construcción</label>
								    	<input name="valorEstimado" type="text" class="form-control" placeholder="Sup. de terreno y construcción " ng-model="ver.garantia.terrenoYconstruccion">
							    	</div>
							    	<div class="col-sm-4"> 					    
								    	<label>Medidas, colindancias, clave astral</label>
								    	<input name="valorEstimado" type="text" class="form-control" placeholder="Medidas, colindancias, clave astral"  ng-model="ver.garantia.medidasColindancias">
							    	</div>
							    	<div class="col-sm-4"> 					    
								    	<label>Avalúo </label>
								    	<input name="valorEstimado" type="number" class="form-control" placeholder="Avalúo" ng-model="ver.garantia.avaluo">
							    	</div>
							    	<div class="col-sm-4"> 					    
								    	<label>Préstamo </label>
								    	<input name="valorEstimado" type="number" class="form-control" placeholder="Préstamo" ng-model="ver.garantia.prestamo">
							    	</div>
							    	<div class="col-sm-4"> 					    
								    	<label>Préstamo sobre avalúo</label>
								    	<input name="valorEstimado" type="number" class="form-control" placeholder="Préstamo sobre avalúo" ng-model="ver.garantia.prestamoSobreAvaluo">
							    	</div>
							    		<div class="col-sm-4"> 					    
								    	<label>Monto de avalúo</label>
								    	<input name="valorEstimado" type="number" class="form-control" placeholder="Monto de avalúo" ng-model="ver.garantia.montoAvaluo">
							    	</div>
							    		<div class="col-sm-4"> 					    
								    	<label>% Porcentaje del préstamo sobre el avaluo</label>
								    	<input name="valorEstimado" type="number" class="form-control" placeholder="% Porcentaje del préstamo  sobre avalúo" ng-model="ver.garantia.porcentajePrestamo">
								    
							    	</div>
							    	<div class="col-sm-4"> 					    
								    	<label>Comisión y gastos</label>
								    	<input name="valorEstimado" type="number" class="form-control" placeholder="Comisión y gastos" ng-model="ver.garantia.comisionGastos">
							    	</div>
							    	<div class="col-sm-4"> 					    
								    	<label>	Por escrituración e inscripción de registro público</label>
								    	<input name="valorEstimado" type="text" class="form-control" placeholder="Por escrituroación e inscripción de registro público" ng-model="ver.garantia.escrituracion">
							    	</div>

								</div>
								</div>
								<div class="row" ng-show="ver.mob">
								<div class="col-sm-12">
									<div class="row">
						    	<div class="col-sm-4"> 					    
							    	<label>Descripción Generica</label>
							    	<input name="descripcion" type="text" class="form-control" placeholder="DESCRIPCIÓN" ng-model="ver.garantia.descripcion">
						    	</div>
						    	<div class="col-sm-4"> 					    
							    	<label>Características	</label>
							    	<input name="caracteristicas" type="text" class="form-control" placeholder="Caracteristicas" ng-model="ver.garantia.caracteristicas">
						    	</div>
						    	<div class="col-sm-4"> 					    
							    	<label>Avalúo</label>
							    	<input name="avaluo" type="number" class="form-control" placeholder="AVALÚO" ng-model="ver.garantia.avaluo">
						    	</div>
						    </div>
						    <div class="row">	
						    <div class="col-sm-4">					    
							    	<label>Préstamo </label>
							    	<input name="serie" type="number" class="form-control" placeholder="PRÉSTAMO" ng-model="ver.garantia.prestamo">
						    	</div>
							    <div class="col-sm-4">					    
							    	<label>Préstamo sobre avalúo</label>
							    	<input name="serie" type="number" class="form-control" placeholder="PRÉSTAMO SOBRE AVALÚO" ng-model="ver.garantia.prestamoPorcentaje">
						    	</div>
						    	 <div class="col-sm-4">					    
							    	<label>Monto de avalúo</label>
							    	<input name="serie" type="number" class="form-control" placeholder="MOTO DE AVALÚO" ng-model="ver.garantia.monto">
						    	</div>
						    	 <div class="col-sm-4">					    
							    	<label>Porcentaje del prestamo sobre el avalúo</label>
							    	<input name="serie" type="number" class="form-control" placeholder="PORCENTAJE DEL PRESTAMO SOBRE AVALÚO" ng-model="ver.garantia.porcentaje">
						    	</div>
						    	<div class="col-sm-4">					    
							    	<label>Fecha de inico de comercialización</label>
							    	<input name="serie" class="form-control" placeholder="FECHA DE INICIO DE COMERCIALIZACIÓN" ng-model="ver.garantia.fechaComercializacion" date-time format="dd-MM-yyyy" view="date" max-view="year" min-view="date">
						    	</div>
						    	
						    	<div class="col-sm-4">					    
							    	<label>Fecha limite de finquito</label>
							    	<input name="serie"  class="form-control" placeholder="FECHA LIMITE DE FINIQUITO" ng-model="ver.garantia.fechaFiniquito" date-time format="dd-MM-yyyy" view="date" max-view="year" min-view="date">
						    	</div>
								</div>
								</div>
	      </div>	
	      <div class="modal-footer">
		        <button type="button" class="btn btn-default" ng-click="ver.cancelarGarantia(ver.credito.tipoGarantia)" data-dismiss="modal">Cerrar</button>
		     </div>
     </div>
     
  </div>
</div>


