<div class="row">
    <div class="col-sm-12">
        <form name="form" class="form-horizontal" role="form" novalidate>
            <h4>Información del verificador</h4>
            <div class="well">
                <div class="row">
                    <div class="col-sm-4" valida>
                        <label>Nombre (s) *</label>
                        <input name="nombre" type="text" class="form-control" placeholder="Nombre" ng-model="ver.objeto.profile.nombre" required capitalize>
                    </div>
                    <div class="col-sm-4" valida>
                        <label>Apellido Paterno *</label>
                        <input name="apellidoPaterno" type="text" class="form-control" placeholder="Apellido Paterno" ng-model="ver.objeto.profile.apellidoPaterno" required capitalize>
                    </div>
                    <div class="col-sm-4">
                        <label>Apellido Materno</label>
                        <input name="apellidoMaterno" type="text" class="form-control" placeholder="Apellido Materno" ng-model="ver.objeto.profile.apellidoMaterno" capitalize>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4" valida>
                        <label>Usuario *</label>
                        <input name="usuario" type="text" class="form-control" placeholder="Usuario" ng-model="ver.objeto.username" required="">
                    </div>
                    <div class="col-sm-4" valida>
                        <label>Contraseña *</label>
                        <input name="contrasena" type="password" class="form-control" placeholder="Contraseña" ng-model="ver.objeto.password" required="">
                    </div>
                    <div class="col-sm-4" valida>
                        <label>Confirmar Contraseña *</label>
                        <input name="confirmar" type="password" class="form-control" placeholder="Confirmar Contraseña" ng-model="ver.objeto.confirmpassword" required="">
                    </div>
                    <!-- <div class="col-sm-4">
							<label>Foto (máximo 512Kb)</label>
							<input name="foto" type="file" id="fileInput1">																
							<div id="fileDisplayArea1"></div>
															
					   </div> -->
                    <div class="col-sm-1">
                        <br/>
                        <label for="talla">Foto</label>
                        <button class="btn btn-primary" ng-click="ver.tomarFoto()"><i class="fa fa-camera"></i></button>
                    </div>
                    <div class="col-sm-3">
                        <img width="300px" ng-src="{{ver.pic}}" ng-class="{'img-thumbnail': !!ver.pic}" />
                    </div>
                </div>
            </div>
    </div>
    <div class="col-sm-12">
        <h4>Información de Contacto</h4>
        <div class="well">
            <div class="row">
                <div class="col-sm-3" valida>
                    <label>Teléfono *</label>
                    <input name="telefono" type="text" class="form-control" placeholder="Teléfono" ng-model="ver.objeto.profile.telefono" required>
                </div>
                <div class="col-sm-3" valida>
                    <label>Celular *</label>
                    <input name="celular" type="text" class="form-control" placeholder="Celular" ng-model="ver.objeto.profile.celular" required>
                </div>
                <div class="col-sm-3">
                    <label>Otro Teléfono</label>
                    <input name="otroTelefono" type="text" class="form-control" placeholder="Otro Teléfono" ng-model="ver.objeto.profile.otroTelefono">
                </div>
                <div class="col-sm-3">
                    <label>Correo</label>
                    <input name="correo" type="text" class="form-control" placeholder="Correo" ng-model="ver.objeto.profile.correo" capitalize>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-12">
        <h4>Particulares</h4>
        <div class="well">
            <div class="row">
                <div class="col-sm-3" valida>
                    <label for="sexo">Sexo *</label>
                    <select name="sexo" ng-model="ver.objeto.profile.sexo" data-placeholder="Seleccione" class="form-control" required>
                        <option value=""></option>
                        <option value="Masculino">Masculino</option>
                        <option value="Femenino">Femenino</option>
                    </select>
                </div>
                <div class="col-sm-3">
                    <label for="estadocivil">Estado Civil *</label>
                    <select name="estadocivil" class="form-control select2" placeholder="Seleccione" ng-model="ver.objeto.profile.estadoCivil_id" required>
                        <option value="{{estadoCivil._id}}" ng-repeat="estadoCivil in ver.estadosCiviles">
                            {{estadoCivil.nombre}}
                        </option>
                    </select>
                </div>
                <div class="col-sm-3">
                    <label>Fecha Nacimiento *</label>
                    <input name="fechaNacimiento" type="date" format="dd/MM/yyyy" class="form-control" placeholder="Fecha" ng-model="ver.objeto.profile.fechaNacimiento" required="">
                </div>
                <div class="col-sm-3">
                    <label for="nacionalidad">Nacionalidad</label>
                    <select name="nacionalidad" class="form-control select2" placeholder="Seleccione" ng-model="ver.objeto.profile.nacionalidad_id" required>
                        <option value="{{nacionalidad._id}}" ng-repeat="nacionalidad in ver.nacionalidades">
                            {{nacionalidad.nombre}}
                        </option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <label for="ocupacion">Ocupación *</label>
                    <select name="ocupacion" class="form-control select2" placeholder="Seleccione" ng-model="ver.objeto.profile.ocupacion_id" required>
                        <option value="{{ocupacion._id}}" ng-repeat="ocupacion in ver.ocupaciones">
                            {{ocupacion.nombre}}
                        </option>
                    </select>
                </div>
                <div class="col-sm-3">
                    <label>CURP</label>
                    <input name="curp" type="text" class="form-control" placeholder="CURP" ng-model="ver.objeto.profile.curp" capitalize>
                </div>
                <div class="col-sm-3">
                    <label>Lugar de Nacimiento</label>
                    <input name="lugarNacimiento" type="text" class="form-control" placeholder="Lugar de Nacimiento" ng-model="ver.objeto.profile.lugarNacimiento">
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-12">
        <h4>Dirección</h4>
        <div class="well">
            <div class="row">
                <div class="col-sm-4" valida>
                    <label>Calle *</label>
                    <input name="calle" type="text" class="form-control" placeholder="Calle" ng-model="ver.objeto.profile.calle" required="" capitalize>
                </div>
                <div class="col-sm-4" valida>
                    <label>Numero *</label>
                    <input name="numero" type="text" class="form-control" placeholder="Número" ng-model="ver.objeto.profile.numero" required="" capitalize>
                </div>
                <div class="col-sm-4" valida>
                    <label>CP *</label>
                    <input name="cp" type="number" min="0" class="form-control" placeholder="Código Postal" ng-model="ver.objeto.profile.codigoPostal" required="">
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4" valida>
                    <label>Pais *</label>
                    <select name="dirPais" class="form-control select2" placeholder="Seleccione" ng-model="ver.objeto.profile.pais_id" required ng-change="ver.cambiarPaisObjeto()">
                        <option value="{{pais._id}}" ng-repeat="pais in ver.paises">{{pais.nombre}}</option>
                    </select>
                </div>
                <div class="col-sm-4" valida>
                    <label for="seccion_id">Estado *</label>
                    <select name="dirEstado" class="form-control select2" placeholder="Seleccione" ng-model="ver.objeto.profile.estado_id" required ng-change="ver.cambiarEstadoObjeto()">
                        <option ng-repeat="estado in ver.estados" value="{{estado._id}}">{{estado.nombre}}</option>
                    </select>
                </div>
                <div class="col-sm-4" valida>
                    <label>Municipio *</label>
                    <select name="dirMunicipio" class="form-control select2" placeholder="Seleccione" ng-model="ver.objeto.profile.municipio_id" required ng-change="ver.cambiarMunicipioObjeto()">
                        <option value="{{municipio._id}}" ng-repeat="municipio in ver.municipios">{{municipio.nombre}}</option>
                    </select>
                </div>
                <div class="col-sm-4" valida>
                    <label for="seccion_id">Ciudad *</label>
                    <select name="dirCiudad" class="form-control select2" placeholder="Seleccione" ng-model="ver.objeto.profile.ciudad_id" required ng-change="ver.cambiarCiudadObjeto()">
                        <option ng-repeat="ciudad in ver.ciudades" value="{{ciudad._id}}">{{ciudad.nombre}}</option>
                    </select>
                </div>
                <div class="col-sm-4" valida>
                    <label for="seccion_id">Colonia *</label>
                    <select name="dirColonia" class="form-control select2" placeholder="Seleccione" ng-model="ver.objeto.profile.colonia_id" required>
                        <option ng-repeat="colonia in ver.colonias" value="{{colonia._id}}">{{colonia.nombre}}</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="well">
            <div class="row">
                <div class="col-sm-12">
                    <input type="submit" ng-click="ver.guardar(ver.objeto,form)" value="Guardar" class="btn btn-primary" ng-show="ver.action" valida-form formulario="form">
                    <input type="submit" ng-click="ver.actualizar(ver.objeto,form)" value="Actualizar" class="btn btn-primary" ng-show="!ver.action" valida-form formulario="form">
                </div>
            </div>
        </div>
        </form>
    </div>
</div>
