<!-- Tabla de Visitados Analistas -->
<table class="table table-bordered">
	<thead>
		<tr>
			<th class="text-center" width="10%">No.</th>
			<th ><div class="text-center">Nombre del Cliente</div></th>
			<th ><div class="text-center">Capital Solicitado</div></th>
			<th class="text-center" width="10%"><div class="text-center">Fecha Solicitud</div></th>
			<th class="text-center" width="10%"><div class="text-center">Fecha Verificación</div></th>
			<th class="text-center" width="10%"><div class="text-center">Turno</div></th>
			<th class="text-center" width="10%"><div class="text-center">Verificar</div></th>
			<th class="text-center" width="10%"><div class="text-center">Acción</div></th>
		</tr>
	</thead>
	<tbody>
    <tr ng-repeat="credito in pver.creditos">
	    <td class="text-center">{{$index + 1}}</td>
	    <td>{{credito.nombreCliente}}</td>
	    <td class="text-right">{{credito.capitalSolicitado | currency}}</td>
	    <td class="text-center">{{credito.fechaSolicito.getUTCDate() +"/"+ (credito.fechaSolicito.getUTCMonth()+1) +"/"+ credito.fechaSolicito.getUTCFullYear()}} </td>
	    <td class="text-center">{{credito.fechaVerificacion.getUTCDate() +"/"+ (credito.fechaVerificacion.getUTCMonth()+1) +"/"+ credito.fechaVerificacion.getUTCFullYear()}} </td>
	    <td class="text-center">{{credito.turno}}</td>
	    <td>
			    <div class="text-center">
				    <div class="btn-group">
						  <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						    <span class="caret"></span>
						    <span class="sr-only">Toggle Dropdown</span>
						  </button>
						  <ul class="dropdown-menu text-left">
						    <li><a ui-sref="root.verificacion({id : credito._id})">Solicitante o Aval</a></li>
						    <li><a ui-sref="root.verificacionVecino({id : credito._id})">Vecino</a></li>
<!--
						    <li><a href="#" ng-click="ciu.cambiarEstatus(objeto._id)">
							    <i class="fa fa-{{objeto.estatus ? 'trash' : 'check' }}"></i> {{objeto.estatus ? "Desactivar" : "Activar" }}</a>
						    </li>
-->
						  </ul>
						</div>
			    </div>				    
			</td>
	    <td class="text-center">
		    	<div class="text-center">
				    <div class="btn-group">
						  <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						    <span class="caret"></span>
						    <span class="sr-only">Toggle Dropdown</span>
						  </button>
						  <ul class="dropdown-menu  dropdown-menu-right text-left">
						    <li><a href="#" ng-click="pver.finalizarVerificacion(credito._id, 'Acreditado')"> Acreditado</a></li>
						    <li><a href="#" ng-click="pver.finalizarVerificacion(credito._id, 'Acreditado con Precaución')"> Acreditado con Precaución</a></li>
						    <li><a href="#" ng-click="pver.finalizarVerificacion(credito._id, 'Desacreditado')"> Desacreditado</a></li>
						  </ul>
						</div>
			    </div>
	    </td>
    </tr>
	</tbody>
</table>
		