<div class="row">
	<div class="col-sm-12">
		<div class="">
			<div class="row">
				<div class="col-sm-12 col-md-12 col-lg-12">
					<div class="well ">
						<div class="row">
							<div class="col-sm-12">
								<div id="myCarousel" class="carousel profile-carousel">
								</div>
							</div>
							<div class="col-sm-12">
								<div class="row">
									<div class="col-sm-2">
										<img style="max-width:150px;" src="{{pvpp.objeto.profile.foto}}" >
									</div>
																		
									<a style="margin: 5px;" ng-if="pvpp.objeto.roles == 'Distribuidor'" ui-sref="root.distribuidoresDetalle({objeto_id : pvpp.objeto._id})" class="btn txt-color-white bg-color-teal btn-sm pull-right" ><i class="fa fa-user" ></i> Ir a mi perfil</a>&nbsp;
									<a style="margin: 5px;" ng-if="pvpp.objeto.roles == 'Cliente'" ui-sref="root.clienteDetalle({objeto_id : pvpp.objeto._id})" class="btn txt-color-white bg-color-teal btn-sm pull-right" ><i class="fa fa-user"></i> Ir a mi perfil</a>&nbsp;						
									<div class="col-sm-6">
										<h1>{{pvpp.objeto.profile.nombre}} <span class="semi-bold">{{pvpp.objeto.profile.apellidoPaterno}} {{pvpp.objeto.profile.apellidoMaterno}}</span>
										<small> (Cliente)</small></h1>
										<h5>{{pvpp.objeto.profile.numeroCliente}}</h5>
									</div>
								</div>
								<!-- <div class="row">
									<div class="col-sm-12">
											<ul class="nav nav-tabs">
												<li class="pull-right">
													<a ng-click="pvpp.masInformacion()" role="button" data-toggle="collapse"
														href="#masInformacion" aria-expanded="false" aria-controls="masInformacion"><i class="fa fa-{{pvpp.masInfo == true ? 'plus':'minus'}} fa-lg"></i> Información del cliente</a>
												</li>

												<li class="pull-right">
												<a ng-click="pvpp.masInformacionCrdito()" data-toggle="collapse"
												   href="#masInformacionCredito" aria-expanded="false" aria-controls="masInformacionCredito"> <i class="fa fa-{{pvpp.masInfoCredito == true ? 'plus':'minus'}} fa-lg">
												   </i> Historial Crediticio </a>
												</li>
												<li class="pull-right">
												<a ng-click="pvpp.creditosAprobados()" data-toggle="collapse"
												   href="#creditosAprobados" aria-expanded="false" aria-controls="creditosAprobados"> <i class="fa fa-{{pvpp.creditoAp == true ? 'plus':'minus'}} fa-lg">
												   </i> Créditos Aprobados </a>
												</li>
											</ul>
										<div class="collapse padding-10" id="masInformacion">
   <div class="tab-pane">
	<div class="col-sm-12">
			<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
			  <div class="panel panel-default">
			    <div class="panel-heading" role="tab" id="headingOne">
			      <h4 class="panel-title">
			        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#href1" aria-expanded="false" aria-controls="href1">
			          Información del Cliente
			        </a>
			      </h4>
			    </div>
			    <div id="href1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
			      <div class="panel-body">    
						    <div class="row">
						    	<div class="col-sm-4" > 					    
							    	<label>Nombre (s)</label>
							    	<input name="nombre" type="text" class="form-control" placeholder="Nombre" ng-model="pvpp.objeto.profile.nombre" disabled="">
						    	</div>
						    	<div class="col-sm-4" >					    
							    	<label>Apellido Paterno</label>
							    	<input name="apellidoPaterno" type="text" class="form-control" placeholder="Apellido Paterno" ng-model="pvpp.objeto.profile.apellidoPaterno" disabled="">
						    	</div>
						    	<div class="col-sm-4">					    
							    	<label>Apellido Materno</label>
							    	<input name="apellidoMaterno" type="text" class="form-control" placeholder="Apellido Materno" ng-model="pvpp.objeto.profile.apellidoMaterno" disabled="">
						    	</div>	    				    	    
						    </div>
			      </div>
			    </div>
			  </div>


			  
			  <div class="panel panel-default">
			    <div class="panel-heading" role="tab" id="headingTwo">
			      <h4 class="panel-title">
			        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#href2" aria-expanded="false" aria-controls="href2">
			          Información de contacto
			        </a>
			      </h4>
			    </div>
			    <div id="href2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
			      <div class="panel-body">
			        	<div class="row">
						    	<div class="col-sm-3" > 					    
							    	<label>Teléfono </label>
							    	<input name="telefono" type="text" class="form-control" placeholder="Teléfono" ng-model="pvpp.objeto.profile.particular"  disabled="">
						    	</div>
						    	<div class="col-sm-3" >					    
							    	<label>Celular </label>
							    	<input name="celular" type="text" class="form-control" placeholder="Celular" ng-model="pvpp.objeto.profile.celular" disabled="">
						    	</div>
						    	<div class="col-sm-3">					    
							    	<label>Otro Teléfono</label>
							    	<input name="otroTelefono" type="text" class="form-control" placeholder="Otro Teléfono" ng-model="pvpp.objeto.profile.telefonoAlternativo" disabled="" >
						    	</div>	  
						    	<div class="col-sm-3">					    
							    	<label>Correo</label>
							    	<input name="correo" type="text" class="form-control" placeholder="Correo" ng-model="pvpp.objeto.profile.correo" disabled="">
						    	</div>  				    	    
						    </div>
			      </div>
			    </div>
			  </div>
			  <div class="panel panel-default">
			    <div class="panel-heading" role="tab" id="headingThree">
			      <h4 class="panel-title">
			        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#href3" aria-expanded="false" aria-controls="href3">
			          Particulares
			        </a>
			      </h4>
			    </div>
			    <div id="href3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
			      <div class="panel-body">
			        	<div class="row">
									<div class="col-sm-3" >
								    <label for="sexo">Sexo </label>
								    <select name="sexo" ng-model="pvpp.objeto.profile.sexo" data-placeholder="Seleccione" class="form-control" disabled>
										    <option value=""></option>
										    <option value="Masculino">Masculino</option>
										    <option value="Femenino">Femenino</option>
										</select>
						    	</div>
						    	<div class="col-sm-3">
										<label for="estadocivil">Estado Civil </label>
										<input name="estadoCivil" type="text" class="form-control" placeholder="Estado Civil" ng-model="pvpp.objeto.profile.estadoCivil.nombre" disabled="">
									</div>
										
						    	<div class="col-sm-3">					    
							    	<label>Fecha Nacimiento </label>
							    	<input name="fechaNacimiento" type="date" format="dd/MM/yyyy" class="form-control" placeholder="Fecha" ng-model="pvpp.objeto.profile.fechaNacimiento" disabled="">
						    	</div>	
									
									<div class="col-sm-3">
										<label for="nacionalidad">Nacionalidad</label>
										<input name="nacionalidad" type="text" class="form-control" placeholder="Nacionalidad" ng-model="pvpp.objeto.profile.nacionalidad.nombre" disabled="">
									</div>			
						    </div>
						    <div class="row">
							    <div class="col-sm-3">
										<label for="ocupacion">Ocupación </label>
										<input name="ocupacion" type="text" class="form-control" placeholder="Ocupacion" ng-model="pvpp.objeto.profile.ocupacion.nombre" disabled="">
									</div>		
						    	<div class="col-sm-3">					    
							    	<label>CURP</label>
							    	<input name="curp" type="text" class="form-control" placeholder="CURP" ng-model="pvpp.objeto.profile.curp" disabled>
						    	</div>
						      <div class="col-sm-3">					    
							    	<label>Lugar de Nacimiento</label>
							    	<input name="lugarNacimiento" type="text" class="form-control" placeholder="Lugar de Nacimiento" ng-model="pvpp.objeto.profile.lugarNacimiento" disabled>
						    	</div>	
						    </div>		
			      </div>
			    </div>
			  </div>
			  <div class="panel panel-default">
				    <div class="panel-heading" role="tab" id="headingFour">
				      <h4 class="panel-title">
				        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#href4" aria-expanded="false" aria-controls="href4">
				          Dirección
				        </a>
				      </h4>
				    </div>
				    <div id="href4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
				      <div class="panel-body">
				        	<div class="row">
									    <div class="col-sm-6" >					    
									    	<label>Calle </label>
									    	<input name="calle" type="text" class="form-control" placeholder="Calle" ng-model="pvpp.objeto.profile.calle" disabled="">
								    	</div>
								    	<div class="col-sm-3" >					    
									    	<label>Numero </label>
									    	<input name="numero" type="text" class="form-control" placeholder="Número" ng-model="pvpp.objeto.profile.numero" disabled="">
								    	</div>
								    	<div class="col-sm-3" >					    
									    	<label>CP </label>
									    	<input name="cp" type="number" min="0" class="form-control" placeholder="Código Postal" ng-model="pvpp.objeto.profile.codigoPostal" disabled="">
								    	</div>
								    </div>
								    <div class="row">
									    <div class="col-sm-3" >
													<label >Pais </label>
													<input name="dirPais" type="text" class="form-control" placeholder="Pais" ng-model="pvpp.objeto.profile.pais.nombre" disabled>
											</div>
										  <div class="col-sm-3" >
													<label for="seccion_id">Estado </label>
													<input name="dirEstado" type="text" class="form-control" placeholder="Estado" ng-model="pvpp.objeto.profile.estado.nombre" disabled>
											</div>	
											<div class="col-sm-3" >
													<label >Municipio </label>
													<input name="dirMunicipio" type="text" class="form-control" placeholder="Municipio" ng-model="pvpp.objeto.profile.municipio.nombre" disabled>
											</div>
											<div class="col-sm-3" >
													<label for="seccion_id">Ciudad </label>
													<input name="dirCiudad" type="text" class="form-control" placeholder="Ciudad" ng-model="pvpp.objeto.profile.ciudad.nombre" disabled>
											</div>	
								    </div>
								    <div class="row">
									    <div class="col-sm-3" >
													<label for="seccion_id">Colonia </label>
													<input name="dirColonia" type="text" class="form-control" placeholder="Colonia" ng-model="pvpp.objeto.profile.colonia.nombre" disabled>
											</div>
											<div class="col-sm-3">					    
									    	<label>Tiempo Residencia</label>
									    	<input name="tiempo" type="text" class="form-control" placeholder="Tiempo" ng-model="pvpp.objeto.profile.tiempoResdencia" disabled>
								    	</div>
								    	<div class="col-sm-2">					    
									    	<label>Renta</label>
									    	<input name="rentaMes" type="checkbox" class="form-control" ng-model="pvpp.objeto.profile.renta" disabled>
								    	</div>
								    	<div class="col-sm-3" ng-if="pvpp.objeto.profile.renta">					    
									    	<label>Renta Mes </label>
									    	<input name="tiempo" type="number" min="0" class="form-control" placeholder="Renta Mes" ng-model="pvpp.objeto.profile.rentaMes" disabled>
								    	</div>
											<div class="col-sm-12">					    
									    	<label>Señas Particulares</label>
									    	<input name="senias" type="text" class="form-control" placeholder="Señas" ng-model="pvpp.objeto.profile.senasParticulares" disabled>
								    	</div>
								    </div>	
				      </div>
				    </div>
				</div>
				<div class="panel panel-default">
				    <div class="panel-heading" role="tab" id="headingFive">
				      <h4 class="panel-title">
				        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#href5" aria-expanded="false" aria-controls="href5">
				          Ingresos Mensuales
				        </a>
				      </h4>
				    </div>
				    <div id="href5" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
				      <div class="panel-body">
				        	<div class="row">
							    	<div class="col-sm-3" > 					    
								    	<label>Ingresos Personales</label>
								    	<input name="ingresosPersonales" type="text" class="form-control" placeholder="Ingresos Personales" ng-model="pvpp.objeto.profile.ingresosPersonales" disabled>
							    	</div>
							    	<div class="col-sm-3" >					    
								    	<label>Ingresos Conyuge</label>
								    	<input name="ingresosConyuge" type="text" class="form-control" placeholder="Ingresos Conyuge" ng-model="pvpp.objeto.profile.ingresosConyuge" disabled>
							    	</div>
							    	<div class="col-sm-3">					    
								    	<label>Otros Ingresos</label>
								    	<input name="otrosIngresos" type="text" class="form-control" placeholder="Otros Ingresos" ng-model="pvpp.objeto.profile.otrosIngresos" disabled>
							    	</div>	  
							    	<div class="col-sm-3">					    
								    	<label>Total Ingresos</label>
								    	<input name="totalIngresos" type="text" class="form-control" placeholder="Total Ingresos" ng-model="pvpp.objeto.profile.totalIngresos" disabled>
							    	</div>  				    	    
							    </div>
							    <div class="row">
							    	<div class="col-sm-3" > 					    
								    	<label>Gastos Fijos</label>
								    	<input name="gastosFijos" type="text" class="form-control" placeholder="Gastos Fijos" ng-model="pvpp.objeto.profile.gastosFijos" disabled>
							    	</div>
							    	<div class="col-sm-3" >					    
								    	<label>Gastos Eventuales</label>
								    	<input name="gastosEventuales" type="text" class="form-control" placeholder="Gastos Eventuales" ng-model="pvpp.objeto.profile.gastosEventuales" disabled>
							    	</div>
							    	<div class="col-sm-3">					    
								    	<label>Total Gastos</label>
								    	<input name="totalGastos" type="text" class="form-control" placeholder="Total Gastos" ng-model="pvpp.objeto.profile.totalGastos" disabled>
							    	</div>	  
							    	<div class="col-sm-3">					    
								    	<label>Resultado Neto</label>
								    	<input name="resultadoNeto" type="text" class="form-control" placeholder="Resultado Neto" ng-model="pvpp.objeto.profile.resultadoNeto" disabled>
							    	</div>  				    	    
							    </div>
				      </div>
				    </div>
				</div>


				<div class="panel panel-default">
				    <div class="panel-heading" role="tab" id="headingSix">
				      <h4 class="panel-title">
				        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#href6" aria-expanded="false" aria-controls="href6">
				          Referencias Personales
				        </a>
				      </h4>
				    </div>
				    <div id="href6" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
				      <div class="panel-body">
				        	<div class="row">
										<table class="table table-bordered">
											<thead>
												<tr>
													<th width="5%">Número</th>
													<th width="20%">Nombre</th>
													<th width="5%">Parentezco</th>
													<th width="30%">Dirección</th>
													<th width="10%">Telefono</th>
													<th width="10%">Tiempo</th>
												</tr>
											</thead>
											<tbody>
												<tr ng-repeat="p in pvpp.referencias">
													<td ng-repeat-start="r in p.relaciones">{{r.num}}</td>
													<td>{{p.nombreCompleto}} </td>
													<td>{{r.parentezco}}</td>
													<td>{{r.direccion}}</td>
													<td>{{r.telefono}}</td>
													<td ng-repeat-end>{{r.tiempo}}</td>
												</tr>
											</tbody>
										</table>
									</div>
				      </div>
				    </div>
				</div>
				<div class="panel panel-default">
				    <div class="panel-heading" role="tab" id="headingSeven">
				      <h4 class="panel-title">
				        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#href7" aria-expanded="false" aria-controls="href7">
				          Empresa
				        </a>
				      </h4>
				    </div>
				    <div id="href7" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
				      <div class="panel-body">
				        	<div class="row">
								    	<div class="col-sm-6" > 					    
									    	<label>Nombre</label>
									    	<input name="nombreEmpresa" type="text" class="form-control" placeholder="Nombre" ng-model="pvpp.objeto.profile.empresa.nombre" disabled>
								    	</div>
								    	<div class="col-sm-6" >					    
									    	<label>Razón Social</label>
									    	<input name="razonsocial" type="text" class="form-control" placeholder="Razón Social" ng-model="pvpp.objeto.profile.empresa.razonSocial" disabled>
								    	</div>
								    	<div class="col-sm-4" >					    
									    	<label>Calle</label>
									    	<input name="calleEmpresa" type="text" class="form-control" placeholder="Calle" ng-model="pvpp.objeto.profile.empresa.calle" disabled="" >
								    	</div>	  
								    	<div class="col-sm-2" >					    
									    	<label>Número </label>
									    	<input name="numeroEmpresa" type="number" class="form-control" placeholder="Número" ng-model="pvpp.objeto.profile.empresa.numero" disabled="" >
								    	</div>  				    	    
								    	<div class="col-sm-6" >					    
									    	<label>Colonia </label>
									    	<input name="coloniaEmpresa" type="text" class="form-control" placeholder="Colonia" disabled="">
								    	</div>
								    </div>
										<div class="row">
											<div class="col-sm-3" >
													<label >Pais </label>
													<input name="dirPaisEmpresa" type="text" class="form-control" placeholder="Pais" ng-model="pvpp.empresas.pais.nombre" disabled="">
											</div>
										  <div class="col-sm-3" >
													<label for="seccion_id">Estado </label>
													<input name="dirEstadoEmpresa" type="text" class="form-control" placeholder="Estado" ng-model="pvpp.empresas.estado.nombre"disabled="">
											</div>	
											<div class="col-sm-3" >
													<label >Municipio </label>
													<input name="dirMunicipioEmpresa" type="text" class="form-control" placeholder="Municipio" ng-model="pvpp.empresas.muncipio.nombre" disabled="">
											</div>
											<div class="col-sm-3" >
													<label for="seccion_id">Ciudad </label>
													<input name="dirCiudadEmpresa" type="text" class="form-control" placeholder="Ciudad" ng-model="pvpp.empresas.ciudad.nombre" disabled="">
											</div>	
							    </div>
				      </div>
				    </div>
				</div>
			</div>
	</div>
</div>
</div>



  <div class="collapse padding-10" id="masInformacionCredito">
   <div class="tab-pane">
	<div class="col-sm-12">
		<br/>
		<table class="table table-striped table-bordered table-condensed font-xs">
			<thead class="thead">
				<tr>
					<th class="text-center" width="7%">Credito No.</th>
					<th class="text-center" width="15%">Fecha Solicitud</th>
					<th class="text-center" width="15%">Fecha Entrega</th>
					<th class="text-center" width="15%">Capital Solicitado</th>
					<th class="text-center" width="15%">Adeudo Inicial</th>
					<th class="text-center" width="20%">Saldo Actual</th>
					<th class="text-center" width="10%">Acciones</th>
					<th ng-show="pvpp.openModal"></th>
				
					
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="credito in pvpp.historialCreditos">
						
					<td class="text-center">{{credito.folio}}</td>	
					<td class="text-center">{{credito.fechaSolicito | date:"dd-MM-yyyy"}}</td>
					<td class="text-center">{{credito.fechaEntrega |  date:"dd-MM-yyyy" }}</td>
					<td class="text-right">{{credito.capitalSolicitado | currency}}</td>
					<td >{{credito.adeudoInicial | currency}}</td>
					<td >{{credito.saldoActual | currency}}</td>
					<td>
						<div class="text-center">
								<button type="button" class="btn btn-link" ng-click="pvpp.verPagos(credito)">Ver Pagos</button>
						</div>						
					</td>
					<td ng-show="pvpp.openModal"></td>
					Pagos cliente




<td ng-show="pvpp.openModal" colspan="-1">
<div id="modalpagos" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
	  <div class="modal-dialog modal-lg" role="document">
	    <div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title">Pagos</h4>
				</div>
				<div class="modal-body">
				 <div>
				   <table class="table table-striped table-bordered table-condensed font-xs">
					<thead class="thead">
						<tr>
							<th class="text-center" width="7%">Recibo No.</th>
							<th class="text-center" width="10%">Movimiento</th>
							<th class="text-center" width="10%">Fecha</th>
							<th class="text-center" width="10%">Cargo</th>
							<th class="text-center" width="10%">Abono</th>
							<th class="text-center" width="20%">Saldo</th>
							<th class="text-center" width="20%">Nota de credito</th>
							<th class="text-center" width="20%">Saldo actualizado</th>
						</tr>
					</thead>
						<tbody>
							<tr  ng-repeat="credito in pvpp.historial" 
							ng-class="(credito.tipoPar == 'par') ? 'default' : (credito.tipoPar == 'impar') ? 'info': 'success'">
								<td class="text-center">{{credito.numeroPago || credito.numeroPagoMulta}} - {{credito.cantidad}}</td>	
								<td class="text-center">{{credito.movimiento}}</td>	
								<td class="text-center">{{credito.fecha | date:"dd-MM-yyyy"}}</td>
								<td class="text-center">{{credito.cargo | currency}}</td>
								<td class="text-right">{{credito.pago | currency}}</td>
								<td >{{credito.saldo | currency}}</td>
								<td >0</td>
								<td >0</td>
							</tr>
						</tbody>
					</table>
				 	
				 </div>
				</div>
				<div class="modal-footer">
				    <button ng-click="pvpp.cerrarModal()" type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>

				 </div>
			</div>
	  </div>
</div>


	 </td>
				</tr>
			</tbody>
		</table>	
		
	</div>
   </div>
</div>

 <div class="collapse padding-10" id="creditosAprobados">
   <div class="tab-pane">
   	<article class="col-sm-12 col-md-12 col-lg-12 sortable-grid ui-sortable">
		<div class="jarviswidget jarviswidget-sortable" id="wid-id-0" data-widget-togglebutton="false" data-widget-editbutton="false" data-widget-fullscreenbutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false" role="widget">
						
						<header role="heading">
							<span class="widget-icon"> <i class="glyphicon glyphicon-stats txt-color-darken"></i> </span>
							<h2>Créditos Aprobados</h2>
			
			
						<span class="jarviswidget-loader"><i class="fa fa-refresh fa-spin"></i></span></header>
			
						<div class="no-padding" role="content">
						
			
							<div class="widget-body">
								

								<div class="row ">
									<br/>
									<div class="col-xs-12 col-sm-4 col-md-2"  ng-repeat="aprobado in pvpp.creditos">
										<div class="panel panel-blueDark">
											<div class="panel-heading">
												<h3 class="panel-title">
													Credito</h3>
											</div>
											<div class="panel-body no-padding text-align-center">
												<div class="the-price">
													<h1>
														{{aprobado.capitalSolicitado|currency}}
													</h1>
													<h2>
														<span class="subscript">Folio:</span>
														{{aprobado.folio}}
														
													</h2>
													<h2>
														{{aprobado.duracionMeses}}
														<span class="subscript">/meses</span>
													</h2>
													<small>Plan: {{aprobado.periodoPago}}</small>
												</div>
											</div>
											
										</div>
									</div>
									
								</div>
							</div>
			
						</div>
					</div>
	</article>

   </div>
 </div>
									</div>
								</div> -->
							</div>													
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Formulario para cambiar algún dato de un pago -->
<!-- <div class="row"> 
	<div class="col-sm-12">
		<div class="collapse" id="collapseMasivaSemanas">
			<form name="formMasivoSemanas" class="form-horizontal" role="form" novalidate>
		  	<div class="well">	    
			  	<div class="row">
			  		<div class="col-sm-12">
			  			<div class="alert alert-warning">
			  			 <p><i class="fa-fw fa fa-warning"></i> La <strong>actualización masiva</strong> es una herramienta que actualizará el importe, recargo y descuento en un rango de semanas dadas, por favor asegúrese de hacerlo correctamente.</p>
			  			 <p><strong>No se pueden modificar colegiaturas pagadas</strong></p>
			  			</div>
			  		</div>
			  	</div>
			    <div class="row">
			    	<div class="col-sm-4" valida>
				    	<label>Fecha Inicial *</label>
				    	<input date-time format="dd-MM-yyyy" class="form-control" view="year" max-view="year" min-view="date" ng-model="pvpp.cambioSemanasPlanPagos.fechaInicial" name="fechacambioSemanasPlanPagos" required/>
			    	</div>
			    	<div class="col-sm-4" valida>					    
				    	<label>Total de Pagos *</label>
				    	<input name="totalPagosCambioSemanasPlanPagos" type="number" class="form-control" ng-model="pvpp.cambioSemanasPlanPagos.totalPagos" required="">
			    	</div>
			    </div>
			    <div class="row">
			    	<div class="col-sm-4" valida>
				    	<label>Importe *</label>
				    	<input name="importeRegularCambioSemanasPlanPagos" type="number" class="form-control" placeholder="Nuevo costo colegiatura" ng-model="pvpp.cambioSemanasPlanPagos.importeRegular" required="">
			    	</div>
			    	<div class="col-sm-4" valida>					    
				    	<label>Importe Recargo *</label>
				    	<input name="importeRecargoCambioSemanasPlanPagos" type="number" class="form-control" placeholder="Monto recargo" ng-model="pvpp.cambioSemanasPlanPagos.importeRecargo" required="">
			    	</div>
			    	<div class="col-sm-4" valida>					    
				    	<label>Importe Descuento *</label>
				    	<input name="importeDescuentoCambioSemanasPlanPagos" type="number" class="form-control" placeholder="Monto descuento" ng-model="pvpp.cambioSemanasPlanPagos.importeDescuento" required="">
			    	</div>
			    	<div class="col-sm-4" valida>					    
				    	<label>Días Recargo *</label>
				    	<input name="diasRecargoCambioSemanasPlanPagos" type="number" class="form-control" ng-model="pvpp.cambioSemanasPlanPagos.diasRecargo" required="">
			    	</div>
			    	<div class="col-sm-4" valida>					    
				    	<label>Días Descuento *</label>
				    	<input name="diasDescuentoCambioSemanasPlanPagos" type="number" class="form-control" ng-model="pvpp.cambioSemanasPlanPagos.diasDescuento" required="">
			    	</div>
			    </div> 
				</div>
				<div class="row">
					<div class="col-sm-12">
						<button class="btn btn-info" ng-click="pvpp.planPagosSemana(pvpp.cambioSemanasPlanPagos, formMasivoSemanas)" valida-form formulario="formMasivoSemanas">Calcular Plan de Pagos</button>
					</div>
				</div>	  
		  </form>
		</div>
	</div>
</div> -->
<!-- Tabla para mostrar los pagos -->
<div  class="well">
		<div class="row">
				<div class="col-sm-2">
				    <label>Ordenar por:</label>
				    <select name="ordenar" ng-model="pvpp.valorOrdenar" ng-change="pvpp.funcionOrdenar()" data-placeholder="Ordenar" class="form-control" >
						    <option value=""></option>
						    <option value="Folio">Folio</option>
						    <option value="Fecha">Fecha</option>
						    <option value="Recibo">Recibo</option>
						</select>
		  	</div>
		  	<div class="col-sm-2">					    
		    	<label>Ocultar Multas</label>
		    	<input name="ocultarMultas" type="checkbox" class="form-control" ng-click="pvpp.ocultar()" ng-model="pvpp.ocultarMultas">
	    	</div>
		  	<div class="col-xs-12 col-sm-5 col-md-5 col-lg-8">
						<ul id="sparks" class="">
							<li class="sparks-info">
								<h5 style="text-align: center"> Subtotal <span class="txt-color-green" style="text-align: right">{{pvpp.subtotal | currency}}</span></h5>
							</li>	
							<li class="sparks-info">
								<h5 style="text-align: center"> Total Cargos Moratorios <span class="txt-color-red" style="text-align: right">{{pvpp.cargosMoratorios | currency}}</span></h5>
							</li>	
							<li class="sparks-info">
								<h5 style="text-align: center"> Total <span class="txt-color-green" style="text-align: right">{{pvpp.total | currency}}</span></h5>
							</li>	
						</ul>
				</div>									  	
		</div>	
		<div class="row"><br/>
			
			<div class="col-sm-9">

				<table class="table table-bordered table-condensed font-xs">
					<thead class="thead">
						<tr>
							<th class="text-center" width="5%"></th>
							<th class="text-center" width="5%">No.</th>
							<th class="text-center" width="5%">Folio Crédito</th>
							<th class="text-center" width="10%">Movimiento</th>
							<th class="text-center" width="20%">Fecha de Pago</th>
							<th class="text-center" width="5%">Recibo</th>
							<th class="text-center" width="10%">Capital</th>
							<th class="text-center" width="5%">Interes</th>
							<th class="text-center" width="10%">Seguro</th>
							<th class="text-center" width="5%">IVA</th>
							<th class="text-center" width="10%">Saldo</th>
							<th class="text-center" width="5%">Pago</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-class="pago.color" ng-repeat="pago in pvpp.planPagosViejo | orderBy: pvpp.funcionOrdenar()" ng-if="pago.verCargo">

							<td ><a ng-model="pago.pagoSeleccionado" ng-click="pvpp.seleccionarPago(pago)" class="btn btn-xs btn-{{pago.pagoSeleccionado == true ? 'warning' : 'success'}}" ng-if="pago.estatus != 1"> {{pago.pagoSeleccionado == true ? '-' : '+'}}</a> </td>

							<td ng-class="(pago.descripcion == 'Cargo Moratorio') ? 'text-center text-danger' : 'text-center'">{{ $index + 1 }}</td>	
							<td ng-class="(pago.descripcion == 'Cargo Moratorio') ? 'text-center text-danger' : 'text-center'">{{pago.credito.folio}}</td>
							<td ng-class="(pago.descripcion == 'Cargo Moratorio') ? 'text-danger' : ''">{{pago.movimiento }}</td>
							<td ng-class="(pago.descripcion == 'Cargo Moratorio') ? 'text-center text-danger' : 'text-center'">{{pago.fechaLimite | date:"dd-MM-yyyy"}}</td>
							<td ng-class="(pago.descripcion == 'Cargo Moratorio') ? 'text-center text-danger' : 'text-center'">{{pago.numeroPago || pago.numeroPagoMulta}} - {{pvpp.getnumeroPagos(pago.credito_id)}}</td>
							<td ng-class="(pago.descripcion == 'Cargo Moratorio') ? 'text-right text-danger' : 'text-right'">{{pago.capital  | currency}}</td>
							<td ng-class="(pago.descripcion == 'Cargo Moratorio') ? 'text-right text-danger' : 'text-right'">{{pago.interes  | currency}}</td>
							<td ng-class="(pago.descripcion == 'Cargo Moratorio') ? 'text-right text-danger' : 'text-right'">{{pago.seguro  | currency}}</td>
							<td ng-class="(pago.descripcion == 'Cargo Moratorio') ? 'text-right text-danger' : 'text-right'">{{pago.iva  | currency}}</td>
							<td ng-class="(pago.descripcion == 'Cargo Moratorio') ? 'text-right text-danger' : 'text-right'">{{pago.importeRegular  | currency}}</td>
							<td ><input style="width: 80px" min="0" type="number" ng-change="pvpp.seleccionarMontoPago(pago)" ng-model="pago.importepagado" ng-if="pago.estatus != 1"></td>
						</tr>
					</tbody>
				</table>	
			</div>

			<div class="col-sm-3 pull-right" valida>
				<h4>Total a pagar: {{pvpp.pago.totalPago | currency }}</h4>
				<br/>
				<caption>Forma de Pago: </caption> 
				<select name="TipoIngreso" class="form-control select2" placeholder="Seleccione" ng-model="pvpp.pago.tipoIngreso_id" ng-change = "pvpp.seleccionTipoIngreso(pvpp.pago.tipoIngreso_id)" required>
					<option ng-repeat="tipo in pvpp.tiposIngreso" value="{{tipo._id}}">{{tipo.nombre}}</option>
				</select>
				<br/>
				<caption>Paga con: </caption> <input id="cobro" min="0" type="number" class="form-control" placeholder="Pagar" ng-model="pvpp.pago.pagar" required="true">
				<br/>
				<h4>Cambio: {{pvpp.pago.pagar - pvpp.pago.totalPago | currency }}</h4>
				<br/>
				
				<div class="form-group" ng-if = "pvpp.tipoIngresoSeleccionado.tipoCuenta == 'Banco'">
						<label for="fecha">Fecha Deposito:</label>
						<input name="fecha" date-time format="dd-MM-yyyy" class="form-control" view="date" max-view="year" min-view="date" ng-model="pvpp.pago.fechaDeposito"/>
				</div>
				<br/>
				<a class="btn btn-primary pull-left" ng-click="pvpp.guardarPago(pvpp.pago,pvpp.credito)">Hacer Cobro</a>
			</div>
		</div>
</div>									
						<!--
		</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</article>
</div>
-->



<!-- ////////////////////////////////////////////////////////////////////////////////////////// -->
<div id="modalRefinanciamiento" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
	  <div class="modal-dialog modal-lg" role="document">
	    <div id="imagenDiv" class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">Refinanciamiento del crédito</h4>
			</div>
			<div class="widget-body">
				<form name="form2" novalidate>
					<div class="well">	    
				    <div class="row">
				    	<div class="col-sm-12">
								<table id="mainTable" class="table table-striped table-bordered table-condensed font-xs">
										<thead class="thead">
											<tr>
												<th class="text-center" width="5%">Número</th>
												<th class="text-center" width="10%">Solicitado</th>
												<th class="text-center" width="15%">Fecha de Solicitud </th>
												<th class="text-center" width="5%">Acción</th>
											</tr>
										</thead>
										<tbody>
											<tr ng-repeat="credito in pvpp.creditosAutorizados" ng-class="($index == selectedRow) ?'text-info':''">
												<td style="text-align: center" ng-class="($index == pvpp.selectedRow)?'text-success':''">{{$index + 1}}</td>
												<td style="text-align: right" ng-class="($index == pvpp.selectedRow)?'text-success':''">{{credito.capitalSolicitado | currency}}</td>
												<td style="text-align: center" ng-class="($index == pvpp.selectedRow)?'text-success':''">{{credito.fechaSolicito | date:"dd-MM-yyyy"}}</td>
												<td style="text-align: center" ng-class="($index == pvpp.selectedRow)?'text-success':''">
														<a ng-click="pvpp.marcarRefinanciamiento(credito, $index)" class="btn txt-color-white bg-color-green btn-sm pull-center" style="margin: 5px;">
															<i class="fa fa-check"></i>
														</a>
												</td>	
											</tr>
										</tbody>
								</table>
								</div>
				    </div>
					</div>
				</form>
  </div>
					<div class="modal-footer">
          <button type="button" ng-click="pvpp.guardarRefinanciamiento()" class="btn btn-success">Guardar</button>
          <button type="button" ng-click="pvpp.cerrarRefinanciamiento()" class="btn btn-default" data-dismiss="modal">Cerrar</button>
        </div>
	    </div>
	  </div>

</div>




