<h2>Ciudades</h2>
<div class="row">
	<div class="col-sm-12">
		<a class="btn btn-{{ciu.nuevo == true ? 'primary' : 'danger'}}" role="button" data-toggle="collapse" 
			href="#collapseExample" aria-expanded="false" aria-controls="collapseExample" ng-click="ciu.Nuevo()">
		   {{ciu.nuevo == true ? 'Nuevo' : 'Cancelar'}}
		</a>
		<div class="collapse" id="collapseExample">
			<form name="form" class="form-horizontal" role="form">
		  	<div class="well">	    
			    <div class="row">
				    	<div class="col-sm-4" valida>
								<label >Pais</label>
									<select name="pais" class="form-control select2" placeholder="Seleccione" ng-model="ciu.objeto.pais_id" required>
										<option  value="{{pais._id}}" ng-repeat="pais in ciu.paises">{{pais.nombre}}</option>
									</select>
						  </div>
				    	<div class="col-sm-4" valida>
								<label for="seccion_id">Estado</label>
								<select name="estado" class="form-control select2" placeholder="Seleccione" ng-model="ciu.objeto.estado_id" required>
									<option ng-repeat="estado in ciu.estados" value="{{estado._id}}">{{estado.nombre}}</option>
								</select>
							</div>	
							<div class="col-sm-4" valida>
								<label >Municipio</label>
									<select name="municipio" class="form-control select2" placeholder="Seleccione" ng-model="ciu.objeto.municipio_id" required>
										<option  value="{{municipio._id}}" ng-repeat="municipio in ciu.municipios">{{municipio.nombre}}</option>
									</select>
						  </div>
					</div>
					<div class="row">
						 <div class="col-sm-4" valida>
						    <label>Nombre *</label>
					    	<input name="nombre" type="text" class="form-control" placeholder="Nombre" ng-model="ciu.objeto.nombre" required>
					    </div>
					</div>	
				</div>
		  	<div class="well">	    
			    <div class="row">
						<div class="col-sm-12">
							<input type="submit" ng-click="ciu.guardar(ciu.objeto,form)" value="Guardar" class="btn btn-primary" ng-show="ciu.action" valida-form formulario="form">
							<input type="submit" ng-click="ciu.actualizar(ciu.objeto,form)" value="Actualizar" class="btn btn-primary" ng-show="!ciu.action" valida-form formulario="form">	
						</div>
					</div>
		  	</div>  
		  </form>
		</div>
	</div>
</div>
<!--------------------------------------->
<div class="well">	    
	<div class="row">
		<div class="col-sm-4">
			<label >Pais</label>
				<select name="pais" class="form-control select2" placeholder="Seleccione" ng-model="ciu.buscar.pais_id">
					<option  value="{{pais._id}}" ng-repeat="pais in ciu.paises">
						{{pais.nombre}}
					</option>
				</select>
	  </div>
	  <div class="col-sm-4">
			<label >Estado</label>
				<select name="estado" class="form-control select2" placeholder="Seleccione" ng-model="ciu.buscar.estado_id">
					<option  value="{{estado._id}}" ng-repeat="estado in ciu.estadosBuscar">
						{{estado.nombre}}
					</option>
				</select>
	  </div>
	  <div class="col-sm-4">
			<label >Municipio</label>
				<select name="municipio" class="form-control select2" placeholder="Seleccione" ng-model="ciu.buscar.municipio_id">
					<option  value="{{municipio._id}}" ng-repeat="municipio in ciu.municipiosBuscar">
						{{municipio.nombre}}
					</option>
				</select>
	  </div>
	</div>
</div>
<!--------------------------------------->

<!-- List -->
<div class="row">
	<div class="col-sm-12">
		<table class="table table-bordered">
			<thead>
				<tr>
					<th width="30%"><div class="text-center">Nombre</div></th>
					<th width="20%">
						<div class="text-center">
							Estatus
						</div>
					</th>
					<th width="20%">
						<div class="text-center">
							Acciones
						</div>
					</th>
				</tr>
			</thead>
			<tbody>
		    <tr ng-repeat="objeto in ciu.ciudades">
			    <td>{{objeto.nombre}}</td>
			    <td>
				    <div class="text-center">
				    	<span ng-if="objeto.estatus" class="label label-success">
							  Activo
							</span>
							<span ng-if="!objeto.estatus" class="label label-danger">
							  Inactivo
							</span>
				    </div>
			    </td>
			    <td>
				    <div class="text-center">
					    <div class="btn-group">
							  <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							    <span class="caret"></span>
							    <span class="sr-only">Toggle Dropdown</span>
							  </button>
							  <ul class="dropdown-menu text-left">
							    <li><a href="#" ng-click="ciu.editar(objeto._id)"><i class="fa fa-pencil"></i> Editar</a></li>
							    <li><a href="#" ng-click="ciu.cambiarEstatus(objeto._id)">
								    <i class="fa fa-{{objeto.estatus ? 'trash' : 'check' }}"></i> {{objeto.estatus ? "Desactivar" : "Activar" }}</a>
							    </li>
							  </ul>
							</div>
				    </div>				    
			    </td>
		    </tr>
			</tbody>
		</table>
	</div>
</div>