
<div class="container">
	<div class="widget-body no-padding">
		<div class="padding-12">
			<div class="row text-center">
				<div class="col-sm-4 col-sm-offset-4">
					<span id="logo"> <img src="img/logoCreditoMioBN.png" alt="SmartAdmin" style="margin-top: -18px;width: 200px;height: 110px;"> </span>
					<address style="font-size: larger">
						RUBIDIA MARTINEZ ALCARAZ<br>
						BLVD. EMILIANO ZAPATA 3125 LOCAL 12BC<br>
						COLONIA LOMAS DEL BOULEVARD<br>
						MAAR-661007-BF5<br>
						(667) 717-21-21<br>
					</address>
					<strong style="font-size: larger">----------RECIBO DE PAGO----------</strong>
					<div class="row" style="font-size: larger">
						<div class="col-sm-12">
							<span class="pull-left">RECIBIMOS DE <strong>{{tkpctrl.cliente.profile.nombreCompleto}}</strong> (CLIENTE No. {{tkpctrl.cliente.profile.numeroCliente}}) CON DOMICILIO EN: CALLE {{tkpctrl.cliente.profile.calle}} NO. {{tkpctrl.cliente.profile.numero}} {{tkpctrl.cliente.profile.colonia.nombre}}. {{tkpctrl.cliente.profile.municipio.nombre}}, {{tkpctrl.cliente.profile.estado.nombre}}.
							</span>
						</div>
					</div>	
					<div class="row">
						<div class="col-sm-12">
							<span class="pull-left" style="font-size: larger">LA CANTIDAD DE:<strong> {{tkpctrl.pago.totalPago | currency}}</strong></span>
							<br>
							<span class="pull-left" style="font-size: larger">SON: {{tkpctrl.pago.letra}} PESOS {{tkpctrl.pago.centavos}}/100 M.N.</span>
							<br/>
							<span class="pull-left" style="font-size: larger"> POR CONCEPTO DE ABONO A SU CUENTA</span>
						</div>	
					</div>
					<strong style="font-size: larger">---------DETALLE DEL PAGO/ABONO---------</strong>
					<table style="font-size: medium; width: 100%">
						<tbody>
							<tr>
								<th style="text-align: center;width: 20%">Crédito</th>
								<th style="text-align: center;width: 20%">Recibo</th>
								<th style="text-align: center;width: 20%">Abono</th>
								<th style="text-align: center;width: 40%">Cocepto</th>					
							</tr>
							<tr ng-repeat="pago in tkpctrl.pago.planPagos">
								<td style="text-align: center;width: 20%">{{pago.folioCredito}}</td>
								<td style="text-align: center;width: 20%">{{pago.numeroPago}} / {{pago.numeroPagos}}</td>
								<td style="text-align: right;width: 20%">{{pago.totalPago | currency}}</td>
								<td style="text-align: center;width: 40%">{{pago.descripcion}}</td>					
							</tr>
						</tbody>
					</table>

					<table style="font-size: medium; width: 100%;">
						<tr>
							<td style="text-align: left; width: 70%">
								<strong>TOTAL: </strong>
							</td>
							<td style="text-align: right; width: 30%">
									{{tkpctrl.pago.totalPago | currency}}
							</td>
						</tr>
						<tr>
							<td style="text-align: left; width: 70%">
								<strong>PAGÓ: </strong>
							</td>
							<td style="text-align: right; width: 30%"> 
								{{tkpctrl.pago.pago | currency}}
							</td>
						</tr>
						<tr>
							<td style="text-align: left; width: 70%">
								<strong>CAMBIO: </strong>
							</td>
							<td style="text-align: right; width: 30%">
								{{tkpctrl.pago.cambio | currency}}
							</td>
						</tr>
					</table>
					<table style="font-size: medium; width: 100%;">
						<tr>
							<td style="text-align: left; width: 70%;">SALDO ANTERIOR: </td>
							<td style="text-align: right; width: 30%;">{{tkpctrl.pago.saldoAnterior | currency}}</td>							
						</tr>
						<tr>
							<td style="text-align: left; width: 70%;">SALDO ACTUAL: </td>
							<td style="text-align: right; width: 30%;">{{tkpctrl.pago.saldoActual | currency}}</td>							
						</tr>
						<tr>
							<td style="text-align: left; width: 70%;">C. MORATORIOS: </td>
							<td style="text-align: right; width: 30%;">{{tkpctrl.pago.saldoCargoMoratorio | currency}}</td>							
						</tr>
						<tr>
							<td style="text-align: left; width: 70%;">PRÓXIMO PAGO: </td>
							<td style="text-align: right; width: 30%;">{{tkpctrl.pago.proximoPago | date:"dd-MM-yyyy"}}</td>							
						</tr>
						<tr>
							<td style="text-align: left; width: 70%;">FORMA PAGO: </td>
							<td style="text-align: right; width: 30%;">{{tkpctrl.tipoIngreso.nombre}}</td>							
						</tr>						
					</table>	
<!--
					<div class="row">
													
						<div style="text-align: left" class="col-sm-10">SALDO ANTERIOR: {{tkpctrl.pago.saldoAnterior | currency}}</div><br>
						<div style="text-align: left" class="col-sm-10">SALDO ACTUAL  : {{tkpctrl.pago.saldoActual | currency}}</div><br>
						<div style="text-align: left" class="col-sm-10">C. MORATORIOS : {{tkpctrl.pago.saldoCargoMoratorio | currency}}</div><br>
						<div style="text-align: left" class="col-sm-10">LIQUIDACIÓN   : {{tkpctrl.pago.liquidacion | currency}}</div><br>
						<div style="text-align: left" class="col-sm-10">PRÓXIMO PAGO  : {{tkpctrl.pago.proximoPago | date:"dd-MM-yyyy"}} </div><br>
						<div style="text-align: left" class="col-sm-10">FORMA PAGO    : {{tkpctrl.tipoIngreso.nombre}}</div>
					</div>
-->
					<div class="row" style="font-size: larger">
						<div class="col-sm-12">
							ATENDIO:<br>
						{{tkpctrl.cajero.profile.nombre}}	
						</div>
					</div>	
					<hr style="display: block;margin-top: 0.5em;margin-bottom: 0.5em;margin-left: auto;margin-right: auto;border-style: inset;border-width: 1px;font-size: larger">
					<strong style="font-size: larger"><center>FIRMA DEL CAJERO Y SELLO DE LA CAJA</center></strong>
					<div class="row" style="font-size: larger">
						<div  class="col-sm-6 pull-left">VENTANILLA: {{tkpctrl.caja.nombre}}</div>
						<div class="col-sm-6 pull-right">TURNO: 0000</div>
					</div>
					<div class="row" style="font-size: larger">
						<div class="col-sm-6 pull-left">{{ tkpctrl.pago.fechaPago | date:'H:mm:ss'}}</div>
						<div class="col-sm-6 pull-right">{{ tkpctrl.pago.fechaPago | date:'dd-MM-yyyy'}}</div>
					</div>
					<br>
						<div style="font-size: larger"><a class="btn btn-primary" id="printpagebutton" ng-click="tkpctrl.borrarBotonImprimir()">Imprimir</a></div>
				</div>
			</div>
		</div>
	</div>
</div>
