
<div class="container">
	<div class="widget-body no-padding">
		<div class="padding-10">
			<div class="row text-center">
				<div class="col-sm-4 col-sm-offset-4">
					<div>
						<img src="img/logoCreditoMioBN.png" width="150" alt="recibo icon">
					</div>
					<address>
						RUBIDIA MARTINEZ ALCARAZ<br>
						{{tkpctrl.sucursal.direccion}}<br>
						{{tkpctrl.sucursal.colonia}}<br>
						MAAR-661007-BF5<br>
						{{tkpctrl.sucursal.telefono1}}
					</address>
					<strong>-----------------RECIBO DE PAGO-----------------</strong>
					<div class="row">
						<div class="col-sm-12">
							<p style="font-size: small; text-align: justify">RECIBIMOS DE <strong>{{tkpctrl.cliente.profile.nombreCompleto}}</strong> (CLIENTE No. {{tkpctrl.cliente.profile.numeroCliente}}) CON DOMICILIO EN: CALLE {{tkpctrl.cliente.profile.calle}} NO. {{tkpctrl.cliente.profile.numero}} {{tkpctrl.cliente.profile.colonia.nombre}}. {{tkpctrl.cliente.profile.municipio.nombre}}, {{tkpctrl.cliente.profile.estado.nombre}}.
							</p>
						</div>
					</div>	
					<div class="row">
						<div class="col-sm-12">
							<p style="text-align: left">
								LA CANTIDAD DE:<strong> {{tkpctrl.pago.totalPago | currency}}</strong>
							</p>	
							<p style="text-align: justify">
								SON: {{tkpctrl.pago.letra}} PESOS {{tkpctrl.pago.centavos}}/100 M.N. POR CONCEPTO DE ABONO A SU CUENTA
							</p>	
						</div>	
					</div>
					<strong>------DETALLE DEL PAGO/ABONO------</strong>
					<table style="font-size: smaller;width: 100%">
						<tbody>
							<tr>
								<th style="text-align: center;width: 20%">Crédito</th>
								<th style="text-align: center;width: 20%">Recibo</th>
								<th style="text-align: center;width: 20%">Abono</th>
								<th style="text-align: center;width: 40%">Concepto</th>					
							</tr>
							<tr ng-repeat="pago in tkpctrl.pago.planPagos">
								<td style="text-align: center;width: 20%">{{pago.folioCredito}}</td>
								<td style="text-align: center;width: 20%">{{pago.numeroPago}} / {{pago.numeroPagos}}</td>
								<td style="text-align: right;width: 20%">{{pago.totalPago | currency}}</td>
								<td style="text-align: center;width: 40%">{{pago.descripcion}}</td>					
							</tr>
						</tbody>
					</table>

					<table style="font-size: smaller;width: 100%;">
						<tr>
							<td style="text-align: left; width: 70%">
								<strong>TOTAL: </strong>
							</td>
							<td style="text-align: right; width: 30%; padding-right: 10px" >
									{{tkpctrl.pago.totalPago | currency}}
							</td>
						</tr>
						<tr>
							<td style="text-align: left; width: 70%">
								<strong>PAGÓ: </strong>
							</td>
							<td style="text-align: right; width: 30%; padding-right: 10px"> 
								{{tkpctrl.pago.pago | currency}}
							</td>
						</tr>
						<tr>
							<td style="text-align: left; width: 70%">
								<strong>CAMBIO: </strong>
							</td>
							<td style="text-align: right; width: 30%; padding-right: 10px">
								{{tkpctrl.pago.cambio | currency}}
							</td>
						</tr>
					</table>
					<table style="font-size: smaller;width: 100%;">
						<tr>
							<td style="text-align: left; width: 70%;">SALDO ANTERIOR: </td>
							<td style="text-align: right; width: 30%; padding-right: 10px">{{tkpctrl.pago.saldoAnterior | currency}}</td>							
						</tr>
						<tr ng-if = "tkpctrl.tipoIngreso.nombre == 'REFINANCIAMIENTO'">
							<td style="text-align: left; width: 70%;">CANTIDAD A ENTREGAR: </td>
							<td style="text-align: right; width: 30%; padding-right: 10px">{{tkpctrl.pago.cantidadEntregar | currency}}</td>							
						</tr>
						<tr>
							<td style="text-align: left; width: 70%;">SALDO ACTUAL: </td>
							<td style="text-align: right; width: 30%; padding-right: 10px">{{tkpctrl.pago.saldoActual | currency}}</td>							
						</tr>
						<tr>
							<td style="text-align: left; width: 70%;">C. MORATORIOS: </td>
							<td style="text-align: right; width: 30%; padding-right: 10px">{{tkpctrl.pago.saldoCargoMoratorio | currency}}</td>							
						</tr>
						<tr>
							<td style="text-align: left; width: 70%;">PRÓXIMO PAGO: </td>
							<td style="text-align: right; width: 30%; padding-right: 10px">{{tkpctrl.pago.proximoPago | date:"dd-MM-yyyy"}}</td>							
						</tr>
						<tr>
							<td style="text-align: left; width: 70%;">FORMA PAGO: </td>
							<td style="text-align: right; width: 30%; padding-right: 10px">{{tkpctrl.tipoIngreso.nombre}}</td>							
						</tr>						
					</table>	
					<div class="row">
						<div class="col-sm-12">
							ATENDIO: {{tkpctrl.cajero.profile.nombre}}	
						</div>
					</div>
					<hr style="display: block;margin-top: 0.5em;margin-bottom: 0.5em;margin-left: auto;margin-right: auto;border-style: inset;border-width: 1px;">
					<strong style="font-size: smaller"><center>FIRMA DEL CAJERO Y SELLO DE LA CAJA</center></strong>
					<div class="row" style="font-size: small; text-align: center">
						<div  class="col-sm-6 pull-left">VENTANILLA: {{tkpctrl.caja.nombre}}</div>
					</div>
					<div class="row" style="font-size: small">
						<div class="col-sm-6 pull-left">Fecha : {{ tkpctrl.pago.fechaPago | date:'dd-MM-yyyy'}}</div>
						<div class="col-sm-6 pull-right">Hora : {{ tkpctrl.pago.fechaPago | date:'H:mm:ss'}}</div>
					</div>
					<br>
					<div style="font-size: larger"><a class="btn btn-primary" id="printpagebutton" ng-click="tkpctrl.borrarBotonImprimir()">Imprimir</a></div>
				</div>
			</div>
		</div>
	</div>
</div>

<style type="text/css" media="print">
	@page{
   margin: 0;
	}
</style>