<div class="row">
	<div class="col-sm-12">
		<form name="form" class="form-horizontal" role="form" novalidate>		
			<br><br>
			<h4>Información del Aval</h4>
			<div class="well">	    
				<div class="row">	
					<div class="col-sm-4" valida> 					    
						<label>Nombre (s) *</label>
						<input name="nombre" type="text" class="form-control" placeholder="Nombre" ng-model="ava.objeto.profile.nombre" required  capitalize>
					</div>
					<div class="col-sm-4" valida>					    
						<label>Apellido Paterno *</label>
						<input name="apellidoPaterno" type="text" class="form-control" placeholder="Apellido Paterno" ng-model="ava.objeto.profile.apellidoPaterno" required capitalize>
					</div>
					<div class="col-sm-4">					    
						<label>Apellido Materno</label>
						<input name="apellidoMaterno" type="text" class="form-control" placeholder="Apellido Materno" ng-model="ava.objeto.profile.apellidoMaterno" capitalize>
					</div>	    				    	    
				</div>
				<br/>
				<div class="row">
<!--
				  <div class="col-sm-1">
						<label for="talla">Foto</label>
						<button class="btn btn-primary" ng-model="ava.objeto.foto" ng-click="ava.tomarFoto()"><i class="fa fa-camera"></i></button>
					</div>
					<div class="col-sm-3" >
						<br/>
						<img width="300px" ng-if="ava.pic == ava.fotillo"   ng-src="{{ava.pic}}" ng-class="{'img-thumbnail': !!ava.pic}" />
					</div>
-->
					<div class="col-sm-4">
						<label>Foto</label>
						<input name="foto" type="file" id="foto">																
					</div>
					<div class="col-sm-4">
						<img ng-src="{{ava.objeto.profile.foto}}" style="width: 200px; height: 180px;" ng-class="{'img-thumbnail': !!ava.pic}" />
					</div>
				</div>  
			</div>
			<h4>Documentos</h4>
			<div class="well">	    
				<div class="row">
					<!--
<div class="col-sm-4" >
						<label>Archivo (máximo 512Kb)</label>
						<input name="archivo" type="file" id="fileInput1">
				  </div>
					<div class="col-sm-4">
						<label id="id_label_single">Seleccionar Documento</label>
						<select class="js-example-basic-single js-states form-control" id="id_label_single" placeholder="Seleccione" ng-model="ava.objeto.profile.documento_id"
						ng-change="ava.getClientes(ava.objeto.profile.documento_id)">
							<option ng-repeat="documento in ava.documentos" value="{{documento._id}}">{{documento.nombre}}</option>
						</select>
					</div>
-->
					<div class="col-sm-2"><br/>
						<a href="" class="btn btn-primary" ng-click="ava.agregarImagen()" >Agregar Documento</a>
						<!--
<a href="" class="btn btn-primary" ng-click="ava.agregarDoc(ava.objeto.profile.documento_id,ava.imagen)" ng-if="!ava.objeto._id">Agregar</a>
						<a href="" class="btn btn-primary" ng-click="ava.actDoc(ava.objeto.profile.documento_id,ava.imagen)" ng-if="ava.objeto._id">Agregar</a>
-->
					</div>
				</div>
				<br/>
				<div class="row">
					<div class="col-sm-12">
						<table class="table table-bordered">
							<thead>
								<tr>
									<th width="5%"><div class="text-center"> No.</div></th>
									<th width="40%"><div class="text-center">Documento</div></th>
									<th width="40%"><div class="text-center">Archivos</div></th>
									<th width="15%"><div class="text-center">Acciones</div></th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="item in ava.documents">
									<td>{{$index + 1}}</td>
									<td>{{item.nombre}}</td>
									<td class="text-center">
										<a href="" ng-click="ava.mostrarModal(item._id)">Ver Archivo</a>
									</td>
									<td><div class="text-center"><a href="" ng-click="ava.borrarDoc(item._id)" class="btn btn-xs btn-primary"><i class="fa fa-trash"></i></a>
									 <a target="_blank"  ng-click="ava.imprimirDoc(item._id)" class="btn btn-xs btn-primary"><i class="fa fa-print" ></i></a></div>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
			<div id="myModal" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
				<div class="modal-dialog modal-lg" role="document">
					<div id="imagenDiv" class="modal-content">
					</div>
			  </div>
			</div>
			<h4>Información de Contacto</h4>
			<div class="well">	    
				<div class="row">
					<div class="col-sm-4" valida> 					    
						<label>Teléfono Particular *</label>
						<input name="telefonoParticular" type="text" class="form-control" placeholder="Teléfono Particular" ng-model="ava.objeto.profile.particular" required>
					</div>
					<div class="col-sm-4" valida> 					    
						<label>Teléfono Oficina *</label>
						<input name="telefonoOficina" type="text" class="form-control" placeholder="Teléfono" ng-model="ava.objeto.profile.telefonoOficina" required capitalize>
					</div>
					<div class="col-sm-4" valida>					    
						<label>Celular *</label>
						<input name="celular" type="text" class="form-control" placeholder="Celular" ng-model="ava.objeto.profile.celular" required capitalize>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-4">					    
						<label>Teléfono Alternativo</label>
						<input name="telefonoAlternativo" type="text" class="form-control" placeholder="Otro Alternativo" ng-model="ava.objeto.profile.telefonoAlternativo" capitalize>
					</div>	  
					<div class="col-sm-4">					    
						<label>Nombre</label>
						<input name="duenoAlternativo" type="text" class="form-control" placeholder="Nombre" ng-model="ava.objeto.profile.duenoAlternativo" capitalize>
					</div>
					<div class="col-sm-4">					    
						<label>Parentesco</label>
						<input name="parentesco" type="text" class="form-control" placeholder="Parentesco" ng-model="ava.objeto.profile.parentescoAlternativo" capitalize>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-4">
						<label>Correo</label>
						<input name="correo" type="text" class="form-control" placeholder="Correo" ng-model="ava.objeto.profile.correo" capitalize>
					</div>  
				</div>  
			</div>
			<h4>Particulares</h4>
			<div class="well">
				<div class="row">
					<div class="col-sm-4" valida>
						<label for="sexo">Sexo *</label>
						<select name="sexo" ng-model="ava.objeto.profile.sexo" data-placeholder="Seleccione" class="form-control" required >
								<option value=""></option>
								<option value="Masculino">Masculino</option>
								<option value="Femenino">Femenino</option>
						</select>
					</div>
					<div class="col-sm-4" valida>
						<label for="estadocivil">Estado Civil *</label>					
						<select name="estadocivil" class="form-control select2" placeholder="Seleccione" ng-change="ava.seleccionarEstadoCivil(ava.objeto.profile.estadoCivil_id)" ng-model="ava.objeto.profile.estadoCivil_id" required>
							<option value="{{estadoCivil._id}}" ng-repeat="estadoCivil in ava.estadosCiviles">
								{{estadoCivil.nombre}}
							</option>
						</select>
					</div>
					<div class="col-sm-4" valida>					    
						<label>Fecha Nacimiento *</label>
						<input name="fechaNacimiento" type="date" format="dd/MM/yyyy" class="form-control" placeholder="Fecha" ng-model="ava.objeto.profile.fechaNacimiento" required="">
					</div>	
				</div>
				<div class="row">	
					<div class="col-sm-4" valida>
						<label for="nacionalidad">Nacionalidad</label>
						<select name="nacionalidad" class="form-control select2" placeholder="Seleccione" ng-model="ava.objeto.profile.nacionalidad_id" required>
							<option  value="{{nacionalidad._id}}" ng-repeat="nacionalidad in ava.nacionalidades">
								{{nacionalidad.nombre}}
							</option>
						</select>
					</div>	
					<div class="col-sm-4">					    
						<label>CURP</label>
						<input name="curp" type="text" class="form-control" placeholder="CURP" ng-model="ava.objeto.profile.curp" capitalize>
					</div>
					<div class="col-sm-4">					    
						<label>RFC</label>
						<input name="rfc" type="text" class="form-control" placeholder="RFC" ng-model="ava.objeto.profile.rfc" capitalize >
					</div>
				</div>
				<div class="row">
					
				  <div class="col-sm-4" valida>					    
						<label>Lugar de Nacimiento *</label>
						<input name="lugarNacimiento" type="text" class="form-control" placeholder="Lugar de Nacimiento" ng-model="ava.objeto.profile.lugarNacimiento" capitalize required="" >
					</div>
						<div class="col-sm-4">
							<label for="id_label_single" >Ocupaciones *</label>
              <select ng-options="ocupacion._id as ocupacion.nombre for ocupacion in ava.ocupaciones" 
             					ng-model="ava.objeto.profile.ocupacion_id" class="js-example-basic-single js-states form-control" 
	             				placeholder="Seleccione" style="width: 300px;" >
	            </select>
						</div>
					<div class="col-sm-4">
						<br/>
						<button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bs-ocupacion-modal-lg">Crear Ocupación</button>
					</div>
				</div>
			</div>  
			<h4>Dirección</h4>
			<div class="well">
				<div class="row">
					<div class="col-sm-4" valida>					    
						<label>Calle *</label>
						<input name="calle" type="text" class="form-control" placeholder="Calle" ng-model="ava.objeto.profile.calle" required="" capitalize>
					</div>
					<div class="col-sm-4" valida>					    
						<label>Numero *</label>
						<input name="numero" type="text" class="form-control" placeholder="Número" ng-model="ava.objeto.profile.numero" required="">
					</div>
					<div class="col-sm-4" valida>					    
						<label>CP *</label>
						<input name="cp" type="text" min="0" class="form-control" placeholder="Código Postal" ng-model="ava.objeto.profile.codigoPostal" required="">
					</div>
				</div>
				<div class="row">
					<div class="col-sm-4" valida>
						<label >Pais *</label>
						<select name="dirPais" class="form-control select2" placeholder="Seleccione" ng-model="ava.objeto.profile.pais_id" required ng-change="ava.cambiarPaisObjeto()">
							<option  value="{{pais._id}}" ng-repeat="pais in ava.paises">{{pais.nombre}}</option>
						</select>
					</div>
					<div class="col-sm-4" valida>
						<label for="seccion_id">Estado *</label>
						<select name="dirEstado" class="form-control select2" placeholder="Seleccione" ng-model="ava.objeto.profile.estado_id" required ng-change="ava.cambiarEstadoObjeto()">
							<option ng-repeat="estado in ava.estados" value="{{estado._id}}">{{estado.nombre}}</option>
						</select>
					</div>	
					<div class="col-sm-4" valida>
						<label >Municipio *</label>
						<select name="dirMunicipio" class="form-control select2" placeholder="Seleccione" ng-model="ava.objeto.profile.municipio_id" required ng-change="ava.cambiarMunicipioObjeto()">
							<option  value="{{municipio._id}}" ng-repeat="municipio in ava.municipios">{{municipio.nombre}}</option>
						</select>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-4" valida>
						<label for="seccion_id">Ciudad *</label>
						<select name="dirCiudad" class="form-control select2" placeholder="Seleccione" ng-model="ava.objeto.profile.ciudad_id" required ng-change="ava.cambiarCiudadObjeto()">
							<option ng-repeat="ciudad in ava.ciudades" value="{{ciudad._id}}">{{ciudad.nombre}}</option>
						</select>
					</div>	
					<div class="col-sm-4">
						<label for="seccion_id">Buscar Colonia</label>
						<div class="input-group"> 
							<input name="colonia_id" type="text" class="form-control" ng-model="ava.buscar.coloniaNombre" capitalize>
							<span class="input-group-btn">
								<button class="btn btn-default" type="button" style="height: 34px;">
									<i class="fa fa-search"></i>
								</button> 
							</span>
						</div>
						<div class="ajax-dropdown" ng-show="ava.buscandoColonia" style="display: block; width: 180% !important;">
							<div class="ajax-notifications custom-scroll">
								<div class="alert alert-transparent">
									<div class="tab-pane fade active in" id="a2">
										<div class="user well" title="{{colonia.nombre}}" ng-repeat="colonia in ava.colonias" style="width: 100%">
											<div class="row">
												<div class="col-sm-4">
													<a href="javascript:void(0);" ng-click="ava.agregarColonia(colonia);ava.buscandoColonia = false"> {{colonia.nombre}}</a> 
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<span> 
								<button type="button" data-loading-text="<i class='fa fa-refresh fa-spin'></i> Cerrar..." class="btn btn-xs btn-default pull-right" ng-click="ava.buscando = false; ava.buscar.nombre = ''">
									<i class="fa fa-times"></i>
								</button> 
							</span>							
						</div>
					</div>
					<div class="col-sm-4" valida>					    
						<label>Colonia *</label>
						<input name="colonia" type="text" class="form-control" placeholder="Colonia" ng-model="ava.colonia.nombre" disabled="true" required>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-3">					    
						<label>Tiempo Residencia</label>
						<input name="tiempo" type="text" class="form-control" placeholder="Tiempo" ng-model="ava.objeto.profile.tiempoResdencia" capitalize>
					</div>
					<div class="col-sm-3">
						  <label for="casa">Casa</label>
							<input name="casa" type="input" class="form-control" ng-model="ava.objeto.profile.casa">
						</div>
					<div class="col-sm-3">					    
						<label>Renta</label>
						<input name="renta" type="checkbox" class="form-control" ng-model="ava.objeto.profile.renta">
					</div>
					<div class="col-sm-3" ng-if="ava.objeto.profile.renta">					    
						<label>Renta Mes </label>
						<input name="rentaMes" type="number" min="0" class="form-control" placeholder="Renta Mes" ng-model="ava.objeto.profile.rentaMes">
					</div>
				</div>
				<div class="row">
					<div class="col-sm-12">					    
						<label>Señas Particulares</label>
						<input name="senias" type="text" class="form-control" placeholder="Señas" ng-model="ava.objeto.profile.senasParticulares" capitalize>
					</div>
				</div>
			</div>
			<h4>Ingresos Mensuales</h4>
			<div class="well">	    
				<div class="row">
					<div class="col-sm-4" valida> 					    
						<label>Ingresos Personales</label>
						<input name="ingresosPersonales" type="number" class="form-control" placeholder="Ingresos Personales" ng-change="ava.calcularTotales()" ng-model="ava.objeto.profile.ingresosPersonales" value="0" required="">
					</div>
					<div class="col-sm-4" valida>					    
						<label>Ingresos Cónyuge</label>
						<input name="ingresosConyuge" type="number" class="form-control" placeholder="Ingresos Conyuge" ng-change="ava.calcularTotales()" ng-model="ava.objeto.profile.ingresosConyuge" required="">
					</div>
					<div class="col-sm-4">					    
						<label>Otros Ingresos</label>
						<input name="otrosIngresos" type="number" class="form-control" placeholder="Otros Ingresos" ng-change="ava.calcularTotales()" ng-model="ava.objeto.profile.otrosIngresos" required="">
					</div>
				</div>
				<div class="row">
					<div class="col-sm-4">
						<label>Total Ingresos</label>
						<input name="totalIngresos" type="number" class="form-control" placeholder="Total Ingresos" ng-model="ava.objeto.profile.totalIngresos" disabled="" >
					</div>  				    	    
					<div class="col-sm-4" valida> 					    
						<label>Gastos Fijos</label>
						<input name="gastosFijos" type="number" class="form-control" placeholder="Gastos Fijos" ng-change="ava.calcularTotales()" ng-model="ava.objeto.profile.gastosFijos" required="">
					</div>
					<div class="col-sm-4" valida>					    
						<label>Gastos Eventuales</label>
						<input name="gastosEventuales" type="number" class="form-control" placeholder="Gastos Eventuales" ng-change="ava.calcularTotales()" ng-model="ava.objeto.profile.gastosEventuales" required="">
					</div>
				</div>
				<div class="row">
					<div class="col-sm-4">					    
						<label>Total Gastos</label>
						<input name="totalGastos" type="number" class="form-control" placeholder="Total Gastos" ng-model="ava.objeto.profile.totalGastos" disabled="">
					</div>	  
					<div class="col-sm-4">					    
						<label>Resultado Neto</label>
						<input name="resultadoNeto" type="number" class="form-control" placeholder="Resultado Neto" ng-model="ava.objeto.profile.resultadoNeto" disabled="">
					</div>  				    	    
				</div>
			</div>
			<div ng-if="ava.estadoCivilSeleccionado.nombre == 'CASADO (A)'">
				<h4>Información del Cónyuge</h4 >
				<div class="well">
					<div class="row">
						<div class="col-sm-4" valida> 					    
							<label>Nombre *</label>
							<input name="nombreConyuge" type="text" class="form-control" placeholder="nombreConyuge" ng-model="ava.objeto.profile.nombreConyuge" required="" capitalize>
						</div>
						<div class="col-sm-4" valida>					    
							<label>Dirección *</label>
							<input name="direccionConyuge" type="text" class="form-control" placeholder="Dirección  Conyuge" ng-model="ava.objeto.profile.direccionConyuge" required="" capitalize>
						</div>
						<div class="col-sm-4" valida>					    
							<label>Dirección del trabajo *</label>
							<input name="direccionTrabajoConyuge" type="text" class="form-control" placeholder="Dirección  Conyuge" ng-model="ava.objeto.profile.direccionConyugeTrabajo" required="" capitalize>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-4" valida>					    
							<label>Puesto *</label>
							<input name="puesto" type="text" class="form-control" placeholder="Puesto" ng-model="ava.objeto.profile.puestoConyuge" required="" capitalize>
						</div>
						<div class="col-sm-4" valida>					    
							<label>Teléfono Particular *</label>
							<input name="telefonoConyuge" type="number" class="form-control" placeholder="Teléfono" ng-model="ava.objeto.profile.telefonoConyuge" required="">
						</div>
						<div class="col-sm-4">					    
							<label>Teléfono del trabajo</label>
							<input name="telefonoConyugeTrabajo" type="number" class="form-control" placeholder="Teléfono" ng-model="ava.objeto.profile.telefonoConyugeTrabajo" >
						</div>
					</div>
					<div class="row">
						<div class="col-sm-4">					    
							<label>Ocupación</label>
							<input name="ocupacionConyuge" type="text" class="form-control" placeholder="Ocupación" ng-model="ava.objeto.profile.ocupacionConyuge" capitalize>
						</div>	
 					</div>
				</div>
			</div>
			<h4>Referencias Personales</h4>
			<div class="well">
				<div class="row">
					<div class="col-sm-6"> 
						<div ng-include=" 'client/avales/_buscarPersonaReferencia.html'"></div>
					</div>
					<div class="col-sm-4">
						<button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bs-referenciaPersonal-modal-lg" ng-click="ava.createReferenciaPersonal()">+ Referencia Personal</button>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-4"> 					    
						<label>Nombre</label>
						<input name="nombreParentezco" type="text" class="form-control" placeholder="Nombre" ng-model="ava.referenciaPersonal.nombre" capitalize>
					</div>
					<div class="col-sm-4"> 					    
						<label>Apellido Paterno</label>
						<input name="apellidoPaternoParentezco" type="text" class="form-control" placeholder="Apellido Paterno" ng-model="ava.referenciaPersonal.apellidoPaterno" capitalize>
					</div>
					<div class="col-sm-4"> 					    
						<label>Apellido Materno</label>
						<input name="apellidoMaternoParentezco" type="text" class="form-control" placeholder="Apellido Materno" ng-model="ava.referenciaPersonal.apellidoMaterno" capitalize>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-8">					    
						<label>Dirección</label>
						<input name="direccionParentesco" type="text" class="form-control" placeholder="Dirección" ng-model="ava.referenciaPersonal.direccion" capitalize>
					</div>
					<div class="col-sm-4">					    
						<label>Telefono</label>
						<input name="telefonoParentesco" type="text" class="form-control" placeholder="Teléfono" ng-model="ava.referenciaPersonal.telefono">
					</div>
				</div>
				<div class="row">
					<div class="col-sm-4">					    
						<label>Celular</label>
						<input name="celularParentesco" type="text" class="form-control" placeholder="Celular" ng-model="ava.referenciaPersonal.celular">
					</div>
					<div class="col-sm-4">					    
						<label>Parentesco</label>
						<input name="parentesco" type="text" class="form-control" placeholder="Parentesco" ng-model="ava.referenciaPersonal.parentesco" capitalize>
					</div>
					<div class="col-sm-4">					    
						<label>Tiempo en Conocerlo</label>
						<input name="tiempoConocerloParentesco" type="text" class="form-control" placeholder="Tiempo" ng-model="ava.referenciaPersonal.tiempoConocerlo" capitalize>
					</div>
				</div>
				<br>
				<div class="row">		
					<div class="col-sm-12">
						<input type="button" ng-click="ava.insertarReferencia()" value="Agregar" ng-show="ava.actionReferencia" class="btn btn-primary">
						<input type="button" ng-click="ava.borrarReferencia()" value="Quitar Referencia" ng-show="ava.referenciaPersonal._id" class="btn btn-warning"> 	
						<input type="button" ng-click="ava.actualizarReferencia(ava.referenciaPersonal)" value="Actualizar" ng-show="!ava.actionReferencia" class="btn btn-primary">
						<input type="button" ng-click="ava.cancelarReferencia()" value="Cancelar" ng-show="!ava.actionReferencia" class="btn btn-danger">	   				
					</div>
				</div>
				<br>
				<div class="row">
					<table class="table table-bordered">
						<thead>
							<tr>
								<th width="5%">No.</th>
								<th width="20%">Nombre</th>
								<th width="30%">Dirección</th>
								<th width="10%">Teléfono</th>
								<th width="10%">Celular</th>
								<th width="10%">Parentesco</th>
								<th width="10%">Tiempo en Conocerlo</th>
								<th width="5%">Quitar</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="p in ava.referenciasPersonales">
								<td>{{p.num}}</td>
								<td>{{p.nombre}} {{p.apellidoPaterno}} {{p.apellidoMaterno}}</td>
								<td>{{p.direccion}}</td>
								<td>{{p.telefono}}</td>
								<td>{{p.celular}}</td>
								<td>{{p.parentesco}}</td>
								<td>{{p.tiempoConocerlo}}</td>
								<td>
									<a href="#" ng-click="ava.quitarReferencia(p.num)"><i class="fa fa-trash"></i></a>
									<a href="#" ng-click="ava.editarReferencia(p)"><i class="fa fa-pencil"></i></a>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<h4>Empresa</h4>
			<div class="well">
				<div class="row">
					<div class="col-sm-4">
						<br />
						<button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bs-empresa-modal-lg" ng-click="ava.createEmpresa()">Crear Empresa</button>
						<button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bs-empresa-modal-lg" ng-click="ava.getEmpresa(ava.objeto.profile.empresa_id)" ng-show="ava.objeto.profile.empresa_id" >Ver Empresa</button>
					</div>
				</div>
				<br>
				<div class="row">
					<div class="col-sm-4" valida>
						<label for="seccion_id">Empresa *</label>
						<select name="empresa" class="js-example-basic-single js-states form-control" placeholder="Seleccione" ng-model="ava.objeto.profile.empresa_id" required>
							<option ng-repeat="empresa in ava.empresas" value="{{empresa._id}}">{{empresa.nombre}}</option>
						</select>
					</div>
					<div class="col-sm-4" valida>					    
						<label>Teléfono *</label>
						<input name="telefonoEmpresa" type="text" class="form-control" placeholder="Teléfono Empresa" ng-model="ava.objeto.profile.telefonoEmpresa" required="">
					</div>
					<div class="col-sm-4" valida>					    
						<label>Tiempo Laborando *</label>
						<input name="tiempoLaborando" type="text" class="form-control" placeholder="Tiempo Laborando" ng-model="ava.objeto.profile.tiempoLaborando" required="" capitalize>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-4" valida>					    
						<label>Puesto *</label>
						<input name="puestoEmpresa" type="text" class="form-control" placeholder="Puesto" ng-model="ava.objeto.profile.puesto" required="" capitalize>
					</div>
					<div class="col-sm-4" valida>					    
						<label>Departamento *</label>
						<input name="departamento" type="text" class="form-control" placeholder="Departamento" ng-model="ava.objeto.profile.departamento" required="" capitalize>
					</div>
					<div class="col-sm-4">					    
						<label>Jefe Inmediato</label>
						<input name="jefeinmediato" type="text" class="form-control" placeholder="Jefe Inmediato" ng-model="ava.objeto.profile.jefeInmediato" capitalize>
					</div>
					<div class="col-sm-4">					    
						<label>Télefono del Jefe</label>
						<input name="telefonoJefe" type="text" class="form-control" placeholder="Jefe Inmediato" ng-model="ava.objeto.profile.telefonoJefe" capitalize>
					</div>
				</div>
				<br>
				<div class="row">
					<div class="col-sm-12">
						<input type="submit" ng-click="ava.guardar(ava.objeto,form)" value="Guardar" class="btn btn-primary" ng-show="ava.action" valida-form formulario="form">
						<input type="submit" ng-click="ava.actualizarForm(ava.objeto,form)" value="Actualizar" class="btn btn-primary" ng-show="!ava.action" valida-form formulario="form">
					</div>
				</div>
			</div>
		</form>
	</div>
</div>


<!-- Modal -->
<div id="modalEmp" class="modal fade bs-empresa-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
	<div class="modal-dialog modal-lg" role="document">
	<div class="modal-content">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			<h4 class="modal-title" id="myModalLabel">Agregar Empresa</h4>

		</div>

		<div class="widget-body">
			<form name="form2" novalidate>
				<div class="well">	    
					<div class="row">
						<div class="col-sm-6" valida> 					    
							<label>Nombre *</label>
							<input name="nombreEmpresa" type="text" class="form-control" placeholder="Nombre" ng-model="ava.empresa.nombre" required capitalize>
						</div>
						<div class="col-sm-6" valida>					    
							<label>Razón Social *</label>
							<input name="razonsocial" type="text" class="form-control" placeholder="Razón Social" ng-model="ava.empresa.razonSocial" required capitalize>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-4" valida>					    
							<label>Calle *</label>
							<input name="calleEmpresa" type="text" class="form-control" placeholder="Calle" ng-model="ava.empresa.calle" required="" capitalize >
						</div>	  
						<div class="col-sm-4" valida>					    
							<label>Número *</label>
							<input name="numeroEmpresa" type="text" class="form-control" placeholder="Número" ng-model="ava.empresa.numero" required="" capitalize>
						</div>  
						<div class="col-sm-4" valida>					    
							<label>Código Postal *</label>
							<input name="codigopostal" type="number" class="form-control" placeholder="Código Postal" ng-model="ava.empresa.codigoPostal" required="">
						</div>				    	    
					</div>
					<div class="row">
						<div class="col-sm-4" valida>
							<label >Pais *</label>
							<select name="dirPaisEmpresa" class="form-control select2" placeholder="Seleccione" ng-model="ava.empresa.pais_id" required >
								<option  value="{{pais._id}}" ng-repeat="pais in ava.paises">{{pais.nombre}}</option>
							</select>
						</div>
						<div class="col-sm-4" valida>
							<label for="seccion_id">Estado *</label>
							<select name="dirEstadoEmpresa" class="form-control select2" placeholder="Seleccione" ng-model="ava.empresa.estado_id" required >
								<option ng-repeat="estado in ava.estadosEmpresa" value="{{estado._id}}">{{estado.nombre}}</option>
							</select>
						</div>	
						<div class="col-sm-4" valida>
							<label >Municipio *</label>
							<select name="dirMunicipioEmpresa" class="form-control select2" placeholder="Seleccione" ng-model="ava.empresa.municipio_id" required >
								<option  value="{{municipio._id}}" ng-repeat="municipio in ava.municipiosEmpresa">{{municipio.nombre}}</option>
							</select>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-4" valida>
							<label for="seccion_id">Ciudad *</label>
							<select name="dirCiudadEmpresa" class="form-control select2" placeholder="Seleccione" ng-model="ava.empresa.ciudad_id" required >
								<option ng-repeat="ciudad in ava.ciudadesEmpresa" value="{{ciudad._id}}">{{ciudad.nombre}}</option>
							</select>
						</div>	
						<div class="col-sm-4">
							<label for="seccion_id">Buscar Colonia</label>
							<div class="input-group"> 
								<input name="empresaColonia_id" type="text" class="form-control" ng-model="ava.buscar.coloniaNombreEmpresa" capitalize>
								<span class="input-group-btn">
									<button class="btn btn-default" type="button" style="height: 34px;">
										<i class="fa fa-search"></i>
									</button> 
								</span>
							</div>
							<div class="ajax-dropdown" ng-show="ava.buscandoColoniaEmpresa" style="display: block; width: 200% !important;">
								<div class="ajax-notifications custom-scroll">
									<div class="alert alert-transparent">
										<div class="tab-pane fade active in" id="a2">
											<div class="user well" title="{{colonia.nombre}}" ng-repeat="colonia in ava.coloniasEmpresa" style="width: 100%">
												<div class="row">
													<div class="col-sm-4">
														<a href="javascript:void(0);"> {{colonia.nombre}}</a> 						
														<a href="javascript:void(0);" ng-click="ava.agregarColoniaEmpresa(colonia);ava.buscandoColoniaEmpresa = false"> Seleccionar</a>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<span> 
									<button type="button" data-loading-text="<i class='fa fa-refresh fa-spin'></i> Cerrar..." class="btn btn-xs btn-default pull-right" ng-click="ava.buscando = false; ava.buscar.nombre = ''">
										<i class="fa fa-times"></i>
									</button> 
								</span>
								
							</div>
						</div>
						<div class="col-sm-4" valida>					    
							<label>Colonia *</label>
							<input name="coloniaEmpresa" type="text" class="form-control" placeholder="Colonia" ng-model="ava.coloniaEmpresa.nombre" disabled="true" required>
						</div>
					</div>	 
				</div>
			</form>
		</div>
		<br>
		<div class="modal-footer"s>
			<button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
			<input type="submit" ng-click="ava.guardarEmpresa(ava.empresa, ava.objeto,form2)" value="Guardar" class="btn btn-primary" valida-form formulario="form2" ng-show="ava.nuevoEmpresa">
			<input type="submit" ng-click="ava.actualizarEmpresa(ava.empresa, ava.objeto,form2)" value="Actualizar" class="btn btn-primary" valida-form formulario="form2" ng-show="!ava.nuevoEmpresa">
	  </div>
	</div>
</div>
</div>

 
<div id="modalOcupacion" class="modal fade bs-ocupacion-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="myModalLabel">Agregar Ocupación</h4>
			</div>
			<div class="widget-body">
				<form name="form3" novalidate>
					<div class="well">	    
						<div class="row">
							<div class="col-sm-6" valida> 					    
								<label>Nombre *</label>
								<input name="nombreOcupacion" type="text" class="form-control" placeholder="Nombre" ng-model="ava.ocupacion.nombre" required capitalize>
							</div>
						
						</div>
			 
					</div>
				</form>
			</div>
			<div class="modal-footer"s>
				<button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
				<input type="submit" ng-click="ava.guardarOcupacion(ava.ocupacion, ava.objeto,form3)" value="Guardar" class="btn btn-primary" valida-form formulario="form3">
		  </div>
		</div>
	</div>
</div>

<!-- Referecia Personal -->
<div id="modalreferenciaPersonal" class="modal fade bs-referenciaPersonal-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="myModalLabel">Agregar Referencia Personal</h4>
			</div>
			<div class="widget-body">
				<form name="form4" novalidate>
					<div class="well">	    
						<div class="row">
							<div class="col-sm-3" valida> 					    
								<label>Nombre *</label>
								<input name="nombreRP" type="text" class="form-control" placeholder="Nombre" ng-model="ava.referenciaPersonal.nombre" required capitalize>
							</div>
							<div class="col-sm-3" valida> 					    
								<label>Apellido Paterno *</label>
								<input name="apellidoPaternoRP" type="text" class="form-control" placeholder="Nombre" ng-model="ava.referenciaPersonal.apellidoPaterno" required capitalize>
							</div>
							<div class="col-sm-3"> 					    
								<label>Apellido Materno</label>
								<input name="apellidoMaternoRP" type="text" class="form-control" placeholder="Nombre" ng-model="ava.referenciaPersonal.apellidoMaterno" capitalize>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-8" valida>					    
								<label>Dirección *</label>
								<input name="direccionRP" type="text" class="form-control" placeholder="Dirección" ng-model="ava.referenciaPersonal.direccion" required capitalize>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-4" valida>					    
								<label>Telefono *</label>
								<input name="telefonoRP" type="text" class="form-control" placeholder="Teléfono" ng-model="ava.referenciaPersonal.telefono" required>
							</div>
							<div class="col-sm-4" valida>					    
								<label>Celular *</label>
								<input name="celularRP" type="text" class="form-control" placeholder="Celular" ng-model="ava.referenciaPersonal.celular" required>
							</div>
						</div>	
					</div>
				</form>
			</div>
			<div class="modal-footer"s>
				<button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
				<input type="submit" ng-click="ava.guardarReferenciaPersonal(ava.referenciaPersonal, form4)" value="Guardar" class="btn btn-primary" valida-form formulario="form4">
		  </div>
		</div>
	</div>
</div>

<div id="modalDocumentoImagen" class="modal fade bs-ocupacion-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="myModalLabel">Agregar Documento</h4>
			</div>
			<div class="widget-body">
				<form name="form3" novalidate>
					<div class="well">	    
						<div class="row">
						 	<div class="col-sm-6" >
									<label>Archivo (máximo 512Kb)</label>
									<input name="archivo" type="file" id="fileInput1" >
 						  </div>
 
 							<div class="col-sm-4">
								<label id="id_label_single">Seleccionar Documento</label>
								<select class="form-control" id="id_label_single" placeholder="Seleccione" ng-model="ava.documento_id"
												ng-change="ava.getClientes(ava.objeto.profile.documento_id)">
									<option ng-repeat="documento in ava.documentos" value="{{documento._id}}">{{documento.nombre}}</option>
								</select>
							</div>
							
 						</div>
 						<div class="row">
	 						<div class="col-sm-12" >
		 							
 	 							 <div id="fileDisplayArea1"></div>
		 							
	 						</div>
 						</div>	
   						
 					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
				<a href="" class="btn btn-primary" ng-click="ava.agregarDoc(ava.documento_id, ava.imagen)">Guardar</a>
		  </div>
		</div>
	</div>
</div>


<script>
	$('#bootstrap-wizard-1').bootstrapWizard({
	'tabClass': 'form-wizard',
	'onNext': function (tab, navigation, index) {      
	  $('#bootstrap-wizard-1').find('.form-wizard').children('li').eq(index - 1).addClass('complete');
	  $('#bootstrap-wizard-1').find('.form-wizard').children('li').eq(index - 1).find('.step').html('<i class="fa fa-check"></i>');
	}
  });
</script>