<div class="row">
<div class="col-sm-12">					
						
						<form class="navbar-form navbar-left" role="search">
							



						<div class="input-group input-group-md">
			      			
			      			<div class="icon-addon addon-md">
			         		<input id="filter"  width="100px" size="50" ng-model="buscar.titulo" type="text" 	placeholder="Buscar" />
			          		<label for="email" class="glyphicon glyphicon-search" rel="tooltip" title="" data-original-title="email"></label>
			     		</div>
			 <!--      <span class="input-group-btn">
			          <button class="btn btn-default" ng-click="cob.buscarNombre()" type="button">Buscar</button>
			      </span> -->
			  </div>




								
							</div>
						<!-- 	<button  class="btn btn-default">
								Submit
							</button> -->
						</form>
						<ul class="nav navbar-nav navbar-right">
						
							<li class="dropdown">
								<a href="" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-plus" aria-hidden="true"></i> Agregar nota de cobranza</a>
															
								

								<ul class="dropdown-menu" role="menu">
									<li>
										<a ng-click="cob.mostrarNotaCobranza(objeto)">Agregar nota de cobranza<a/> <span class="hidden-mobile hidden-tablet">
									</li>
									<li>
										<a href="#">Agregar nota para el cliente</a>
									</li>
									<li>
										<a href="#">Agregar nota para la cuenta</a>
									</li>
									
									<li class="divider"></li>
									<li>
										<a href="#">Enviar carta de recordatorio de atrasos</a>
									</li>
									<li>
										<a href="#">Enviar carta urgente</a>
									</li>
									<li>
										<a href="#">Enviar certificación patrimonial</a>
									</li>
								</ul>
							</li>
						</ul>
					</div><!-- /.navbar-collapse -->
				
			

	<div class="col-sm-12">
		<table class="table table-bordered">
			<thead>
				<tr>
					<th width="5%"><div class="text-center">Nombre</div></th>
					<th><div class="text-center">Fecha</div></th>
					<th><div class="text-center">Hora</div></th>
					<th><div class="text-center">Título</div></th>
					<th><div class="text-center">Elaboro</div></th>
					<th><div class="text-center">Tipo</div></th>
				
				</tr>
			</thead>
			<tbody>
		    <tr ng-repeat="objeto in cob.notas | filter:buscar">
		    	<td>{{$index + 1}}</td>
			    <td>{{objeto.fecha  | date:"dd-MM-yyyy"}}</td>
			    <td>{{objeto.hora}}</td>
			    <td>{{objeto.titulo}}</td>
			    <td>{{objeto.usuario}}</td>
			    <td>Pendiente</td>
			
		    </tr>
			</tbody>
		</table>
	</div>
</div>