<div class="row"><br/>
	<div class="col-sm-12">	
		<table class="table table-striped table-bordered table-condensed font-xs">
			<thead class="thead">
				<tr>
					<th class="text-center" width="7%">Credito No.</th>
					<th class="text-center" width="15%">Fecha Solicitud</th>
					<th class="text-center" width="15%">Fecha Entrega</th>
					<th class="text-center" width="15%">Capital Solicitado</th>
					<th class="text-center" width="15%">Adeudo Inicial</th>
					<th class="text-center" width="20%">Saldo Actual</th>
					<th class="text-center" width="20%">Acciones</th>
					<!-- <th class="text-center" width="20%">Multas Pendientes</th> -->
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="credito in cob.historial.historialCreditos">
						
					<td class="text-center">{{credito.folio}}</td>	
					<td class="text-center">{{credito.fechaSolicito | date:"dd-MM-yyyy"}}</td>
					<td class="text-center">{{credito.fechaEntrega |  date:"dd-MM-yyyy" }}</td>
					<td class="text-right">{{credito.capitalSolicitado | currency}}</td>
					<td >{{credito.adeudoInicial | currency}}</td>
					<td >{{credito.saldoActual | currency}}</td>
					<td>
						<div class="text-center">
								<button type="button" class="btn btn-xs btn-link" ng-click="cob.verPagos(credito)">Ver Pagos</button>
						</div>						
					</td>
					<!-- Pagos cliente -->
					<td ng-show="cob.mostrarModal">
											<!-- Modal -->
						<div class="modal fade" id="modalpagos"	class="modal fade bs-example-modal-lg" tabindex="-1" 	role="dialog" aria-labelledby="myLargeModalLabel">
							<div class="modal-dialog modal-lg" role="document">
							  <div class="modal-content">
								  
								  <div class="modal-header">
										<h4 class="modal-title">Movimientos en Cuenta</h4>
									</div>
									
									<div class="modal-body">
								  
									    <table class="table table-striped table-bordered table-condensed">
											<thead class="thead" >
												<tr>
													<th class="text-center" width="7%">Recibo No.</th>
													<th class="text-center" width="20%">Movimiento</th>
													<th class="text-center" width="10%">Fecha</th>
													<th class="text-center" width="10%">Cargo</th>
													<th class="text-center" width="10%">Abono</th>
													<th class="text-center" width="10%">Saldo</th>
													<th class="text-center" width="15%">Nota de crédito</th>
													<th class="text-center" width="10%">Saldo actualizado</th>
												</tr>
											</thead>
											<tbody >
												<tr  ng-repeat="credito in cob.historialDelCredito " ng-class="(credito.numeroPago % 2 == 0 ) ? 'active in' : 'info' "> 					 
													<td class="text-center">{{credito.numeroPago || credito.numeroPagoMulta}} - {{credito.cantidad}}</td>	
													<td class="text-center">{{credito.movimiento}}</td>	
													<td class="text-center">{{credito.fecha | date:"dd-MM-yyyy"}}</td>
													<td class="text-right">{{credito.cargo | currency}}</td>
													<td class="text-right">{{credito.pago | currency}}</td>
													<td class="text-right">{{credito.saldo | currency}}</td>
													<td class="text-right">{{credito.notaCredito | currency}}</td>
													<td class="text-right">{{credito.saldoActualizado | currency}}</td>
												</tr>
												
											</tbody>
										</table>
										
										<div class="row">	
											<div class="col-sm-6">
												<table class="table">
													<tbody>
														<tr>
															<td>	
																Deuda Inicial 
															</td>
															<td style="text-align: right">
																{{cob.credito.adeudoInicial | currency}}
															</td>		
														</tr>		
														<tr>
															<td>	
																Total cargos moratorios generadas 
															</td>
															<td style="text-align: right">
																{{cob.saldoMultas | currency}}
															</td>
														</tr>
														<tr>
															<td>	
																Abonos recibidos 
															</td>
															<td style="text-align: right">
																{{cob.abonosRecibos | currency}}
															</td>
														</tr>	
														<tr>
															<td>	
																Abono cargos moratorios 
															</td>
															<td style="text-align: right">
																{{cob.abonosCargorMoratorios | currency}}
															</td>
														</tr>
														<tr>
															<td>	
																Nota de Créditos 
															</td>
															<td style="text-align: right">
																{{cob.sumaNotaCredito | currency}}
															</td>
														</tr>
														<tr>
															<td>	
																Saldo general 
															</td>
															<td style="text-align: right">
																{{cob.saldoGeneral | currency}}
															</td>
														</tr>
													</tbody>	
												</table>	
											</div>		
										</div>
							    
									</div>
									<div class="modal-footer">
									    
									    <button ng-click="cob.imprimirHistorial(cob.historialDelCredito,cob.historial.cliente,cob.credito)" type="button" class="btn btn-success">Imprimir Tabla</button>
											<button ng-click="cob.cerrarModal()" type="button" class="btn btn-info" data-dismiss="modal">Cerrar</button>	
									</div>
								</div>
							</div>
						</div>
						  
						
					</td>
				</tr>
			</tbody>
		</table>	
		
	</div>
</div>






 