<div class="row">
	<div class="col-sm-12">


	<div class="row"><br/>
		<div class="col-sm-12">

			<table class="table table-striped table-bordered table-condensed font-xs">
				<thead class="thead">
					<tr>

						<th class="text-center" width="5%">No.</th>
						<th class="text-center" width="5%">Folio Credito</th>
						<th class="text-center" width="15%">Movimiento</th>
						<th class="text-center" width="15%">Fecha de Pago</th>
						<th class="text-center" width="15%">Pago</th>
						<th class="text-center" width="10%">Capital</th>
						<th class="text-center" width="10%">Interes</th>
						<th class="text-center" width="10%">Seguro</th>
						<th class="text-center" width="10%">IVA</th>
						<th class="text-center" width="10%">Saldo</th>
						<!-- <th class="text-center" width="5%">Pago</th> -->
						
						
					</tr>
				</thead>
				<tbody>
					<tr ng-class="(pago.movimiento == 'Cargo Moratorio') ? 'danger' : 'active in'" ng-repeat="pago in cob.planPagosViejo" ng-if="pago.importeRegular > 0">


						<td ng-class="(pago.descripcion == 'Multa') ? 'text-center text-danger' : 'text-center'">{{pago.numeroPago}}</td>	
						<td ng-class="(pago.descripcion == 'Multa') ? 'text-center text-danger' : 'text-center'">{{pago.credito.folio}}</td>
						<td ng-class="pago.descripcion == 'Multa' ? 'text-danger' : ''">{{pago.movimiento }}</td>
						<td ng-class="(pago.descripcion == 'Multa') ? 'text-center text-danger' : 'text-center'">{{pago.fechaLimite | date:"dd-MM-yyyy"}}</td>
						<td ng-class="(pago.descripcion == 'Multa') ? 'text-center text-danger' : 'text-center'">{{pago.numeroPago || pago.numeroPagoMulta}} - {{pago.credito.numeroPagos}}</td>
						<td ng-class="(pago.descripcion == 'Multa') ? 'text-right text-danger' : 'text-right'">{{pago.capital  | currency}}</td>
						<td ng-class="(pago.descripcion == 'Multa') ? 'text-right text-danger' : 'text-right'">{{pago.interes  | currency}}</td>
						<td ng-class="(pago.descripcion == 'Multa') ? 'text-right text-danger' : 'text-right'">{{pago.seguro  | currency}}</td>
						<td ng-class="(pago.descripcion == 'Multa') ? 'text-right text-danger' : 'text-right'">{{pago.iva  | currency}}</td>
						<td ng-class="(pago.descripcion == 'Multa') ? 'text-right text-danger' : 'text-right'">{{pago.importeRegular  | currency}}</td>
						<!-- <td ><input type="number" ng-change="cob.seleccionarMontoPago(pago)"  ng-model="pago.importepagado" ng-if="pago.estatus != 1"></td> -->
						
						
					</tr>
				</tbody>
			</table>	
		</div>
		<br/>
	</div>
			<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
			  <div class="panel panel-default">
			    <div class="panel-heading" role="tab" id="headingOne">
			      <h4 class="panel-title">
			        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#hrefInfoCredito" aria-expanded="false" aria-controls="hrefInfoCredito">
			          Información del Crédito
			        </a>
			      </h4>
			    </div>
			      <div class="panel-body">    
						    <div class="row">
							    <div class="col-sm-3">
							    	<label>Tipo de crédito</label>
							    	<input name="tipoCredito" type="text" class="form-control" placeholder="Tipo Credito" ng-model="cob.credito.tipoCredito" disabled="">
						    	</div>
						    	<div class="col-sm-3">
							    	<label>Periodo de pago</label>
							    	<input name="periodoCreditoNuevo" type="text" class="form-control" placeholder="Periodo de pago" ng-model="cob.credito.periodoPago" disabled="">
						    	</div>									    	
						    	<div class="col-sm-3">					    
							    	<label>Duración (Meses)</label>
							    	<input name="duracionMesesCreditoNuevo" type="number" class="form-control" placeholder="Duración en Meses" ng-model="cob.credito.duracionMeses" disabled="">
						    	</div>
						    	<div class="col-sm-3">					    
							    	<label>Tasa</label>
							    	<input name="tasa" type="number" class="form-control" placeholder="Duración en Meses" ng-model="cob.credito.tasa" disabled="">
						    	</div>									    	
						    </div>
						    <div class="row">
						    	<div class="col-sm-2">
							    	<label>Capital solicitado</label>
							    	<input name="capitalSolicitado" style="text-align: right" type="text" class="form-control" value="{{cob.credito.capitalSolicitado | currency}}" disabled="">
						    	</div>
						    	<div class="col-sm-2">
							    	<label>Total a pagar</label>
							    	<input name="adeudoInicial" style="text-align: right" type="text" class="form-control" value="{{cob.credito.adeudoInicial | currency}}" disabled="">
						    	</div>
						    	<div class="col-sm-2">
							    	<label>Saldo</label>
							    	<input name="saldoActual" style="text-align: right" type="text" class="form-control" value="{{cob.credito.saldoActual | currency}}" disabled="">
						    	</div>
						    	<div class="col-sm-2">
							    	<label>Saldo Multas</label>
							    	<input name="saldoMultas" style="text-align: right" type="text" class="form-control" value="{{cob.credito.saldoMultas | currency}}" disabled="">
						    	</div>
						    	<div class="col-sm-2">
							    	<label>Fecha que lo solicitó</label>
							    	<input date-time format="dd-MM-yyyy" class="form-control" view="date" max-view="year" min-view="date" ng-model="cob.credito.fechaSolicito" name="fechaCreditoNuevo" disabled=""/>
						    	</div>
						    </div>
							</div>
			   
			    </div>
				<div class="panel panel-default">
				    <div class="panel-heading" role="tab" id="headingTwo">
				      <h4 class="panel-title">
				        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#hrefAvales" aria-expanded="false" aria-controls="hrefAvales">
				          Avales
				        </a>
				      </h4>
				    </div>
				    
				      <div class="panel-body">
				        	<div class="row">
										<div class="col-sm-12">
											<table class="table table-bordered">
												<thead>
													<tr>
														<th width="5%">Número</th>
														<th width="15%">Nombre</th>														
														<th width="10%">Parentesco</th>
														<th width="10%">Tiempo Conocerlo</th>
													</tr>
												</thead>
												<tbody>
													<tr ng-repeat="aval in cob.credito.avales_ids">
														<td>{{aval.num}}</td>
														<td>{{aval.nombreCompleto}}</td>
														<td>{{aval.parentesco}}</td>
														<td>{{aval.tiempoConocerlo}}</td>
													</tr>
												</tbody>
											</table>
										</div>
									</div>
				      </div>
				   
				  </div>
				<div class="panel panel-default">
				    <div class="panel-heading" role="tab" id="headingThree">
				      <h4 class="panel-title">
				        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#hrefGarantias" aria-expanded="false" aria-controls="hrefGarantias">
				          Garantias
				        </a>
				      </h4>
				    </div>
				   
				      <div class="panel-body">
				        	<div class="row">
										<div class="col-sm-12">
											<table class="table table-bordered" ng-if="cob.credito.tipoGarantia =='mobiliaria'">
												<thead>
													<tr>
														<th width="5%">Número</th>
														<th width="15%">Descripción genérica</th>
														<th width="15%">Características</th>
														<th width="15%">Avalúo</th>
														<th width="15%">% Avalúo</th>
														<th width="15%">Almacenaje</th>
														<th width="15%">Comercialización</th>
														<th width="15%">D. Exemporaneo</th>
														<th width="15%">R. Contrato</th>
													</tr>
												</thead>
												<tbody>
													<tr ng-repeat="garantia in cob.credito.garantias">
														<td>{{garantia.num}}</td>
														<td>{{garantia.descripcion}}</td>
														<td>{{garantia.caracteristicas}}</td>
														<td style="text-align: right">{{garantia.avaluoMobiliaria | currency}}</td>
														<td style="text-align: center">{{garantia.porcentajePrestamoMobiliria}}</td>
														<td style="text-align: right">{{garantia.almacenaje | currency}}</td>
														<td style="text-align: right">{{garantia.comercializacion | currency}}</td>
														<td style="text-align: right">{{garantia.desempenioExtemporaneo | currency}}</td>
														<td style="text-align: right">{{garantia.reposicionContrato | currency}}</td>
													</tr>
												</tbody>
											</table>
											<table class="table table-bordered" ng-if="cob.credito.tipoGarantia =='general'">
											<thead>
												<tr>
													<th width="5%">Número</th>
													<th width="15%">Sup. de terreno y construcción</th>
													<th width="15%">Medidas, colindancias, clave astral</th>
													<th width="15%">Ubicación</th>
													<th width="15%">Avalúo</th>
													<th width="15%">% Avalúo</th>
													<th width="15%">Comisión y Gastos</th>
													
												</tr>
											</thead>
											<tbody>
												<tr ng-repeat="garantia in cob.credito.garantias">
													<td>{{garantia.num}}</td>
													<td>{{garantia.terrenoYconstruccion}}</td>
													<td>{{garantia.medidasColindancias}}</td>
													<td>{{garantia.ubicacion}}</td>
													<td style="text-align: right">{{garantia.avaluoGeneral | currency}}</td>
													<td style="text-align: center">{{garantia.porcentajePrestamoGeneral}}</td>
													<td style="text-align: right">{{garantia.comisionGastos | currency}}</td>
												</tr>
											</tbody>
										</table>
										</div>
									</div>
				      </div>
				   
				  </div>
			</div>
	</div>
</div>
