<div class="row">
	<div class="col-sm-12">


	<div class="row"><br/>
		<div class="col-sm-12">

			<table class="table table-striped table-bordered table-condensed font-xs">
				<thead class="thead">
					<tr>

						<th class="text-center" width="5%">No.</th>
						<th class="text-center" width="5%">Folio Credito</th>
						<th class="text-center" width="15%">Movimiento</th>
						<th class="text-center" width="15%">Fecha de Pago</th>
						<th class="text-center" width="15%">Pago</th>
						<th class="text-center" width="10%">Capital</th>
						<th class="text-center" width="10%">Interes</th>
						<th class="text-center" width="10%">Seguro</th>
						<th class="text-center" width="10%">IVA</th>
						<th class="text-center" width="10%">Saldo</th>
						<!-- <th class="text-center" width="5%">Pago</th> -->
						
						
					</tr>
				</thead>
				<tbody>
					<tr ng-class="(pago.estatus == 1) ? 'success' : (pago.fechaLimite < cob.fechaActual && pago.estatus == 0) ? 'warning' : (pago.estatus == 2) ? 'danger' : 'info'" ng-repeat="pago in cob.planPagosViejo">


						<td ng-class="(pago.descripcion == 'Multa') ? 'text-center text-danger' : 'text-center'">{{pago.numeroPago}}</td>	
						<td ng-class="(pago.descripcion == 'Multa') ? 'text-center text-danger' : 'text-center'">{{pago.credito.folio}}</td>
						<td ng-class="pago.descripcion == 'Multa' ? 'text-danger' : ''">{{pago.movimiento }}</td>
						<td ng-class="(pago.descripcion == 'Multa') ? 'text-center text-danger' : 'text-center'">{{pago.fechaLimite | date:"dd-MM-yyyy"}}</td>
						<td ng-class="(pago.descripcion == 'Multa') ? 'text-center text-danger' : 'text-center'">{{pago.numeroPago || pago.numeroPagoMulta}} - {{pago.credito.numeroPagos}}</td>
						<td ng-class="(pago.descripcion == 'Multa') ? 'text-right text-danger' : 'text-right'">{{pago.capital  | currency}}</td>
						<td ng-class="(pago.descripcion == 'Multa') ? 'text-right text-danger' : 'text-right'">{{pago.interes  | currency}}</td>
						<td ng-class="(pago.descripcion == 'Multa') ? 'text-right text-danger' : 'text-right'">{{pago.seguro  | currency}}</td>
						<td ng-class="(pago.descripcion == 'Multa') ? 'text-right text-danger' : 'text-right'">{{pago.iva  | currency}}</td>
						<td ng-class="(pago.descripcion == 'Multa') ? 'text-right text-danger' : 'text-right'">{{pago.importeRegular  | currency}}</td>
						<!-- <td ><input type="number" ng-change="cob.seleccionarMontoPago(pago)"  ng-model="pago.importepagado" ng-if="pago.estatus != 1"></td> -->
						
						
					</tr>
				</tbody>
			</table>	
		</div>
		<br/>
	</div>
			<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
			  <div class="panel panel-default">
			    <div class="panel-heading" role="tab" id="headingOne">
			      <h4 class="panel-title">
			        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#hrefInfoCredito" aria-expanded="false" aria-controls="hrefInfoCredito">
			          Información del Crédito
			        </a>
			      </h4>
			    </div>
			      <div class="panel-body">    
						    <div class="row">
							    <div class="col-sm-4">
							    	<label>Tipo de crédito</label>
							    	<input name="tipoCredito" type="text" class="form-control" placeholder="Tipo Credito" ng-model="cob.credito.tipoCredito" disabled="">
						    	</div>
						    	<div class="col-sm-4">
							    	<label>Periodo de pago</label>
							    	<input name="periodoCreditoNuevo" type="text" class="form-control" placeholder="Periodo de pago" ng-model="cob.credito.periodoPago" disabled="">
						    	</div>									    	
						    	<div class="col-sm-4">					    
							    	<label>Duración (Meses)</label>
							    	<input name="duracionMesesCreditoNuevo" type="number" class="form-control" placeholder="Duración en Meses" ng-model="cob.credito.duracionMeses" disabled="">
						    	</div>									    	
						    </div>
						    <div class="row">
						    	<div class="col-sm-4">
							    	<label>Capital solicitado</label>
							    	<input name="capitalSolicitadoCreditoNuevo" type="number" class="form-control" placeholder="Capital Solicitado" ng-model="cob.credito.capitalSolicitado" disabled="">
						    	</div>
						    	<div class="col-sm-4">
							    	<label>Fecha que lo solicitó</label>
							    	<input date-time format="dd-MM-yyyy" class="form-control" view="date" max-view="year" min-view="date" ng-model="cob.credito.fechaSolicito" name="fechaCreditoNuevo" disabled=""/>
						    	</div>
						    </div>
							</div>
			   
			    </div>
				<div class="panel panel-default">
				    <div class="panel-heading" role="tab" id="headingTwo">
				      <h4 class="panel-title">
				        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#hrefAvales" aria-expanded="false" aria-controls="hrefAvales">
				          Avales
				        </a>
				      </h4>
				    </div>
				    
				      <div class="panel-body">
				        	<div class="row">
										<div class="col-sm-12">
											<table class="table table-bordered">
												<thead>
													<tr>
														<th width="5%">Número</th>
														<th width="15%">Nombre</th>
														<th width="5%">Estado Civil</th>
														<th width="5%">Ocupación</th>
														<th width="15%">Dirección</th>
														<th width="10%">Empresa</th>
														<th width="5%">Puesto</th>
														<th width="5%">Antiguedad</th>
														<th width="15%">Dirección Empresa</th>
														<th width="10%">Parentezco</th>
														<th width="10%">Tiempo Conocerlo</th>
													</tr>
												</thead>
												<tbody>
													<tr ng-repeat="aval in cob.avales">
														<td>{{aval.num}}</td>
														<td>{{aval.nombre}}</td>
														<td>{{aval.estadoCivil}}</td>
														<td>{{aval.ocupacion}}</td>
														<td>{{aval.direccion}}</td>
														<td>{{aval.empresa}}</td>
														<td>{{aval.puesto}}</td>
														<td>{{aval.antiguedad}}</td>
														<td>{{aval.direccionEmpresa}}</td>
														<td>{{aval.parentezco}}</td>
														<td>{{aval.tiempoConocerlo}}</td>
													</tr>
												</tbody>
											</table>
										</div>
									</div>
				      </div>
				   
				  </div>
				<div class="panel panel-default">
				    <div class="panel-heading" role="tab" id="headingThree">
				      <h4 class="panel-title">
				        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#hrefGarantias" aria-expanded="false" aria-controls="hrefGarantias">
				          Garantias
				        </a>
				      </h4>
				    </div>
				   
				      <div class="panel-body">
				        	<div class="row">
										<div class="col-sm-12">
											<table class="table table-bordered" ng-if="cob.credito.tipoGarantia=='mobiliaria'">
												<thead>
													<tr>
														<th width="5%">Número</th>
													<th width="15%">Descripción genérica</th>
													<th width="15%">Características</th>
													<th width="15%">Avalúo</th>
													<th width="15%">Préstamo</th>
													<th width="15%">Préstamo sobre avalúo</th>
													<th width="15%">Monto del avalúo</th>
													<th width="15%">Porcentaje del préstamo sobre el avalúo</th>
													<th width="15%">Fecha de inicio de comercialización</th>
													<th width="15%">Fecha limite de finiquito</th>
													</tr>
												</thead>
												<tbody>
													<tr ng-repeat="garantia in cob.credito.garantias">
														<td>{{garantia.num}}</td>
														<td>{{garantia.descripcion}}</td>
														<td>{{garantia.caracteristicas}}</td>
														<td>{{garantia.avaluo}}</td>
														<td>{{garantia.prestamo}}</td>
														<td>{{garantia.prestamoPorcentaje}}</td>
														<td>{{garantia.monto}}</td>
														<td>{{garantia.porcentaje}}</td>
														<td>{{garantia.fechaComercializacion | date:"dd-MM-yyyy"}}</td>
														<td>{{garantia.fechaFiniquito | date:"dd-MM-yyyy"}}</td>
													</tr>
												</tbody>
											</table>
											<table class="table table-bordered">
											<thead>
												<tr>
													<th width="5%">Número</th>
													<th width="15%">Sup. de terreno y construcción</th>
													<th width="15%">Medidas, colindancias, clave astral</th>
													<th width="15%">Avalúo</th>
													<th width="15%">Préstamo</th>
													<th width="15%">Préstamo sobre avalúo</th>
													<th width="15%">Monto de avalúo</th>
													<th width="15%">% Porcentaje del préstamo sobre el avaluo</th>
													<th width="15%">Comisión y gastos</th>
													<th width="15%">Por escrituración e inscripción de registro público</th>
													<th width="5%">Acción</th>
												</tr>
											</thead>
											<tbody>
												<tr ng-repeat="garantia in cob.credito.garantias">
													<td>{{garantia.num}}</td>
													<td>{{garantia.terrenoYconstruccion}}</td>
													<td>{{garantia.medidasColindancias}}</td>
													<td>{{garantia.avaluo}}</td>
													<td>{{garantia.prestamo}}</td>
													<td>{{garantia.prestamoSobreAvaluo}}</td>
													<td>{{garantia.montoAvaluo}}</td>
													<td>{{garantia.porcentajePrestamo}}</td>
													<td>{{garantia.comisionGastos}}</td>
													<td>{{garantia.escrituracion}}</td>
													<td>
															<a href="#" ng-click="cob.quitarGarantia(cob.credito.tipoGarantia, garantia.num)"><i class="fa fa-trash"></i></a>
															<a href="#" ng-click="cob.editarGarantia(cob.credito.tipoGarantia, garantia)"><i class="fa fa-pencil"></i></a>
													</td>
												</tr>
											</tbody>
										</table>
										</div>
									</div>
				      </div>
				   
				  </div>
			</div>
	</div>
</div>
