<!--
EJEMPLO DE COMO AGREGAR ELEMENTOS
A LA BARRA LATERAL
<ul data-smart-menu>
  <li data-ui-sref-active="active">
    <a data-ui-sref="app.dashboard" title="Dashboard">
      <i class="fa fa-lg fa-fw fa-home"></i>
      <span class="menu-item-parent">Dashboard</span>
    </a>
  </li>
  <li data-menu-collapse>
    <a href="#">
      <i class="fa fa-lg fa-fw fa-bar-chart-o"></i>
      <span class="menu-item-parent">Graphs</span>
    </a>
    <ul>
      <li data-ui-sref-active="active">
         <a data-ui-sref="app.graphs.flot">Flot Chart</a>
      </li>
      <li data-ui-sref-active="active">
          <a data-ui-sref="app.graphs.morris">Morris Charts</a>
      </li>
    </ul>
  </li>
</ul>
-->
<nav>
	<ul data-smart-menu>

		<li data-menu-collapse>
		    <a href="#">
		      	<i class="fa fa-lg fa-fw fa-tags"></i>
		      	<span class="menu-item-parent">Catálogos</span>
		    </a>
		    <ul>
					<li data-ui-sref-active="active">
					 	<a ui-sref="root.documentos" tilte="Credito Mio">
			      	<i class="fa fa-lg fa-fw fa-folder-o"></i>
			      	<span class="menu-item-parent">Documentos</span>
			    	</a>
					</li>
					
					<li data-ui-sref-active="active">
						<a ui-sref="root.sexo" tilte="Credito Mio">
			      	<i class="fa fa-lg fa-fw fa-folder-o"></i>
			      	<span class="menu-item-parent">Sexo</span>
			    	</a>
					</li>
					
					<li data-ui-sref-active="active">
						<a ui-sref="root.estadoCivil" tilte="Credito Mio">
			      	<i class="fa fa-lg fa-fw fa-folder-o"></i>
			      	<span class="menu-item-parent">Estado Civil</span>
			    	</a>
					</li>
					<li data-ui-sref-active="active">
						<a ui-sref="root.nacionalidades" tilte="Credito Mio">
			      	<i class="fa fa-lg fa-fw fa-folder-o"></i>
			      	<span class="menu-item-parent">Nacionalidades</span>
			    	</a>
					</li>
					<li data-ui-sref-active="active">
						<a ui-sref="root.municipios" tilte="Credito Mio">
			      	<i class="fa fa-lg fa-fw fa-folder-o"></i>
			      	<span class="menu-item-parent">Municipios</span>
			    	</a>
					</li>
					<li data-ui-sref-active="active">
						<a ui-sref="root.estados" tilte="Credito Mio">
			      	<i class="fa fa-lg fa-fw fa-folder-o"></i>
			      	<span class="menu-item-parent">Estados</span>
			    	</a>
					</li>
					<li data-ui-sref-active="active">
						<a ui-sref="root.paises" tilte="Credito Mio">
			      	<i class="fa fa-lg fa-fw fa-folder-o"></i>
			      	<span class="menu-item-parent">Paises</span>
			    	</a>
					</li>
					<li data-ui-sref-active="active">
						<a ui-sref="root.ocupaciones" tilte="Credito Mio">
			      	<i class="fa fa-lg fa-fw fa-folder-o"></i>
			      	<span class="menu-item-parent">Ocupaciones</span>
			    	</a>
					</li>
					<li data-ui-sref-active="active">
						<a ui-sref="root.colonias" tilte="Credito Mio">
			      	<i class="fa fa-lg fa-fw fa-folder-o"></i>
			      	<span class="menu-item-parent">Colonias</span>
			    	</a>
					</li>
					<li data-ui-sref-active="active">
						<a ui-sref="root.estatus" tilte="Credito Mio">
			      	<i class="fa fa-lg fa-fw fa-folder-o"></i>
			      	<span class="menu-item-parent">Estatus</span>
			    	</a>
					</li>
					<li data-ui-sref-active="active">
						<a ui-sref="root.ciudades" tilte="Credito Mio">
			      	<i class="fa fa-lg fa-fw fa-folder-o"></i>
			      	<span class="menu-item-parent">Ciudades</span>
			    	</a>
					</li>
					<li data-ui-sref-active="active">
						<a ui-sref="root.parentesco" tilte="Credito Mio">
			      	<i class="fa fa-lg fa-fw fa-folder-o"></i>
			      	<span class="menu-item-parent">Parentesco</span>
			    	</a>
					</li>
					<li data-ui-sref-active="active">
						<a ui-sref="root.divisas" tilte="Credito Mio">
			      	<i class="fa fa-lg fa-fw fa-money"></i>
			      	<span class="menu-item-parent">Divisas</span>
			    	</a>
					</li>
			    <li data-ui-sref-active="active">
						<a ui-sref="root.roles" tilte="Credito Mio">
			      	<i class="fa fa-lg fa-fw fa-folder-o"></i>
			      	<span class="menu-item-parent">Roles</span>
			    	</a>
					</li>
					<li data-ui-sref-active="active">
						<a ui-sref="root.sucursales" tilte="Credito Mio">
			      	<i class="fa fa-lg fa-fw fa-folder-o"></i>
			      	<span class="menu-item-parent">Sucursales</span>
			    	</a>
					</li>
		    </ul>
	  </li>
		<li data-ui-sref-active="active">
				<a ui-sref="root.clientesLista" tilte="Credito Mio">
		    	<i class="fa fa-lg fa-fw fa-group"></i>
					<span class="menu-item-parent">Clientes</span>
			  </a>
		</li>
		
	</ul>
</nav>