<header id="header" style="height: 55px;">
	<div class="pull-right" style="width: 100%">
    <div id="hide-menu" class="btn-header pull-right">
      <span>
        <a toggle-menu title="Collapse Menu">
          <i class="fa fa-reorder"></i>
        </a>
      </span>
    </div>
<!--     <div id="logo-group"> -->

    <span > <img src="img/logoCremio.png" alt="SmartAdmin" style="margin-top: -5px; margin-right: 15px; width: 100px;height: 60px;"> </span>
    <span> <img src="img/LogoBigValeN.png" alt="SmartAdmin" style="margin-top: -5px;width: 120px;height: 55px;"> </span>

<!--   	</div> -->
		
		
    <div class="btn-header pull-right">
      <span>
        <a ui-sref="anon.logout" title="Cerrar Sesión">
          <i class="fa fa-sign-{{ro.isLoggedIn() ? 'out' : 'in'}}"></i>
        </a>
      </span>
    </div>

    <div id="fullscreen" class="btn-header transparent pull-right">
      <span>
        <a full-screen title="Full Screen">
          <i class="fa fa-arrows-alt"></i>
        </a>
      </span>
    </div>
    
    <form class="header-search pull-right">
	    <div class="form-group" style="width: 800px; margin-top: 9px;">
				<div ng-include=" 'client/layouts/_buscarCliente.html' " ng-show = "currentUser.roles[0] != 'Distribuidor' && currentUser.username != 'admin'" ></div>
	    </div>	    
		</form>
  </div>
</header>

<aside id="left-panel">
  <div class="login-info">
		<span > <!-- User image size is adjusted inside CSS, it should stay as it --> 
			
			<a href="javascript:void(0);" id="show-shortcut" data-action="toggleShortcut">
<!-- 				<img ng-src="{{currentUser.profile.foto || 'img/badmenprofile.png' }}" alt="me" class="online">  -->
				<span>
					{{currentUser.profile.nombre}}
				</span>
			</a> 
			
		</span>
	</div>
  <div ng-include=" 'client/layouts/left-nav.ng.html' "></div>
</aside>

<div id="main" role="main">
  <div id="ribbon"></div>
  <div id="content" ui-view></div>
</div>

<a id='dwnldLnk' href="#" download='archivo.docx' style="display:none;" hidden="true"></a> 