<header id="header">
	<div class="pull-right" style="width: 100%">
    <div id="hide-menu" class="btn-header pull-right">
      <span>
        <a toggle-menu title="Collapse Menu">
          <i class="fa fa-reorder"></i>
        </a>
      </span>
    </div>

    <div class="btn-header pull-right">
      <span>
        <a ui-sref="anon.logout" title="Cerrar Sesión">
          <i class="fa fa-sign-{{ro.isLoggedIn() ? 'out' : 'in'}}"></i>
        </a>
      </span>
    </div>

    <div id="fullscreen" class="btn-header transparent pull-right">
      <span>
        <a full-screen title="Full Screen">
          <i class="fa fa-arrows-alt"></i>
        </a>
      </span>
    </div>
    
    <form class="header-search pull-right">
	    <div class="form-group" style="width: 300px; margin-top: 9px;">
				<select class="form-control select2" ng-model="ro.buscar.nombre">
					<option ng-repeat="cliente in ro.clientes">{{cliente.nombreCompleto}}</option>
				</select>
	    </div>
		</form>
  </div>
</header>

<aside id="left-panel">
  <div class="login-info">
		<span ng-show="{{ro.isLoggedIn()}}"> <!-- User image size is adjusted inside CSS, it should stay as it --> 
			
			<a href="javascript:void(0);" id="show-shortcut" data-action="toggleShortcut">
				<img ng-src="{{currentUser.profile.fotografia}}" alt="me" class="online"> 
				<span>
					{{currentUser.profile.nombre}} {{currentUser.profile.apPaterno}} {{currentUser.profile.apMaterno}}
				</span>
				<i class="fa fa-angle-down"></i>
			</a> 
			
		</span>
	</div>
  <div ng-include=" 'client/layouts/left-nav.ng.html' "></div>
</aside>

<div id="main" role="main">
  <div id="ribbon"></div>
  <div id="content" ui-view></div>
</div>