<header id="header" class="hidden-print" style="font-weight: normal;">
	<div id="logo-group">
		<span id="logo" style="margin-top: 15px !important; color:white;">
			{{ currentUser.profile.nombre}}
		</span>
	</div>

	<div class="pull-right">
		<div id="hide-menu" class="btn-header pull-right">
			<span>
				<a toggle-menu title="Ocultar Menú">
					<i class="fa fa-reorder"></i>
				</a>
			</span>
		</div>
		<div class="btn-header transparent pull-right">
			<span>
				<a ui-sref="anon.logout" title="Cerrar Sesión">
					<i class="fa fa-sign-{{ currentUser ? 'out' : 'in' }}"></i>
				</a>
			</span>
		</div>
		<!-- <div class="btn-header transparent pull-right" ng-show="currentUser.roles[0] != 'Distribuidor'">
			<span>
				<a ng-click="ro.abrirModal()" href="#" title="Cambiar Sucursal">
					<i class="fa fa-institution"></i>
				</a>
			</span>
		</div> -->
		<!-- <div id="fullscreen" class="btn-header transparent pull-right">
			<span>
				<a full-screen title="Pantalla Completa">
					<i class="fa fa-arrows-alt"></i>
				</a>
			</span>
		</div> -->
	</div>

	<!-- <ul class="header-dropdown-list hidden-xs pull-right">
		<li class="">
			<a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false"> <img src="img/blank.gif" class="flag flag-us" alt="United States"> <span> English (US) </span> <i class="fa fa-angle-down"></i> </a>
			<ul class="dropdown-menu pull-right" ng-model= "ro.sucursal_id">
				<li class="active" ng-repeat="objeto in ro.sucursales">
					<a href="javascript:void(0);"><img src="img/blank.gif" class="flag flag-us" alt="United States"> {{objeto.nombreSucursal}}</a>
				</li>
			</ul>
		</li>
	</ul> -->

	<div class="project-context"
		ng-show="currentUser.roles[0] != 'Distribuidor' && currentUser.roles[0] != 'Promotora' && currentUser.username != 'admin'">
		<span class="label"><strong>Notificaciones:</strong> </span>
		<span class="project-selector dropdown-toggle" data-toggle="dropdown" aria-expanded="false">V. Aprobados
			<span class="badge bg-color-yellow">{{ ro.valesAcreditados }}</span>
			<span class="project-selector dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Sol. Vales
				<span class="badge bg-color-yellow">{{ ro.vales }}</span>
				<span class="project-selector dropdown-toggle" data-toggle="dropdown" aria-expanded="false">P. Benf.
					<span class="badge bg-color-yellow">{{ ro.prospectos }}</span>
					<span class="project-selector dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Solicitudes
						<span class="badge bg-color-yellow">{{ro.solicitudesC + ro.solicitudesD}}</span>
						<span ng-if="currentUser.roles[0] == 'Gerente' || currentUser.profile.asignarSolicitudesSucursal == true"
							class="project-selector dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Asigna Sol.
							<span class="badge bg-color-yellow">{{ro.asignarSolC + ro.asignarSolD}}</span>

	</div>

	<div class="header-search pull-right hidden-xs hidden-sm ng-pristine ng-valid">
		<form class="header-search pull-right">
			<div class="form-group" style="width: 800px; margin-top: 9px;">
				<div ng-include=" 'client/layouts/_buscarCliente.html' "
					ng-show="currentUser.roles[0] != 'Distribuidor' && currentUser.roles[0] != 'Promotora' && currentUser.username != 'admin'">
				</div>
			</div>
		</form>
	</div>

	<!-- <div class="pull-right" style="width: 100%">
		<div id="hide-menu" class="btn-header pull-right">
			<span>
				<a toggle-menu title="Collapse Menu">
					<i class="fa fa-reorder"></i>
				</a>
			</span>
		</div>
		<div class="btn-header pull-right">
			<span>
				<a ui-sref="anon.logout" title="Cerrar Sesión">
					<i class="fa fa-sign-{{ro.isLoggedIn() ? 'out' : 'in'}}"></i>
				</a>
			</span>
		</div>
	</div>	 -->

	<!-- <div class="pull-right" style="width: 100%">
		<div id="hide-menu" class="btn-header pull-right">
			<span>
				<a toggle-menu title="Collapse Menu">
					<i class="fa fa-reorder"></i>
				</a>
			</span>
		</div>
		<div class="btn-header pull-right">
			<span>
				<a ui-sref="anon.logout" title="Cerrar Sesión">
					<i class="fa fa-sign-{{ro.isLoggedIn() ? 'out' : 'in'}}"></i>
				</a>
			</span>
		</div> -->

	<!-- <div class="header-search pull-right hidden-xs hidden-sm ng-pristine ng-valid">
			<form class="header-search pull-right">
				<div class="form-group" style="width: 800px; margin-top: 9px;">
					<div ng-include=" 'client/layouts/_buscarCliente.html' "
						ng-show="currentUser.roles[0] != 'Distribuidor' && currentUser.roles[0] != 'Promotora' && currentUser.username != 'admin'">
					</div>
				</div>
			</form>
		</div> -->

	<!-- <div id="logo-group" class="header-search pull-left hidden-xs hidden-sm ng-pristine ng-valid">
			<span> <img src="img/logoCremio.png" alt="SmartAdmin"
					style="margin-top: -5px; margin-right: 15px; width: 100px;height: 60px;"> </span>
			<span> <img src="img/LogoBigVale.jpg" alt="SmartAdmin" style="margin-top: -5px;width: 120px;height: 55px;">
			</span>
		</div> -->

	<!-- </div> -->

	</div>
</header>

<aside id="left-panel" class="hidden-print">
	<!-- <div class="login-info">
		<span>
			<a href="javascript:void(0);" id="show-shortcut" data-action="toggleShortcut">
				<span>
					{{currentUser.profile.nombre}}
				</span>
			</a>
		</span>
	</div> -->
	<div ng-include=" 'client/layouts/left-nav.ng.html' "></div>
	<hr>
	<img ng-if = "currentUser.roles[0] != 'Distribuidor'" src="img/logoCremio.png" alt="SmartAdmin" style="margin-left: 15px; width: 150px;height: 60px;" />
	<hr>
	<img src="img/LogoBigVale.jpg" alt="SmartAdmin" style="margin-left: 25px; width: 120px;height: 55px;" />
</aside>

<div id="main" role="main">
	<!--   <div id="ribbon"></div> -->
	<div id="content" ui-view></div>
</div>

<a id='dwnldLnk' href="#" download='archivo.docx' style="display:none;" hidden="true"></a>
<!-- 
<div id="modalSucursal" class="modal fade" data-backdrop="static" role="dialog">
	<div class="modal-dialog">
		<form name="form" novalidate>
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title">Seleccione la Sucursal a Ingresar</h4>
				</div>
				<div class="modal-body">
					<div class="row">
						<div class="col-sm-6" valida>
							<label>Sucursal *</label>
							<select name="sucursal_id" class="form-control" ng-model="ro.modalSucursal_id" required>
								<option ng-repeat="obj in ro.sucursales" value="{{obj._id}}">{{obj.nombreSucursal}}</option>
							</select>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<div class="row">
						<div class="col-sm-12 "><br />
							<button type="button" ng-click="ro.asignar(ro.modalSucursal_id, form)" class="btn btn-success" valida-form
								formulario="form">Aceptar</button>
							<button type="button" id="cerrarRespuesta" class="btn btn-primary" data-dismiss="modal">Cerrar</button>
						</div>
					</div>
				</div>
			</div>
		</form>
	</div>

</div> -->