<div class="row">
	<div class="col-sm-12">
		<h1 class="alge-title txt-color-blueDark">
			<i class="fa fa-list fa-fw "></i>
				Validación de Clientes, Avales y Referencias 
		</h1>
	</div>
</div>
<br>
	<div class="well">
		<div class="row">
			<label>Escriba el nombre de la persona</label>
			<div class="input-group col-sm-12"> 
				<input type="text" class="form-control" ng-model="valcarp.buscar.nombre" capitalize>
				<span class="input-group-btn">
					<button class="btn btn-default" type="button" style="height: 34px;">
						<i class="fa fa-search"></i>
					</button> 
				</span>
			</div>
		</div>
	</div>
</div>
<div class="well">
	<div class="row">
		<div class="col-lg-3" ng-repeat="cliente in valcarp.clientes">
	      <div class="contact-box center-version">
	
	          <a href="/clientes/{{cliente._id}}" style="text-decoration: none;">
	
	              <img alt="image" class="img-circle" ng-src="{{valcarp.tieneFoto(cliente.profile.sexo, cliente.profile.foto)}}">
	
	
	              <p class="lead font-xs text-center"><strong>{{cliente.profile.nombre}} <br/> {{cliente.profile.apPaterno}} {{cliente.profile.apMaterno}}</strong></p>
	
	              <div class="font-bold">{{cliente.username}}</div>
	              <address class="font-xs">
	                  <strong>Cliente</strong><br>
	                  {{cliente.profile.call}} {{cliente.profile.numero}}<br>
	                  {{cliente.profile.colonia}}<br>
	                  <abbr title="Teléfono">T1:</abbr> {{cliente.profile.telefono}}<br/>
	                  <abbr title="Celular">C2:</abbr> {{cliente.profile.celular}}
	              </address>
	
	          </a>
	          <div class="contact-box-footer">
	              <div class="m-t-xs btn-group">
	                  <a href="/clientes/{{cliente._id}}" class="btn btn-xs btn-white"><i class="fa fa-eye"></i> Ver </a>
	                  <a href="/editarCliente/{{cliente._id}}" class="btn btn-xs btn-white"><i class="fa fa-pencil"></i> Editar</a>
	                 <!--  <a href="/verPlanPagos/{{cliente._id}}" class="btn btn-xs btn-white"><i class="fa fa-money"></i> Pagos</a> -->
	
	              </div>
	          </div>
	
	      </div>
	  </div>
	</div>
</div>