<div class="row">
	<div class="col-sm-12">
		<h1 class="alge-title txt-color-blueDark">
			<i class="fa fa-list fa-fw "></i>
			Validación de Clientes, Distribuidores, Avales y Referencias Personales
		</h1>
	</div>
</div>
<br>
<div class="well">
	<div class="row">
		<label>Escriba el nombre de la persona</label>
		<div class="input-group col-sm-12">
			<input type="text" class="form-control" ng-change="valcarp.buscarPersona(valcarp.buscar.nombre)"
				ng-model="valcarp.buscar.nombre" capitalize>
			<span class="input-group-btn">
				<button class="btn btn-default" type="button" style="height: 34px;">
					<i class="fa fa-search"></i>
				</button>
			</span>
		</div>
	</div>
</div>
</div>
<div class="well">
	<div class="row">
		<table class="table">
			<thead>
				<tr>
					<th style="width: 10px;">Foto</th>
					<th style="width: 10px;">Tipo</th>
					<th style="width: 30px;">Nombre</th>
					<th style="width: 50px;">Datos</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="persona in valcarp.personas">
					<th style="width: 10px;">
						<img alt="image" class="img-circle"
							ng-src="{{valcarp.tieneFoto(persona.profile.sexo, persona.profile.foto)}}">
					</th>
					<td style="width: 10px;">{{persona.tipoPersona}}</td>
					<td style="width: 30px;">{{persona.nombre}}</td>
					<td style="width: 50px;" ng-if="persona.tipoPersona == 'Cliente'">
						<label>Referencias Personales:</label>
						<li ng-repeat="referenciaPersonal in persona.profile.referenciasPersonales_ids">
							<small>{{referenciaPersonal.nombreCompleto}} - {{referenciaPersonal.parentesco}} -
								{{referenciaPersonal.tiempoConocerlo}}</small></li>
					</td>

					<td style="width: 50px;" ng-if="persona.tipoPersona == 'Distribuidor'">
						<label>Referencias Personales:</label>
						<li ng-repeat="referenciaPersonal in persona.profile.referenciasPersonales_ids">
							<small>{{referenciaPersonal.nombreCompleto}} - {{referenciaPersonal.parentesco}} -
								{{referenciaPersonal.tiempoConocerlo}}</small></li>
					</td>
					<td style="width: 50px;" ng-if="persona.tipoPersona == 'Aval'">
						<label>Cliente o Distribuidor:</label>
						<li ng-repeat="aval in persona.profile.creditos"><small>{{aval.nombreCompleto}} -
								{{aval.parentesco}} - {{aval.tiempoConocerlo}} - {{aval.tipo}}</small></li>
					</td>
					<td style="width: 50px;" ng-if="persona.tipoPersona == 'Referencia Personal'">
						<label>Cliente, Aval o Distribuidor:</label>
						<li ng-repeat="cliente in persona.clientes"><small>{{cliente.nombreCompleto}} -
								{{cliente.parentesco}} - {{cliente.tiempoConocerlo}} - {{cliente.tipo}} </small>
						</li>
					</td>
					<td style="width: 50px;" ng-if="persona.tipoPersona == 'Beneficiario'">
						<label>Distribuidor:</label>
						<li><small>{{persona.distribuidor.profile.nombreCompleto}} </small>
						</li>
					</td>
					<td style="width: 50px;" ng-if="persona.tipoPersona == 'Prospecto Vale'">
						<label>Distribuidor:</label>
						<li><small>{{persona.distribuidor.profile.nombreCompleto}} </small>
						</li>
					</td>
					<td style="width: 50px;" ng-if="persona.tipoPersona == 'Cónyuge Cliente Personal'">
						<label>Cónyuge:</label>
						<li><small>{{persona.conyuge}} </small>
						</li>
					</td>
					<td style="width: 50px;" ng-if="persona.tipoPersona == 'Cónyuge Distribuidor'">
						<label>Cónyuge:</label>
						<li><small>{{persona.conyuge}} </small>
						</li>
					</td>

					<td style="width: 50px;" ng-if="persona.tipoPersona == 'Prospecto Crédito Personal'">
						<label>Estatus:</label>
						<li><small></small>
						</li>
					</td>

					<td style="width: 50px;" ng-if="persona.tipoPersona == 'Prospecto Distribuidor'">
						<label>Estatus:</label>
						<li><small></small>
						</li>
					</td>


				</tr>
			</tbody>

		</table>
	</div>
</div>

<!-- 
<div class="col-lg-3" ng-repeat="persona in valcarp.personas">
	<div class="contact-box center-version">
		<a href="javascript:void(0);" style="text-decoration: none;">
			<img alt="image" class="img-circle"
				ng-src="{{valcarp.tieneFoto(persona.profile.sexo, persona.profile.foto)}}">
			<p class="lead font-xs text-center">
				<strong ng-if="persona.profile != undefined">{{persona.profile.nombreCompleto}}</strong>
				<strong ng-if="persona.profile == undefined">{{persona.nombreCompleto}}</strong>
			</p>
			<address class="font-sm">
				<strong ng-if="persona.tipoPersona == 'cliente'">Cliente</strong>
				<strong ng-if="persona.tipoPersona == 'distribuidor'">Distribuidor</strong>
				<strong ng-if="persona.tipoPersona == 'aval'">Aval</strong>
				<strong ng-if="persona.tipoPersona == 'referenciaPersonal'">Referencia Personal</strong>
				<strong ng-if="persona.tipoPersona == 'beneficiario'">Beneficiario</strong>
			</address>
			
			<div ng-if="persona.roles[0] == 'Cliente'">
				<ul style="padding: 0">
					<label>Referencias Personales:</label>
					<li ng-repeat="referenciaPersonal in persona.profile.referenciasPersonales_ids">
						<small>{{referenciaPersonal.nombreCompleto}} - {{referenciaPersonal.parentesco}} -
							{{referenciaPersonal.tiempoConocerlo}}</small></li>
				</ul>
			</div>
			
			<div ng-if="persona.roles[0] == 'Distribuidor'">
				<ul style="padding: 0">
					<label>Referencias Personales:</label>
					<li ng-repeat="referenciaPersonal in persona.profile.referenciasPersonales_ids">
						<small>{{referenciaPersonal.nombreCompleto}} - {{referenciaPersonal.parentesco}} -
							{{referenciaPersonal.tiempoConocerlo}}</small></li>
				</ul>
			</div>
			
			<div ng-if="persona.profile.creditos != undefined">
				<ul style="padding: 0">
					<label>Cliente o Distribuidor:</label>
					<li ng-repeat="aval in persona.profile.creditos"><small>{{aval.nombreCompleto}} -
							{{aval.parentesco}} - {{aval.tiempoConocerlo}} - {{aval.tipo}}</small></li>
				</ul>
			</div>
			
			<div ng-if="persona.profile == undefined">
				<ul style="padding: 0">
					<label>Clientes o Avales:</label>
					<li ng-repeat="cliente in persona.clientes"><small>{{cliente.nombreCompleto}} -
							{{cliente.parentesco}} - {{cliente.tiempoConocerlo}} - {{cliente.tipo}} </small>
					</li>
				</ul>
			</div>
			
			<div ng-if="persona.nombreCompleto != undefined">
				<ul style="padding: 0">
					<label>Beneficiario:</label>
				</ul>
			</div>
		</a>
		<div class="contact-box-footer">

		</div>
	</div>
</div> -->