<h2>Sexo</h2>
<div class="row">
	<div class="col-sm-12">
		<a class="btn btn-{{sex.nuevo == true ? 'primary' : 'danger'}}" role="button" data-toggle="collapse" 
			href="#collapseExample" aria-expanded="false" aria-controls="collapseExample" ng-click="sex.Nuevo()">
		   {{sex.nuevo == true ? 'Nuevo' : 'Cancelar'}}
		</a>
		<div class="collapse" id="collapseExample">
			<form name="form" class="form-horizontal" role="form">
		  	<div class="well">	    
			    <div class="row">
			    	<div class="col-sm-12">					    
              <div class="col-sm-4" valida>
						    <label>Nombre *</label>
					    	<input name="nombre" type="text" class="form-control" placeholder="Nombre" ng-model="sex.objeto.nombre" required capitalize>
					    </div>
					  </div>
					</div>
				</div>
		  	<div class="well">	    
			    <div class="row">
						<div class="col-sm-12">
							<input type="submit" ng-click="sex.guardar(sex.objeto,form)" value="Guardar" class="btn btn-primary" ng-show="sex.action" valida-form formulario="form">
							<input type="submit" ng-click="sex.actualizar(sex.objeto,form)" value="Actualizar" class="btn btn-primary" ng-show="!sex.action" valida-form formulario="form">	
						</div>
					</div>
		  	</div>  
		  </form>
		</div>
	</div>
</div>
<br/>
<!-- List -->
<div class="row">
	<div class="col-sm-12">
		<table class="table table-bordered">
			<thead>
				<tr>
				<th width="10%"><div class="text-center">No.</div></th>
					<th width="30%"><div class="text-center">Nombre</div></th>
					<th width="30%">
						<div class="text-center">
							Estatus
						</div>
					</th>
					<th width="30%">
						<div class="text-center">
							Acciones
						</div>
					</th>
				</tr>
			</thead>
			<tbody>
		    <tr ng-repeat="objeto in sex.sexo">
		   		<td>{{$index + 1}}</td>
			    <td>{{objeto.nombre}}</td>
			    <td>
				    <div class="text-center">
				    	<span ng-if="objeto.estatus" class="label label-success">
							  Activo
							</span>
							<span ng-if="!objeto.estatus" class="label label-danger">
							  Inactivo
							</span>
				    </div>
			    </td>
			    <td>
				    <div class="text-center">
					    <div class="btn-group">
							  <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							    <span class="caret"></span>
							    <span class="sr-only">Toggle Dropdown</span>
							  </button>
							  <ul class="dropdown-menu text-left">
							    <li><a href="#" ng-click="sex.editar(objeto._id)"><i class="fa fa-pencil"></i> Editar</a></li>
							    <li><a href="#" ng-click="sex.cambiarEstatus(objeto._id)">
								    <i class="fa fa-{{objeto.estatus ? 'trash' : 'check' }}"></i> {{objeto.estatus ? "Desactivar" : "Activar" }}</a>
							    </li>
							  </ul>
							</div>
				    </div>				    
			    </td>
		    </tr>
			</tbody>
		</table>
	</div>
</div>