<div class="row" ng-show="ae.cliente.profile != undefined">
	<div class="col-sm-12">
		<div class="well">
			<div class="col-xs-12 col-sm-7 col-md-7 col-lg-10">
				<h2 class="alge-title txt-color-blueDark" ng-if="ae.cliente.roles[0] == 'Cliente'">
					<i class="fa fa-list fa-fw "></i>
					Actualización del Crédito - <span>{{ae.cliente.profile.nombreCompleto}}</span>
				</h2>
				<h2 class="alge-title txt-color-blueDark" ng-if="ae.cliente.roles[0] == 'Distribuidor' && ae.op != 1">
					<i class="fa fa-list fa-fw "></i>
					Actualización del Vale - <span>{{ae.cliente.profile.nombreCompleto}}</span>
				</h2>

				<h2 class="alge-title txt-color-blueDark" ng-if="ae.cliente.roles[0] == 'Distribuidor' && ae.op == 1">
					<i class="fa fa-list fa-fw "></i>
					Actualización de Crédito Dist. - <span>{{ae.cliente.profile.nombreCompleto}}</span>
				</h2>

			</div>
			<a ng-if="ae.cliente.roles == 'Cliente'" ui-sref="root.clienteDetalle({objeto_id: ae.cliente._id})"
				class="btn txt-color-white bg-color-teal btn-sm pull-right"><i class="fa fa-user"></i> Ir a mi perfil</a>
			<a style="margin: 5px;" ng-if="ae.cliente.roles == 'Distribuidor'"
				ui-sref="root.distribuidoresDetalle({objeto_id : ae.cliente._id})"
				class="btn txt-color-white bg-color-teal btn-sm pull-right"><i class="fa fa-user"></i> Ir a mi perfil</a>&nbsp;
			<div class="row">

				<div class="col-sm-12">
					<form name="formNuevoCredito" class="form-horizontal" role="form" novalidate>
						<div class="well">

							<!-- Cliente Credito Personal -->
							<div class="row">
								<div class="col-sm-4" valida ng-if="ae.cliente.roles == 'Cliente'">
									<label>Tipo de crédito *</label>
									<select name="tipoCreditoNuevo" class="form-control" ng-model="ae.credito.tipoCredito_id" required="">
										<option value="{{tipoCredito._id}}" ng-repeat="tipoCredito in ae.tiposCredito">
											{{tipoCredito.nombre}}</option>
									</select>
								</div>
								<div class="col-sm-4" valida ng-if="ae.cliente.roles == 'Cliente'">
									<label>Tasa %*</label>
									<input id="tasa" name="tasa" type="number" min="0" class="form-control" ng-model="ae.credito.tasa"
										required>
								</div>
								<div class="col-sm-4" valida ng-if="ae.cliente.roles == 'Cliente'">
									<label>Periodo de pago *</label>
									<select name="periodoCreditoNuevo" class="form-control" ng-model="ae.credito.periodoPago" required="">
										<option value="Semanal">Semanal</option>
										<option value="Quincenal">Quincenal</option>
										<option value="Mensual">Mensual</option>
									</select>
								</div>
							</div>

							<!-- Distribuidor Vale -->
							<div class="row" ng-if="ae.cliente.roles[0] == 'Distribuidor' && ae.op != 1">
								<div class="col-sm-6">
									<div ng-include=" 'client/planPagos/generadorPlan/_buscarBeneficiario.html' "></div>
								</div>
								<div class="col-sm-2" ng-if="currentUser.roles[0] != 'Distribuidor' && ae.op != 1">
									<a ng-click="ae.mostrarModalBeneficiario(1)" class="btn txt-color-white bg-color-teal btn-sm">
										<i class="fa fa-plus"></i> Beneficiario
									</a>
								</div>
								<div class="col-sm-2" ng-if="currentUser.roles[0] != 'Distribuidor' && ae.op != 1">
									<a ng-click="ae.mostrarModalBeneficiario(2)" class="btn txt-color-white bg-color-teal btn-sm"
										ng-show="ae.beneficiario.nombreCompleto != undefined">
										<i class="fa fa-pencil"></i> Editar
									</a>
								</div>

							</div>

							<div class="row" ng-if="ae.cliente.roles[0] == 'Distribuidor' && ae.op != 1">
								<div class="col-sm-6">
									<label>Nombre del Beneficiado</label>
									<input name="beneficiado" type="text" class="form-control" ng-model="ae.beneficiario.nombreCompleto"
										disabled="true">
								</div>
							</div>

							<div class="row">
								<div class="col-sm-3" valida ng-if="ae.cliente.roles == 'Cliente'">
									<label>Capital Solicitado *</label>
									<input id="capitalSolicitado" name="capitalSolicitado" min="0" type="number" class="form-control"
										ng-model="ae.credito.capitalSolicitado" required="">
								</div>

								<div class="col-sm-3" valida ng-if="currentUser.roles[0] != 'Distribuidor' && ae.op == 1">
									<label>Capital Solicitado *</label>
									<input id="capitalSolicitado" name="capitalSolicitado" min="0" type="number" class="form-control"
										ng-model="ae.credito.capitalSolicitado" required="">
								</div>

								<div class="col-sm-3" valida ng-if="ae.cliente.roles == 'Distribuidor' && ae.op != 1">
									<label>Capital Solicitado *</label>
									<select name="capitalSolicitadoCreditoNuevoV" class="form-control"
										ng-model="ae.credito.capitalSolicitado" placeholder="Capital Solicitado" required="">
										<option value="1000">1000</option>
										<option value="1500">1500</option>
										<option value="2000">2000</option>
										<option value="2500">2500</option>
										<option value="3000">3000</option>
										<option value="3500">3500</option>
										<option value="4000">4000</option>
										<option value="4500">4500</option>
										<option value="5000">5000</option>
										<option value="5500">5500</option>
										<option value="6000">6000</option>
									</select>
								</div>
								
								<div class="col-sm-3" valida ng-if="ae.cliente.roles == 'Cliente'">
									<label>Duración (Meses) *</label>
									<input id="meses" name="meses" min="1" max="48" type="number" class="form-control"
										placeholder="Duración en Meses" ng-model="ae.credito.duracionMeses" required="">
								</div>

								<div class="col-sm-3" valida ng-if="currentUser.roles[0] != 'Distribuidor' && ae.op == 1">
									<label>Duración (Meses) *</label>
									<input id="meses" name="meses" min="1" max="48" type="number" class="form-control"
										placeholder="Duración en Meses" ng-model="ae.credito.duracionMeses" required="">
								</div>

								<div class="col-sm-3" valida ng-if="ae.cliente.roles == 'Distribuidor' && ae.op != 1">
									<label>Duración (Meses) *</label>
									<select name="duracionMesesCreditoNuevo" class="form-control" ng-model="ae.credito.duracionMeses"
										ng-change="ae.calculaNumeroPagos()" required="">
										<option value="3">3</option>
										<option value="4">4</option>
										<option value="5">5</option>
										<option value="6">6</option>
										<option value="7">7</option>
										<option value="8">8</option>
									</select>
								</div>
								<div class="col-sm-2" ng-if="ae.cliente.roles == 'Distribuidor' && ae.op != 1">
									<label>Número de Pagos</label>
									<input style="text-align: center" type="number" min="0" class="form-control" ng-model="ae.numeroPagos"
										ng-disabled="true">
								</div>
								<div class="col-sm-2">
									<label>Con Seguro</label>
									<input name="conSeguro" type="checkbox" min="0" class="form-control" ng-model="ae.credito.conSeguro"
										ng-disabled="currentUser.roles[0] == 'Distribuidor'">
								</div>
								<div class="col-sm-2" ng-if="ae.credito.conSeguro" valida>
									<label>Importe seguro *</label>
									<input id="seguro" name="seguro" type="number" min="0" class="form-control" placeholder="Seguro"
										ng-model="ae.credito.seguro" ng-disabled="currentUser.roles[0] == 'Distribuidor'" required>
								</div>
							</div>


							<div class="row" ng-if="ae.cliente.roles[0] == 'Cliente'">
								<div class="col-sm-2">
									<label>Requiere Verificación</label>
									<input name="requiereVerificacionCreditoNuevo" type="checkbox" class="form-control"
										ng-model="ae.credito.requiereVerificacion">
								</div>
								<div class="col-sm-2" valida>
									<label>Fecha Verificación</label>
									<input name="fechaVerificacion" date-time format="dd-MM-yyyy" class="form-control" view="date"
										max-view="year" min-view="date" ng-model="ae.credito.fechaVerificacion"
										ng-disabled="!ae.credito.requiereVerificacion" />
								</div>
								<div class="col-sm-2" valida>
									<label>Horario</label>
									<select name="horario" class="form-control" ng-model="ae.credito.turno"
										ng-disabled="!ae.credito.requiereVerificacion">
										<option value="mañana">Mañana</option>
										<option value="tarde">Tarde</option>
									</select>
								</div>
								<div class="col-sm-2">
									<label>Hora </label>
									<input id="hora" name="hora" type="time" class="form-control" ng-model="ae.credito.hora"
										ng-disabled="!ae.credito.requiereVerificacion">
								</div>
							</div>
						</div>

						<div role="content" ng-if="ae.cliente.roles[0] == 'Cliente'">
							<!-- widget edit box -->
							<div class="jarviswidget-editbox">
							</div>
							<!-- end widget edit box -->

							<!-- widget content -->
							<div class="widget-body">

								<hr class="simple">
								<ul id="myTab1" class="nav nav-tabs bordered">
									<li class="active">
										<a href="#s1" data-toggle="tab" aria-expanded="true">Avales</a>
									</li>
									<li class="">
										<a href="#s2" data-toggle="tab" aria-expanded="false">Garantias</a>
									</li>
								</ul>

								<div id="myTabContent1" class="tab-content padding-10">
									<div class="tab-pane fade active in" id="s1">
										<p>
											<div class="row">
												<div class="col-sm-6">
													<div ng-include=" 'client/planPagos/actualizarPlan/_buscarAval.html' "></div>
												</div>
												<div class="col-sm-3">
													<section>
														<label class="checkbox">
															<input type="checkbox" name="requiereVerificacionAval"
																ng-model="ae.credito.requiereVerificacionAval"
																ng-disabled="!ae.credito.requiereVerificacion">
															Requiere Verificación Aval
														</label>
													</section>
												</div>
											</div>
											<div class="row">
												<div class="col-sm-4">
													<label>Nombre</label>
													<input name="nombreAval" type="text" class="form-control" placeholder="Nombre"
														ng-model="ae.aval.nombre" disabled="true">
												</div>
												<div class="col-sm-4">
													<label>Apellido Paterno</label>
													<input name="apellidoPaternoAval" type="text" class="form-control"
														placeholder="Apellido Paterno" ng-model="ae.aval.apellidoPaterno" disabled="true">
												</div>
												<div class="col-sm-4">
													<label>Apellido Materno</label>
													<input name="apellidoMaternoAval" type="text" class="form-control"
														placeholder="Apellido Materno" ng-model="ae.aval.apellidoMaterno" disabled="true">
												</div>
											</div>
											<div class="row">
												<div class="col-sm-4">
													<label>Calle</label>
													<input name="calle" type="text" class="form-control" placeholder="Calle"
														ng-model="ae.aval.calle" capitalize>
												</div>
												<div class="col-sm-2">
													<label>Número</label>
													<input name="numero" type="text" class="form-control" placeholder="Número"
														ng-model="ae.aval.numero" capitalize>
												</div>
												<div class="col-sm-2">
													<label>Código Postal</label>
													<input name="codigoPostal" min="0" type="number" class="form-control"
														placeholder="Código Postal" ng-model="ae.aval.codigoPostal">
												</div>

												<div class="col-sm-4">
													<label for="estadocivil">Estado Civil *</label>
													<select name="estadocivil" class="form-control select2" placeholder="Seleccione"
														ng-model="ae.aval.estadoCivil_id">
														<option value="{{estadoCivil._id}}" ng-repeat="estadoCivil in ae.estadosCiviles">
															{{estadoCivil.nombre}}
														</option>
													</select>
												</div>
											</div>
											<div class="row">
												<div class="col-sm-3">
													<label>Ocupación</label>
													<select ng-options="ocupacion._id as ocupacion.nombre for ocupacion in ae.ocupaciones"
														ng-model="ae.aval.ocupacion_id" class="js-example-basic-single js-states form-control"
														placeholder="Seleccione" style="width: 200px;">
													</select>
												</div>
												<div class="col-sm-3">
													<label>Empresa</label>
													<input name="empresa" type="text" class="form-control" placeholder="Empresa"
														ng-model="ae.aval.empresa" disabled="true">
												</div>
												<div class="col-sm-3">
													<label>Puesto</label>
													<input name="puesto" type="text" class="form-control" placeholder="Puesto"
														ng-model="ae.aval.puesto" capitalize>
												</div>
												<div class="col-sm-3">
													<label>Tiempo Laborando</label>
													<input name="tiempoLaborando" type="text" class="form-control" placeholder="Tiempo Laborando"
														ng-model="ae.aval.tiempoLaborando" capitalize>
												</div>
											</div>
											<div class="row">
												<div class="col-sm-4">
													<label>Calle</label>
													<input name="calle" type="text" class="form-control" placeholder="Calle"
														ng-model="ae.aval.calleEmpresa" capitalize>
												</div>
												<div class="col-sm-2">
													<label>Número</label>
													<input name="numero" type="text" class="form-control" placeholder="Número"
														ng-model="ae.aval.numeroEmpresa" capitalize>
												</div>
												<div class="col-sm-2">
													<label>Código Postal</label>
													<input name="codigoPostal" min="0" type="number" class="form-control"
														placeholder="Código Postal" ng-model="ae.aval.codigoPostalEmpresa">
												</div>
												<div class="col-sm-2">
													<label>Parentesco</label>
													<input name="parentesco" type="text" class="form-control" placeholder="Parentesco"
														ng-model="ae.aval.parentesco" capitalize>
												</div>
												<div class="col-sm-2">
													<label>T. Conocerlo</label>
													<input name="tiempoConocerlo" type="text" class="form-control"
														placeholder="Tiempo en Conocerlo" ng-model="ae.aval.tiempoConocerlo" capitalize>
												</div>
											</div>
											<div class="row">
												<div class="col-sm-3">
													<input type="button" ng-click="ae.insertarAval()" value="Agregar" ng-show="ae.actionAval"
														class="btn btn-primary">
													<input type="button" ng-click="ae.borrarReferencia()" value="Quitar Aval"
														ng-show="ae.aval._id" class="btn btn-warning">
													<input type="button" ng-click="ae.actualizarAval(ae.aval)" value="Actualizar"
														ng-show="!ae.actionAval" class="btn btn-primary">
													<input type="button" ng-click="ae.cancelarAval()" value="Cancelar" ng-show="!ae.actionAval"
														class="btn btn-danger">
												</div>
											</div>
											<br />
											<div class="row">
												<div class="col-sm-12">
													<table class="table table-bordered">
														<thead>
															<tr>
																<th width="5%">Número</th>
																<th width="15%">Nombre</th>
																<th width="10%">Parentesco</th>
																<th width="10%">Tiempo Conocerlo</th>
																<th width="10%">Acciones</th>
															</tr>
														</thead>
														<tbody>
															<tr ng-repeat="aval in ae.avales">
																<td>{{aval.num}}</td>
																<td>{{aval.nombreCompleto}}</td>
																<td>{{aval.parentesco}}</td>
																<td>{{aval.tiempoConocerlo}}</td>
																<td>
																	<a href="#" class="btn btn-primary" ng-click="ae.verAval(aval)"><i
																			class="fa fa-eye"></i></a>
																	<a href="#" class="btn btn-warning" ng-click="ae.editarAval(aval)"><i
																			class="fa fa-pencil"></i></a>
																	<a href="#" class="btn btn-danger" ng-click="ae.quitarAval(aval.num, aval)"><i
																			class="fa fa-trash"></i></a>
																</td>
															</tr>
														</tbody>
													</table>
												</div>
											</div>

										</p>
									</div>
									<div class="tab-pane fade" id="s2">
										<p>
											<div class="well" ng-if="ae.cliente.roles == 'Cliente'">
												<div class="row">
													<div class="col-sm-4" valida>
														<label>Tipo de garantía</label>
														<select name="horario" class="form-control" ng-model="ae.credito.tipoGarantia">
															<option value="general">General o inmobiliaria</option>
															<option value="mobiliaria">Mobiliaria</option>
														</select>
													</div>
													<div class="col-sm-4" ng-if="ae.credito.tipoGarantia != undefined">
														<br>
														<a href="#" class="btn btn-primary"
															ng-click="ae.mostrarRespaldos(ae.credito.tipoGarantia)"><i class="fa fa-copy"></i> Copiar
															Respaldos</a>
													</div>
												</div>

												<div ng-if="ae.credito.tipoGarantia == 'mobiliaria'">
													<br>
													<h4>Comisiones</h4>
													<div class="row">
														<div class="col-sm-3">
															<label>Almacenaje</label>
															<input name="almacenaje" type="number" class="form-control" placeholder="Almacenaje"
																ng-model="ae.garantia.almacenaje">
														</div>
														<div class="col-sm-3">
															<label>Comercialización</label>
															<input name="comercializacion" type="number" class="form-control"
																placeholder="Comercialización" ng-model="ae.garantia.comercializacion">
														</div>
														<div class="col-sm-3">
															<label>Desempeño Extemporaneo</label>
															<input name="desempenioExtemporaneo" type="number" class="form-control"
																placeholder="Desempeño Extemporaneo" ng-model="ae.garantia.desempenioExtemporaneo">
														</div>
														<div class="col-sm-3">
															<label>Reposición de Contrato</label>
															<input name="reposicionContrato" type="number" class="form-control"
																placeholder="Reposición de Contrato" ng-model="ae.garantia.reposicionContrato">
														</div>
													</div>
													<div class="row">
														<div class="col-sm-6">
															<label>Descripción Generica</label>
															<input name="descripcion" type="text" class="form-control" placeholder="DESCRIPCIÓN"
																ng-model="ae.garantia.descripcion" capitalize>
														</div>
														<div class="col-sm-6">
															<label>Características </label>
															<input name="caracteristicas" type="text" class="form-control"
																placeholder="Caracteristicas" ng-model="ae.garantia.caracteristicas" capitalize>
														</div>
													</div>
													<div class="row">
														<div class="col-sm-2">
															<label>Avalúo</label>
															<input name="avaluo" type="number" class="form-control" placeholder="AVALÚO"
																ng-model="ae.garantia.avaluoMobiliaria" ng-change="ae.calcularPorcentajeMobiliaria()">
														</div>
														<div class="col-sm-4">
															<label>Porcentaje del prestamo sobre el avalúo</label>
															<input name="porcentajePrestamo" type="number" class="form-control"
																placeholder="PORCENTAJE DEL PRESTAMO SOBRE AVALÚO"
																ng-model="ae.garantia.porcentajePrestamoMobiliria" disabled="true">
														</div>
													</div>
													<div class="row"> <br />
														<div class="col-sm-3">
															<input type="button" ng-click="ae.insertarGarantia(ae.credito.tipoGarantia)"
																value="Agregar" ng-show="ae.actionGarantia" class="btn btn-primary">
															<input type="button"
																ng-click="ae.actualizarGarantia(ae.credito.tipoGarantia, ae.garantia)"
																value="Actualizar" ng-show="!ae.actionGarantia" class="btn btn-primary">
															<input type="button" ng-click="ae.cancelarGarantia(ae.credito.tipoGarantia)"
																value="Cancelar" ng-show="!ae.actionGarantia" class="btn btn-danger">
														</div>
													</div>
													<br />
													<div class="row">
														<div class="col-sm-12">
															<table class="table table-bordered">
																<thead>

																	<tr>
																		<th width="5%">Número</th>
																		<th width="15%">Descripción genérica</th>
																		<!-- 	<th width="15%">Características</th>
																					<th width="15%">Avalúo</th>
																					<th width="15%">Préstamo</th>
																					<th width="15%">Préstamo sobre avalúo</th>
																					<th width="15%">Monto del avalúo</th>
																					<th width="15%">Porcentaje del préstamo sobre el avalúo</th>
																					<th width="15%">Fecha de inicio de comercialización</th>
																					<th width="15%">Fecha limite de finiquito</th> -->
																		<th width="5%">Acción</th>
																	</tr>
																</thead>
																<tbody>
																	<tr ng-repeat="garantia in ae.garantias">
																		<td>{{garantia.num}}</td>
																		<td>{{garantia.descripcion}}</td>
																		<!-- 	<td>{{garantia.caracteristicas}}</td>
																					<td>{{garantia.avaluo}}</td>
																					<td>{{garantia.prestamo}}</td>
																					<td>{{garantia.prestamoPorcentaje}}</td>
																					<td>{{garantia.monto}}</td>
																					<td>{{garantia.porcentaje}}</td>
																					<td>{{garantia.fechaComercializacion | date:"dd-MM-yyyy"}}</td>
																					<td>{{garantia.fechaFiniquito | date:"dd-MM-yyyy"}}</td> -->
																		<td>
																			<a href="#" class="btn btn-primary"
																				ng-click="ae.verGarantia(ae.credito.tipoGarantia, garantia)"><i
																					class="fa fa-eye"></i></a>
																			<a href="#" class="btn btn-warning"
																				ng-click="ae.editarGarantia(ae.credito.tipoGarantia, garantia)"><i
																					class="fa fa-pencil"></i></a>
																			<a href="#" class="btn btn-danger"
																				ng-click="ae.quitarGarantia(ae.credito.tipoGarantia, garantia.num)"><i
																					class="fa fa-trash"></i></a>
																		</td>
																	</tr>
																</tbody>
															</table>
														</div>
													</div>
												</div>

												<div ng-if="ae.credito.tipoGarantia == 'general'">
													<div class="row">
														<div class="col-sm-4">
															<label>Sup. de terreno y construcción</label>
															<input name="terreno" type="text" class="form-control"
																placeholder="Sup. de terreno y construcción "
																ng-model="ae.garantia.terrenoYconstruccion" capitalize>
														</div>
														<div class="col-sm-2">
															<label>Ubicación </label>
															<input name="ubicacion" type="text" class="form-control" placeholder="Ubicación"
																ng-model="ae.garantia.ubicacion" capitalize>
														</div>
														<div class="col-sm-2">
															<label>Avalúo </label>
															<input name="avaluo" type="number" class="form-control" placeholder="Avalúo"
																ng-model="ae.garantia.avaluoGeneral" ng-change="ae.calcularPorcentajeGeneral()">
														</div>
														<div class="col-sm-4">
															<label>% del préstamo sobre el avalúo</label>
															<input name="porcentaje" type="number" class="form-control"
																placeholder="Porcentaje del préstamo sobre el avalúo"
																ng-model="ae.garantia.porcentajePrestamoGeneral" disabled="true">
														</div>
													</div>
													<div class="row">
														<div class="col-sm-6">
															<label>Medidas, colindancias, clave catastral</label>
															<textarea name="medidas" rows="3" class="form-control"
																placeholder="Medidas, colindancias, clave castral"
																ng-model="ae.garantia.medidasColindancias">
														    	</div>
														    	<div class="col-sm-6"> 					    
															    	<label>Comisión y gastos, por escrituración e inscripción de registro público</label>
															    	<input name="comision" type="number" class="form-control" placeholder="Comisión y gastos" ng-model="ae.garantia.comisionGastos">
														    	</div>							
															</div>
																<div class="row">		
														    	<div class="col-sm-3">
																   	<input type="button" ng-click="ae.insertarGarantia(ae.credito.tipoGarantia)" value="Agregar" ng-show="ae.actionGarantia" class="btn btn-primary"> 	
																   	<input type="button" ng-click="ae.actualizarGarantia(ae.credito.tipoGarantia, ae.garantia)" value="Actualizar" ng-show="!ae.actionGarantia" class="btn btn-primary">
																   	<input type="button" ng-click="ae.cancelarGarantia(ae.credito.tipoGarantia)" value="Cancelar" ng-show="!ae.actionGarantia" class="btn btn-danger">	   				
																	</div>
														    </div>
															<div class="row"><br/>
																<div class="col-sm-12">
																	<table class="table table-bordered">
																		<thead>
																			<tr>
																				<th width="5%">Número</th>
																				<th width="15%">Sup. de terreno y construcción</th>
																				<th width="10%">Avalúo</th>
																				<!-- <th width="15%">Medidas, colindancias, clave astral</th>
																				<th width="15%">Préstamo sobre avalúo</th>
																				<th width="15%">Comisión y gastos</th>
																				<th width="15%">Por escrituración e inscripción de registro público</th> -->
																				<th width="5%">Acción</th>
																			</tr>
																		</thead>
																		<tbody>
																			<tr ng-repeat="garantia in ae.garantiasGeneral">
																				<td>{{garantia.num}}</td>
																				<td>{{garantia.terrenoYconstruccion}}</td>
																				<td>{{garantia.avaluoGeneral}}</td>
																			<!-- 	<td>{{garantia.medidasColindancias}}</td>
																				<td>{{garantia.prestamo}}</td>
																				<td>{{garantia.prestamoSobreAvaluo}}</td>
																				<td>{{garantia.montoAvaluo}}</td>
																				<td>{{garantia.porcentajePrestamo}}</td>
																				<td>{{garantia.comisionGastos}}</td>
																				<td>{{garantia.escrituracion}}</td> -->
																				<td>
																					<a href="#" class="btn btn-primary" ng-click="ae.verGarantia(ae.credito.tipoGarantia, garantia)"><i class="fa fa-eye"></i></a>
																							<a href="#" class="btn btn-warning" ng-click="ae.editarGarantia(ae.credito.tipoGarantia, garantia)"><i class="fa fa-pencil"></i></a>
																							<a href="#" class="btn btn-danger" ng-click="ae.quitarGarantia(ae.credito.tipoGarantia, garantia.num)"><i class="fa fa-trash"></i></a>
																					</td>
																			</tr>
																		</tbody>
																	</table>
																</div>
															</div>
																
																
															</div>		 
														
														</div> <!--Fin del wel-->
												</p>
											</div>
										</div>
				
									</div>
				
						</div>
												
						<div class="row">
							<div class="col-sm-3">
								<button class="btn btn-success" ng-click="ae.actualizarCredito(formNuevoCredito)" valida-form formulario="formNuevoCredito">Actualizar Solicitud de Crédito</button>
							</div>
							<div class="col-sm-3">
								<button class="btn btn-info" ng-click="ae.generarPlanPagos(ae.credito, formNuevoCredito)" valida-form formulario="formNuevoCredito">Calcular Plan de Pagos</button>
							</div>
						</div>	  
				  </form>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="well">
	<div class="row">
		<div class="col-sm-12" >
		<table class="table table-striped table-bordered table-condensed font-xs">
			<caption>
				<h4>Plan Nuevo</h4>
			</caption>
			<thead class="thead">
				<tr>
					<th class="text-center" width="5%">No.</th>
					<th class="text-center" width="10%">Fecha de Pago</th>
					<th class="text-center" width="5%">Pago</th>
					<th class="text-center" width="10%" ng-if="currentUser.roles[0] != 'Distribuidor'">Capital</th>
					<th class="text-center" width="10%" ng-if="currentUser.roles[0] != 'Distribuidor'">Interes</th>
					<th class="text-center" width="10%" ng-if="currentUser.roles[0] != 'Distribuidor'">IVA</th>
					<th class="text-center" width="10%">Seguro</th>
					<th class="text-center" width="10%">Importe total</th>
					<th class="text-center" width="15%">Saldo Liquidar</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-class="( pago.estatus == 1 ) ? 'success' : ( pago.fecha < ae.fechaActual && pago.estatus == 0 ) ? 'warning' : ( pago.estatus == 2 ) ? 'danger' : 'info'" ng-repeat="pago in ae.planPagos">
					<td class="text-center">{{$index + 1}}</td>	
					<td class="text-center">{{pago.fechaLimite | date:"dd-MM-yyyy"}}</td>
					<td class="text-center">{{pago.numeroPago}} - {{ae.planPagos.length}}</td>
					<td class="text-right" ng-if="currentUser.roles[0] != 'Distribuidor'">{{pago.capital | currency}}</td>
					<td class="text-right" ng-if="currentUser.roles[0] != 'Distribuidor'">{{pago.interes | currency}}</td>
					<td class="text-right" ng-if="currentUser.roles[0] != 'Distribuidor'">{{pago.iva | currency}}</td>
					<td class="text-right">{{pago.seguro | currency}}</td>
					<td class="text-right">{{pago.importeRegular | currency}}</td>
					<td class="text-right">{{pago.liquidar | currency}}</td>
				</tr>
				<tr><td colspan="10" class="text-right">Total: {{ae.total | currency}}</td></tr>
			</tbody>
		</table>	
	</div>
</div>
</div>

<div id="modalAval" class="modal fade bs-modalAvales-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
	    	<div class="modal-header">
		       
		    </div>
				<div class="widget-body">
							<form name="form2" novalidate>
									<div class="well">	    
								    <div class="row">
											<div class="col-sm-3">
								    		<img style="max-width:170px;" src="{{ae.aval.foto}}" >
											</div>	
										</div>
							    	<div class="col-sm-6"> 					    
								    	<label>Nombre</label>
								    	<input name="nombreAval" type="text" class="form-control" placeholder="Nombre" ng-model="ae.aval.nombreCompleto" disabled="true">
							    	</div>
					    	
					       </div>
					    <div class="row">	
						    <div class="col-sm-4">					    
						    	<label>Calle</label>
						    	<input name="calle" type="text" class="form-control" placeholder="Calle" ng-model="ae.aval.calle" disabled="true">
					    	</div>
					    	<div class="col-sm-2">					    
						    	<label>Número</label>
						    	<input name="numero" type="text" class="form-control" placeholder="Calle" ng-model="ae.aval.numero" disabled="true">
					    	</div>
					    	<div class="col-sm-2">					    
						    	<label>Código Postal</label>
						    	<input name="codigoPostal" min="0" type="number" class="form-control" placeholder="Código Postal" ng-model="ae.aval.codigoPostal" disabled="true">
					    	</div>
						    <div class="col-sm-4"> 					    
						    	<label>Estado Civil</label>
						    	<input name="estadoCivil" type="text" class="form-control" placeholder="Estado Civil" ng-model="ae.aval.estadoCivil" disabled="true">
					    	</div>
					    </div>
					    <div class="row">		
						    <div class="col-sm-3"> 					    
						    	<label>Ocupación</label>
						    	<input name="ocupacion" type="text" class="form-control" placeholder="Ocupación" ng-model="ae.aval.ocupacion" disabled="true">
					    	</div>
					    	<div class="col-sm-3">					    
						    	<label>Empresa</label>
						    	<input name="empresa" type="text" class="form-control" placeholder="Empresa" ng-model="ae.aval.empresa" disabled="true">
					    	</div>
					    	<div class="col-sm-3">					    
						    	<label>Puesto</label>
						    	<input name="puesto" type="text" class="form-control" placeholder="Puesto" ng-model="ae.aval.puesto" disabled="true">
					    	</div>					    	
					    	<div class="col-sm-3">					    
						    	<label>Tiempo Laborando</label>
						    	<input name="tiempoLaborando" type="text" class="form-control" placeholder="Tiempo Laborando" ng-model="ae.aval.tiempoLaborando" disabled="true">
					    	</div>
									</div>
							</form>
	      </div>	
	      <div class="modal-footer">
		        <button type="button" class="btn btn-default" ng-click="ae.cancelarAval()" data-dismiss="modal">Cerrar</button>
		     </div>
     </div>
     
  </div>
</div>

<div id="modalGarantia" class="modal fade bs-modalGarantia-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
	    	<div class="modal-header">
		       
		    </div>
				<div class="modal-body">
							<div class="row" ng-if="ae.general == true">
								<div class="col-sm-12"> 
						    	<div class="row">
									    	<div class="col-sm-4"> 					    
										    	<label>Sup. de terreno y construcción</label>
										    	<input name="terreno" type="text" class="form-control" placeholder="Sup. de terreno y construcción " ng-model="ae.garantia.terrenoYconstruccion">
									    	</div>
									    	<div class="col-sm-2"> 					    
										    	<label>Ubicación </label>
										    	<input name="ubicacion" type="text" class="form-control" placeholder="Ubicación" ng-model="ae.garantia.ubicacion" >
									    	</div>
									    	<div class="col-sm-2"> 					    
										    	<label>Avalúo </label>
										    	<input name="avaluo" type="number" class="form-control" placeholder="Avalúo" ng-model="ae.garantia.avaluoGeneral" ng-change="ae.calcularPorcentajeGeneral()">
									    	</div>
												<div class="col-sm-4">					    
										    	<label>Porcentaje del préstamo sobre el avalúo</label>
										    	<input name="porcentaje" type="number" class="form-control" placeholder="Porcentaje del préstamo sobre el avalúo" ng-model="ae.garantia.porcentajePrestamoGeneral" disabled="true">
									    	</div>
											</div>	
									<div class="row">
								    	<div class="col-sm-6"> 					    
									    	<label>Medidas, colindancias, clave castral</label>
									    	<textarea name="medidas" rows="3" class="form-control" placeholder="Medidas, colindancias, clave castral"  ng-model="ae.garantia.medidasColindancias">
								    	</div>
								    	<div class="col-sm-6"> 					    
									    	<label>Comisión y gastos, por escrituración e inscripción de registro público</label>
									    	<input name="comision" type="number" class="form-control" placeholder="Comisión y gastos" ng-model="ae.garantia.comisionGastos">
								    	</div>							
									</div>
								</div>
							</div>
								
							<div class="row" ng-if="ae.mob == true">
									<div class="row">
											<div class="col-sm-3">
												<label>Almacenaje</label>
									    	<input name="almacenaje" type="text" class="form-control" placeholder="Almacenaje" ng-model="ae.garantia.almacenaje">
											</div>
											<div class="col-sm-3">
												<label>Comercialización</label>
									    	<input name="comercializacion" type="text" class="form-control" placeholder="Comercialización" ng-model="ae.garantia.comercializacion">
											</div>
											<div class="col-sm-3">
												<label>Desempeño Extemporaneo</label>
									    	<input name="desempenioExtemporaneo" type="text" class="form-control" placeholder="Desempeño Extemporaneo" ng-model="ae.garantia.desempenioExtemporaneo">
											</div>
											<div class="col-sm-3">
												<label>Reposición de Contrato</label>
									    	<input name="reposicionContrato" type="text" class="form-control" placeholder="Reposición de Contrato" ng-model="ae.garantia.reposicionContrato">
											</div>
										</div>
								  <div class="row">
								    	<div class="col-sm-6"> 					    
									    	<label>Descripción Generica</label>
									    	<input name="descripcion" type="text" class="form-control" placeholder="DESCRIPCIÓN" ng-model="ae.garantia.descripcion">
								    	</div>
								    	<div class="col-sm-6"> 					    
									    	<label>Características	</label>
									    	<input name="caracteristicas" type="text" class="form-control" placeholder="Caracteristicas" ng-model="ae.garantia.caracteristicas">
								    	</div>
								  </div>
								  <div class="row">	
									   <div class="col-sm-2"> 					    
									    	<label>Avalúo</label>
									    	<input name="avaluo" type="number" class="form-control" placeholder="AVALÚO" ng-model="ae.garantia.avaluoMobiliaria" ng-change="ae.calcularPorcentajeMobiliaria()">
								    	</div>
								    	 <div class="col-sm-4">					    
									    	<label>Porcentaje del prestamo sobre el avalúo</label>
									    	<input name="porcentajePrestamo" type="number" class="form-control" placeholder="PORCENTAJE DEL PRESTAMO SOBRE AVALÚO" ng-model="ae.garantia.porcentajePrestamoMobiliria" disabled="true">
								    	</div>
								    </div>
							</div>
	      </div>	
					<div class="modal-footer">
		        <button type="button" class="btn btn-default" ng-click="ae.cancelarGarantia(ae.credito.tipoGarantia)" data-dismiss="modal">Cerrar</button>
					</div>
     </div>
     
  </div>
</div>

<!-- Modal para Validar Beneficiado Vales -->
<div id="modalvalidaBeneficiario" class="modal fade bs-cargos-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
	    	<div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		        <h4 class="modal-title" id="myModalLabel">Validar Beneficiado</h4>
		    </div>
				<div class="modal-body">
							<form name="form2" novalidate>
									<div class="well">	    
										<div class="row">
								    	<div class="col-sm-8"> 					    
									    	<label>Nombre	</label>
									    	<input name="buscar" type="text" class="form-control" placeholder="Buscar..." ng-model="ae.buscarBeneficiado" capitalize>
								    	</div>
										</div>	
										<div class="row">
												
												
												
										</div>	
									</div>
							</form>
	      </div>	
	      <div class="modal-footer">
		        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
		     </div>
     </div>
     
  </div>
</div>

<div id="modalActivarFecha" class="modal fade bd-example-modal-sm">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
	    	<div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		        <h4 class="modal-title" id="myModalLabel">Datos Usuario</h4>
		    </div>
				<div class="modal-body">
							<form name="form2" novalidate>
									<div class="well">	    
								    <div class="row" style="text-align: center">
								    		<div class=".col-xs-6 .col-md-4" style="text-align: center" valida>			
							            <label>Nombre de Usuario</label>
							            <input type="text" class="form-control" name="username" ng-model="ae.credentials.username">
												</div>
								    </div>
								    <div class="row" style="text-align: center">		
							          <div class=".col-xs-6 .col-md-4" valida>
							            <label >Clave de desbloqueo</label>
						              <input type="password" class="form-control" name="password" ng-model="ae.credentials.password">
							          </div>
								    </div>
									</div>
							</form>
	      </div>	
	      <div class="modal-footer">
		      	<a	class="btn btn-success" ng-click="ae.validaCredenciales(ae.credentials)">Aceptar</a>
		        <button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button>
		     </div>
     </div>
     
  </div>
</div>

<div id="modalCopiarRespaldos" class="modal fade bs-modalCopiarRespaldos-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
	    	<div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		        <h4 class="modal-title" id="myModalLabel">Copiar Garantias</h4>
		    </div>
				<div class="modal-body">
							<form name="form2" novalidate>
									<div class="well">	    
								    <div class="row">
												<table class="table" ng-if="ae.credito.tipoGarantia == 'mobiliaria'">
														<thead>
															<tr>
																<th>Descripción</th>
																<th>Caracteristicas</th>
																<th>Avalúo</th>
																<th></th>
															</tr>	
														</thead>	
														<tbody>
															<tr ng-repeat="objeto in ae.respaldos">
																<td>{{objeto.descripcion}}</td>
																<td>{{objeto.caracteristicas}}</td>
																<td>{{objeto.avaluoMobiliaria}}</td>	
																<td><a href="#" class="btn btn-default" ng-click="ae.copiarGarantia(ae.credito.tipoGarantia, objeto)"><i class="fa fa-plus"></i></a></td>
															</tr>	
														</tbody>
												</table>	
												
												<table class="table" ng-if="ae.credito.tipoGarantia == 'general'">
														<thead>
															<tr>
																<th>Sup. de terreno y construcción </th>
																<th>Ubicación</th>
																<th>Medidas, colindancias, clave catastral</th>
																<th>Avalúo</th>
																<th></th>
															</tr>	
														</thead>	
														<tbody>
															<tr ng-repeat="objeto in ae.respaldos">
																<td>{{objeto.terrenoYconstruccion}}</td>
																<td>{{objeto.ubicacion}}</td>
																<td>{{objeto.medidasColindancias}}</td>
																<td>{{objeto.avaluoGeneral}}</td>	
																<td><a href="#" class="btn btn-default" ng-click="ae.copiarGarantia(ae.credito.tipoGarantia, objeto)"><i class="fa fa-plus"></i></a></td>
															</tr>	
														</tbody>
												</table>
								    </div>
									</div>
							</form>
	      </div>	
	      <div class="modal-footer">
		        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
		     </div>
     </div>
     
  </div>
</div>

<div id="modalBeneficiario" class="modal fade bs-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
	    	<div class="modal-header">
		       <h3> Beneficiario </h3>
		    </div>
				<div class="widget-body">
							<form name="form2" novalidate>
									<div class="well">
										<div class="row">										
								    	<div class="col-sm-4" valida> 					    
									    	<label>Nombre (s) *</label>
									    	<input name="nombreBeneficiario" type="text" class="form-control" placeholder="Nombre" ng-model="ae.beneficiario.nombre" required="" capitalize>
								    	</div>
								    	<div class="col-sm-4" valida> 					    
									    	<label>Apellido Paterno *</label>
									    	<input name="apellidoPaternoBeneficiario" type="text" class="form-control" placeholder="Apellido Paterno" ng-model="ae.beneficiario.apellidoPaterno" required="" capitalize>
								    	</div>
								    	<div class="col-sm-4"> 					    
									    	<label>Apellido Materno</label>
									    	<input name="apellidoMaternoBeneficiario" type="text" class="form-control" placeholder="Apellido Materno" ng-model="ae.beneficiario.apellidoMaterno" capitalize>
								    	</div>
										</div>
										<div class="row">										
											<div class="col-sm-3" valida>					    
												<label>Fecha Nacimiento *</label>
												<input name="fechaNacimientoBeneficiario" type="date" format="dd/MM/yyyy" class="form-control" placeholder="Fecha" ng-model="ae.beneficiario.fechaNacimiento" required="">
											</div>
											
								    	<div class="col-sm-6" valida>
									    	<label>Domicilio *</label>
									    	<input name="domicilioBeneficiario" type="text" class="form-control" placeholder="Domicilio" ng-model="ae.beneficiario.domicilio" required="" capitalize>
								    	</div>
								    	<div class="col-sm-3" valida>
									    	<label>Numero *</label>
									    	<input name="numeroBeneficiario" type="text" class="form-control" placeholder="Número" ng-model="ae.beneficiario.numero" required="" capitalize>
								    	</div>
										</div>
										
										<div class="row">	
											<div class="col-sm-4" valida>
									    	<label>Colonia *</label>
									    	<input name="coloniaBeneficiario" type="text" class="form-control" placeholder="Colonia" ng-model="ae.beneficiario.colonia" required="" capitalize>
								    	</div>							    	
								    	<div class="col-sm-3" valida>
												<label >Estado Civil *</label>
												<select name="estadoCivilBeneficiario" ng-model="ae.beneficiario.estadoCivil" data-placeholder="Seleccione" class="form-control" required >
														<option value="DIVORCIADO(A)">DIVORCIADO(A)</option>
														<option value="SOLTERO(A)">SOLTERO(A)</option>
														<option value="VIUDO(A)">VIUDO(A)</option>
														<option value="CASADO(A)">CASADO(A)</option>
														<option value="UNIÓN LIBRE">UNIÓN LIBRE</option>
												</select>
											</div>
											
											<div class="col-sm-2" valida>
									    	<label>Código Postal *</label>
									    	<input name="codigoPostalBeneficiario" type="text" class="form-control" placeholder="Código Postal" ng-model="ae.beneficiario.codigoPostal" required="" capitalize>
								    	</div>
								    	
								    	<div class="col-sm-3" valida>
												<label >Residencia *</label>
												<select name="residenciaBeneficiario" ng-model="ae.beneficiario.residencia" data-placeholder="Seleccione" class="form-control" required >
														<option value="PROPIA">PROPIA</option>
														<option value="OTRAS">OTRAS</option>
														<option value="RENTADA">RENTADA</option>
												</select>
											</div>
										</div>
										<div class="row">	
											<div class="col-sm-3" valida>
									    	<label>Ciudad *</label>
									    	<input name="ciudadBeneficiario" type="text" class="form-control" placeholder="Ciudad" ng-model="ae.beneficiario.ciudad" required="" capitalize>
								    	</div>
								    	
								    	<div class="col-sm-3" valida>
									    	<label>Estado *</label>
									    	<input name="estadoBeneficiario" type="text" class="form-control" placeholder="Estado" ng-model="ae.beneficiario.estado" required="" capitalize>
								    	</div>
								    	
								    	<div class="col-sm-2" valida>
									    	<label>Tel. Particular *</label>
									    	<input name="telefonoBeneficiario" type="text" class="form-control" placeholder="Particular" ng-model="ae.beneficiario.telefonoParticular" required="" capitalize>
								    	</div>
								    	
								    	<div class="col-sm-2" valida>
									    	<label>Celular *</label>
									    	<input name="celularBeneficiario" type="text" class="form-control" placeholder="Celular" ng-model="ae.beneficiario.celular" required="" capitalize>
								    	</div>
								    	
								    	<div class="col-sm-2" valida>
									    	<label>Dep Económicos *</label>
									    	<input name="dependientesBeneficiario" type="text" class="form-control" placeholder="Dependientes" ng-model="ae.beneficiario.dependientesEconomicos" required="" capitalize>
								    	</div>
										</div>
										
										<div class="row" ng-if = "ae.beneficiario.estadoCivil == 'CASADO(A)' || ae.beneficiario.estadoCivil == 'UNIÓN LIBRE'">										
											<div class="col-sm-9" valida>					    
												<label>Nombre Cónyuge</label>
												<input name="nombreConyugeBeneficiario" type="text" class="form-control" placeholder="Cónyuge" ng-model="ae.beneficiario.nombreConyuge" required="" capitalize>
											</div>
											
								    	<div class="col-sm-3" valida>					    
												<label>Fecha Nacimiento *</label>
												<input name="fechaNacimientoConyugeBeneficiario" type="date" format="dd/MM/yyyy" class="form-control" placeholder="Fecha" ng-model="ae.beneficiario.fechaNacimientoConyuge" required="">
											</div>
								    
										</div>
										
					       </div>
					       <h3>Datos Laborales</h3>
					       <div class="well">
										<div class="row">	
											<div class="col-sm-6" valida>					    
												<label>Empresa donde Trabaja *</label>
												<input name="empresaTrabajaBeneficiario" type="text" class="form-control" placeholder="Empresa Trabaja" ng-model="ae.beneficiario.empresaTrabaja" required="" capitalize>
											</div>
											<div class="col-sm-3" valida>					    
												<label>Puesto *</label>
												<input name="puestoBeneficiario" type="text" class="form-control" placeholder="Puesto" ng-model="ae.beneficiario.puesto" required="" capitalize>
											</div>
											<div class="col-sm-3">					    
												<label>Fecha Ingreso</label>
												<input name="fechaIngresoConyugeBeneficiario" type="date" format="dd/MM/yyyy" class="form-control" placeholder="Fecha" ng-model="ae.beneficiario.fechaIngresoConyuge" required="">
											</div>
										</div>
										<div class="row">
											<div class="col-sm-3" valida>					    
												<label>Sueldo Mensual *</label>
												<input name="sueldoBeneficiario" type="number" class="form-control" ng-model="ae.beneficiario.sueldoMensual" required="">
											</div>
											<div class="col-sm-6" valida>
									    	<label>Domicilio *</label>
									    	<input name="domicilioTrabajoBeneficiario" type="text" class="form-control" placeholder="Domicilio" ng-model="ae.beneficiario.domicilioTrabajo" required="" capitalize>
								    	</div>
											<div class="col-sm-3">					    
												<label>Número</label>
												<input name="numeroTrabajoBeneficiario" type="text" class="form-control" placeholder="Número" ng-model="ae.beneficiario.numeroTrabajo" required="" capitalize>
											</div>
										</div>
										<div class="row">
											<div class="col-sm-4" valida>
									    	<label>Colonia *</label>
									    	<input name="coloniaTrabajoBeneficiario" type="text" class="form-control" placeholder="Colonia" ng-model="ae.beneficiario.coloniaTrabajo" required="" capitalize>
								    	</div>
								    	<div class="col-sm-2" valida>
									    	<label>Código Postal *</label>
									    	<input name="codigoPostalTrabajoBeneficiario" type="text" class="form-control" placeholder="Código Postal" ng-model="ae.beneficiario.codigoPostalTrabajo" required="" capitalize>
								    	</div>
								    	
								    	<div class="col-sm-3" valida>
									    	<label>Ciudad *</label>
									    	<input name="ciudaTrabajodBeneficiario" type="text" class="form-control" placeholder="Ciudad" ng-model="ae.beneficiario.ciudadTrabajo" required="" capitalize>
								    	</div>
								    	
								    	<div class="col-sm-3" valida>
									    	<label>Estado *</label>
									    	<input name="estadoTrabajoBeneficiario" type="text" class="form-control" placeholder="Estado" ng-model="ae.beneficiario.estadoTrabajo" required="" capitalize>
								    	</div>
										</div>
										<div class="row">
											<div class="col-sm-3" valida>
									    	<label>Telefono *</label>
									    	<input name="telefonoTrabajoBeneficiario" type="text" class="form-control" placeholder="Estado" ng-model="ae.beneficiario.telefonoTrabajo" required="" capitalize>
								    	</div>	
										</div>
										
					       </div>			
					       
					       <h3>Referencias</h3>
					       <div class="well">
						        <h4>Referencia 1</h4>
										<div class="row">	
											<div class="col-sm-4" valida>					    
												<label>Nombre *</label>
												<input name="nombreReferencia1" type="text" class="form-control" placeholder="Empresa Trabaja" ng-model="ae.beneficiario.nombreReferencia1" required="" capitalize>
											</div>
											<div class="col-sm-4" valida>					    
												<label>Apellido Paterno *</label>
												<input name="apellidoPaternoReferencia1" type="text" class="form-control" placeholder="Empresa Trabaja" ng-model="ae.beneficiario.apellidoPaternoReferencia1" required="" capitalize>
											</div>
											<div class="col-sm-4" valida>					    
												<label>Apellido Materno</label>
												<input name="apellidoMaternoReferencia1" type="text" class="form-control" placeholder="Empresa Trabaja" ng-model="ae.beneficiario.apellidoMaternoReferencia1" capitalize>
											</div>
										</div>
										<div class="row">
											<div class="col-sm-4" valida>					    
												<label>Relación *</label>
												<input name="relacionReferencia1" type="text" class="form-control" ng-model="ae.beneficiario.relacionReferencia1" required="" capitalize>
											</div>
											<div class="col-sm-4" valida>
									    	<label>Tiempo Conocerlo *</label>
									    	<input name="tiempoConocerloReferencia1" type="text" class="form-control" placeholder="Domicilio" ng-model="ae.beneficiario.tiempoConocerloReferencia1" required="" capitalize>
								    	</div>
											<div class="col-sm-4">					    
												<label>Teléfono *</label>
												<input name="telefonoReferencia1" type="text" class="form-control" placeholder="Número" ng-model="ae.beneficiario.telefonoReferencia1" required="" capitalize>
											</div>
										</div>
										<div class="row">
											<div class="col-sm-12" valida>
									    	<label>Dirección *</label>
									    	<input name="direccionReferencia1" type="text" class="form-control" placeholder="Estado" ng-model="ae.beneficiario.direccionReferencia1" required="" capitalize>
								    	</div>	
										</div>
										<h4>Referencia 2</h4>
										<div class="row">	
											<div class="col-sm-4" valida>					    
												<label>Nombre *</label>
												<input name="nombreReferencia2" type="text" class="form-control" placeholder="Empresa Trabaja" ng-model="ae.beneficiario.nombreReferencia2" required="" capitalize>
											</div>
											<div class="col-sm-4" valida>					    
												<label>Apellido Paterno *</label>
												<input name="apellidoPaternoReferencia2" type="text" class="form-control" placeholder="Empresa Trabaja" ng-model="ae.beneficiario.apellidoPaternoReferencia2" required="" capitalize>
											</div>
											<div class="col-sm-4" valida>					    
												<label>Apellido Materno</label>
												<input name="apellidoMaternoReferencia2" type="text" class="form-control" placeholder="Empresa Trabaja" ng-model="ae.beneficiario.apellidoMaternoReferencia2" capitalize>
											</div>
										</div>
										<div class="row">
											<div class="col-sm-4" valida>					    
												<label>Relación *</label>
												<input name="relacionReferencia2" type="text" class="form-control" ng-model="ae.beneficiario.relacionReferencia2" required="" capitalize>
											</div>
											<div class="col-sm-4" valida>
									    	<label>Tiempo Conocerlo *</label>
									    	<input name="tiempoConocerloReferencia2" type="text" class="form-control" placeholder="Domicilio" ng-model="ae.beneficiario.tiempoConocerloReferencia2" required="" capitalize>
								    	</div>
											<div class="col-sm-4">					    
												<label>Teléfono *</label>
												<input name="telefonoReferencia2" type="text" class="form-control" placeholder="Número" ng-model="ae.beneficiario.telefonoReferencia2" required="" capitalize>
											</div>
										</div>
										<div class="row">
											<div class="col-sm-12" valida>
									    	<label>Dirección *</label>
									    	<input name="direccionReferencia2" type="text" class="form-control" placeholder="Estado" ng-model="ae.beneficiario.direccionReferencia2" required="" capitalize>
								    	</div>	
										</div>
					       </div>
					       
							</form>
	      </div>	
	      <div class="modal-footer">
		      	<a	class="btn btn-success" ng-click="ae.guardarBeneficiario(ae.beneficiario, form2)" valida-form formulario="form2" ng-show="!ae.editarBeneficiario">Guardar</a>
		      	<a	class="btn btn-success" ng-click="ae.actualizarBeneficiario(ae.beneficiario, form2)" valida-form formulario="form2" ng-show="ae.editarBeneficiario">Actualizar</a>
		        <button type="button" class="btn btn-default" ng-click="ae.cancelarAval()" data-dismiss="modal">Cerrar</button>
		     </div>
     </div>
  </div>
</div>