<div class="row">
    <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
        <h1 class="alge-title txt-color-blueDark">
			<i class="fa fa-list fa-fw "></i>
			Clientes &gt; Buscar
		</h1>
    </div>
</div>
<br>
<div class="row">
    <div class="col-lg-12">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th style='width: 5%' class="text-center">No.</th>
                    <th style='width: 10%' class="text-center">Cliente</th>
                    <th style='width: 10%' class="text-center">Capital Solicitado</th>
                    <th style='width: 10%' class="text-center">Fecha Solicitud</th>
                    <th style='width: 10%' class="text-center">Verificación</th>
                    <th style='width: 15%' class="text-center">Verificación Estatus</th>
                    <th style='width: 15%' class="text-center">Valoración</th>
                    <th style='width: 10%' class="text-center">Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="credito in cpa.creditosPorAutorizar">
                    <td class="text-center">{{$index + 1}}</td>
                    <td><a href="javascript:void(0);" ui-sref="root.clienteDetalle({objeto_id : credito.cliente_id})">{{credito.cliente.profile.nombreCompleto}}</a></td>
                    <td class="text-center">{{credito.capitalSolicitado | currency}}</td>
                    <td class="text-center">{{credito.fechaSolicito | date:"dd-MM-yyyy"}}</td>
                    <td class="text-center"><ul ng-if="credito.requiereVerificacion">
	                    												<li ng-repeat="v in credito.verificaciones">
			                    											<a ng-if = "v.tipoVerificacion == 'vecino'" 
			                    												 href="javascript:void(0);" 
				                    											 ui-sref="root.verificacionVecino({id : credito._id, verificacion_id: v._id})">{{v.tipoVerificacion}}
					                    									</a>
					                    									<a ng-if = "v.tipoVerificacion == 'solicitante o aval'" 
			                    												 href="javascript:void(0);" 
				                    											 ui-sref="root.verificacion({id : credito._id, verificacion_id: v._id})">{{v.tipoVerificacion}}
					                    									</a>
	                    												</li>
                    												</ul>		
			              </td>
                    <td class="text-center">{{credito.verificacionEstatus}}</td>
                    <td class="text-center">{{credito.indicacion}}</td>
                    <td class="text-center">
                        <button ng-click="cpa.autorizar(credito._id)" class="btn btn-primary">Autorizar</button>
                        <button ng-click="cpa.mostrarRechazoCredito(credito._id)" class="btn btn-warning">Rechazar</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<!-- /////////////////////////MODAL NOTA CLIENTE ////////////////////////// -->
<div class="container">
    <!-- Modal -->
    <div class="modal fade" id="modalRechazo" data-backdrop="static" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Autorización de créditos</h4>
                </div>
                <div class="modal-footer">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="col-sm-12">
                                <label class="pull-left">Motivo del rechazo:</label>
                                <textarea type="text" class="form-control" ng-model="cpa.motivo">
                            </div>
                            <div class="col-sm-12 ">
                                <br/>
                                <a class="btn btn-success" ng-click="cpa.rechazar(cpa.motivo)">Guardar</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
