<div class="row">
    <div class="col-xs-12 col-sm-7 col-md-7 col-lg-8">
        <h1 class="alge-title txt-color-blueDark">
					<i class="fa fa-list fa-fw "></i>
					Solicitides de Vales
				</h1>
    </div>
</div>
<div class="well">
	<div class="row">
	    <div class="col-lg-12">
	        <table class="table table-condensed table-bordered">
	            <thead>
	                <tr>
	                    <th style='width: 5%' class="text-center">No.</th>
	                    <th style='width: 20%' class="text-center">Distribuidor</th>
	                    <th style='width: 20%' class="text-center">Beneficiario</th>
	                    <th style='width: 10%' class="text-center">Fecha Solicitud</th>
<!-- 	                    <th style='width: 5%' class="text-center">Acciones</th> -->
	                </tr>
	            </thead>
	            <tbody>
	                <tr ng-repeat="objeto in psolv.arreglo">
	                    <td class="text-center">{{$index + 1}}</td>
	                    <td class="text-left">
		                    <a href="#" ui-sref="root.distribuidoresDetalle({objeto_id : objeto.distribuidor._id})" >
		                    	{{objeto.distribuidor.profile.numeroCliente}} - {{objeto.distribuidor.profile.nombreCompleto}}
		                    </a>
		                  </td>
	                    <td class="text-left">{{objeto.beneficiario}}</td>
	                    <td class="text-center">{{objeto.fechaSolicito | date:"dd-MM-yyyy"}}</td>	                    
<!--
	                    <td class="text-center">
		                    <div class="text-center">
											    <div class="btn-group">
													  <button type="button" class="btn btn-primary btn-xs dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
													    <span class="caret"></span>
													    <span class="sr-only">Toggle Dropdown</span>
													  </button>
													  <ul class="dropdown-menu dropdown-menu-right text-left">
													    <li><a href="#" ng-click="psolv.autorizar(objeto)"><i class="fa fa-check"></i> Autorizar</a></li>
													    <li><a href="#" ng-click="psolv.mostrarRechazoCredito(objeto._id)"><i class="fa fa-times"></i> Rechazar</a></li>
													  </ul>
													</div>
										    </div>
	                    </td>
-->
	                </tr>
	            </tbody>
	        </table>
	    </div>
	</div>
</div>


<!-- Modal Rechazo -->
<div class="modal fade" id="modalRechazo" data-backdrop="static" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
          <form name="formCancelar" novalidate>
            <div class="modal-header">
                <h4 class="modal-title">Autorización de Prospectos</h4>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-sm-12">
                        <label class="pull-left">Motivo del rechazo:</label>
                        <textarea name="cancelar" type="text" rows="3" class="form-control" ng-model="psolv.motivo" required="" capitalize>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
              	<input type="submit" ng-click="psolv.rechazar(psolv.motivo, formCancelar)" value="Aceptar" class="btn btn-success" valida-form formulario="formCancelar">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            </div>
          </form>	  
        </div>
    </div>
</div>




<div id="modalvalidaBeneficiario" class="modal fade bs-cargos-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
	    	<div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		        <h4 class="modal-title" id="myModalLabel">Validar Beneficiario</h4>
		    </div>
				<div class="modal-body">
							<form name="form2" novalidate>
									<div class="well">	    
										<div class="row">
								    	<div class="col-sm-8"> 					    
									    	<label>Nombre	</label>
									    	<input name="buscar" type="text" class="form-control" placeholder="Buscar..." ng-model="psolv.buscar.nombreBeneficiado" capitalize>
								    	</div>
								    	<div class="col-sm-3">
										    <a href="javascript:void(0);" ng-click="psolv.validarBeneficiado()" class="btn btn-default btn-circle"><i class="glyphicon glyphicon-ok"></i></a>
									    </div> 
										</div>	
										<div class="row">
												<div class="col-sm-12">
													<table class="table table-bordered">
															<thead>
																<tr>
																	<th width="20%">Nombre</th>
																	<th width="10%">Tipo</th>
																	<th width="10%">Deuda</th>
																</tr>
															</thead>
															<tbody>
																<tr ng-repeat="persona in psolv.BeneficiadosDeudas">
																	<td>{{persona.nombre}}</td>
																	<td>{{persona.tipo}}</td>
																	<td style="text-align: right">{{persona.deuda | currency}}</td>
																</tr>
															</tbody>
														</table>
												</div>		
								
										</div>	
									</div>
							</form>
	      </div>	
	      <div class="modal-footer">
<!--
		      	<button type="button" ng-click = "psolv.autorizarVale()" class="btn btn-success" data-dismiss="modal">Autorizar</button>
		      	<button type="button" ng-click = "psolv.rechazarVale()" class="btn btn-danger" data-dismiss="modal">Rechazar</button>
-->
		        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
		     </div>
     </div>
     
  </div>
</div>


