
<div class="row">
	<div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
		<h1 class="alge-title txt-color-blueDark">
			<i class="fa fa-list fa-fw "></i>
				Reporte de Cartera Vencida
		</h1>
	</div>
</div>

<div class="well">
	<div class="row">
		<div class="col-sm-3" style="padding: 0px 85px 0px 0px">
			<input type="button" class="btn btn-primary" ng-click="re.carteraVencida()" value="Buscar" />
			<input type="button" class="btn btn-primary" ng-click="re.imprimirReporteCarteraVencida(re.carteraVencida)" value="Imprimir" />
		</div>	
	</div>	
</div>

<div class="well">
	<div class="row">
		<div class="col-sm-12" >
				<table class="table table-bordered">
					<thead>
						<tr>
						  <th width="6%"><div class="text-center">No.</div></th>
							<th width="15%" style="text-align: center">Nombre</th>
							<th style="text-align: center">Total</th>
							<th style="text-align: center">Saldo</th>
							<th style="text-align: center">Saldo C.M.</th>
							<th style="text-align: center">Por vencer</th>
							<th style="text-align: center">Total vencido</th>
							<th style="text-align: center">7 dias</th>
							<th style="text-align: center">7 - 14 dias</th>
							<th style="text-align: center">14 - 21 dias</th>
							<th style="text-align: center">21 - 28 dias</th>
							<th style="text-align: center">+28 dias</th>
						</tr>
					</thead>
					<tbody>
				    <tr ng-repeat="objeto in re.arregloCarteraVencida">
				    	<td style="font-size: x-small">{{objeto.numeroCliente}}</td>
				    	<td style="font-size: x-small">{{objeto.nombre}}</td>
					    <td style="text-align: right">{{objeto.total | currency}}</td>
					    <td style="text-align: right">{{objeto.saldo | currency}}</td>
					    <td style="text-align: right">{{objeto.saldoCargosMoratorios | currency}}</td>
					    <td style="text-align: right">{{objeto.porVencer | currency}}</td>
					    <td style="text-align: right">{{objeto.totalVencido | currency}}</td> 
					    <td style="text-align: right">{{objeto.sieteDias | currency}}</td>
					    <td style="text-align: right">{{objeto.siete14Dias | currency}}</td>
					    <td style="text-align: right">{{objeto.catorce21Dias | currency}}</td>
					    <td style="text-align: right">{{objeto.ventiuno28Dias | currency}}</td>
					    <td style="text-align: right">{{objeto.mas28Dias | currency}}</td>
				    </tr>
					</tbody>
					<tfoot>
						<tr>
						  <th colspan="2">No. Clientes: {{re.arregloCarteraVencida.length}}</th>
							<th style="text-align: right">{{re.totales.sumaTotal | currency}}</th>
							<th style="text-align: right">{{re.totales.sumaSaldo | currency}}</th>
							<th style="text-align: right">{{re.totales.sumaCargosMoratorios | currency}}</th>
							<th style="text-align: right">{{re.totales.sumaPorVencer | currency}}</th>
							<th style="text-align: right">{{re.totales.sumaTotalVencido | currency}}</th>
							<th style="text-align: right">{{re.totales.suma7Dias | currency}}</th>
							<th style="text-align: right">{{re.totales.suma14Dias | currency}}</th>
							<th style="text-align: right">{{re.totales.suma21Dias | currency}}</th>
							<th style="text-align: right">{{re.totales.suma28Dias | currency}}</th>
							<th style="text-align: right">{{re.totales.sumaMas28Dias | currency}}</th>
						</tr>	
					</tfoot>	
				</table>
			</div>
	</div>		
</div>		