<div class="row">
<div class="col-sm-12">					
						
						<form class="navbar-form navbar-left" role="search">
							



						<div class="input-group input-group-md">
			      			
			      			<div class="icon-addon addon-md">
			         		<input id="filter" class="form-control"  width="100px" size="50" ng-model="buscar.titulo" type="text" 	placeholder="" />
			          		<label for="email"  class="fa fa-search" rel="tooltip" title="" data-original-title="email"></label>
			     		</div>
			 <!--      <span class="input-group-btn">
			          <button class="btn btn-default" ng-click="re.buscarNombre()" type="button">Buscar</button>
			      </span> -->
			  </div>

						
						<!-- 	<button  class="btn btn-default">
								Submit
							</button> -->
						</form>
					</div><!-- /.navbar-collapse -->
				
			

	<div class="col-sm-12">
		<table class="table table-bordered">
			<thead>
				<tr>
				    <th width="5%"><div class="text-center">No.</div></th>
					<th><div class="text-center">Operación</div></th>
					<th><div class="text-center">Fecha</div></th>
					<!-- <th><div class="text-center">Pagare</div></th> -->
					<th><div class="text-center">Recibo</div></th>
					<th><div class="text-center">Cliente</div></th>
					<th><div class="text-center">Nombre</div></th>
					<th><div class="text-center">Intereses</div></th>
					<th><div class="text-center">Abono a capital</div></th>
					<th><div class="text-center">Iva</div></th>
					<th><div class="text-center">T</div></th>
					<th><div class="text-center">Importe</div></th>
					<th><div class="text-center">Condonado</di	v></th>
				
				</tr>
			</thead>
			<tbody>
		    <tr ng-repeat="objeto in re.historialCrediticio | filter:buscar">
		    	<td>{{$index + 1}}</td>
		    	<td>{{objeto.folio}}</td>
			    <td>{{objeto.fecha  | date:"dd-MM-yyyy"}}</td>
			    <td>{{objeto.numeroPago}}</td>
			    <td>{{re.objeto.num}}</td>
			    <td>{{re.objeto.nombreCompleto}}</td>
			<!--     <td>{{objeto.tipo}}</td> -->
			
		    </tr>
			</tbody>
		</table>
	</div>
</div>