<div class="row">
	<div class="col-xs-14 col-sm-7 col-md-7 col-lg-6">
		<h1 class="alge-title txt-color-blueDark">
			<i class="fa fa-list fa-fw "></i>
				Reportes Diario de Créditos Entregados
		</h1>
	</div>
	<div class="">
			<ul id="sparks" class="">
				<li class="sparks-info">
					<h5>Total Solicitado <span class="txt-color-red" style="text-align: right">{{re.totalSolicitado | currency}}</span></h5>
				</li>	
			  </li>
			  <li class="sparks-info">
					<h5>Total a Pagar <span class="txt-color-green" style="text-align: right">{{re.totalPagar | currency}}</span></h5>
				</li>
			  <li class="sparks-info">
			    	<h5>Total Créditos <span class="txt-color-red" style="text-align: center;">{{re.numeroCreditos }}</span></h5>
			  </li>
			</ul>
	</div>
</div>
<div class="well">
	<div class="row">
		<div class="col-sm-3">
			<div class="form-group">
				<label for="fecha">Fecha Inicial:</label>
				<input name="fecha" date-time format="dd-MM-yyyy" class="form-control" view="date" max-view="year" min-view="date" ng-model="re.fechaInicial"/>
			</div>
		</div>
		<div class="col-sm-3 pull-left">
			<div class="form-group">
				<label for="fecha">Fecha Final:</label>
				<input name="fecha" date-time format="dd-MM-yyyy" class="form-control" view="date" max-view="year" min-view="date" ng-model="re.fechaFinal"/>
			</div>
		</div>
		<div class="col-sm-3">
			<br>
			<input type="button" class="btn btn-primary" ng-click="re.creditosEntregadosFecha()" value="Buscar" />
			<input type="button" class="btn btn-primary" ng-click="re.imprimirReporteCreditos(re.creditosEntregados)" value="Imprimir" />
		</div>	
	</div>	
</div>
<div class="row">
	<div class="col-sm-12" >
			<table class="table table-bordered">
				<thead>
					<tr>
					  <th width="5%"><div class="text-center">No.</div></th>
						<th width="15%"> <div class="text-center">Fecha</div></th>
						<th width="10%"><div class="text-center">Pagaré</div></th>
						<th width="10%"><div class="text-center">Recibos</div></th>
						<th><div class="text-center">Cliente</div></th>
						<th><div class="text-center">Nombre</div></th>
						<th><div class="text-center">Garantia</div></th>
						<th><div class="text-center">Solicitado</div></th>
						<th><div class="text-center">A pagar</div></th>
					</tr>
				</thead>
				<tbody style="font-size: small">
			    <tr ng-repeat="objeto in re.creditosEntregados">
			    	<td><div class="text-center">{{$index + 1}}</div></td>
				    <td><div class="text-center">{{objeto.fechaEntrega  | date:"dd-MM-yyyy"}}</div></td>
				    <td><div class="text-center">{{objeto.folio}}</div></td>
				    <td><div class="text-center">{{objeto.numeroPagos}}</div></td>
				    <td><div class="text-center">{{objeto.numeroCliente}}</div></td>
				    <td><div class="text-center">{{objeto.nombreCompleto}}</div></td>
				    <td><div class="text-center">{{objeto.estatusGarantia}}</div></td>
				    <td><div class="pull-right">{{objeto.capitalSolicitado | currency}}</div></td>
				    <td><div class="pull-right">{{objeto.adeudoInicial | currency }}</div></td> 				
			    </tr>
				</tbody>
			</table>
		</div>
	</div>