
<div class="row">
	<div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
		<h1 class="alge-title txt-color-blueDark">
			<i class="fa fa-list fa-fw "></i>
				Reportes
		</h1>
	</div>

</div>
	  <div class="">
				<ul id="sparks" class="">
					<li class="sparks-info">
						<h5>Total Capital <span class="txt-color-green" style="text-align: right">{{re.sumaCapital | currency}}</span></h5>
					<li class="sparks-info">
						<h5>Total Intereses <span class="txt-color-red" style="text-align: right">{{re.sumaInteres | currency}}</span></h5>
					<li class="sparks-info">
						<h5>total IVA <span class="txt-color-green" style="text-align: right">{{re.sumaIva | currency}}</span></h5>
					<li class="sparks-info">
						<h5>Total Cobranza <span class="txt-color-red" style="text-align: right">{{re.totalCobranza | currency}}</span></h5>
				</ul>
		</div>
<br>
<div class="well">
	<div class="row">
		<div class="col-sm-3">
			<form class="form-inline">
				<div class="form-group">
					<label for="fecha">Fecha Inicial:</label>
					<input name="fecha" date-time format="dd-MM-yyyy" class="form-control" view="date" max-view="year" min-view="date" ng-model="re.fechaInicial"/>
				</div>
			</form>
		</div>
		<div class="col-sm-3 pull-left">
			<form class="form-inline">
				<div class="form-group">
					<label for="fecha">Fecha Final:</label>
					<input name="fecha" date-time format="dd-MM-yyyy" class="form-control" view="date" max-view="year" min-view="date" ng-model="re.fechaFinal"/>
				</div>
			</form>
		</div>
	</div>	
	<br />
</div>


<div class="col-sm-12" >
	<H5>Movimiento Cuenta</H5>
	<div>
		<a href="" class="btn btn-primary pull-right" ng-click="re.imprimirReporteMovimiento(re.planPagos)" >Imprimir Tabla</a>
		</div>
		<table class="table table-bordered">
			<thead>
				<tr>
				    <th width="5%"><div class="text-center">No.</div></th>
					<th width="5%"><div class="text-center">Pagare</div></th>
					<th><div class="text-center">Fecha</div></th>
					<th><div class="text-center">Recibo</div></th>
				<!-- 	<th><div class="text-center">Cliente</div></th> -->
					<th><div class="text-center">Nombre</div></th>
					<th><div class="text-center">Forma de pago</div></th>
					<th><div class="text-center">Garantia</div></th>
					<th><div class="text-center">Saldo Multas</div></th>
				
				</tr>
			</thead>
			<tbody>
		    <tr ng-repeat="objeto in re.planPagos | filter:buscar">
		    	<td><div class="text-center">{{$index + 1}}</div></td>
		    	<td><div class="text-center">{{objeto.credito.folio}}</div></td>
			    <td><div class="text-center">{{objeto.ultimaModificacion  | date:"dd-MM-yyyy"}}</div></td>
			    <td><div class="text-center">{{objeto.numeroPago || objeto.numeroPagoMulta}} - {{objeto.credito.numeroPagos}}</div></td>
			    <td><div class="text-center">{{objeto.nombreCompleto}}</div></td>
			     <td><div class="pull-right">{{objeto.tipoIngreso.nombre}}</div></td><td><div class="text-center">{{objeto.movimiento}}</div></td>
			    <td><div class="text-center">{{objeto.garantias}}</div></td>
			    <td><div class="pull-right">{{objeto.credito.saldoMultas | currency}}</div></td> 
			
		    </tr>
			</tbody>
		</table>
	</div>