<div class="row">
	<div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
		<h1 class="alge-title txt-color-blueDark">
			<i class="fa fa-list fa-fw "></i>
				Reportes de Bancos
		</h1>
	</div>
	<div class="col-xs-12 col-sm-5 col-md-5 col-lg-8">
		<ul id="sparks" class="">
			<li class="sparks-info">
				<h5>Total Capital <span class="txt-color-green" style="text-align: right">{{re.sumaCapital | currency}}</span></h5>
			</li>	
			<li class="sparks-info">
				<h5>Total Intereses <span class="txt-color-red" style="text-align: right">{{re.sumaInteres | currency}}</span></h5>
			</li>
			<li class="sparks-info">
				<h5>total IVA <span class="txt-color-blue" style="text-align: right">{{re.sumaIva | currency}}</span></h5>
			</li>
			<li class="sparks-info">
				<h5>total Seguro <span class="txt-color-yellow" style="text-align: right">{{re.sumaSeguro | currency}}</span></h5>	
			</li>
			<li class="sparks-info">
				<h5>Total Cobranza <span class="txt-color-gray" style="text-align: right">{{re.totalCobranza | currency}}</span></h5>
			</li>	
		</ul>
	</div>
</div>
<div class="well">
	<div class="row">
		<div class="col-sm-3">
			<div class="form-group">
				<label for="fecha">Fecha Inicial:</label>
				<input name="fecha" date-time format="dd-MM-yyyy" class="form-control" view="date" max-view="year" min-view="date" ng-model="re.fechaInicial"/>
			</div>
		</div>
		<div class="col-sm-3">
			<div class="form-group">
				<label for="fecha">Fecha Final:</label>
				<input name="fecha" date-time format="dd-MM-yyyy" class="form-control" view="date" max-view="year" min-view="date" ng-model="re.fechaFinal"/>
			</div>
		</div>
		<div class="col-sm-3">
			<br>
			<input type="button" class="btn btn-primary" ng-click="re.diarioBancos()" value="Buscar" />
				<a href="" class="btn btn-primary pull-right" ng-click="re.imprimirReporteBancos(re.planPagos)" >Imprimir Tabla</a>
		</div>	
	</div>	
</div>

<div class="row">
	<div class="col-sm-12" >
			<table class="table table-bordered">
				<thead>
					<tr>
					    <!-- <th width="5%"><div class="text-center">No.</div></th> -->
						<th width="15%"> <div class="text-center">Nombre</div></th>
						<th width="10%"><div class="text-center">Numero del cliente</div></th>
						<th width="10%"><div class="text-center">Fecha del deposito</div></th>
						<th><div class="text-center">Aplicación del deposito</div></th>
						<th><div class="text-center">Importe del deposito</div></th>
						<th><div class="text-center">Ventanilla que aplico el deposito</div></th>
						<th><div class="text-center">Interes</div></th>
						<th><div class="text-center">Capital</div></th>
						<th><div class="text-center">IVA</div></th>
						<th><div class="text-center">Seguro</div></th>
						<th><div class="text-center">Acumulado por dia</div></th>

						<!-- <th><div class="text-center">Acumulado</div></th>
						<th><div class="text-center">Checar</div></th> -->
					</tr>
				</thead>
				<tbody>
			    <tr ng-repeat="objeto in re.planPagos | filter:buscar" ng-show="objeto.mostrar">
			    	<!-- <td><div class="text-center">{{$index + 1}}</div></td> -->
				    <td><div class="text-center">{{objeto.nombreCompleto}}</div></td>
				    <td><div class="text-center">{{objeto.numeroCliente}}</div></td>
				    <td><div class="text-center">{{objeto.fechaPago | date:"dd-MM-yyyy"}}</div></td>
				     <td><div class="text-center">{{objeto.fechaPago | date:"dd-MM-yyyy"}}</div></td>
				    <td><div class="text-center">{{objeto.totalPago | currency}}</div></td>
				   
				    <td><div class="pull-right">{{objeto.cajero}}</div></td>
				    <td><div class="pull-right">{{objeto.pagoInteres | currency}}</div></td>
				    <td><div class="pull-right">{{objeto.pagoCapital | currency}}</div></td> 	
				    <td><div class="pull-right">{{objeto.pagoIva | currency}}</div></td> 	
				     <td><div class="pull-right">{{objeto.pagoSeguro | currency}}</div></td>	
				    <td><div class="pull-right">{{objeto.totalPago | currency}}</div></td>
				    <!-- <td><div class="pull-right">{{objeto.acumulado}}</div></td> -->
				   			
			    </tr>
				</tbody>
			</table>
		</div>
	</div>